[2019-08-29 16:54] 2du commented on #676
진짜 진행 시작

[2019-08-30 10:30] yangis1019 commented on #712
감사합니다! 덕분에 오류가 해결되었습니다!

[2019-08-30 10:30] #712 closed

[2019-08-30 14:03] 2du commented on #712
넵 다행이네요

[2019-08-31 09:25] GeniusMocha commented on #707
1. 부분의 임시적 조치 방법은 아래와 같이 문서를 작성하시면 됩니다.
[code]

임시적으로 [br] 태그 뒤 공백을 만들기 위해,
"ㄱ"을 쓰신 뒤, 아래와 같이
![aa](https://user-images.githubusercontent.com/47000640/64061999-97d54d80-cc1c-11e9-9435-6e24b09be354.jpg)
키보드의 "한자" 키를 이용하셔서 특수 공백을 만드신 뒤, 저장하시면 의도하려고 하신 대로 표현됩니다.

[2019-08-31 09:27] GeniusMocha commented on #707
![image](https://user-images.githubusercontent.com/47000640/64062016-f7cbf400-cc1c-11e9-8397-0170baf5fa0c.png)
![image](https://user-images.githubusercontent.com/47000640/64062019-fe5a6b80-cc1c-11e9-8234-6304c9542f12.png)

와 같이 의도한 느낌으로 표시됩니다.

[2019-08-31 09:40] 2du commented on #707
어... 제 눈에만 별 차이 없어보이는 건가요

일단 확인은 해보겠습니다

[2019-08-31 09:41] GeniusMocha commented on #707
현재는 아예 저 방법이 저장 시 작동하지 않게 변했네요. 미리보기 시에는 정상적으로 표시됩니다.

[2019-08-31 09:44] GeniusMocha commented on #707
![image](https://user-images.githubusercontent.com/47000640/64062238-22b74780-cc1f-11e9-9b3d-3d8e1fe852b5.png)

원래 공백은 이러했으나,

![image](https://user-images.githubusercontent.com/47000640/64062249-437f9d00-cc1f-11e9-8a80-4d7ad522313a.png)

이러한 공백으로 만들어 주는 방식입니다.
하지만 미리보기 시에는 작동하지만, 실제 저장 후 문서를 읽으면 아예 맨 마지막 [br] 태그가 작동하지 않는 버그가 생깁니다.

[2019-08-31 09:50] GeniusMocha commented on #707
![](https://user-images.githubusercontent.com/47000640/64062345-2c8d7a80-cc20-11e9-8b84-30d47a9bc497.gif)
이러한 버그입니다.

[2019-08-31 11:23] GeniusMocha opened #713 "[br] 태그 작동 이상"
## Environment (환경)
OS : Windows 10 Build 1903
Python version : latest
openNAMU version : v3.1.2-master-21
Skin : selfmade / openNAMU Default Skin

## Explanation (설명)
[br] 태그가 제대로 작동하지 않습니다.
[code]
라는 문서가 있을 때,
+ 나무위키
![image](https://user-images.githubusercontent.com/47000640/64063261-0e7a4700-cc2d-11e9-90ec-770ceef3c112.png)

+ openNAMU
![image](https://user-images.githubusercontent.com/4700064

[2019-09-01 05:44] 2du commented on #713
확인 해봤는데 minify 라이브러리가 `　` 이걸 그냥 띄어쓰기로 바꿔버리는 것 같습니디만... 뽀족한 해답이 없네요

[2019-09-01 06:28] GeniusMocha commented on #713
개행 이상 버그 픽스했습니다. ```namu.py```에서,
[code]
부분 제거와,
[code]

[2019-09-01 06:29] GeniusMocha commented on #713
![image](https://user-images.githubusercontent.com/47000640/64072624-315c3800-cccd-11e9-80ad-a942b2baedc3.png)

정상적으로 작동하는 걸 알 수 있습니다. [br] 태그를 더 이상 이용하지 않아도 됩니다.

[2019-09-01 06:52] GeniusMocha commented on #713
namu.py 내
[code]
하면 잘 작동되는 것으로 보입니다.

[2019-09-01 06:59] 2du commented on #713
minify가 지금보니 전반적으로 문제가 있길래 그냥 비활성화 했습니다

master-23

[2019-09-01 07:00] #713 closed

[2019-09-01 07:00] 2du commented on #707
아 이제 어떤 문제인지 알겠네요 수정하겠습니다

[2019-09-01 07:04] 2du commented on #707
해결 완료 master-23

[2019-09-01 07:17] 2du commented on #708
스킨 설정 버그 수정 완료
v1.0.7 - ACME

나머지 버그는 다시 발생하면 여기에 글을 남겨주세요

[2019-09-01 07:17] #708 closed

[2019-09-01 07:27] surplus-dev opened #714 "이것저것들"
- [x] IE에서 토론 작동 안함
 - [x] 문서 수가 80만개 쯤이면 서치 쿼리가 매우 느림
 - [x] 토론에서 `#숫자`가 제대로 작동 안 함
 - [x] nginx를 거치지 않고 SSL 지원
 - [x] backup 위치 지원
 - [x] 분류 공백 왜 넣었는 지 확인
 - [x] 중괄호 wiki 문법에 분류로 영향 받는 문제 확인

[2019-09-01 09:05] CheongWol2 commented on #714
제가 text-align 문법을 사용해 보았는데 분류로 영향은 안 받네요. 아마 오래 전에 있던 버그인 것 같습니다.

[2019-09-01 10:53] 2du commented on #714
음 그러면 문제가 없는 것 같네요 확인

[2019-09-03 14:25] CheongWol2 commented on #714
![image](https://user-images.githubusercontent.com/53139020/64179941-eb56ce00-ce9e-11e9-8ecf-2ff8ca5a47e1.png)
![image](https://user-images.githubusercontent.com/53139020/64181698-f2cba680-cea1-11e9-839a-96d12a3d565c.png)
수정 전

![image](https://user-images.githubusercontent.com/53139020/64179991-ff9acb00-ce9e-11e9-91af-2d027d00e3ed.png)
![image](https://user-images.githubusercontent.com/53139020/6

[2019-09-03 14:32] GeniusMocha commented on #713
깔끔한 픽스네요.. 감사합니다.

[2019-09-06 02:24] 2du commented on #714
@CheongWol2 음 그냥 br을 없애는 것도 꽤 괜찮은 방법 같아서 반영했습니다

[2019-09-06 08:24] 2du opened #715 "API 메뉴얼 쓰기"
ㅇㅇ

[2019-09-07 05:51] CheongWol2 commented on #649
혹시 HTML 기능 추가를 시작하실 계획이 있으신가요? 몇몇 내용은 HTML을 사용하는데 지원하지 않아 구현에 어려움이 있습니다..

[2019-09-07 07:37] 2du commented on #649
@CheongWol2 아마 현재 계획상 JS 렌더러 도입 이후에나 진행될 것 같습니다.

[2019-09-08 07:54] 2du commented on #676
추가 완료

[2019-09-08 07:54] #676 closed

[2019-09-08 10:02] 2du commented on #683
완료

[2019-09-08 10:02] #683 closed

[2019-09-08 10:42] 2du commented on #703
이미지 라이선스 관리자 추가, 이미지 라이선스 선택하여서 분류하기 완료

[2019-09-09 02:33] 2du opened #717 "리다이렉트 버그"
리다이렉트하면 일반 역링크도 같이 걸림

[2019-09-09 03:01] 2du commented on #700
다음주는 스킨 관련 문제를 총점으로 두고 해결해볼 예정 입니다

[2019-09-09 12:54] CheongWol2 opened #718 "나무위키 DB 변환 관련 건의"
## 2019년 3월 DB
지금 보니 2018년 3월자 DB만 정상적으로 변환이 되는 것 같은데, 2019년 3월 DB도 지원하게 하는 것도 좋을 것 같습니다.

## MariaDB
MariaDB를 지원하실 예정이라 하셨는데.. 혹시 MariaDB용 나무위키 DB 변환기도 제작하실 계획이 있으신가요?

[2019-09-09 13:25] cuprevenge opened #719 "역사 비교"
따로 ACL이 걸린 문서가 아님에도 비로그인으로 역사 비교시 권한 오류가 뜹니다.

[2019-09-10 01:47] 2du commented on #718
1. 사실 현재도 공식 지원하는 변환기는 없습니다. 최근 이런저런 상황으로 나무위키 json을 다운 받아서 분석해본 적도 없으므로 굉장히 오래 걸릴 듯 합니다.
2. 1이랑 마리아db 지원이 해결된 뒤에나 가능할 듯 합니다ㅏ

[2019-09-10 02:05] 2du commented on #719
수정 완료

[2019-09-10 02:05] #719 closed

[2019-09-10 02:05] 2du commented on #717
수정 완료

[2019-09-10 02:05] #717 closed

[2019-09-10 11:24] #718 closed

[2019-09-10 11:24] 2du commented on #718
이전

[2019-09-12 08:17] starrain1019 opened #721 "나무마크 문법 추가 제안."
[pagecount], html 문법 추가 바랍니다.

[2019-09-12 12:04] #721 closed, assigned to surplus-dev

[2019-09-12 13:10] ghost opened #722 "사소한 오류"
openNAMU/route/tool/set_mark/tool.py 에서 발생하는 오류입니다.
Line 18,
``if ip == '::1' or ip == '127.0.0.1'): <-- 문법 오류``
``)`` 제거 후 정상작동합니다.

[2019-09-12 14:08] #722 closed, assigned to surplus-dev

[2019-09-13 07:50] 2du commented on #718
리드미에 읽어보시면 아시겠지만 해당 내용은 json에 포함된 데이터가 아니라서 해결할 수 없습니다

[2019-09-13 12:53] 2du commented on #718
저 부분에 대해서는 확인이 좀 필요해 보이네요 제가 기억하기로는 옛날에 json 변환을 돌렸을 때는 시간은 표시되었던걸로 기억합니다

[2019-09-13 14:09] 2du opened #723 "[알림] 개발자 그룹의 주소가 이전되었습니다"
[https://github.com/openNAMU](https://github.com/openNAMU)
## 설명
원래 onamu였으니 이전하여 openNAMU가 되었습니다.

[2019-09-13 15:35] 2du commented on #455
그러나 9월이 되도록 만들어지지 않았다

[2019-09-13 15:38] Hoto-Cocoa commented on #455
저런

[2019-09-13 15:53] 2du commented on #455
이미 기반 시설은 다 지어 놨는데 그 다음 진전이 없는 상황

[2019-09-14 02:03] GeniusMocha commented on #723
확인하였습니다.

[2019-09-14 13:54] GeniusMocha opened #724 "사소한 이슈(2)"
route/login_oauth.py 에서
[code]
``pricture -> picture`` 로 바꿔야 합니다.

[2019-09-14 16:08] 2du commented on #724
수정 완료

[2019-09-14 16:08] #724 closed

[2019-09-14 23:58] yangis1019 opened #725 "오류 발생"
## Explanation (설명)
Traceback (most recent call last):
  File "app.py", line 641, in <module>
    http_server.listen(server_set['port'], address = server_set['host'])
  File "/home/yis1019/openNAMU/venv/lib/python3.7/site-packages/tornado/tcpserver.py", line 151, in listen
    sockets = bind_sockets(port, address=address)
  File "/home/yis1019/openNAMU/venv/lib/python3.7/site-packages/tornado/netu

[2019-09-15 00:01] yangis1019 commented on #725
파이썬애니웨어를 사용 중입니다.

[2019-09-15 00:07] yangis1019 commented on #725
파이썬애니웨어를 사용할 수 없다면 오픈나무를 호스팅할 서비스가 있나요?

[2019-09-15 00:09] yangis1019 commented on #725
무료 서비스요

[2019-09-15 07:57] 2du commented on #725
해당 문제는 해당 서버 차원에서 해당 포트를 열어주지 않아서 생기는 문제이므로 오픈나무의 문제는 아닌 것 같습니다

[2019-09-15 07:58] 2du commented on #725
헤로쿠를 잘만 이용하면 괜찮다고 하는 것 같습니다

[2019-09-15 08:47] 2du commented on #700
리버티 버그 수정완료
liberty v1.0.1

[2019-09-15 09:05] 2du commented on #714
샵 버그 수정 완료

[2019-09-15 10:55] yangis1019 commented on #725
흠... 헤로쿠도 80번 포트는 막아놓은 것 같습니다.

[2019-09-15 10:57] yangis1019 commented on #725
PS D:\heroku\theYSWiki\openNAMU> heroku run python app.py
Running python app.py on ⬢ theyswiki... up, run.5512 (Free)
Version : v3.1.3-master-01
DB set version : 400003
Skin set version : 2
----
DB name (data) :
Host (0.0.0.0)  : 127.0.0.1
Host : 127.0.0.1
Port (3000)  :
Port : 3000
Language (en-US) [ko-KR, en-US] : ko-KR
Language : ko-KR
Markup (namumark) [namumark, markdown] : namumark
Markup :

[2019-09-15 12:59] 2du commented on #725
https://blog.heroku.com/python_and_django

아마 헤로쿠에서 사용하려면 조금 커스텀을 해서 `port = int(os.environ.get("PORT", 5000))` 이런 코드를 넣거나

아니면 도커를 사용해야 할겁니다

[2019-09-15 16:57] cuprevenge opened #726 "역사 복원 번호 밀림 현상"
역사를 복원할 시 선택한 버전보다 -1인 번호로 밀려서 복원됩니다. 정확히는 링크가 잘못 걸려있습니다.

r2 > 도구 > 복원 > r1로 복원
r3 > 도구 > 복원 > r2로 복원

[2019-09-15 21:09] yangis1019 commented on #725
어디에 이 소스를 넣어야 할까요?

[2019-09-15 23:46] 2du commented on #725
문서 내용대로 맨 아래 if 아래 넣으면 될 겁니다

[2019-09-15 23:54] 2du commented on #726
확인해본 결과 그것은 의도된 사항 입니다

r2에서 복원을 한다면 r1으로 가는 것이 자연스럽다고 생각하여 의도한 바 입니다

쉽게 말해서 복원은 이 전 리비전으로 되돌리기 입니다

[2019-09-15 23:54] #726 closed

[2019-09-16 12:03] yangis1019 commented on #725
Application Error가 뜹니다.

[2019-09-16 12:14] GeniusMocha commented on #725
[code]

[2019-09-16 12:19] 2du commented on #725
네 저렇게 바꿔야해요

[2019-09-16 12:34] yangis1019 commented on #725
흠... 저렇게 바꾸긴 했는데...
https://theyswiki.herokuapp.com
들어가보면 Application Error가 뜨네요;;

[2019-09-17 00:49] 2du commented on #725
저거는 로그를 봐야 뭐가 문제인 지 알 수 있을 것 같은데 말이죠

[2019-09-17 00:49] 2du commented on #725
일단 이 이슈는 닫습니다

[2019-09-17 00:49] #725 closed

[2019-09-17 05:56] 2du opened #728 "헤로쿠에서 테스트하고 메뉴얼 쓰기"
시간 남으면 파이썬애니웨어도

[2019-09-17 08:55] cuprevenge opened #729 "ACL 관련"
문서와 읽기의 ACL을 admin으로 설정해도 비교(diff)나 원본(raw) 기능을 이용하면 admin이 아니더라도 내용을 간접적으로 확인할 수 있습니다.

관련 ACL이 추가되거나, 같이 제한되도록 해야할 것 같습니다.

[2019-09-18 13:17] 2du commented on #729
수정 완료 했습니다 stable-03

[2019-09-18 13:17] #729 closed

[2019-09-18 13:48] CheongWol2 opened #731 "문서 되돌리기(복구) 관련 버그 제보합니다."
## Explanation (설명)
r1에서는 복구 버튼이 뜨지 않고, r2부터 복구 버튼이 존재하는데, r2의 복구 버튼을 누르면 r1로 되돌려집니다.

예를 들어 r6에서 r1로 되돌리려면, 원래는 r1로 되돌려야 하지만, r2 버전에서 r1로 되돌려야 하는 버그가 있습니다.

[2019-09-18 15:02] 2du commented on #731
해당 문제는 의도적인 내용 입니다

복구는 쉽게 말해서 "해당 리비전에서 일어난 편집 되돌리기" 입니다.

음... 아무래도 혼동이 큰 것 같으니 조만간에 "이 리비전으로 되돌리기"를 따로 만들겠습니다.

[2019-09-18 15:03] 2du commented on #726
#731

[2019-09-18 16:05] 2du opened #732 "Include JS 방식으로"

[2019-09-18 16:39] 2du commented on #731
음 그냥 따로 만드는 것보단 최근 변경과 역사에서 다른 방식으로 작동하도록 했습니다

master-02

[2019-09-18 16:39] #731 closed

[2019-09-18 16:46] #723 closed

[2019-09-18 16:52] 2du opened #733 "[Warring] DB Broken Case? (DB 깨짐 사례?)"
## ko-KR
v3.1.2 업데이트 이후에 **DB가 깨졌다는 사례**가 1건 보고되었습니다만 **업데이트 때문인지는 확실하지 않습니다.** (테스트 환경에서도 해당 증상이 일어나지 않음)

혹시 모르니 만약 업데이트를 할 계획이라면 **꼭 DB를 백업한 뒤 업데이트를 해주세요.**

v3.1.2 업데이트 이후에 **DB가 깨지는 사례가 있다면 곧바로 이슈로 올려주세요.**

## en-US
v3.1.2 There have been one reported DB break since the update, but I'm not sure it was because of the update. (This symptom does not occur in the test environment)

In case you p

[2019-09-19 16:42] 2du commented on #700
include 부분 JS로 교체 완료

[2019-09-19 17:12] 2du commented on #732
완료

[2019-09-19 17:12] #732 closed

[2019-09-19 17:14] 2du opened #734 "link로 js 불러오는 것 문제"
링크로 js 불러오는 것은 미리보기에서 아마 작동 안할 듯

[2019-09-20 13:33] yangis1019 opened #735 "분류 버그"
[[분류:AAA]]를 하였을 때 분류 링크를 클릭하면 분류:AAA로 넘어가지지만 분류 문서가 제대로 동작되지 않습니다.

[2019-09-21 00:52] 2du opened #736 "코드에 주석 좀 달기"
한번도 단 적이 없네

[2019-09-21 01:52] 2du commented on #735
버그 수정 완료 master-04

해당 분류가 들어간 문서는 마지막에 띄어쓰기 하나 넣고 다시 저장해주세요

[2019-09-21 01:52] #735 closed

[2019-09-21 01:55] 2du commented on #734
확인 완료

[2019-09-21 01:55] #734 closed

[2019-09-23 15:59] 2du commented on #674
1번 이번 주 할 예정

[2019-09-23 16:00] 2du commented on #707
3. 확인 해봤는데 이동 역사는 일반 역사랑 영 상이해서 아무래도 통합은 어려울 것 같습니다

[2019-09-23 16:00] 2du commented on #707
4번 이번 주에 구현 예정

[2019-09-27 02:22] 2du commented on #709
* 팝업 각주 디자인 개선 v1.0.3

[2019-09-27 08:28] gnote8-0 opened #737 "PythonAnywhere 관련."
## Environment (환경)
OS : 리눅스
Python version : 3.7
openNAMU version : 3.1.1.4 안정화판
Skin : buma
Skin version : 잘모름

## Explanation (설명)
파이선 에니웨어에서 호스팅 시 로그인/로그아웃/계정만들기 시 500 뜹니다. 윈도우 7에서는 되는데.

## Screenshot (스크린샷)
https://i.imgur.com/HvYlFzK.png

[2019-09-27 10:16] gnote8-0 opened #738 "읽기제한 뚫기."
토론 API에서 블라인드된 댓글을 확인할 수 있습니다.

그리고 읽기제한된 문서에서 편집, RAW, 역사, 되돌리기가 가능합니다.

오류같습니다.

[2019-09-27 10:29] gnote8-0 commented on #737
관련 로그입니다: 2019-09-27 10:20:33 ERROR:flask.app:Exception on /login [POST]#012Traceback (most recent call last):#012  File "/usr/lib/python3.7/site-packages/flask/app.py", line 2292, in wsgi_app#012    response = self.full_dispatch_request()#012  File "/usr/lib/python3.7/site-packages/flask/app.py", line 1815, in full_dispatch_request#012    rv = self.handle_user_exception(e)#012  File "/usr/lib/pyt

[2019-09-27 13:33] 2du commented on #738
음... 전자는 버그가 맞습니다. 깜박한 것 같네요.

후자는 보기 ACL을 설정한 경우 따로 편집 ACL을 설정하지 않았으면 그렇게 작동하도록 되어 있습니다.

[2019-09-27 16:03] 2du commented on #738
토론 API 버그 수정 master-05

[2019-09-27 16:04] 2du commented on #737
주말에 메뉴얼 작성 겸사 한번 돌려보겠습니다.

[2019-09-27 16:51] cuprevenge opened #739 "접기 문법"
접기 문법을 적용했을 때 첫 줄에 있는 리스트 문법이 작동하지 않습니다.

[code]

위와 같이 작성하면 아래와 같이 표시됩니다.

![image](https://user-images.githubusercontent.com/52319594/65786740-3d36ff00-e192-11e9-9af6-4f85f2bcb073.png)

[2019-09-29 02:12] CheongWol2 opened #740 "스킨 변수 관련 건의"
## 건의
 - [x] 관리자 권한을 알려주는 변수가 추가되었으면 좋겠습니다. (예: 권한 부여 권한이 있으면 1)
 - [x] 관리자 / 일반 사용자를 확인하는 변수가 추가되었으면 좋겠습니다.
 - [x] 차단된 상태를 확인하는 변수가 있었으면 좋겠습니다.
 - [x] 마지막으로, 해당 문서에서 토론이 진행 중인지 확인하는 변수가 있으면 좋을 것 같습니다.

## 기타
 - [x] 사용자 토론 알림 시 사용자 토론이 종결 될 시 알림이 자동으로 사라졌으면 좋겠습니다.

[2019-09-29 02:24] CheongWol2 commented on #738
읽기 제한은 내용을 읽지 못해 편집이 사실 상 무의미한 것 같습니다. 혹시 읽기 제한 시 편집도 거부되게 하실 계획이 있으신가요?

[2019-09-29 03:41] gnote8-0 commented on #737
아 그리고 문서 제목이 0자인 문서의 역사에서도 500 뜹니다.

[2019-09-29 08:00] 2du commented on #739
버그 수정 완료 master-07

[2019-09-29 08:22] 2du commented on #740
2번 3번 추가 완료 master-07

1번은 권한이 여러개 있으면 어떻게 표시해야할지 고민 중 입니다.
4번도 조금 고민이 필요할 것 같습니다.

[2019-09-29 08:53] 2du commented on #737
![사진](https://i.ibb.co/68B2KLT/Screenshot-2019-09-29-at-17-52-15.jpg)
버전 v.3.1.1.4에서 테스트 해봤지만 해당 증상이 나타나지 않았습니다.

[2019-09-29 09:04] 2du commented on #738
옛날에 그렇게 했다가 괜히 커스텀 제한을 만드는 것 같아서 취소 했습니다만... 음... 그냥 그렇게 하겠습니다

[2019-09-29 09:11] 2du commented on #738
완료 master-08

[2019-09-29 09:11] #738 closed

[2019-09-29 09:57] GeniusMocha commented on #700
현재 openNAMU에서 주석을 누를 시 Modal 창이 뜨는데, 그 상태로 창을 다시 한번 더 누를 시 창 위에 창이 덧씌워져 나타나는 문제가 있습니다.

[2019-09-29 09:59] GeniusMocha commented on #700
또한 특정 각주를 누를 시 (X) 버튼이 작동하지 않습니다.

[2019-09-29 11:01] gnote8-0 commented on #737
아니 로컬호스트에서는 저도 됐는데, 파이선 애니웨어에서 그런 증상이 일어났습니다.

[2019-09-29 11:02] gnote8-0 commented on #737
로컬호스트에선 로그인, 로그아웃, 계정만들기, 문서 제목이 0자인 문서의 역사 정상작동했습니다.

[2019-09-29 11:56] gnote8-0 commented on #737
다만 문서 제목이 0자인 문서의 역사보다는 로그인 관련된 것을 먼저 확인해주시면 감사하겠습니다

[2019-09-29 11:56] gnote8-0 commented on #737
다만 문서 제목이 0자인 문서의 역사보다는 로그인 관련된 것을 먼저 확인해주시면 감사하겠습니다

[2019-09-29 14:18] 2du commented on #737
음... 테스트 해보다가 제 테스트 사이트가 터져버려서 완전히 실험해보진 못 했는데

마지막에 `if __name__=="__main__":` 이 부분을 삭제하고 그 아래 부분의 들여쓰기를 없애면 작동하는 것 같습니다.

[2019-09-29 14:20] GeniusMocha commented on #709
부트스트랩을 이용하여 스킨을 만들어도 나쁘지 않을 것 같습니다.

[2019-09-29 14:22] CheongWol2 commented on #709
Font Awesome도 같이 사용하면 좋을 듯 합니다 .

[2019-09-29 14:37] gnote8-0 commented on #737
App.py 말씀하시는 것입니까?

[2019-09-29 14:41] gnote8-0 commented on #737
근데 지우니까 아예 something went wrong이 뜹니다.

[2019-09-29 14:52] 2du commented on #737
아닌 것 같네요 음... 다시 연구를 해봐야겠네요

[2019-09-29 15:02] 2du commented on #737
오케이 원인 찾아서 수정했습니다 master-09

[2019-09-29 15:11] 2du commented on #700
1. 창을 덧씌워서 나타나는 것은 의도된 바 입니다... 어... 다시 읽던 팝업 각주 읽으라고 냅뒀습니다.

2. 수정했습니다 master-09

[2019-09-29 16:37] 2du commented on #709
@CheongWol2 폰트으썸은 지금도 쓰고 있으므로 앞으로도 계속 우려먹을 예정 입니다.

[2019-09-29 16:37] 2du commented on #709
@GeniusMocha 옛날에 그런 스킨을 개발하고 있었는데 너무 다른 위키 같아서 버렸읍니다...

[2019-09-29 16:54] 2du commented on #728
파이썬 애니웨어 완료

[2019-09-29 16:55] 2du commented on #737
https://github.com/2du/openNAMU/wiki/%EC%84%A4%EC%B9%98%EB%B2%95-Pythonanywhere

메뉴얼

[2019-09-29 17:00] 2du commented on #715
추가 예정

[2019-09-29 22:50] GeniusMocha commented on #709
@2du 현재 파이썬에서 이용중인 div들을 그대로 사용(+js를 건드리지 않았습니다.)하면서 부트스트랩으로 구현해보면 아래와 같이 개발 가능합니다.
- 주석 기능 구현
![image](https://user-images.githubusercontent.com/47000640/65840654-9f406180-e356-11e9-993a-64dd20abbad3.png)

- 버튼들과 상단바 구현
![image](https://user-images.githubusercontent.com/47000640/65840667-c39c3e00-e356-11e9-9b25-147d1716395c.png)

[2019-09-30 01:40] 2du commented on #709
화면이 엄청 넓네요... 전 FHD라 저건 생각도 못 했네요... 옆에 목차라도 넣겠습니다.

[2019-09-30 05:26] GeniusMocha commented on #709
최근 편집 / 최근 토론 등을 옆에 띄워주는 기능(리브레의 ``그것``과 같이)이 있으면 좋을 것 같습니다. 실제로 미디어위키 사용했었을 당시에도 liberty 스킨 기능 중 마음에 들었던 부분인데, openNAMU에 와서 사라져서 아쉬웠던 점이 있었습니다.

[2019-09-30 05:29] GeniusMocha commented on #709
사실 4K여도 FHD와 비슷한 가독성이라 적응해서 그런지 옆이 많이 휑한지는 몰랐습니다.. 이미 기존 배율에서 25%정도 올린거라, 100%일 때는 아래와 같이 보입니다.

- 배율 100%
![image](https://user-images.githubusercontent.com/47000640/65851640-a4b99e00-e38e-11e9-96c1-f34074a190a7.png)

[2019-09-30 05:42] GeniusMocha commented on #709
부족한 실력이지만 참고라도 될까 하여 [저장소](https://github.com/GeniusMocha/openNAMU-BootStrap4.3)를 만들어 봤습니다.
주석 Modal 또는 다른 세부적인 부분들은 main_css에서 처리해서 그 부분은 따로 함수로 처리했습니다.

[2019-09-30 05:45] GeniusMocha commented on #709
또한 최근 수정 시각도 나타나면 좋을 것 같습니다.

[2019-09-30 06:40] CheongWol2 commented on #709
저도 대충 만든 것이긴 하지만.. <a href="https://github.com/CheongWol2/Modern-Black">주소</a> 예전에 스킨 만든게 있기는 합니다.

[2019-09-30 10:50] 2du commented on #709
@GeniusMocha 음 이미 해당 변수는 있으니 곧 지원하겠습니다

[2019-09-30 10:51] 2du commented on #709
@2du 최근 계획 중에 리버티에 해당 기능을 부활시킬 예정에 있습니다

[2019-09-30 12:31] SakuraSuFl commented on #733
저도 DB가 깨진 현상을 느꼈습니다. 다만 정확힌 3.1.2-stable-03 -> 3.1.3-master-11 업데이트후 업데이트된 오픈나무가 기존 DB를 감지 못하는 것으로 다시 3.1.2버전으로 돌리면 정상 인식이 됩니다.
아마 DB를 감지하는 쪽에서 문제가 있지 않나 싶습니다.

[2019-09-30 12:35] SakuraSuFl commented on #733
또한 3.1.1-master-05 -> 3.1.2-stable-03으로 업데이트시 DB가 정상인식 되는걸 봐선 3.1.3 자체에 문제가 있지 않나 싶네요

[2019-09-30 15:56] 2du commented on #733
@SakuraSuFl 음... v3.1.3 패치에선 딱히 DB 관련해서 건든게 없어서 뭐가 문제인지 감이 잘 안 오네요... 일단 좀 더 확인해보겠습니다

[2019-09-30 16:13] 2du commented on #733
추가) 혹시 set.json이 잘못 설정되어서 그럴지도 모릅니다. 이머전시 툴로 set.json을 삭제하고 한번 시도해보세요

[2019-10-01 07:24] CheongWol2 commented on #733
저도 3.1.2에서 3.1.3으로 업데이트 하였는데 윗 분과 같이 DB를 인식하지 못합니다. 다만 기존 DB를 입력하니 바로 인식이 됩니다.

[2019-10-01 13:06] 2du commented on #733
@SakuraSuFl @CheongWol2 아 이제 이해 했습니다. 해당 증상은 의도된 문제(?) 입니다. 그냥 방식을 이전에 사용했던 방식으로 변경해서 이제 더 이상 디비 목록이 뜨지 않습니다.

[2019-10-01 13:07] 2du commented on #733
당황하지 마시고 그냥 원래 쓰던 디비 이름을 기입하시면 정상 작동 합니다.

[2019-10-02 14:54] 2du commented on #707
4. ACL 기록을 ACL 탭에 추가 했습니다

[2019-10-02 14:54] #707 closed

[2019-10-03 10:04] 2du commented on #709
@GeniusMocha 고민 좀 해봤는데 그냥 부트스트랩 기반 스킨도 하나 만들어서 기본 탑재 하기로 했습니다

[2019-10-03 10:06] GeniusMocha commented on #709
@2du 네 감사합니다 😏👍

[2019-10-03 16:09] 2du commented on #733
다른 사례가 없으므로 패스

[2019-10-03 16:09] #733 closed

[2019-10-04 01:00] 2du opened #741 "커스텀 문법"
추후에 JS 기반 파서를 완성하면 커스텀 문법을 지원할 수 있게 해볼 예정

[2019-10-04 01:09] 2du commented on #672
다음 패치 예정

[2019-10-04 01:09] 2du commented on #670
업로드 ACL 제작 예정

[2019-10-04 01:12] 2du commented on #674
아 맞다 1번

[2019-10-04 14:04] 2du commented on #649
@CheongWol2 이번 주에 구현 예정 입니다

[2019-10-04 14:05] 2du commented on #649
실수

[2019-10-04 14:05] 2du commented on #721
@yangis1019 이번 주 구현 예정

[2019-10-05 04:42] CheongWol2 commented on #740
추가로 현재 존재하는 알림의 수를 반환하는 변수도 추가하실 계획이 있으신가요?

[2019-10-05 06:02] 2du commented on #740
그건 간단하니 아마도 간단히 추가할 수 있을 것 같긴 합니다만 제가 생각하는 방식대로면 퍼포먼스가 약간 걱정이네요

[2019-10-05 09:50] CheongWol2 commented on #649
@2du 감사합니다 :D

[2019-10-06 12:44] 2du commented on #649
기본 태그 구현 완료
심화 태그 구현 예정

[2019-10-06 13:25] 2du commented on #709
일단 옛날에 만들었던 컨셉 아트를 기반으로 기본 스킨을 좀 개선 했습니다

다음엔 팝업 각주 디자인을 좀 개선할 예정 입니다

[2019-10-06 13:41] 2du commented on #741
일단 raw 추가 완료

[2019-10-06 14:34] CheongWol2 opened #742 "일부 문법이 정상적으로 출력되지 않는 현상"
## 문법 버그
![image](https://user-images.githubusercontent.com/53139020/66270563-2e3a0600-e890-11e9-81be-db6ab594796d.png)
오픈나무
![image](https://user-images.githubusercontent.com/53139020/66270577-4ad63e00-e890-11e9-9cff-efeee7c5ed2f.png)
나무위키
- [x] 표 내부에서 {{{+숫자 내용}}} 문법 사용 시 표가 커지는 것이 아닌 표를 그대로 넘어옵니다.

![image](https://user-images.githubusercontent.com/53139020/66270596-79541900-e890-11e9-8575-ca15

[2019-10-06 16:12] 2du commented on #742
수식 폴딩부터 고치고 공백은... 음... 시간나면 고치겠습니다

[2019-10-07 06:40] 2du commented on #649
HTML iframe 기능 추가 완료

[2019-10-07 06:47] 2du commented on #742
![사진](https://i.ibb.co/h9QNsN3/Whale-Screen-Capture-20191007-154530.jpg)
음... 제 테스트 결과에는 수식이 정상적으로 표시되네요

버전이 몇 인가요?

[2019-10-07 07:38] 2du commented on #742
폴딩 버그 수정 완료 master-18

[2019-10-07 12:10] CheongWol2 commented on #742
v3.1.3-master-15입니다.

[2019-10-08 03:10] CheongWol2 opened #743 "토론 관련 건의"
## Explanation (설명)
 - [x] 토론 링크 개선
지금처럼 토론 제목이 토론 주소가 되는 것이 아니라, 나무위키처럼 랜덤한 숫자와 문자를 섞거나, 번호 순으로 링크가 생성되었으면 좋겠습니다. 지금은 한 문서에 제목이 같은 토론을 생성하면 번호가 추가되고, 구조상 제목 변경이나 토론 이동이 어렵습니다.
 - [x] 토론 제목 변경, 토론 이동
위 토론 링크가 개편된다면, 구조상 제목 변경과 이동이 더 쉽게 가능해질 것 같습니다.

[2019-10-08 10:49] 2du commented on #743
아마 난수보단 순번으로 지정하게 될 것 같습니다

토론 제목 변경 기능은 고민 중에 있습니다만... 음... 사실 (서버에 무리 안 가는 방식으로) 기술적으로 좀 변환 과정을 거쳐야 할 것 같습니다

[2019-10-08 10:54] 2du commented on #742
@CheongWol2 음... 캐시를 초기화해도 여전히 저런가요?

[2019-10-08 15:36] CheongWol2 commented on #742
캐시 초기화하니 잘 되네요.. 죄송합니다.

[2019-10-08 15:40] 2du commented on #742
음... 나중에 뭔가 안될땐 캐시 초기화를 해보세요! 메뉴를 추가해야겠어요

[2019-10-08 15:42] 2du opened #744 "오픈나무가 고픈 나무로 이름이 바뀝니다."
아주 배가 고픈 나무 입니다

[2019-10-08 16:40] 2du opened #745 "초기 편집 문구 설정 기능"
문서 처음 편집할 때 Describe 뭐시기 here 같은 거 설정할 수 있게

[2019-10-08 16:52] newMocha commented on #744
재미있는 이름이군요 XD

[2019-10-08 17:14] 2du opened #746 "페이지카운터 문법 추가"
생각해본 현재까지 가장 서버에 무리를 안 주는 알고리즘

서버 킬 때 전체 문서 수를 센다
set에 기록한다
문법 사용하면 set에서 보여준다
하루 한번씩 갱신하게 한다

[2019-10-08 17:18] 2du commented on #670
추가로 랜덤에서 사용자 문서는 제외 예정

[2019-10-09 05:28] CheongWol2 commented on #744
배부른 나무로도 바꾸실 생각은 있으신가요 ㅋㅋ

[2019-10-09 06:25] newMocha commented on #744
아낌없이 주는 나무도 추천드립니다

[2019-10-09 07:14] 2du commented on #746
완료

[2019-10-09 07:14] #746 closed

[2019-10-09 07:31] #736 closed

[2019-10-09 07:52] 2du commented on #670
랜덤에서 사용자, 분류, 파일 문서는 나오지 않도록 설정 완료

[2019-10-09 09:22] 2du opened #747 "acl에 owner acl 추가"

[2019-10-09 16:31] #744 closed

[2019-10-10 06:11] 2du commented on #747
완료

[2019-10-10 06:11] #747 closed

[2019-10-10 06:36] 2du commented on #740
알림 갯수 함수 추가 완료

[2019-10-10 14:21] CheongWol2 opened #748 "패치 이후 오류 발생"
![image](https://user-images.githubusercontent.com/53139020/66577623-b1bb6600-ebb4-11e9-8e73-ff8715a3ee73.png)
'ip'가 정의되지 않았다고 합니다. 최신 버전이며, 캐시 초기화도 마친 상태입니다.

[2019-10-10 14:29] CheongWol2 commented on #748
추가로 이번에 추가된 관리자, 차단자 여부, 알림 갯수 변수가 동작하지 않습니다. 기존 변수는 모두 동작하며 공식 스킨은 추가된 함수까지 모두 지원하는데, 비공식 스킨은 추가하여도 먹통입니다.

[2019-10-10 16:39] 2du commented on #748
어떤 기능에서 저게 뜨나요? 아마 깜박한 듯요

[2019-10-10 16:49] 2du commented on #748
음... 그리고 스킨 이번에 추가한 부분은 이전 리비전에서 딱히 크게 바뀐 부분이 없기 때문에 한번 살펴봐야겠네요

[2019-10-10 23:38] CheongWol2 commented on #748
@2du 아이피 기록 안내 등 아이피인지 유저인지 확인하는 곳에서 오류가 납니다.

[2019-10-10 23:42] CheongWol2 commented on #748
func.py를 기존 버전으로 바꾸면 정상 작동합니다.

[2019-10-11 03:59] 2du commented on #748
아뇨 그거 말고 그... /user이나... /tool이나 그런거요

[2019-10-11 07:04] CheongWol2 commented on #748
문서 수정 페이지나 토론 생성 페이지 같은 곳에서 오류가 납니다.

[2019-10-11 07:05] CheongWol2 commented on #748
링크는 음.. 잘 모르겠습니다.

[2019-10-11 07:35] 2du commented on #748
원인을 알아내서 버그 수정 완료

[2019-10-11 07:35] #748 closed

[2019-10-13 13:01] 2du commented on #740
토론 스킨 변수 추가 했습니다. menu의 리스트 3번에 할당되어 있습니다.

자세한 건 기본 스킨을 한번 보시면 이해할 수 있으실 겁니다

[2019-10-19 06:37] 2du commented on #740
1. 문자열이 아니라 배열 형식으로 변수 추가하기로 했습니다

[2019-10-20 08:42] 2du commented on #740
1. 추가 완료 했습니다.

5. 일단 사용자 토론이 열리긴 했다는 사실을 사용자는 알아야 하기 때문에 알림을 자동으로 없애는 것은 별로 좋지 않은 것 같습니다 더불어서 많은 알림이 쌓여 있을 경우 서버에 무리를 줄 가능 성이 있기 때문에 추가하지 않기로 했습니다.

[2019-10-21 01:15] 2du opened #750 "스킨 기능 추가할 것"
- [x] 이미지 설정 기능
 - [x] 각주 설정 기능
 - [x] 검색창 미리보기
 - [x] 최근 변경 API

[2019-10-23 03:30] SakuraSuFl opened #751 "토론 쓰레드 숨기기시 에러"
## Environment (환경)
* OS : Windows 10 1809
* Python version : 3.7.5
* openNAMU version : 3.1.4 mastrt 02
* Skin : neo yosora
* Skin version : 1.0.6

## Explanation (설명)
토론에서 쓰레드 숨기기 시도시 웹페이지가 제목이 ' + url_pas(name) + '/sub/' + url_pas(sub) + '/b/' + str(num) + '된 토론 목록 페이지(http://127.0.0.1/topic/'%20+%20url_pas(name)%20+%20'/sub/'%20+%20url_pas(sub)%20+%20'/b/'%20+%20str(num)%20+%20')로 이동되고 토론이 제대로

[2019-10-23 03:55] SakuraSuFl commented on #751
+ 문서 역사, 최근 변경등 디자인이 표로 되어 있는데 표가 아닌 the seed 처럼 목록으로 디자인 변경이 가능한가요?

[2019-10-23 05:39] 2du commented on #751
1. 아마 추가하면서 변수 범위를 잘못 설정한 것 같습니다 고치겠습니다
2. 3.8은 아직 테스트 해보지 않았습니다만 별로 중요한 것이 바뀌지 않았으니 호환 될 것 같습니다
3. 아직 해당 부분은 변경할 수 없습니다

[2019-10-23 05:48] 2du commented on #751
수정 완료 stable-02

[2019-10-23 05:48] #751 closed

[2019-10-24 10:38] CheongWol2 commented on #751
최근 편집과 최근 토론은 제가 나무위키 디자인을 복사해서 적절히 맞춰보니 정상적으로 동작합니다.

[2019-10-29 02:25] 2du commented on #672
완료

[2019-11-01 10:21] cuprevenge opened #755 "기능 제안"
나무위키처럼 편집된 지 오래된 문서를 보여주는 기능이 있었으면 좋겠습니다.

[2019-11-01 12:40] yangis1019 opened #756 "기능 추가 건의"
네임스페이스를 추가할 수 있게 해주세요
(이왕이면 네임스페이스 ACL도 구현해주시면 감사하겠습니다.)

[2019-11-02 07:38] KLBSice opened #757 "3.0.8 -> 3.1.3 업데이트 이후 오류"
## Environment (환경)
* OS : Windows 10 Pro
* Python version : 3.7.5
* openNAMU version : 3.0.8 -> 3.1.3
* Skin : Liberty
* Skin version : v1.0.0

## Explanation (설명)
3.0.8 에서 3.1.3으로 업데이트 이후 다음과 같은 오류가 발생합니다.

로그
----
Back up : OK
**Traceback (most recent call last):
  File "E:\cityartswiki.kro.kr\app.py", line 619, in <module>
    http_server.listen(server_set['port'], address = server_set['host']

[2019-11-02 08:23] yangis1019 opened #758 "HTML/PHP 기반 오픈나무도 만들어주세요."
혹시 HTML/PHP 기반 오픈나무도 만들어주실 수 있나요?

[2019-11-02 08:24] CheongWol2 commented on #755
이미 동일한 건의가 존재하는 것으로 알고 있습니다.

[2019-11-02 08:25] CheongWol2 commented on #756
이미 동일한 건의가 존재하는 것 같습니다.

[2019-11-02 13:33] gnote8-0 commented on #757
호스트 때문이 아닐까요?

[2019-11-02 13:51] 2du commented on #758
만들다가 때려 쳤습니다

[2019-11-02 13:55] 2du commented on #757
아마 호스트가 잘못 설정 되어 있는 것 같습니다

이머전시 툴의 4번 기능을 이용해서 호스트를 0.0.0.0으로 설정해주세요

만약 그래도 여전히 그렇다면 여기에 다시 글을 남겨주세요

번외 : 업데이트는 0.1씩 올리는 게 좋습니다

[2019-11-02 13:56] 2du commented on #756
https://github.com/2du/openNAMU/issues/643

[2019-11-02 13:56] 2du commented on #756
통합

[2019-11-02 13:56] #756 closed

[2019-11-02 13:57] 2du commented on #756
추) 기능 구상을 하고는 있습니다만 우선 순위가 낮아서 밀리고  있습니다

[2019-11-02 13:58] #758 closed

[2019-11-02 13:59] 2du commented on #758
https://github.com/2du/Discard-PHP-CueWiki

이전에 만들던 링크 입니다

[2019-11-02 15:48] kpjhg0124 opened #759 "Font Awesome을 Octicons로 대체"
개요
----
* Font Awesome의 몇몇 아이콘 디자인이 적절하다고 생각하기 힘듬
* 아이콘 글꼴의 한계 해결

등을 위해 Font Awesome을 Octicions로 대체

참조
----
https://cloudfour.com/thinks/seriously-dont-use-icon-fonts/
https://octicons.github.com/

[2019-11-02 16:54] 2du commented on #759
완료

[2019-11-02 16:54] #759 closed

[2019-11-03 10:10] 2du commented on #755
완료 master-06

[2019-11-04 00:08] 2du opened #762 "오픈테섭 다시 여는 계획"
- [x] 11월 20일까지 서버 다시 열기
 - [x] 1월 전까지 서버 업그레이드 계획

[2019-11-04 00:14] 2du opened #763 "[알림] 무료 파이썬 호스팅"
* [파이썬애니웨어](https://www.pythonanywhere.com/) ([메뉴얼](https://github.com/2du/openNAMU/wiki/%EC%84%A4%EC%B9%98%EB%B2%95-Pythonanywhere))
 * [헤로쿠](https://www.heroku.com/)

[2019-11-04 00:25] 2du commented on #757
이상 없을 것으로 예상

[2019-11-04 00:25] #757 closed

[2019-11-04 00:28] 2du opened #764 "MySQL 지원 계획"
아마 단순하게 ORM을 쓰는 방향으로 할 듯

릴리즈 계획대로 11월 24일 전까진 완성 예정

[2019-11-04 11:24] SakuraSuFl commented on #764
그럼 기존 SQLite는 지원 끊기는 건가요?

[2019-11-04 12:47] 2du commented on #764
@SakuraSuFl 아뇨 그냥 선택지가 넓어지는 거요

[2019-11-05 03:50] cuprevenge commented on #763
https://wiki.python.org/moin/FreeHosts

여기도 같이 보면 좋을듯

[2019-11-05 03:53] cuprevenge commented on #755
리다이렉트 문서를 구분할 수 있도록 표시가 있었으면 좋겠습니다.

[2019-11-07 15:37] 2du commented on #755
리다이렉트 문서는 제외 했습니다

[2019-11-09 14:49] #715 closed

[2019-11-10 05:49] yangis1019 opened #765 "회원가입 시 비밀번호 없이도 가입되는 현상 제보"
오픈나무에서 회원가입을 할 때 비밀번호 없이도 회원가입이 되고 비밀번호가 없는 계정에서 비밀번호 바꾸기를 시도하면 TypeError가 뜹니다.

[2019-11-10 06:09] yangis1019 commented on #765
참고로 암호화는 sha256입니다.

[2019-11-10 06:10] 2du commented on #765
수정 완료 했습니다 master-11

비밀번호가 이상하게 정해진 유저는 이머전시 툴을 이용해서 변경 해주시면 됩니다

[2019-11-10 06:10] #765 closed

[2019-11-10 06:16] yangis1019 commented on #765
감사합니다.

[2019-11-10 08:48] yangis1019 opened #766 "디자인 개선 요청"
https://yangis1019.github.io/opennamuthread.png
발제자 스레드 디자인의 가독성이 떨어져서 보기 불편합니다.
https://yangis1019.github.io/exLink.png
최근 업데이트 이후로 외부 링크 디자인이 조금 별로입니다.

[2019-11-10 09:47] CheongWol2 commented on #766
개인적인 의견이지만 직접 변경하시는 것이 좋을 것 같습니다. 개발자분이 선택한 디자인인데 딱히 문제되는 것도 아니고요.

[2019-11-10 11:02] 2du commented on #766
1. 이 문제는 조만간 전반적인 토론 색상을 밝게 만들 예정 입니다
2. 이 문제는 기술적 요인으로 해결할 수 없는 문제 입니다

[2019-11-10 11:16] 2du commented on #766
2. 이 문제를 조금 수정 했습니다

[2019-11-11 05:48] SakuraSuFl commented on #766
디자인적 개선인진 모르겠는데, 브라우저 탭 부분 위키 패비콘을 스킨에서 불려오는거 같은데 이 방식은 스킨을 추가할때마다 따로 설정해줘야 하는 번거로움이 있는데, 이를 다른 디렉토리에 저장되게 하는식으로 개선은 힘들려나요?

[2019-11-11 10:30] 2du commented on #766
@SakuraSuFl 현재 패비콘 아이콘은 main_css에도 있으므로 거기서 불러오면 됩니다.

음... 로고처럼 그냥 설정에서 설정 가능하게 개선할 생각은 있습니다

[2019-11-14 17:57] 2du commented on #766
수정 완료

[2019-11-14 17:57] #766 closed

[2019-11-16 09:46] CheongWol2 opened #767 "HTML 문법 및 기능 건의"
## HTML
 * &lt;a href="">&lt;/a></pre> 문법이나 &lt;span> 같은 문법들이 전혀 작동하지 않습니다. 또한 {{{#!html }}} 문법도 작동하지 않습니다. 자주 쓰이는 html 문법을 추가해주실 수 있으신가요?

## 문법
 * 폴딩이 부드럽게 열리게 개선되었으면 좋겠습니다. 또한 여전히 2중 폴딩을 사용하면 정상적으로 출력되지 않습니다.(나중에 사진 첨부하겠습니다.)

## 차단
 * 차단 페이지를 사용자와 아이피로 나누고, 단일 아이피 차단 시에는 그냥 입력하고, 대역 차단 시에는 /24, /16 등으로 입력이 가능했으면 좋겠습니다.

## 문서
 * 문서 제목 끝에 공백을 넣어도 그냥 생성됩니다.

[2019-11-17 07:19] cuprevenge opened #768 "오류 메시지"
[code]
다음과 같은 오류메시지가 나옵니다.

[2019-11-17 10:31] 2du commented on #767
이중 폴딩은 어떤 문법에서 작동 안 하나요?

[2019-11-17 10:49] 2du commented on #768
현재로썬 `/views/main_css/main.css`에 파일을 사용하는 스킨이 없습니다 (저 파일도 없어졌구)

아마 지금은 고쳐졌을 듯 하네요

아니라면 스킨이나 위키를 업데이트 해보세요

[2019-11-17 10:49] #768 closed

[2019-11-17 10:57] 2du commented on #762
일단 다시 열긴 열었음

업그레이드는 음... 돈이 없다

[2019-11-17 10:57] #762 closed

[2019-11-17 10:58] 2du commented on #763
메뉴얼에 있으니 이제 닫아야지

[2019-11-17 10:58] #763 closed

[2019-11-17 12:19] CheongWol2 commented on #767
![image](https://user-images.githubusercontent.com/53139020/69007307-854af480-097f-11ea-90ce-04027c86702e.png)
![image](https://user-images.githubusercontent.com/53139020/69007310-93007a00-097f-11ea-8155-3a6603365323.png)
오픈나무
![image](https://user-images.githubusercontent.com/53139020/69007316-9bf14b80-097f-11ea-9ab1-4dde568ab5c4.png)
나무위키
다음과 같이 작동하지 않습니다.

 * 또한 HTML에서 a 문법도 지원 부탁드립니다.

 * 제가 정

[2019-11-17 15:12] 2du commented on #767
# 1.1
`a`도 `onclick`이나 `javascript` 같은 요소를 제외하고 지원할 예정 입니다.

# 1.2
수정하겠습니다만... 텍스트로도 같이 올려주시면 좋겠네요

# 1.3
[정규표현식](https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D)

정규표현식을 이용한 차단 방식 입니다.

예를 들면 `192.168.0.0/24`은 `192\.168(\.[0-9]{1,3}){2}`으로 표현 될 수 있습니다.

[2019-11-17 15:18] CheongWol2 commented on #767
설명 감사합니다. 폴딩 부분은 텍스트도 같이 올리겠습니다. 죄송합니다..

[2019-11-17 15:33] cuprevenge commented on #739
v3.1.4-master-12에서 재발함.

[2019-11-17 16:09] 2du commented on #767
@CheongWol2 음 다시 보니까 나무위키 문법 도움말이랑 똑같아서 그걸로 고쳤습니다 master-13

[2019-11-17 17:08] 2du commented on #739
쿨럭

[2019-11-17 17:17] 2du commented on #739
다시 고침

[2019-11-17 17:17] #739 closed

[2019-11-18 09:48] cuprevenge commented on #362
master-14 기준 수정 기능이 없음

[2019-11-18 10:07] 2du commented on #767
# 1.3
`a`나 `span`이나 `div`에 대한 지원을 추가 했습니다

[2019-11-18 10:08] #767 closed

[2019-11-18 17:23] 2du commented on #764
거의 완성 아마 내일 쯤 완성할 듯

계획보다 5일 빨리 완료

[2019-11-18 17:23] 2du commented on #681
이거 굳이 필요 없을 듯

[2019-11-18 17:23] #681 closed

[2019-11-20 07:30] 2du commented on #764
아마도 완료

버그는 차차 고쳐갈 예정 master-17

[2019-11-20 07:30] #764 closed

[2019-11-20 07:31] 2du commented on #700
MySQL 지원 master-17

[2019-11-20 11:02] CheongWol2 opened #769 "문단 접기, 404 페이지 관련 건의"
## 문단 접기
- [x] 진행
문단 클릭 시 내용이 사라지고, 다시 클릭 시 내용이 나오는 기능을 추가해주시면 좋을 듯 합니다. 또한 기본으로 접혀진 상태인 ==# 문단 #== 문법도 추가해주시면 감사하겠습니다. (스킨 설정에서 하기엔 ==# 문법 때문에 엔진을 개조해야 해서 요청 합니다..)

## 404 페이지
- [x] 진행
지금 제가 이해한 바로는, /로 접속 시 404가 뜨면서 대문 페이지로 리다이렉트 되는 원리인 것 같은데, 혹시 이게 맞나요? 맞다면 일반 주소로 접속할 시에만 대문으로 리다이렉트 하고 오류 페이지는 따로 구현하는 것을 건의합니다. 404 페이지를 커스텀 하려는데 저것 때문에 어렵네요..

[2019-11-21 09:52] CheongWol2 commented on #740
음.. 정말로 죄송하지만.. 혹시 해당 문서가 주시 목록에 있는지 확인하는 변수와 해당 문서를 주시 문서로 등록한 사람이 몇 명 있는지 확인하는 변수도 만들어 주실 수 있으신가요?

[2019-11-21 10:34] 2du commented on #740
@CheongWol2 전자는 만들 생각이 있지만 후자는 아마 만들지 않을 겁니다. (만약 유저가 많다면 퍼포먼스가 저하될 겁니다)

[2019-11-21 15:50] 2du commented on #769
1. 음... 문단 접기는 미뤄왔는데 슬슬 추가할 예정 입니다

2. 404 페이지는 404.html이 존재할 때 나타나도록 하겠습니다

[2019-11-21 15:59] 2du commented on #769
404 페이지 패치 완료 master-18

[2019-11-21 16:14] 2du commented on #740
주시 문서 확인 변수 추가 완료

/w/ 이외 > '' [문자열]
아이피 > 0
로그인이지만 주시문서 아님 > 1
주시문서임 > 2

[2019-11-21 16:14] #740 closed

[2019-11-23 09:36] 2du commented on #745
완료

[2019-11-23 09:36] #745 closed

[2019-11-23 10:16] CheongWol2 commented on #769
아 추가로 HTML 문법을 사용할 때 강제 개행이 되는 현상 해결해 주실 수 있으신가요?

[2019-11-23 16:13] 2du commented on #769
@CheongWol2 어떤 상황에서 그런 일이 발생하죠?

[2019-11-23 16:39] CheongWol2 commented on #769
![image](https://user-images.githubusercontent.com/53139020/69482160-24c62680-0e5b-11ea-9f4a-0414c2cb0330.png)
![image](https://user-images.githubusercontent.com/53139020/69482166-298ada80-0e5b-11ea-9f99-b93e95f8b364.png)
@2du HTML을 한 줄에 연속으로 이어서 사용할 때 발생합니다.

[2019-11-24 07:25] 2du commented on #769
@CheongWol2 ~~이번에도 예제가 이미지네요...~~ 수정 했습니다

[2019-11-24 07:25] CheongWol2 commented on #769
@2du 어.. 음.. 죄송합니다.

[2019-11-24 07:32] 2du commented on #769
@CheongWol2 ~~죄송한 정도 까진 아니예요~~ 어쨋든 오늘은 문단 접기를 좀 손 볼 예정 입니다

[2019-11-24 16:53] 2du opened #771 "다시 살아난 오픈테섭"
* [여기](http://namu.ml)

## 기타
 * 아마 내용은 느긋하게 이전할 예정 입니다
 * 깃허브 위키는 동결 합니다
 * 추후 HTTPS 지원 예정

[2019-11-24 17:06] 2du commented on #769
음... 일단 어중간하니 내일 master-01로 올려야겠네요

[2019-11-25 11:12] 2du opened #772 "정규식 문서 ACL, 마이너스 ACL, ACL 기한"
만들 예정

[2019-11-25 12:30] cuprevenge commented on #714
v3.1.5-master-03에서 재발함.

[2019-11-25 12:34] 2du commented on #714
@cuprevenge 그래서 방금 고치고 다시 stable-02로 올렸어요

[2019-11-25 15:49] cuprevenge opened #774 "관리자 권한 목록"
![image](https://user-images.githubusercontent.com/52319594/69555414-82d34500-0fe6-11ea-8835-b32d61994b3a.png)

toron으로 추정되는 권한이 nothing으로 표시됩니다.

[2019-11-25 16:12] 2du commented on #774
수정완료 stable-03

[2019-11-25 16:12] #774 closed

[2019-11-26 08:25] 2du opened #776 "네임스페이스에 대한 의견 수렴"
추후에 네임스페이스나 그와 비슷한 방식을 구현할 예정 입니다. ~~아마 이 글이 올라왔다는 건 곧이라는 의미겠지만~~

현재 생각 중인 방식은 정규식 문서 ACL 기능을 이용한 네임스페이스 비스무리한 무언가를 만드는 것이 목표입니다만...

완전한 방식의 네임스페이스도 고려 중에 있습니다

네임스페이스에는 어떤 기능이 필요한 지에 대한 의견을 수렴하고자 합니다.

[2019-11-26 08:29] CheongWol2 commented on #776
완전한 방식의 ACL이 더 나을 것 같습니다.

 * 네임스페이스에 일괄 적용되는 ACL 및 네임스페이스 권한
 * 역링크, 오래된 문서 페이지에 네임스페이스로 나누어서 보기
 * 일반 문서와 네임스페이스를 구분하는 변수

이것만 있어도 괜찮을 것 같습니다.

[2019-11-26 12:41] 2du commented on #776
@CheongWol2 음... 근데 역링크나 오래된 문서에 굳이 네임스페이스별로 보기가 필요할까요?

어차피 네임스페이스는 굉장히 특수한 상황에서만 쓰이던데

[2019-11-26 13:33] 2du commented on #769
master-06 완료

[2019-11-26 13:33] #769 closed

[2019-11-26 14:39] CheongWol2 commented on #776
@2du 지금 보니 오래된 문서에는 그다지 필요할 것 같지는 않습니다. 다만 역링크는 사용자 문서나 틀만 따로 골라서 봐야 하는 경우가 있기에 필요할 것 같습니다.

[2019-11-26 15:13] 2du commented on #776
음... 일단 되는대로 구현 해보고 차차 수정해가는 방향으로 해봐야겠네요

[2019-11-27 07:37] CheongWol2 opened #777 "문단 접기 업데이트 이후로 버그 발생"
## 버그
이번에 업데이트 된 문단 접기 기능을 적용해보았는데, include 문법을 사용할 시 하단에 공백이 발생하고, 토론에서도 내용 밑에 공백이 발생합니다. 또한 문단 문법을 사용 시 푸터가 통째로 날아가는 버그가 있어서 롤백하였습니다.

테섭에서도 확인해본 결과 동일합니다. 해결 부탁드립니다.

[2019-11-27 08:49] 2du commented on #777
수정 완료 master-07

[2019-11-27 08:49] #777 closed

[2019-11-27 14:16] CheongWol2 opened #778 "토론 관련 버그 제보"
## 버그
예전에 업데이트 후 토론 스레드가 자동으로 갱신되게 변경되었던 것으로 알고 있었는데, 토론을 보고 있는 상태에서 다른 기기에서 스레드를 남길 시 스레드가 자동 갱신이 되면서 무한정 늘어나는 버그가 있습니다. (새로고침하면 정상적으로 표시됨)

[2019-11-28 09:13] 2du commented on #778
수정 완료 master-09

[2019-11-28 09:13] #778 closed

[2019-11-28 17:21] 2du commented on #772
일단 임시 설계대로면 아마 현재의 권한 부여와 비슷하게 ACL도 그룹을 만들고 그걸 문서에 부여할 수 있게 할 예정

[2019-11-28 19:56] 2du commented on #709
꽤 기본 스킨에 많은 진전이 있었기 때문에 이제 닫아도 될 듯

추가로 다른 스킨 기능이나 제작은 해당 스킨 이슈로 처리할 예정

[2019-11-28 19:56] #709 closed

[2019-11-29 12:56] 2du commented on #742
표 튀어나가는 텍스트 크기 버그는 어느 순간부터 해결 된 듯

[2019-11-29 12:58] #771 closed

[2019-11-29 14:32] 2du commented on #674
대량 삭제 완성

[2019-11-29 15:01] 2du commented on #776
의견이 더 읎는 것 같으니 대충 만들어보갔습니다

[2019-11-29 15:01] #776 closed

[2019-11-30 15:25] 2du commented on #743
2시간 동안 코드랑 싸워서 토론 링크 형태를 숫자로 변경

[2019-11-30 19:48] 2du opened #779 "JS 파서 1단계 프로젝트 돌입"
우선 역링크 파싱을 분리할 예정

[2019-11-30 22:41] cuprevenge opened #780 "유튜브 매크로"
업데이트 후 유튜브 기본 영상 크기가 현저히 작게 나옵니다.

+기본 편집창 크기도 동일함

[2019-12-01 07:51] 2du commented on #780
수정 완료

[2019-12-01 07:51] #780 closed

[2019-12-01 18:08] 2du commented on #718
그리고 먼 미래... MySQL이 드디어 지원되는데...

[2019-12-02 03:32] 2du opened #781 "MySQL판 인덱싱, 인덱싱 강제화"

[2019-12-02 14:48] 2du commented on #781
완료

[2019-12-02 14:48] #781 closed

[2019-12-02 17:53] #649 closed

[2019-12-02 17:57] 2du opened #782 "계속 미뤄지고 있는 것들"
## 네임스페이스 관련
  - [ ] https://github.com/2du/openNAMU/issues/643
 * 아마 네임스페이스는 네임스페이스 비스무리한 걸 만들지 않을까 생각

## ACL 관련
 - [ ] https://github.com/2du/openNAMU/issues/772
 - [ ] https://github.com/2du/openNAMU/issues/703
 - [ ] https://github.com/2du/openNAMU/issues/661

## 렌더러 관련
 - [x] https://github.com/2du/openNAMU/issues/844
 - [x] https://github.com/2du/openNAMU/issues/700

## 기타
 - [x] https://gi

[2019-12-02 17:57] 2du commented on #772
통합

[2019-12-02 17:57] #772 closed

[2019-12-02 17:58] 2du commented on #779
통합

[2019-12-02 17:58] #779 closed

[2019-12-02 17:58] 2du commented on #660
통합

[2019-12-02 17:58] #660 closed

[2019-12-02 17:58] 2du commented on #561
통합

[2019-12-02 17:58] #561 closed

[2019-12-02 17:59] 2du commented on #714
backup 위치 지원 예정 그리고 backup 기능 MySQL에선 비활성화 예정

[2019-12-02 18:55] 2du opened #783 "틀 링크 기능"
깜박하고 지웠음

[2019-12-02 19:06] 2du opened #784 "깃허브 위키 셔터 완전 내림"
모든 항목 이전 완료

[2019-12-03 03:50] cuprevenge opened #785 "사이트맵"
사이트맵 기능(생성, 삭제 등)을 제공했으면 합니다.

[2019-12-03 13:04] 2du commented on #785
아마 생성 삭제 지원을 하기보단 그냥 루트 폴더에 넣으면 작동하게 만들 예정 입니다

워낙 생성 삭제 도와주는 그런 사이트가 많더라고요

[2019-12-03 14:32] 2du commented on #785
완료 (근데 이거 이런 용도 맞나)

[2019-12-03 14:32] #785 closed

[2019-12-03 14:46] 2du commented on #783
수정 완료

[2019-12-03 14:46] #783 closed

[2019-12-03 14:46] #784 closed

[2019-12-03 15:39] 2du commented on #714
드디어 50만 문서 이상의 테스트 환경을 만들었으니 서치 문제 해결할... 수 있을수도 아닐수도

[2019-12-03 16:46] cuprevenge opened #786 "설정 버그"
robots.txt 설정(.../setting/5)을 편집하고 저장하면 뜬금없이 본문 상단 설정(.../setting/4)이 나옵니다.

[2019-12-03 23:46] cuprevenge opened #787 "리다이렉트 문제"
업데이트 후 문서에 리다이렉트 문법을 쓰면 미리보기가 되지 않고, 리다이렉트 된 문서에서 리다이렉트 문서로 접근시 이전과는 달리 강제로 리다이렉트 되어 리다이렉트 문서를 편집하기가 어렵습니다.

[2019-12-04 13:00] 2du commented on #787
아마 새로운 방법 연구 중에 생긴 문제 입니다

[2019-12-04 14:22] 2du commented on #787
수정 완료

[2019-12-04 14:23] 2du commented on #786
버그 수정 완료 master-20

[2019-12-04 14:23] #786 closed

[2019-12-04 14:46] 2du commented on #714
서치 느림 문제 해결 완료 master-21

[2019-12-05 13:40] CheongWol2 opened #788 "문법 버그"
## 버그
2줄짜리 표를 만든 뒤 오른쪽 정렬을 하고, 문단 명을 길게 하면 목차 문법과 표가 겹쳐서 나옵니다.
![image](https://user-images.githubusercontent.com/53139020/70240002-bfa1f780-17af-11ea-8d04-b31ce2eaaddb.png)
정상적인 출력 결과는 표 아래 목차가 존재할 시 목차 위로 표가 올라가야 하며, 목차 아래 표가 존재할 시 목차 아래로 표가 내려가야 합니다.

또한 1단 리스트가 2단 리스트처럼 공백이 생성되어 나옵니다.
![image](https://user-images.githubusercontent.com/53139020/70240213-24f5e880-17b0-11ea-9bfb-7ad7f7652bb2.png)

[2019-12-05 15:15] 2du commented on #788
1. 해당 문제는 CSS 문제로 일부를 수정해서 겹쳐지지 않게 했습니다
![나무위키](http://namu.ml/image/210cf89aeb3c786df1fb75ad53d008c110d0ddca86f0bb19a40bddd0.jpg)
![오픈나무](http://namu.ml/image/1111a02100f2c3b7eae0cc8e1377cc8e0e25fe0395b445b58462c613.jpg)
2. 해당 문제는 딱히 큰 문제가 아닌 것 같아서 그냥 냅뒀습니다

[2019-12-05 15:15] #788 closed

[2019-12-05 15:17] 2du commented on #742
3 : 해당 문법은 지원 계획이 읎습니다
5 : 해당 문제는 스킨 특성이므로 해결하기 어렵습니다

[2019-12-05 15:20] #742 closed

[2019-12-05 15:57] 2du commented on #670
업로드 권한 설정 완성 master-22

[2019-12-05 15:57] #670 closed

[2019-12-05 16:05] 2du opened #789 "편집 요청"
이거 꽤 괜찮아보이던데 한번도 도입하려 안 했네

[2019-12-05 16:07] CheongWol2 commented on #789
오 드디어 추가되는군요 ㄷㄷ

[2019-12-05 16:08] 2du commented on #789
@CheongWol2 아마도 이번 주 안으로요

음... 네임스페이스도 추가해야하는데 문제는 ACL부터 좀 개선해야 할 삘이

[2019-12-05 16:25] 2du commented on #692
토론 삭제 추가 완료

[2019-12-05 16:25] #692 closed

[2019-12-05 22:00] cuprevenge opened #790 "인용문 내 리스트"
[code]

위와 같이 작성하면 아래와 같이 표시됩니다.

![image](https://user-images.githubusercontent.com/52319594/70277603-0b778f80-17f6-11ea-8971-9674381cc36b.png)

[2019-12-05 23:55] 2du commented on #790
수정완료 master-25

[2019-12-05 23:55] #790 closed

[2019-12-07 06:07] sikim0726 commented on #789
갓갓 bb

[2019-12-07 09:46] 2du commented on #789
구현 순서
1. 전체 문서 편집 요청
2. 문단 편집 요청

[2019-12-07 15:24] CheongWol2 opened #791 "문법 버그"
## 버그
표에 table width를 1000과 같이 엄청나게 큰 숫자로 채웠을 때, 화면에 꽉 채워지거나 스크롤이 표시되는 것이 아닌, 화면을 그대로 넘어갑니다.
![image](https://user-images.githubusercontent.com/53139020/70376864-1bf04d00-1951-11ea-8fc1-b644dc31eca2.png)
<hr>

![image](https://user-images.githubusercontent.com/53139020/70376932-a20c9380-1951-11ea-9480-c57fabf017ee.png)
wiki style 문법 끝에 띄어쓰기를 할 시 한 칸이 개행됩니다.
![image](https://user-images.githubuserc

[2019-12-07 16:17] 2du commented on #791
수정완료 master-27

[2019-12-07 16:17] #791 closed

[2019-12-08 11:21] gnote8-0 commented on #789
그럼 편집요청 ACL도 추가되는 것인가요?

[2019-12-08 11:23] CheongWol2 commented on #789
추가로 최근 토론에서 닫힌 편집 요청도 볼 수 있도록 하는 것이 좋을 것 같습니다.

[2019-12-08 11:52] 2du commented on #789
@gnote8-0 현재 계획상 아마도 그럴 것 입니다

[2019-12-08 11:52] 2du commented on #789
@CheongWol2 최근 바뀜 메뉴에서 선택 가능하도록 할 예정 입니다

[2019-12-08 14:12] 2du commented on #789
기본기만 무언가 어설프게 구현(?) 완료(?) master-29

무언가 버그가 있을 것 같으므로 여러분들의 많은 의견 받음

[2019-12-08 16:59] 2du commented on #789
## 만들어야 할 것
 - [ ] 전역 편집 요청 ACL
 - [ ] 문서 편집 요청 ACL
 - [ ] 편집 요청 1회 통과 ACL

근데 이건 ACL 좀 개편하면서 같이 해야할 삘

 - [ ] 문단 편집 요청

이건 왠지 느낌이 힘들거나 오래 걸릴 삘

[2019-12-08 17:02] surplus-dev opened #792 "토론이 일정 수준 이상 길어지면 페이지식으로 나누기"
아마 단위는 500개가 되지 않을까 예상

[2019-12-08 17:18] 2du opened #793 "업로드 할 수 있는 파일 종류 설정"
사용자가 설정하면 zip이나 요상한 잡것들도 올릴 수 있게

[2019-12-09 01:44] cuprevenge commented on #789
새로운 편집요청을 생성하려고 하면 NameError: name 'name' is not defined이라는 오류가 뜹니다.

[2019-12-09 03:23] gnote8-0 commented on #789
오류난 코드 바꾸고 한 번 요청해봤는데 그 요청은 어디서 확인하나요?

[2019-12-09 03:30] 2du commented on #789
@cuprevenge 확인 해보겠습니다
@gnote8-0 아마도 PR을 말하시는 것 같습니다

[2019-12-09 03:31] 2du opened #794 "사용자 기록 버그"
ㅇㅇ

[2019-12-09 07:54] 2du commented on #789
@cuprevenge 수정 완료

[2019-12-09 07:54] 2du commented on #794
수정 완료

[2019-12-09 07:54] #794 closed

[2019-12-09 08:50] cuprevenge commented on #789
편집요청 거부가 없는 것 같습니다.

[2019-12-09 08:51] cuprevenge opened #795 "열린 토론 목록(not_close_topic)"
토론 구조가 바뀌기 전(제목)으로 되어 있는듯 합니다.

[2019-12-09 09:52] 2du commented on #789
@cuprevenge 어... 일단 현재 매커니즘 상으로는 누가 편집요청 했는데 그거 무시하고 그냥 편집해버리면 그 편집 요청은 닫힙니다

[2019-12-09 09:59] 2du commented on #795
수정 완료 master-31

[2019-12-09 09:59] #795 closed

[2019-12-09 10:03] CheongWol2 commented on #789
현재 올려져 있는 편집 요청은 어디서 확인하나요?

[2019-12-09 10:08] 2du commented on #789
@CheongWol2 일단은 최근 바뀜에서 확인 가능합니다만 추후 역사에서도 확인 가능하게 할 예정 입니다

[2019-12-09 12:16] 2du commented on #793
이거 연구하다 업로드 자체의 버그 발견해서(...) 수정함

[2019-12-09 17:19] 2du opened #796 "만드려고 했는데 까먹은 것"
- [x] 편집 속도 제한
 - [x] 사용자 상태 표 개선
 - [x] 아이피 사용자 토론 (이거 만들었는지 기억이 안 남)

[2019-12-10 11:45] 2du opened #797 "POST API"
편집부터 POST API로 대체

[2019-12-10 18:14] 2du opened #798 "다시 토론 무한 갱신 버그 살아난 듯"
점검 필요

[2019-12-10 18:14] 2du commented on #796
내일 편집 속도 제한 만들 예정

[2019-12-11 03:46] gnote8-0 commented on #789
@2du commented Dec 9, 2019 PR가 아니라 편집요청 말하는 것입니다.

[2019-12-11 04:33] 2du commented on #789
@gnote8-0 아 그건 최근 변경에서 볼 수 있읍니다

[2019-12-11 09:11] 2du commented on #798
아니였던 듯

[2019-12-11 09:11] #798 closed

[2019-12-12 02:04] 2du opened #799 "sub와 일부 js 개편"
좀 더 개발하기 편한 방식으로

[2019-12-12 16:21] #674 closed

[2019-12-13 03:41] lsh23 opened #800 "오픈나무 가이드 페이지 링크 관련"
안녕하세요.

open namu를 설치해보려고 하는 도중에
Readme 의 시작하기에 있는 이곳의 링크가 제대로 동작하지 않고있다는 것을 알게되었습니다.

이슈랑 공지사항등을 보다가 Guide 레포지토리가 따로 있다는 것을 알게 되었고
해당 레포지토리를 보고 설치 및 구동을 해보는 중입니다.

이와 관련된 Readme 파일 수정이 필요할 것 같아서 이슈를 남기게 됐습니다.

[2019-12-13 04:15] 2du commented on #800
PR 감사드립니다

[2019-12-13 04:15] #800 closed

[2019-12-14 15:35] #799 closed

[2019-12-15 16:30] 2du commented on #789
기본 편집 요청 ACL 추가 완료 master-39

[2019-12-17 10:06] cuprevenge opened #802 "ACL 문서 목록"
ACL 문서 목록(acl_list)에 시간이 표시되면 좋을 것 같습니다.

[2019-12-17 10:09] cuprevenge opened #803 "편집 도구 목록"
편집 도구 목록(edit_top)에 수정 기능이 없습니다.

[2019-12-17 10:11] cuprevenge opened #804 "목록 개선"
- [x] ACL 문서 목록(acl_list)에 시간이 표시되면 좋을 것 같습니다.
- [x] 편집 도구 목록(edit_top)에 수정 기능이 없습니다.
- [x] 이메일 필터 목록(email_filter)에 수정 기능이 없습니다.
- [x] ID 필터 목록에 수정 기능이 없습니다.
- [x] 파일명 필터 목록에 수정기능이 없습니다.

[2019-12-17 10:12] cuprevenge commented on #802
https://github.com/2du/openNAMU/issues/804

[2019-12-17 10:12] #802 closed

[2019-12-17 10:13] cuprevenge commented on #803
https://github.com/2du/openNAMU/issues/804

[2019-12-17 10:13] #803 closed

[2019-12-17 11:38] 2du commented on #362
https://github.com/2du/openNAMU/issues/804

[2019-12-17 13:53] 2du commented on #804
시간 표시 완성 master-40

[2019-12-18 10:26] 2du commented on #796
만들었구나

[2019-12-18 10:26] #796 closed

[2019-12-18 12:01] 2du commented on #804
완료 master-41

[2019-12-18 12:01] #804 closed

[2019-12-23 06:41] gnote8-0 opened #807 "토론 API 버그"
## 환경
* 운영 체제 : Microsoft Windows 7 및 리눅스(버전 미상)
* 파이선 버젼 : 3.8.0
* openNAMU 버전 : 3.1.1.4 안정화
* 스킨 버전 : 잘모름

## 설명
토론 API에서 IP 숨기기를 해도 아이피가 보입니다.

[2019-12-23 16:39] 2du commented on #807
수정 완료 master-43

[2019-12-23 16:39] #807 closed

[2019-12-25 10:55] 2du commented on #782
렌더러 처리가 아주 늦어지는 중...

아마 ACL이나 네임스페이스는 1월 중으로 미뤄지지 않을까 생각 중

[2019-12-26 15:13] CheongWol2 opened #809 "이동, 로그인, 인증 키 관련 기능 건의"
## 문서를 서로 맞바꾸기
이동 페이지에 문서를 서로 맞바꾸기 기능을 추가하여, 이동하려는 문서에 이미 동일한 이름의 문서가 존재하는 경우 서로 맞바꿀 수 있도록 하는 기능을 건의합니다.

## 자동 로그인
자동 로그인 기능 추가 부탁드립니다.

## 인증 키 전송 이메일
구글 계정이 아닌 웹메일도 이메일 전송을 사용할 수 있게 하면 좋을 것 같습니다.

## 확인되지 않은 기기
확인되지 않은 기기에서 로그인하거나, 평소에 사용하던 아이피가 아닌 다른 아이피에서 로그인 될 시 인증 키를 입력하고 확인 시 로그인이 가능하게 하는 것을 건의합니다.

## 오류 페이지
오류가 발생할 시 페이지로 넘어가는 것이 아니라, 로그인 페이지나 편집 페이지 같은 사소한 곳은 안내창이 뜨도록 하는 것이 좋을 것 같습니다.

[2019-12-27 06:55] 2du commented on #809
1. 이건 아직까지 필요성을 크게 못 느끼고 있습니다... 중간에 그냥 잠깐 다른 이름으로 변경 했다가 바꾸면 되는 문제라서... 고려는 해보겠습니다
2. 이건 현재 계획상에 있습니다만 일단... 좀 다른 것들을 처리하고 할 예정 입니다
3. 어차피 이메일 전송은 다 구현되어 있으니 어렵지는 않습니다만 이것도 왜 필요한 지 사실 못 느끼고 있습니다. (어차피 비밀번호 막 누설하고 다니지 않는 이상 털릴 일이 없고 리캡차 적용해놓으면 봇도 못 뚫으므로)
4. 이건 그렇게 하고 싶은데 그렇게 하면 스킨 지원이 복잡해집니다. 아니면 아예 디자인 다 무시하고 한 통일된 디자인으로 해야합니다
4.

[2019-12-27 09:47] CheongWol2 commented on #809
5번의 스킨 지원에 관해서는 id를 지정해 css를 사용해 수정하는 방법을 사용하거나 직접 커스터마이징을 하도록 지원해도 충분할 것 같습니다.

[2019-12-27 13:37] 2du commented on #809
사실 가장 간단한 방법은 그냥 alert 써버리는 건데 음... 좀 너무 그러면 날림 같기도해서 말이죠

그리고 사실 이게 POST 보낸 다음 도르마무 해버려야 하는 문제라 이것도 구현에 대해서 좀 생각이 필요할 것 같네요

[2019-12-27 13:53] 2du opened #810 "아무것도 안 하는 것처럼 보여서 올리는 JS 렌더러 진행 상황"
## 상황
현재 JS 렌더러는 링크 계열 일부와 표와 버그 테스트만 남은 상태 입니다.

아마도 1월 초에는 완성 할 수 있을 지도 모릅니다... (확실하진 않음)

## 성능
현재 제가 쓰고 있는 걸로 나무위키:문법 도움말을 파싱해본 결과

오픈나무마크 렌더러 : 약 16초
JS 오픈나무마크 렌더러 : 약 4초

약 4배 빠른 속도로 파싱하는 것을 확인 했습니다.

## 그래서 결론은?
느긋하게 기다려 주세요

## 주의
JS라는 것 자체가 웹 브라우저에게 일을 떠 넘기는 것이기 때문에 컴퓨터 사양마다 천차만별일 수도...

[2020-01-01 16:47] LiteHell opened #813 "test column 버그"
## Environment (환경)
* OS : Windows 10
* Python version : 3.7.3
* openNAMU version : 3.1.3 -> 3.1.4 업그레이드 중
* Skin : ?
* Skin version : ?

## Explanation (설명)
3.1.3버전에서 3.1.4버전으로 업그레이드하는 중 test column 관련 오류 발생함.
직접 데이터베이스에서 모든 테이블에 test 열을 추가해 자체적으로 문제 해결했음.

## Screenshot (스크린샷)
까먹음.

[2020-01-01 16:58] 2du commented on #813
수정완료 stable-03

[2020-01-01 16:58] #813 closed

[2020-01-01 18:59] 2du opened #815 "커스텀 코드 삽입 기능"
custom.py의 custom_run() 함수에 넣은 코드를 작동하도록

[2020-01-01 19:08] 2du commented on #815
완성

[2020-01-01 19:08] #815 closed

[2020-01-01 19:12] 2du opened #816 "커스텀 코드 기능이 추가 되었습니다"
v3.1.6-master-01부터 사용할 수 있습니다.

`custom.py`라는 파일을 만들고 `custom_run(conn, app)`이라는 함수를 만들고 그 안에 원하는 코드를 쓰시면 됩니다.

[code]
예제 입니다.

이런식으로 작성한다면 /test_go라는 주소로 접속하면 작동합니다.

추가로 아예 다른 링크에 덮어 씌울수도 있습니다.

지금까지 힘들게 커스텀해서 쓰시던 분들 모두 참고하시길...

[2020-01-04 05:13] CheongWol2 opened #820 "include 버그"
## Explanation (설명)
include 시 @이름@ 형식으로 작성하는 변수가 작동하지 않습니다. 틀 문서에 [[@이름@]] 이나 [[@이름@|@이름@]] 형식을 사용하고 include 시(예 : 이름=테스트) 이름은 잘 표시되나 해당 문서로 링크가 걸리지 않습니다.

[2020-01-04 08:25] 2du commented on #820
수정 완료

[2020-01-04 09:17] CheongWol2 opened #822 "엔진 첫 실행 시 오류"
## Environment (환경)
* OS : Windows 10 Pro 64bit
* Python version : 3.7.1
* openNAMU version : 최신

## Explanation (설명)
엔진 실행시 입력이 되지 않습니다. 겨우겨우 입력하다 보면 나중에는 아예 멈추는 현상이 있습니다.

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/53139020/71763350-6f3cc780-2f1e-11ea-967a-282d9086ab5c.png)

[2020-01-04 09:22] CheongWol2 commented on #822
지금 또 확인해보니 이전에 시작 관련 설정을 변경하셨는데 그 부분에서 오류가 나는 것 같습니다.

[2020-01-04 09:29] CheongWol2 opened #823 "include 버그 및 분류 관련 건의"
## Explanation (설명)
한 시간 전에 해결되어 문서로 링크가 잘 걸리지만, 아직 존재하는 문서이지만 빨간색 링크로 표시됩니다. 또한 분류는 분류 문서가 존재하지 않아도 파란색 링크로 뜹니다. 해결 부탁드립니다.

[2020-01-04 09:30] CheongWol2 commented on #822
중간에 생성된 DB를 한 번 삭제하니 이제는 또 잘 되네요..? 다른 컴에서도 해 보고 안되면 올리겠습니다. 죄송합니다.

[2020-01-04 09:30] #822 closed

[2020-01-04 10:03] 2du commented on #822
디비 이름은 알파벳만 들어가야합니다

[2020-01-04 10:03] CheongWol2 commented on #822
처음에 Test로 입력했는데 python app.py 로 입력된 뒤 오류가 발생했습니다.

[2020-01-04 14:28] 2du commented on #822
어... 근데 저도 늘 윈도우 환경에서 테스트 하지만 저런 일은 일어나지 않는 것 봐선 오픈나무의 문제는 아닌 것 같습니다

혹시 왼쪽 마우스 누르셨나요

[2020-01-05 08:49] 2du commented on #823
수정 완료 master-05

[2020-01-05 08:49] #823 closed

[2020-01-05 08:50] #810 closed

[2020-01-05 19:56] cuprevenge opened #824 "테이블 정렬"
업데이트 후 표 가운데 정렬(table align center)이 작동하지 않습니다.

[2020-01-05 20:14] cuprevenge commented on #820
변수 사용시 변수와 변수내용이 동시에 표시(변수내용@변수@)되거나 변수가 작동하지 않습니다.

[2020-01-05 20:15] cuprevenge opened #825 "역사 추가"
역사 추가 메시지가 한국어가 아닌 영어(add_history (M))으로 표시됩니다.

[2020-01-06 09:44] 2du commented on #820
@cuprevenge 어떤 경우에서 작동하지 않나요?

[2020-01-06 09:45] 2du commented on #824
몇 버전인가요? master-05 이전이라면 master-06 버전에서 해당 문제는 고쳐졌습니다

[2020-01-06 09:48] 2du commented on #825
수정 완료

[2020-01-06 09:48] #825 closed

[2020-01-06 10:11] 2du commented on #824
아 발견해서 고쳤습니다 master-07

[2020-01-06 10:11] #824 closed

[2020-01-06 11:21] cuprevenge commented on #820
틀:A
`@A@는 @b@다`

[include(틀:A, a=나, b=사람)]
`나@b@는 @b@다.`

와 같이 표시됩니다.

[2020-01-06 16:52] cuprevenge opened #826 "리다이렉트"
문서 제목에 ?가 있으면 리다이렉트가 제대로 걸리지 않습니다.

[2020-01-06 17:25] 2du commented on #826
수정완료 master-08

[2020-01-06 17:25] #826 closed

[2020-01-06 17:28] 2du commented on #820
@cuprevenge 버그 수정 완료 master-08

[2020-01-06 17:28] #820 closed

[2020-01-07 16:50] cuprevenge opened #827 "스킨"
문서 제목이 길면 각 스킨에서 다음과 같은 현상이 발생합니다.

![image](https://user-images.githubusercontent.com/52319594/71912487-eee5c300-31b8-11ea-8dcf-6bee6e56d4f6.png)
before_namu : 최근 수정 시간이 문서 제목에 가려집니다.

![image](https://user-images.githubusercontent.com/52319594/71912564-15a3f980-31b9-11ea-9c96-eaa85704fcf7.png)
marisa : 문서 제목이 레이아웃 바깥으로 벗어납니다.

[2020-01-07 17:26] 2du commented on #827
before_namu의 문제는 옛날 나무위키에도 있던 문제라 어떻게 해결할까 고민하다가 그냥 제목을 살짝 아래로 내렸습니다

수정 완료

[2020-01-07 17:26] #827 closed

[2020-01-07 18:02] 2du commented on #827
더 나은 방법 찾아서 수정 했습니다

before_namu : v1.1.0

[2020-01-11 17:28] 2du commented on #809
문서 뒤바꾸기 구현 예정 입니다

[2020-01-12 10:21] 2du commented on #809
문서 뒤바꾸기 완성 master-10

[2020-01-14 00:05] zlzleking opened #828 "MIME 타입 정하기"
1. css와 js의 mime type이 text/html로 지정되어서 콘솔에서 에러 발생하거나 뷰가 안됨
2. [이거 참조](https://stackoverflow.com/questions/11773348/python-flask-how-to-set-content-type)
3. 클플은 mime 알아서 수정해 줌

[2020-01-14 10:47] bf-dev opened #829 "Discord Oauth 오류"
## Environment (환경)
* OS : GNU/Linux Fedora 5.3.12
Docker 19.02.5
* Python version : 3.6.8
* openNAMU version : v3.1.5-stable-03
* Skin : marisa
* Skin version :

## Explanation (설명)
디스코드 client id와 client secret을 작성하고 저장했더니 로그인 할 수 없습니다.
[code]
## Screenshot (스크린샷)
![Screenshot_20200114-195010_Chrome](https://user-images.githubusercontent.com/23472828/72338139-30212a00-3707-11ea-82a7-65a25eaa514a

[2020-01-14 14:40] 2du commented on #828
수정 완료

[2020-01-14 14:40] #828 closed

[2020-01-14 14:41] 2du commented on #829
음... 이 기능은 제가 만든게 아니라 좀 오래 걸릴지도 모르겠네요

[2020-01-14 16:24] CheongWol2 opened #830 "파서 버그"
## Explanation (설명)
![image](https://user-images.githubusercontent.com/53139020/72361968-af2d5700-3735-11ea-85fe-6dd9488c238b.png)
![image](https://user-images.githubusercontent.com/53139020/72361982-b5233800-3735-11ea-9bf2-1b0349f2eb14.png)
'''[* '''내용''']''' 형식으로 각주 안 볼드 문법과 각주 밖 볼드 문법으로 작성할 시, "해당 각주의 내용"만 볼드체로 표시되어야 하나, 아래 각주부터 하단 푸터까지 모두 효과가 적용됩니다. 볼드 문법만 해당 문제가 발생합니다.

![image](https://user-

[2020-01-14 17:17] 2du commented on #830
전자는 버그가 맞아서 일단 수정 했습니다

[사진](https://namu.ml/image/eb58eafb9facda2be2c2e64805afa74cfef74d1af64a7907658ce2b6.jpg)
후자는 버그가 아닙니다.

[2020-01-14 17:17] #830 closed

[2020-01-15 10:39] #816 closed

[2020-01-15 16:59] 2du opened #831 "[알림] 공홈 접속이 안될 때"
를 대비해서

 * http://namu.cf

예비 도메인을 하나 만들었읍니다

[2020-01-15 17:03] 2du commented on #750
아무래도 이미지 설정 기능이랑 각주 설정 기능은 JS 파서랑 연계해서 할 필요가 있을 듯

[2020-01-16 06:40] 2du commented on #829
대충 확인해본 결과 이전에 이걸 만든 놈이 설정 할 때 디스코드 값을 넣는 빼 먹은 것 같읍니다

[code]

음... 일단 제 생각에는 JSON으로 설정 값을 저장하는 것 자체가 맘에 들지 않기 때문에 갈아 엎을 예정입니다

[2020-01-17 08:36] 2du opened #832 "필요한 분류 기능"
아마 역링크를 추가해서 하는 그런 방향으로 해야할 것 같은데...

어... 아마 역링크 초기화가 필요할 그런 기능인 듯

[2020-01-17 09:41] kpjhg0124 commented on #829
어..음 언제빠졌다니...

ㅈㅅ

[2020-01-17 11:17] 2du commented on #829
@kpjhg0124 애초에 디비 냅두고 굳이 JSON에 저장하는 것부터 불합격 (자세한 건 [wiki.json](https://github.com/openNAMU/Discard-openNAMU-Legacy/tree/df8b24da3bea67961cdb5d9a56a242c829e48259)을 참조하세요)

그의 손에 쥐어지는 불합격 목걸이

[2020-01-17 12:38] 2du commented on #829
일단 버그로 의심되는 부분을 고쳤습니다. master-11

[2020-01-17 12:38] #829 closed

[2020-01-18 07:29] 2du commented on #691
1번 2번은 어차피 JS 파서 하면서 하게 될 듯

[2020-01-18 07:29] #691 closed

[2020-01-18 11:24] CheongWol2 commented on #832
역링크 초기화 속도를 개선해주실 수는 있나요?

[2020-01-18 14:20] 2du commented on #832
@CheongWol2 문서가 많으면 느린 건 어쩔 수 없더라고요

9만 문서라면 1초에 3 문서씩 처리해도 대략 3만초(8시 20분)라서...

[2020-01-19 12:56] 2du commented on #832
@CheongWol2 일단 역링크 초기화 할 때 메모리 많이 쓰던 문제는 해결 했습니다... 음... 그냥 켜놓고 한숨 자고 오는 것이 답인 것 같습니다

[2020-01-19 13:23] cuprevenge opened #835 "파일 업로드"
파일 업로드 페이지에 파일 설명을 적을 수 있는 폼이 추가되었으면 좋겠습니다.

p.s
업데이트 후에 설정 페이지에 폼 하단마다 hr이 추가된 것 같은데 의도된 것인가요?

[2020-01-19 13:50] 2du commented on #835
간단하게 만들 수 있을 것 같습니다

구분이 불분명한 것 같아서 일부로 hr을 좀 넣었습니다.

[2020-01-20 09:01] CheongWol2 opened #836 "스킨 관련 건의"
## 설명
내용이 짧은 문서는 분류나 푸터가 설명에 같이 나오는 현상이 있는데, 문서의 내용만 나오는 변수가 따로 추가되거나 다른 방법으로 번경하여야 할 것 같습니다.

[2020-01-20 09:59] 2du commented on #836
개선 했습니다

[2020-01-20 09:59] #836 closed

[2020-01-20 16:52] 2du commented on #835
완료

[2020-01-20 16:52] #835 closed

[2020-01-20 16:55] 2du opened #837 "스킨 업데이트 알림 기능"

[2020-01-20 17:10] 2du opened #838 "테이블 캡션 지원 예정"
밤에 자다가 간단하게 구현하는 방법이 생각남

그러나 공백이 부족하기 때문에 여기에 적진 않을 것

[2020-01-24 18:35] 2du opened #839 "아이피 두개로 뜨는 문제"
근데 뭐가 문제인진 잘 모르겠군

[2020-01-25 18:14] 2du commented on #839
대충 고침

[2020-01-25 18:14] #839 closed

[2020-01-30 23:33] 2du opened #843 "테섭 복원 예정"
ㅈㄱㄴ 2월 2일 예정

[2020-02-02 03:05] 2du commented on #843
완료

[2020-02-02 03:05] #843 closed

[2020-02-03 05:31] 2du opened #844 "새로운 렌더러 처리 방법"
JS 렌더러는 아무래도 바보같은 일이였음

[2020-02-03 15:06] 2du opened #845 "토론 입력시 위로 올라가는 문제 해결"
예정

[2020-02-03 21:22] cuprevenge opened #846 "오류"
업데이트 후 다음과 같은 오류가 표시됩니다.

UnboundLocalError: local variable 'file_name' referenced before assignment

[2020-02-04 05:35] 2du commented on #846
어떤 상황에서 해당 오류가 뜨나요?

[2020-02-04 05:36] CheongWol2 commented on #846
그냥 접속하자마자 뜨는 것 같습니다.

[2020-02-04 05:37] 2du commented on #846
버전은 몇인가요

제 기준(master-16)에선 그게 뜨지 않아서 말이죠

[2020-02-04 05:39] CheongWol2 commented on #846
최신 버전으로 업데이트 후 오류가 발생합니다.

[2020-02-04 05:39] 2du opened #847 "기본스킨 검색창 미리보기 문서 많을때 멈추는 문제"
아마 서치가 느린것도 한 몫하는 듯

문서 많을 땐 비활성화 해놓던지 해야겠음

[2020-02-04 05:42] 2du commented on #846
음... 문서가 아닌 곳(예를 들면 /other)에 들어가도 뜨나요?

[2020-02-04 05:43] 2du commented on #846
렌더러 수정 후 버전으로 올려보세요 아마 제 생각엔 렌더러 수정 전에 뭐 좀 고치다가 만게 원인 같군요

[2020-02-04 05:43] CheongWol2 commented on #846
지금 확인해보니까 문서가 아닌 곳에서는 잘 작동되고 있습니다.

[2020-02-04 05:44] 2du commented on #846
아마 확실하게 수정 전 렌더러가 원인 같군요

[2020-02-04 05:44] CheongWol2 commented on #846
@2du 방금 설명을 잘못 한 것 같습니다.. 댓글 수정했습니다.

[2020-02-04 07:33] cuprevenge commented on #846
File "/usr/lib64/python3.6/site-packages/flask/app.py", line 2449, in wsgi_app
    response = self.handle_exception(e)
  File "/usr/lib64/python3.6/site-packages/flask/app.py", line 1866, in handle_exception
    reraise(exc_type, exc_value, tb)
  File "/usr/lib64/python3.6/site-packages/flask/_compat.py", line 39, in reraise
    raise value
  File "/usr/lib64/python3.6/site-packages/flask/app.py",

[2020-02-04 07:52] 2du commented on #846
@cuprevenge 버전이 몇 인가요

[2020-02-04 08:34] cuprevenge commented on #846
v3.1.6-master-16입니다.

[2020-02-04 09:14] 2du commented on #846
문서 raw를 보여주실 수 있나요

제 문서에는 아무것도 안 떠서 말이죠

[2020-02-04 10:11] cuprevenge commented on #846
어떤 문서요?

[2020-02-04 10:22] 2du commented on #846
해결 완료

[2020-02-04 10:22] #846 closed

[2020-02-05 06:59] ddarkr commented on #831
namu.ml, namu.cf 모두 freenom으로 넘어가네요.

<http://amina.co.kr/bbs/board.php?bo_table=free&wr_id=27873>

참고해보시는게..

[2020-02-05 08:52] 2du commented on #831
@ddarkr 아 별 건 아니고 그냥 도메인이 만료되서 터졌읍니다

좀 느긋하게 복구 하려고요

[2020-02-05 08:52] #831 closed

[2020-02-05 08:52] 2du commented on #831
이건 이제 필요 없겠군

[2020-02-05 08:57] 2du commented on #845
완료

[2020-02-05 08:57] #845 closed

[2020-02-05 09:05] 2du opened #848 "도메인이 터졌읍니다"
그렇읍니다... 대책을 세우고 있읍니다

[2020-02-05 11:34] 2du commented on #844
완료

[2020-02-05 11:34] #844 closed

[2020-02-05 11:34] 2du commented on #844
나중에 렌더러 속도 올리는 건 테이블 캡션 추가하면서 할 예정

[2020-02-07 03:17] cuprevenge opened #849 "오류"
* openNAMU version : v3.1.6-master-20

역사에서 각 개별버전을 확인하려고 하면 다음과 같은 오류가 표시됩니다.

[2020-02-07 07:50] 2du commented on #849
수정 완료

[2020-02-07 07:50] #849 closed

[2020-02-07 17:29] 2du opened #850 "diff에 문제가 있는 것 같음"
조사 필요

[2020-02-08 04:59] 2du commented on #838
완료

자다가 생각난 걸 이제 구현하네

[2020-02-08 04:59] #838 closed

[2020-02-08 05:08] 2du opened #851 "[소통] 테섭에 관한 의견 수렴"
파이썬애니웨어를 쓰거나 그냥 다시 깃허브 위키를 쓰려고 하는데 어느게 더 편리할 것 같나요?

다른 좋은 의견 있으면 여기에 적어주시길 바랍니다.

[2020-02-08 05:08] #848 closed

[2020-02-08 10:23] gnote8-0 commented on #851
처음 사용자가 설치 없이 오픈나무가 어떻게 작동하는지 궁금할 수 있으니 일단 오픈나무를 실행하게 파이선애니웨어를 사용하면 일단 좋을 것같습니다

[2020-02-08 10:59] cuprevenge commented on #851
깃허브 위키는 아이디가 있어야 수정할 수 있어서 오픈나무를 쓰는 게 좋을 것 같습니다.

[2020-02-08 11:53] CheongWol2 commented on #851
둘 다 상관없기는 한데 테섭이 접속이 안 되면 설치법이나 가이드 등을 확인할 수 없는 문제점이 있긴 합니다.

[2020-02-09 13:35] 2du commented on #851
의견을 종합해서 2월 10일에 파이썬애니웨어로 이전 예정

[2020-02-09 15:02] cuprevenge commented on #737
설치 과정에서 pythonanywhere_com_wsgi.py의 16번째 줄을 다음과 같이 수정해줘야합니다.

↓

[2020-02-10 04:51] 2du commented on #737
@cuprevenge 수정 완료

[2020-02-10 04:51] #737 closed

[2020-02-10 04:51] 2du commented on #851
http://2du.pythonanywhere.com 이전 완료

[2020-02-10 04:51] #851 closed

[2020-02-10 04:52] 2du opened #852 "[알림] 오픈나무 공홈의 주소가 바뀌었습니다."
http://2du.pythonanywhere.com

[2020-02-11 12:06] 2du opened #853 "문법 추가 예정"
이번에 새로 생긴 colcolor이랑 colbgcolor 추가 예정

[2020-02-11 15:28] 2du commented on #850
직접 만든 diff 알고리즘을 한번 이용해볼까 생각 중

[2020-02-12 13:00] 2du commented on #837
1차
버전 비교 후 업데이트 필요 알림
2차
업데이트 기능

[2020-02-15 11:10] 2du commented on #850
아 이거 해야하는데 바닥에 드러누웠더니 움직이기가 싫냐...

[2020-02-15 12:51] 2du commented on #850
아마도 수정 되었을 듯

[2020-02-15 12:51] #850 closed

[2020-02-15 16:04] 2du commented on #793
곧 진행 할 예정

[2020-02-15 16:22] 2du opened #854 "도구로 보내기 이름 지정"
전부 redirect라 알아보기 힘들다는 말이 있음

[2020-02-15 16:23] 2du commented on #741
JS 파서가 취소되었으니 이것도 자동으로 취소 대신 커스텀 코드에 기능 넣을 예정

[2020-02-15 16:23] #741 closed

[2020-02-16 06:10] CheongWol2 opened #855 "토론 종결 관련"
## Explanation (설명)
토론 종결 댓글이 일반 댓글로 나와서 토론이 다시 재개되거나 일반 사용자가 댓글을 입력하면 많이 헷갈립니다. 블라인드처럼 색상을 바꾸는 것이 좋을 것 같습니다.

[2020-02-16 11:01] 2du commented on #855
상단 색깔이 하늘색 아닌가요? 만약 아니라면 버그 입니다.

[2020-02-16 14:48] 2du opened #856 "문단 편집해도 안 먹는 버그"
ㅇㅇ

[2020-02-16 14:48] 2du opened #857 "문서를 삭제해도 캐싱이 남아 있는 버그"
이건 한번 보긴 했는데 원인이 불확실해서 당장 고칠 수 있을지 의문

[2020-02-16 15:40] 2du commented on #856
https://2du.pythonanywhere.com/w/%EC%98%A4%ED%94%88%EB%82%98%EB%AC%B4%2F%EC%97%B0%EA%B5%AC

[2020-02-16 15:40] 2du commented on #857
https://2du.pythonanywhere.com/w/%ED%8B%80%3A%EB%AE%A4%EC%A6%88%20%EB%A9%A4%EB%B2%84

[2020-02-17 03:48] CheongWol2 commented on #855
제가 스킨을 수정했던 적이 있는데 그 부분을 빼먹은 것 같네요. 정말 죄송합니다.

[2020-02-17 03:48] #855 closed

[2020-02-18 00:48] cuprevenge opened #858 "저작권"
위키 기본 설치시 최하단에 CC 0이 표시되는데, 설치 과정에서 저작권을 선택할 수 있게 하거나 공란으로 비워두는 게 좋을 것 같습니다. 자칫하면 의도치 않게 퍼블릭 도메인이 될 수도 있으니까요.

[2020-02-18 05:42] 2du commented on #858
ARR을 기본 값으로 해놓도록 하겠습니다

[2020-02-18 06:22] 2du commented on #858
변경 완료

[2020-02-18 06:22] #858 closed

[2020-02-18 10:52] 2du commented on #856
수리 완료 master-08

[2020-02-18 10:52] #856 closed

[2020-02-19 15:50] 2du commented on #854
완료

[2020-02-19 15:50] #854 closed

[2020-02-19 15:52] 2du opened #859 "문단 편집 제대로 안 고쳐진 듯"
아 이런

[2020-02-19 15:53] 2du commented on #710
14일에서 24일로 변경

버그를 아직 못 잡음

[2020-02-20 02:58] gnote8-0 opened #860 "코드/파일 인코딩 관련 오류"
## Environment (환경)
* OS : 한글 윈도우 7 얼티밋
* Python version : 3.8.0
* openNAMU version : 3.1.6.28 마스터
* Skin : 마리사
* Skin version : 7

## Explanation (설명)
오픈나무를 실행할 때 CP949 코덱은 바이트 0x85을 디코딩할 수 없다고 500 내부 서버 오류가 발쌩합니다.

## Screenshot (스크린샷)
![ss](https://user-images.githubusercontent.com/55873929/74896705-4db57380-53d8-11ea-9e69-a64862d0c6c1.png)

[2020-02-20 10:54] 2du commented on #860
해당 증상이 나타나는 경우가 없어서 테스트를 할 수가 없네요 일단 의심스러운 부분을 수정했습니다.

또 증상이 나타나면 문의 주세요.

[2020-02-20 10:54] #860 closed

[2020-02-20 11:44] 2du commented on #859
원인 알아내서 제대로 고침

[2020-02-20 11:44] #859 closed

[2020-02-20 15:50] 2du commented on #857
그냥 원인을 알아내려 하지 말고 원인이 될만한 걸 다 없애야겠다

[2020-02-21 00:15] gnote8-0 commented on #860
예 정상 작동합니다. 감사합니다^^

[2020-02-21 16:54] 2du opened #865 "역링크 속도 개선"
https://stackoverflow.com/questions/18219779/bulk-insert-huge-data-into-sqlite-using-python

[2020-02-21 17:06] 2du commented on #857
캐싱에 리비전 넘버도 같이 넣어서 리비전 넘버가 맞지 않으면 갱신

[2020-02-22 04:35] 2du commented on #857
수정 완료

[2020-02-22 04:35] #857 closed

[2020-02-23 08:56] 2du commented on #847
기본 비활성화함

[2020-02-23 08:56] #847 closed

[2020-02-23 16:42] 2du opened #867 "미리보기 JS 작동"
안하는 것 같음

[2020-02-23 16:47] 2du commented on #867
기왕 하는 김에 script plus_data에서 삭제

[2020-02-24 09:38] 2du commented on #867
수정 완료 master-33

[2020-02-24 09:38] #867 closed

[2020-02-24 18:01] 2du opened #870 "편집 충돌 관련 시스템"

[2020-02-25 12:36] cuprevenge commented on #853
rowcolor랑 rowbgcolor도 있습니다.

[2020-02-25 12:56] 2du commented on #853
@cuprevenge 그건 이미 추가되어 있는데 버그 때문에 작동 안했습니다 수정 완료 stable-04

[2020-02-25 13:04] #852 closed

[2020-02-27 06:38] 2du commented on #865
완료

[2020-02-27 06:38] #865 closed

[2020-03-01 03:28] LiteHell opened #876 "cache_data 관련 버그"
## Environment (환경)
* OS : Ubuntu Server 18.08.4 LTS
* Python version : 3.6.9
* openNAMU version : v3.1.6-stable-04 (Custom coded)
* Skin : marisa
* Skin version : v1.1.7

## Explanation (설명)
문서 읽기시 캐시 데이터가 기본 ACL 혹은 문서 ACL을 무시하는 버그를 발생시키는 것 같음. 코드를 수정하여 캐시 데이터를 무시하도록 하자 ACL이 정상적으로 작동했음.

## Screenshot (스크린샷)

[2020-03-01 04:19] 2du commented on #876
수정 후 stable-05로 낼 예정

[2020-03-01 07:12] 2du commented on #876
수정 완료

[2020-03-01 07:12] #876 closed

[2020-03-02 16:03] roeniss opened #878 "파일명 중복 처리 건"
파일을 업로드할 때 이름이 중복되면 자동으로 덮어쓰는 것 같습니다. 기존 파일과 이름이 중복되면 업로드 되지 않도록 제어가 가능한가요?

[2020-03-03 09:32] 2du commented on #878
아마 그거 작동 안하면 버그인 것 같습니다

[2020-03-03 09:40] 2du commented on #878
음... 제 테스트 결과에서는 정상적으로 작동하는 것 같습니다

만약에 파일 문서가 삭제되었다면 그 문서에는 당연하게 중복으로 올릴 수 있게 설정되어 있습니다

어떤 경우에 중복으로 업로드가 되나요?

[2020-03-03 10:30] 2du commented on #793
완료

[2020-03-03 10:30] #793 closed

[2020-03-03 17:16] roeniss commented on #878
위키를 만들고 첫 포스팅 작성 이후 사진을 첨부했습니다. 업로드 하는 버튼 아래에 파일명 기록하는 칸이 있길래 서로 다른 두 파일을 같은 이름으로 업로드 했더니, 별 에러 없이 두 번 모두 업로드 성공했고 당연히 경로 `[[file:myImage.jpeg]]`는 더 늦게 올린 파일을 불러왔습니다.

[2020-03-03 17:20] roeniss commented on #878
어라? 저도 재현에 실패했습니다. 제가 뭔가 착오가 있었나봅니다 죄송합니다.

[2020-03-03 17:20] #878 closed

[2020-03-03 17:24] 2du commented on #878
아마 대충 모종의 이유로 문서가 삭제되거나 아니면 무슨 착오가 있었는 것 같네요

[2020-03-05 06:54] 2du commented on #853
곧 진행 할 예정

[2020-03-05 16:06] 2du opened #879 "[소통] 편집 충돌에 관해서"
일단 먼저 전제를 깔자면 자동 편집 충돌은 제 기술력으로 못 만들 것이다가 제 의견 입니다.

그래서 자동 편집 충돌 병합을 제외하고 여러분의 의견을 받습니다.

현재 생각 중인 방안
1. 모니위키처럼 수동 편집 충돌 방지 기능
2. 도쿠위키처럼 누구 수정 할 때는 문서를 일정 시간 동안 잠그기
3. 그냥 편집 충돌 났다고 알려만 주고 알아서 하게 하기

그리고 음... 네임스페이스 기능을 만들어야 하는데 다른 기능 먼저 해야지하고 미루다보니 3월까지 왔네요

근데 또 하필이면 코로나 사태가 터져서 난리가 나는 바람에... (대충 변명하는 내용)

아무튼 조만간에...? 기반을 좀 만들겠습니다. 대안으로 쓸만한거라도 급히 만들겠습니다.

[2020-03-05 16:12] 2du commented on #703
차단된 사용자 ACL 추가 예정

[2020-03-05 16:43] 2du commented on #703
차단된 사용자를 포함하는 ACL 완성 master-03

[2020-03-06 03:15] CheongWol2 commented on #879
문서가 동시에 편집되었을 때, 두 사용자가 서로 다른 부분을 기여하면 그 기여한 부분만 잘려서 자동으로 병합하는 구조인데 이게 상당히 어려울 것 같습니다.

나무위키 수동 병합처럼 다른 사용자가 편집한 내용을 알려주고 수동으로 다시 입력하게만 하면 되는 방식도 괜찬을 것 같습니다.

[2020-03-06 06:46] 2du opened #880 "계층 구조"
스레드 ACL = 가장 상위 ACL
문서 ACL
정규식 ACL
전역 ACL = 가장 하위 ACL

[2020-03-06 07:43] 2du commented on #743
제목 변경이랑 토론 이동 곧 만들 예정

[2020-03-06 11:22] 2du commented on #879
@CheongWol2 음 그러면 모니위키 방식 한표...

[2020-03-06 14:22] gnote8-0 commented on #879
다른 사용자가 편집 중인지 확인이 가능하다면 편집에 들어갈 때 사전적으로 경고를 띄우는 것이 괜찮을 것 같은데 일단 1번에 표합니다

[2020-03-06 16:08] 2du commented on #879
@gnote8-0 문서 들어갈 때는 몰라도 나갈 때를 측정할 수 없어서 아마 그건 불가능할 것 같습니다

[2020-03-07 09:12] CheongWol2 commented on #880
문서, 토론, 읽기 ACL마다 원하는 설정을 순서대로 여러 개 적용할 수 있게 하는 것도 괜찮을 것 같으나, 이렇게 하기 위해서는 더 많은 ACL 설정이 추가되어야 할 것 같습니다.

[2020-03-07 10:42] 2du commented on #880
@CheongWol2 일단 최대한 통일된 계층 구조를 만드는 데 열중하고 있읍니다

[2020-03-07 13:36] 2du commented on #743
완성

[2020-03-07 13:36] #743 closed

[2020-03-07 13:49] 2du opened #881 "틀, 분류, 파일 지정 기능"

[2020-03-09 10:03] 2du commented on #703
스레드별 ACL 추가 예정

[2020-03-09 16:08] 2du commented on #703
스레드별 ACL 제작 완료

[2020-03-10 14:36] 2du opened #882 "[소통] 보기 ACL 의견 수렴"
보기 ACL을 적용하면 편집 ACL보다 상위에 둬야할까 아니면 편집 ACL과 보기 ACL을 별개로 봐야할까에 대한 의견을 수렴합니다

그리고 보기 ACL에 지금 결함이 하나 있음을 알려드립니다.

[2020-03-10 16:44] 2du commented on #882
일단 보기 ACL 결함은 상위에 둠으로써 해결

[2020-03-11 11:26] 2du commented on #853
완료

[2020-03-11 11:26] #853 closed

[2020-03-11 16:49] 2du opened #884 "노위키 관련 문법 버그"
이 참에 JS 구동식으로 변경하고 링크에만 살짝 살짝 변경하는 방식 사용 예정

그것 말고도 렌더러 최적화 용으로 이것저것 레거시 코드 손 볼 예정

[2020-03-11 16:50] 2du commented on #884
링크 같은 경우에는 링크 파서에서 링크 안의 nowiki만 걸러내서 제일 마지막에 변경할 예정

[2020-03-12 00:33] cuprevenge opened #885 "raw 오류"
* openNAMU version : v3.1.7-master-12

업데이트 후 문서 원본(raw)를 보려고 하면 따로 ACL이 걸려있지 않음에도 권한이 없다고 표시됩니다.

[2020-03-12 03:12] cuprevenge opened #886 "colbgcolor 오류"
colbgcolor 문법 사용시 해당 문서만이 아닌 위키의 모든 문서에 적용되며, 문법을 지워도 계속 적용되어 있습니다. (캐시를 지우거나 갱신해도 여전히 적용되어 있음)

[2020-03-12 03:42] 2du commented on #885
수리 완료

[2020-03-12 03:42] #885 closed

[2020-03-12 03:42] 2du commented on #886
수리완료

[2020-03-12 03:42] #886 closed

[2020-03-12 04:58] cuprevenge commented on #882
문서를 열람할 수 없는데 편집은 할 수 있다면 이상할 것 같습니다.

[2020-03-12 12:05] 2du commented on #884
아마 고쳐진 듯

[2020-03-12 12:05] #884 closed

[2020-03-12 15:08] 2du commented on #882
@cuprevenge 말이 되네요

[2020-03-13 15:00] 2du commented on #879
더 의견이 읎는 것 같으니 모니위키식으로 결정했습니다

[2020-03-13 15:00] #879 closed

[2020-03-13 15:00] 2du commented on #880
일단 대충 구조체 완성

[2020-03-13 15:00] #880 closed

[2020-03-15 01:46] gdl-888 commented on #882
읽기 ACL를 상위에 두는것에 동의합니다

[2020-03-15 06:27] 2du commented on #882
그러면 읽기 ACL을 위에 두는 걸로 (현행) 종결

[2020-03-15 06:27] #882 closed

[2020-03-16 02:34] cuprevenge opened #887 "리다이렉트 오류"
* openNAMU version : v3.1.7-master-15

문서 제목에 '가 포함되어 있는 문서에 리다이렉트시, 정상적으로 리다이렉트 되지 않습니다.

문서 제목 = A'B
리다이렉트 시 = A`&#x27;`B 문서로 넘겨주기됨.

[2020-03-16 06:40] 2du commented on #887
완료

[2020-03-16 06:40] #887 closed

[2020-03-16 12:13] roeniss opened #888 "복붙으로 본문 이미지 삽입"
## Explanation (설명)

본 이슈 작성 form을 비롯하여, 많은 사이트에서 클립보드 이미지를 붙여넣기 (Cmd + V, Ctrl + V) 할 시 자동으로 업로드 시켜주고 본문에 이미지를 삽입하는 식으로, 이미지 업로드 과정을 단순화합니다.

해당 피쳐가 제공이 되고 있는 것인지 (제 오픈나무 위키에서는 안됨... 옵션이 있는건지?), 아니면 추가 피쳐로 건의할 수 있는 부분인지 알고 싶습니다.

[2020-03-16 12:42] 2du commented on #888
그런데 개인적인 생각에는 이 이슈 작성처럼 올릴 때부터 마크업을 사용하도록 올리게 하는 방법이 있긴 한데

오픈나무는 앞으로 다른 마크업도 많이 지원할 예정인데 이것까지 어떻게 처리를 해야할 지 좋은 아이디어가 떠오르지 않습니다

[2020-03-16 12:44] roeniss commented on #888
정확히 어떤 부분이 문제가 된다고 생각하시는지요? 충돌할 것으로 예상되는 예시 하나만 부탁드립니다. 상상이 잘 안되서요

[2020-03-16 12:45] roeniss commented on #888
여담으로 이 "이슈 작성"은 구체적으로 마크다운임이 명시되어있습니다. 여기 우측 하단에... 아이콘이 있네요.
![image](https://user-images.githubusercontent.com/26613280/76759640-72321f00-67cf-11ea-82a9-085d0dbf8f4c.png)

[2020-03-16 12:46] 2du commented on #888
구현상의 문제에서 문제가 될 것이라고 생각이 듭니다 대표적인 문제로 2가지가 있는데

1. 붙여넣기를 하려면 어떤 마크업을 사용하는 지 판가름이 되야 하는데 그러면 그 과정에서 api로 통신을 해야하는데 이 과정에서 딜레이가 발생하므로 붙여넣기가 곧바로 되지 않습니다 그러면 사용자 경험에서 별로 좋지 않을 것 같습니다
2. 당장은 이걸 구현할 기술력이 부족합니다
3. 외부 이미지를 넣고 싶으면 [[외부:이미지_주소]]를 쓰면 되는데 이걸 지원해야할 이유를 잘 모르겠습니다

[2020-03-16 12:58] roeniss commented on #888
1. "어떤 마크업을 사용하는 지 판가름이 되야 하는데" 부분은 잘 이해를 못하였습니다. "api 통신에 의한 딜레이"는 사실입니다. 지금 제가 위에 댓글에서 캡쳐해 넣을 때 딜레이가 실제로 있었으므로... 하지만 제가 해보니 이미지 업로드 진행 중에는 [[uploading image...]] 같은게 뜨더군요. 종합하면,
a. 시각적 단서를 줄 방법이 있고 이미 사례(깃헙 이슈 작성 등)도 충분하며
b. 직접 도구 메뉴로 들어가 업로드 하고 다시 돌아와 이미지를 추가하는 것이 더욱 번거롭다는 것이 저의 생각입니다.

만약 이미지를 올릴 때 난수가 아닌 "이미지명"을 구체적으로 정해야 한다면, 올리는 시점에 prompt 폼으로 제시받아도 좋을 것 같구요, 어차피 api를 터치하는 http 통신은 js가 관장하

[2020-03-16 13:00] 2du commented on #888
1. 시각적 단서를 주자니 제가 만든 UX가 다 엉망이라...
2. 만들어서 PR 주시면 감사하겠습니다
3. 그럼 드래그 업로드를 개발하겠습니다

[2020-03-16 13:41] roeniss commented on #888
1. 😅
2. 일단 그럼 해볼게요
3. 드래그를 별도로 가져가서 붙이는게 나을까요, 제가 만든 후에 참여하시는게 나을까요? 후자라면, 조금더 인터페이스에(?) 신경을 써볼게요

[2020-03-16 13:41] roeniss commented on #888
오픈 소스 참여는 처음이라 미흡한 점 많지만 잘 부탁드립니다

[2020-03-16 14:11] 2du commented on #888
뭐 어떻게 하시든 상관 없습니다 오픈소스니까요

[2020-03-16 16:04] CheongWol2 commented on #888
나무픽스처럼 드래그하면 자동 업로드 후 파일 문법이 나오게 하는 것이라면 좋을 것 같습니다.

[2020-03-16 16:15] roeniss commented on #888
나무픽스 내 해당 액션에 대한 영상이나 사진 부탁드리고 싶습니다.

[2020-03-16 16:18] CheongWol2 commented on #888
예전이였다면 보여드릴 수 있었으나 나무위키 프론트엔드가 업데이트 되면서 더이상 동작하지 않습니다.. 기억나는 대로 설명해 드리자면 파일을 편집 창으로 드래그 하면 파일 업로드 처럼 라이선스, 이름 입력 등 입력 창이 뜨고 입력 후 확인을 누르면 업로드 후 자동으로 파일 링크가 뜨는 형태였습니다.

[2020-03-16 16:19] roeniss commented on #888
제가 생각하던거랑 비슷한 것 같아요. 초안 만들어서 여기에 쓰레드 달아보겠습니다

[2020-03-17 07:00] 2du opened #889 "[소통] 이 중에 뭘 먼저 만들까요"
1. 이미지 드래그 드롭 업로드
2. 이미지 동시 업로드

[2020-03-17 07:11] gdl-888 commented on #889
본인은 1번 표합니다

[2020-03-17 09:24] cuprevenge commented on #889
동시 업로드는 무슨 기능인가요? 멀티 업로드를 말하나요?

[2020-03-17 12:03] 2du commented on #889
@cuprevenge 동시에 여러 파일을 드래그로 올릴 수 있는 그런 기능 입니다

[2020-03-17 16:57] roeniss commented on #889
2번 기능에도 "드래그"라는 표현을 써주셔서 조금 헷갈립니다. 각각 어느 화면에서 사용되는 기능인지 알 수 있을까요

[2020-03-18 04:15] 2du commented on #889
@roeniss 어 그냥 아무 생각 없이 드래그라고 했네요 그냥 업로드를 잘못 말했습니다

[2020-03-18 04:17] roeniss commented on #889
그럼 /upload 경로에서 여러 파일 동시 업로드, 로 이해해도 될까요?

[2020-03-18 04:26] 2du commented on #889
@roeniss 네 일단은요

[2020-03-18 04:38] kpjhg0124 commented on #889
2

[2020-03-18 07:03] roeniss commented on #889
2

[2020-03-18 09:28] 2du commented on #889
3

[2020-03-18 16:12] 2du commented on #889
다중 업로드 지원 완료 master-17

[2020-03-18 16:12] #889 closed

[2020-03-18 17:16] 2du opened #890 "nowiki 들여쓰기 안 먹힘"

[2020-03-20 11:37] 2du commented on #890
수정 완료

[2020-03-20 11:37] #890 closed

[2020-03-21 06:30] 2du commented on #782
리캡차 3 지원 완료

[2020-03-21 07:38] 2du commented on #700
캐싱이랑 렌더러 개선으로 속도 개선

[2020-03-21 07:47] 2du opened #891 "[소통] 오픈나무에 나무픽스가 지원된다면"
어떨까요

[2020-03-21 11:09] gdl-888 commented on #891
괜찮을 것 같습니다. 클래스명과 작동 구조를 맞춰주면 작동하긴 합니다.

[2020-03-21 12:47] cuprevenge commented on #891
나쁘지 않을 것 같습니다.

[2020-03-21 19:18] yangis1019 commented on #891
괜찮은 생각입니다.

[2020-03-22 06:48] roeniss opened #892 "리셋 가이드가 있으면 좋을 것 같아요"
정확히 어떠어떠한 파일들을 지워야 다시 init script가 작동한다, 하는거요.

init script 는 아래 부분 입력하는 함수를 말합니다.

[code]

[2020-03-22 07:18] 2du commented on #892
그거는 이머전시 툴을 가동시키면 됩니다

나중에 이머전시 툴 메뉴얼을 써놔야겠네요

[2020-03-22 07:25] 2du commented on #891
뭐... 사실 언제 될 지는 모르겠다만 일단은 긍정론으로 결정

[2020-03-22 07:25] #891 closed

[2020-03-22 07:33] roeniss opened #894 "JS 스크립트를 추가하고 싶어요"
views/main_css/js/ 폴더 아래에 스크립트를 추가했는데, 이것만으로는 <script> 태그 안에서 호출이 안되네요. 따로 해줘야 하는 작업이 있을까요?

[2020-03-22 07:35] #892 closed

[2020-03-22 07:58] 2du commented on #894
JS 문법이 틀린게 아닌지 확인해보세요

[2020-03-22 08:05] roeniss commented on #894
문법 문제는 아닌것 같아요.

[code]
이렇게 저장하고 서버 재부팅하면 chrome DevTool에서 제 함수를 찾을 수 없습니다. 하지만 다른 함수들은 잘 찾고 있어서요.

![image](https://user-images.githubusercontent.com/26613280/77245084-45fb2000-6c5f-11ea-94c1-0eb124d914c5.png)

[2020-03-22 13:09] 2du commented on #894
아 맞다 그거 캐싱하도록 되어 있어서 그래요

테스트는 전역 변수 가서 하는 게 더 편해요

굳이 그렇게 써야한다면 func.py 가서 main_css_ver 숫자를 1 올리세요

[2020-03-23 08:00] roeniss commented on #894
일단은 main_css_ver 을 계속 바꿔가며 했는데, 캐싱이 필요한 파트인가,에 대해서는 반신반의하군요.

[2020-03-23 10:26] 2du commented on #894
캐싱을 안한다면 계속 main_css 디렉토리를 긁어야 하는데 IO 성능이 좋은 곳이면 몰라도 그렇지 못한 곳에선 퍼포먼스 저하를 야기할 수 있으니까요

[2020-03-23 10:26] 2du commented on #894
일단은 질문 해결인걸로

[2020-03-23 10:26] #894 closed

[2020-03-23 10:29] roeniss commented on #894
질문은 클로즈가 맞습니다!

main_css를 계속 긁는다는게 어떤 말씀이신지 잘 모르겠습니다.

아... 제가 node express를 주로 써서, flask 사정을 잘 모르는데 음 "public"같은 디렉토리에 넣으면 static 으로 제공해주는 , 그런 기능이 없나요? nginx 처럼요.

static files로써 제공되는건 브라우저 측에서 적당히 캐싱 작업을 도와주는 걸로 알고 있습니다.

[2020-03-23 10:31] roeniss commented on #894
간단히 서치해본 reference : https://flask.palletsprojects.com/en/1.1.x/tutorial/static/

[2020-03-23 13:08] 2du commented on #894
@roeniss 그게 문제가 아니라 main_css에 들어있는 모든 파일의 위치를  탐색하여서 자동적으로 인식하는 그러한 시스템을 탑재해놨기 때문에 캐싱이 없으면 계속 main_css의 모든 파일을 사이트 들어갈 때마다 탐색하기 때문에 저런식으로 처리를 해놨습니다

그래서 파일을 main_css/js 나 main_css/css에 올리고 버전 숫자만 올리면 자동으로 탐색해서 일반 유저들이 보는 HTML에 올려주는 그런 구조 인겁니다

[2020-03-23 13:11] 2du commented on #894
덤으로 버전 숫자를 도입해 놓은 건 브라우저 캐싱 작업 때문도 있습니다 파일을 고쳐도 브라우저가 캐싱 해놓은 파일을 우선으로 보여주기 때문에 URL 뒤에 URL 파라미터를 갱신해줘야 새롭게 브라우저가 파일을 갱신합니다 그 역할을 버전 숫자가 합니다

[2020-03-23 13:12] roeniss commented on #894
음 복잡하군용

[2020-03-23 13:16] 2du commented on #894
좀 뭔가 그럴싸하게 만드려면 복잡하게 되더라고요

[2020-03-23 14:52] kpjhg0124 opened #896 "최근 토론 불러오기 시 오류 발생: no such column: title"
## Environment (환경)
* OS : Windows 10 (버전 1903, 빌드 18362.720)
* Python version : 3.6.8
* openNAMU version : v3.1.7-master-18 (커밋 81a205)
* Skin : marisa, simpledirty
* Skin version : 1.1.8, 1

## Explanation (설명)
스킨 만들다가 발생함
스킨 외관 확인하려고 빈 토론을 만들었더니 그 이후로 토론에 접근하지 못함. (아마 제목을 비운듯)
[code]

## Screenshot (스크린샷)
![localhost_3000_recent_discuss](https://user-images.githubusercontent.com/13766489/773294

[2020-03-23 15:16] 2du commented on #896
수정 완료

[2020-03-23 15:16] #896 closed

[2020-03-24 14:15] CheongWol2 opened #897 "리스트 문법 관련 건의"
## Explanation (설명)
현재 리스트 문법은, 동일한 1단계 리스트에 간격만 조정하는 원리인 것 같은데, 주로 사용하는 방법인, ul 구조로 변경되었으면 좋겠습니다.
<ul>
<li>테스트</li>
<ul>
<li>테스트</li>
</ul>
</ul>

[2020-03-24 14:41] 2du commented on #897
그렇게 하면 복잡해져서 사실 별로 하고 싶진 않습니다...

[2020-03-24 18:44] 2du opened #898 "아 맞다 또 캡션 빼먹었네"
이 참에 매크로 문법 부분도 리팩토링 예정

[2020-03-25 02:36] kpjhg0124 opened #899 "기여 횟수 접근 시 버그 발생: no such column: title"
## Environment (환경)
* OS : Windows 10 (버전 1903, 빌드 18362.720)
* Python version : 3.6.8
* openNAMU version : v3.1.7-master-18 (커밋 8e32948)
* Skin : marisa, simpledirty
* Skin version : 1.1.8, 1

## Explanation (설명)
기여 횟수 접근 시 발생.(/count)
내용이 없는 빈 문서를 생성하려는 시도를 하긴 했으나 이 버그의 발생에 영향을 줬는지는 알 수 없음. (재현 시도 안함)

[code]

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/13766489/77495

[2020-03-25 05:11] 2du commented on #899
곧 수정 예정

[2020-03-25 10:23] 2du commented on #899
수정 완료

[2020-03-25 10:23] #899 closed

[2020-03-25 16:21] 2du commented on #898
완료

[2020-03-25 16:21] #898 closed

[2020-03-26 12:08] 2du commented on #897
별 다른 말이 없으므로 안 하는 걸로 결정하겠읍니다... 땅땅

[2020-03-26 12:08] #897 closed

[2020-03-27 10:44] 2du opened #900 "MySQL 호스트 선택 가능하게"
ㅇㅇ

[2020-03-27 17:40] 2du opened #902 "댓글 기능 추가 예정"
아마도

[2020-03-28 07:44] 2du commented on #881
연구 해보니 답이 없어서 포기

[2020-03-28 07:44] #881 closed

[2020-03-28 17:24] 2du commented on #900
수정 완료

[2020-03-28 17:24] #900 closed

[2020-03-30 17:39] 2du opened #904 "토론 멘션 기능 만들 예정"
ㅇㅇ

[2020-03-30 17:40] 2du opened #905 "파일 문서 목록"

[2020-03-31 15:02] 2du opened #907 "senkawa 스킨을 기본 스킨으로 할 예정 입니다"
4월 31일에 완성하면 기본 스킨으로 지정할 예정 입니다

[2020-03-31 17:50] 2du opened #908 "blur 문법 개선"
그냥 녹색에 스포일러 방지 적어 놓는 건 너무 양심 없었다

[2020-04-01 15:03] #907 closed

[2020-04-02 12:39] 2du commented on #908
해결 완료

[2020-04-02 12:39] #908 closed

[2020-04-08 05:49] 2du opened #911 "diff 사소한 버그 존재하는 듯"
확인 필요

[2020-04-08 09:30] 2du commented on #911
수정 완료

[2020-04-08 09:30] #911 closed

[2020-04-10 12:23] 2du commented on #888
PR로 추가되었으므로 이슈 닫음

[2020-04-10 12:23] #888 closed

[2020-04-10 16:26] 2du opened #912 "[알림] 커스텀 문법 기능이 추가 되었습니다"
자세한 설명은 [여기](https://2du.pythonanywhere.com/w/%EC%BB%A4%EC%8A%A4%ED%85%80%20%EB%AC%B8%EB%B2%95)를 참조해주세요.

[2020-04-10 16:30] 2du commented on #703
일반 ACL이 거부 ACL과 같은 역할을 함

[2020-04-10 16:30] surplus-dev commented on #703
- [x] 이동 ACL
 - [x] 삭제 ACL
 - [x] 토론 생성 ACL

제작 예정

[2020-04-10 16:31] #728 closed

[2020-04-10 16:52] 2du opened #913 "다중 이미지 업로드 ACL"

[2020-04-10 16:53] #905 closed

[2020-04-11 06:33] 2du commented on #913
완료

[2020-04-11 06:33] #913 closed

[2020-04-11 13:00] 2du opened #914 "문단 편집 수정 예정"
동일한 제목 동일한 내용 문단 있어도 구분 하도록

[2020-04-11 16:18] 2du commented on #914
완료

[2020-04-11 16:18] #914 closed

[2020-04-11 16:47] 2du opened #915 "OAuth 코드 전체 재검토, 수정"
https://github.com/2du/openNAMU/issues/527
https://github.com/2du/openNAMU/issues/583

[2020-04-11 16:47] #583 closed

[2020-04-11 16:47] #527 closed

[2020-04-11 17:00] 2du opened #916 "마크다운 완성"
## 우선 구현 예정
 - [x] 링크
 - [x] 문단
 - [x] 일반 텍스트 문법
 - [ ] 코드, 인용문
 - [ ] 목록
 - [ ] 가로줄
 - [ ] 일부 HTML
 - [ ] 이미지 사이즈 조절
 - [ ] 역링크 동기화
 - [ ] 문단 편집

[2020-04-14 11:40] 2du opened #920 "역링크 샵에 버그 있음"

[2020-04-14 12:27] 2du commented on #920
일단은 해결 했음

[2020-04-14 12:27] #920 closed

[2020-04-15 17:01] 2du commented on #916
적어도 4월 24일 안에는 완성할 예정

이거 진행하면서 나무마크 일부 코드도 클래스를 많이 쓰는 방향으로 리팩토링 예정

[2020-04-17 15:48] 2du opened #921 "[소통] 마크다운에 대한 의견 수렴"
현재 기본 마크다운 기능만 구현하면 기능이 왕창 모자를 것 같은 데

일부 모자른 기능을 매크로 형식으로 넣는게 좋을까요 그냥 냅두는 게 좋을까요

[2020-04-17 16:28] 2du opened #922 "관심 문서 기능"
나무위키의 내 문서와 비슷한 기능

[2020-04-18 17:08] 2du opened #924 "문단 편집 HTML 버그"

[2020-04-18 17:08] 2du opened #925 "로고 스킨 별로 달리 설정 가능"

[2020-04-19 05:36] gdl-888 opened #926 "편집 요청 페이지 사소한 메뉴 버그"
## Environment (환경)
* openNAMU version : 3.1.8.27
* Skin : 리버티
* Skin version : 1.0.9

## Explanation (설명)
편집 요청 화면에서 돌아가기 옆에 내용이 없는 메뉴가 있습니다. 버그인 것 같습니다.

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/55873929/79680473-e001aa00-81c4-11ea-8131-13b638efb6e6.png)

[2020-04-19 11:47] 2du commented on #926
수정 완료

[2020-04-19 11:47] #926 closed

[2020-04-19 12:37] 2du commented on #924
버그 수정 완료 master-29

[2020-04-19 12:37] #924 closed

[2020-04-19 13:16] 2du commented on #922
추가 완료 master-30

[2020-04-19 13:16] #922 closed

[2020-04-20 02:32] cuprevenge commented on #661
문서 이동 ACL도 있었으면 좋겠습니다.

[2020-04-20 05:52] 2du commented on #661
@cuprevenge 계획 중에 있습니다

[2020-04-20 23:23] gdl-888 opened #927 "최근 변경내역 도구 표시줄 개선 건의"
## Environment (환경)
* ONTS 기준입니다/
* openNAMU version : v3.1.8-master-30
* Skin : 마리사
* Skin version : 1.2.5

## Explanation (설명)
최근 변경내역에서 전체 내역에서만(set 없음) 도구 표시줄이 표시되고 이동 보기, 되돌림 보기 등에서는 [돌아기기] 메뉴를 통해서 다른 도구를 선택해야 하는데 이동 보기 등에서도 도구 표시줄이 있으면 더 편할 것 같습니다.

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/55873929/79808532-ed34ab00-8322-11ea-8f36-66fd53c7b057.png)

[2020-04-21 09:49] 2du commented on #927
수정완료 master-31

[2020-04-21 09:49] #927 closed

[2020-04-24 18:51] 2du commented on #921
아무도 의견이 읎으므로 --하긴 대부분은 나무마크를 쓰니까-- 그냥 HTML 일부 편입하는 걸로 결정

[2020-04-24 18:51] #921 closed

[2020-04-26 16:03] #912 closed

[2020-04-26 17:46] 2du commented on #904
완성

[2020-04-26 17:46] #904 closed

[2020-04-26 17:57] 2du opened #928 "[소통] 비로그인 알림"
비로그인 아이피 유저에게도 알림이 가도록 설정해야 할까요?

[2020-04-27 04:04] gdl-888 commented on #928
가끔 관계없는 사용자의 아이피가 겹치는 경우가 있긴 하지만 평소에는 그렇지 않고 해서 알림이 가도 괜찮을 것 같습니다

[2020-04-27 05:58] kpjhg0124 commented on #928
쿠키에 사용자 구분자 박아놓고 AJAX로 알림 불러오면 아이피 겹쳐도 알림이 다른사람한테는 안갈것 같습니다.. 네트워크 주소가 여러개로 나타나는 모바일 디바이스 생각하면 이게 더 나을것 같음.

[2020-04-27 06:39] 2du commented on #928
대충 무슨 말인지는 알겠는데 그 방법은 불가능 할 듯 사용자 구분자를 박는다 쳐도 일단 같은 아이피면 구분하기 어려움 캐시 초기화 같은 가능성이 없지 않아서

[2020-04-27 18:13] 2du commented on #750
각주 설정 기능 일단 완성

이미지 설정 기능 내일 만들고 정리해야겠다

[2020-04-27 23:32] kpjhg0124 commented on #928
캐시 초기화도 일반적인 시나리오가 아니라서 다른 사용자랑 알림 겹칠수 있는 리스크랑은 충분히 저울질할 수 있을것 같음

아이피보고 알림 쏘는건 아이피 겹치는것도 어지간하면 잘 일어나진 않긴 하지만 여전히 다른 사용자에게 어쨌든 알림이라는 형태의 개인 데이터를 제공하는 셈이라..

[2020-04-28 09:48] 2du commented on #928
근데 일단 가장 큰 문제는 구분할 방법이 없다. 특히 통신사 아이피 같은 건 같은 기종에 같은 사파리 쓰는 아이폰 유저를 UA로 구분할 수 있는 것도 아니고 구분할 방법이 없음

그리고 개인 데이터라고 하긴 애매한게 어차피 아이피가 위키 기능에서 쓸 수 있는 기능은 다 오픈되어 있는 것들이라 난 별로 그렇게 생각 안 함

그리고 이 문제들이 해결된다고 친다 쳐도 가장 큰 문제는 AJAX로 알림을 또 짜버리면 알림이 두개로 파편화되어 버림

[2020-04-28 19:19] 2du commented on #750
처리 완료

[2020-04-28 19:19] #750 closed

[2020-05-01 01:20] 2du opened #929 "복붙 이미지 업로드 버그 존재"
업로드 ACL 안 맞으면 나타남

[2020-05-01 01:38] 2du opened #930 "역링크 초기화 속도 개선"
리퀘스트를 통한 역링크 갱신 방법 연구 필요

[2020-05-01 03:36] 2du commented on #929
수정 완료

[2020-05-01 03:36] #929 closed

[2020-05-01 08:10] 2du opened #931 "나무마크에 include_link 처리 안한 부분"
수정 해야함

[2020-05-01 15:38] 2du commented on #931
해결

[2020-05-01 15:38] #931 closed

[2020-05-04 19:22] 2du commented on #925
완성 master-47

[2020-05-04 19:22] #925 closed

[2020-05-04 19:22] 2du commented on #928
비로그인에게도 알림이 가도록 수정하겠읍니다

[2020-05-04 19:22] #928 closed

[2020-05-04 19:27] 2du commented on #700
UI 개선 및 각주 설정 지원으로 이제 전부 완료 (아마도)

[2020-05-04 19:27] #700 closed

[2020-05-04 19:27] 2du commented on #837
그냥 업데이트 기능은 빼고 1차만 구현 예정

[2020-05-04 19:40] 2du opened #932 "기본 스킨에 사이드바 넣을꺼임"
대세를 따라야지

[2020-05-07 17:02] 2du commented on #870
다음 할 일

[2020-05-08 12:43] #789 closed

[2020-05-08 12:44] 2du opened #933 "편집 요청 대체 기능"
이전 구조는 영 어설퍼서 다시 구현하거나 다른 기능으로 대체 예정

[2020-05-08 18:41] 2du commented on #870
완성

[2020-05-08 18:41] #870 closed

[2020-05-08 18:48] 2du commented on #933
개인적으로는 코멘터리라는 자체 시스템으로 편집 요청을 대체해볼 예정

[2020-05-11 18:24] 2du commented on #631
환경마다 불가능한 상황도 존재할 것 같아서 취소

[2020-05-11 18:31] 2du commented on #680
이게 꼭 필요할까?

[2020-05-11 18:31] #680 closed

[2020-05-11 18:55] 2du commented on #714
백업 위치 드디어 지원

[2020-05-13 18:16] 2du commented on #710
15일에서 20일로 미룸

[2020-05-14 17:43] 2du opened #934 "서버 터짐 문제가 있다는데"
확인 필요

[2020-05-16 02:38] gdl-888 opened #935 "관심 문서 삭제"
## Environment (환경)
* OS : Windows 7 (접속 OS가 XP고 호스트는 7입니다)
* Python version : 3.7.3
* openNAMU version : 3.8.1 베타 57
* Skin : 마리사
* Skin version : 8

## Explanation (설명)
관심 문서 삭제 시도 시 삭제되지 않고 동일한 문서가 주시목록에 추가됩니다

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/55873929/82108493-bd35c780-9769-11ea-8969-9c36f5540ce5.png)

[2020-05-16 04:23] 2du commented on #934
노트북에 틀어놓고 메모리 분석할 예정

[2020-05-16 12:09] 2du commented on #935
버그 수정 master-59

[2020-05-16 12:09] #935 closed

[2020-05-17 12:09] 2du commented on #934
조사를 해봤는데 증상이 안 나타남 나중에 문제 나면 다시 열어야겠음

[2020-05-17 12:09] #934 closed

[2020-05-24 18:31] 2du opened #938 "최적화, 일부 기능 추가"
나태한 생활은 왜 이리 즐거운 지 모르겠군
## rb와 ban 테이블 통합
 - [x] 완료

ongoing이라는 컬럼을 만들어서 기존의 ban 테이블 역할을 대체할 예정

## ip_pas 리스트 단위 렌더링
 - [x] 완료

리스트 단위로 입력 받아서 딕셔너리 형태로 돌려주는 방식이다. 만약 동일한 사람의 이름이 리스트에 많다면 확실히 효과적일 것이다.

최근 변경 계통과 토론 API에 우선 적용 예정이다

## 검사 비교
 - [ ] 완료

검사 기능에서 사용자 비교할 때 동일한 아이피나 UA가 존재하는 지 알려주게 할 예정

또한 단순히 사용한 IP랑 UA를 빈도로 알려주는 기능도 추가 예정

[2020-06-01 05:44] 2du opened #939 "MySQL 호환성"
수정 필요할 듯

[2020-06-01 06:28] 2du opened #940 "내부링크 버그"
문법 겹칠때

[2020-06-02 15:00] 2du commented on #940
수정 완료

[2020-06-03 18:29] 2du commented on #940
때려잡음

[2020-06-03 18:29] #940 closed

[2020-06-05 15:11] 2du opened #941 "문서 수 수십만 단위에서도 굴러가게"
- [x] history에서 rc 테이블 다시 분리 예정
 - [ ] 서치 방식 개선 예정

[2020-06-06 08:38] blach205 opened #942 "index.html밖에 없는데... 도와주세용!"
## Environment (환경)
* OS : 윈도우
* Python version : 3.8

## Explanation (설명)
index.html 밖에 html 파일이 없는데
<a> 태그는 어디로 보내주는 건가요?

[2020-06-06 10:42] 2du commented on #942
무슨 태그를 말하시는건가요?

[2020-06-06 23:27] blach205 commented on #942
<a>입니다
기본적으로 views -> 스킨에 index.html밖에 없습니다

[2020-06-07 10:06] 2du commented on #942
각 괄호 안에 넣으면 HTML로 처리되므로 당연히 눈에 안 보입니다.

https://coding-factory.tistory.com/395 이걸 참조하세요

그리고 html 파일만 있는 건 정상 입니다.

[2020-06-07 13:15] 2du commented on #941
type normal만 일단 분리

[2020-06-08 06:45] gdl-888 opened #943 "사소한 표기 관련"
## Environment (환경)
* openNAMU version : 3.1.9 베타 16
* Skin : 마리사

## Explanation (설명)
오류 화면에서 같은 제목이 2개씩 나오는 것이 어색해 보입니다. 또한 설치 도스창에서 호스트, 포트 입력창에서 레이블과 콜론 사이의 간격이 약간 넓은 것 같습니다.

## Screenshot (스크린샷)
![imagem](https://user-images.githubusercontent.com/55873929/83999998-b50c1a80-a918-11ea-8df9-2e7c945d9fb4.png)

[2020-06-08 14:27] 2du commented on #943
1은 착시인 것 같고
2는 그냥 여백은 허전한 것 같아서 해놨습니다

[2020-06-09 11:30] 2du opened #944 "sitemap.xml 지원"
곧

[2020-06-09 11:33] 2du opened #945 "틀 버그 있음"
이전 링크 시스템 고치면서 깜박한 게 있음

[2020-06-09 11:41] 2du commented on #945
수정 완료

[2020-06-09 11:41] #945 closed

[2020-06-09 12:59] gdl-888 commented on #943
1 제가 오픈테섭에서 해 보니 [한 개만 나오는 오류 페이지](https://2du.pythonanywhere.com/oauth/discord/init)와 [위 스크린](https://2du.pythonanywhere.com/edit/FrontPage)[샷과 같이](https://2du.pythonanywhere.com/ban/1) 두 개씩 출력되는 페이지도 있는 것 같습니다.

[2020-06-10 06:25] 2du commented on #943
저거는 제가 만든 부분이 아니라서 그런 것 같습니다

통일하죠

[2020-06-11 09:32] 2du commented on #942
아마 해결 된 것 같으므로 닫음

[2020-06-11 09:32] #942 closed

[2020-06-11 09:41] 2du opened #946 "엔진 재시작시 경로에 공백 있으면 오류?"
점검 필요

[2020-06-12 18:28] 2du commented on #943
통일 완료

[2020-06-12 18:28] #943 closed

[2020-06-13 15:31] BadaWikiDev commented on #946
제가 계정명에 공백이 들어가있는데, 파이썬 파일을 찾을 수 없다면서 그냥 꺼지는 현상이 있었습니다. Windows 10 Pro 사용 중이며, 버전은 최신 버전 사용 중입니다.

[2020-06-13 18:20] 2du commented on #946
대충 sys가 불러오는 값 확인해보고 공백 처리에 문제가 있으면 수동으로 따옴표 붙여주는 형식으로 하면 될 듯

[2020-06-13 19:07] 2du commented on #938
동일한 아이피만 존재하는지 알려주게 함

그 외 기능은 동일한 이슈 있으니 거기로 통합

[2020-06-13 19:07] #938 closed

[2020-06-14 04:12] gdl-888 commented on #946
개발자님이 의도하신 방법인지는 모르겠으나 쌍따옴표를 붙이면 오류가 발생합니다.

`os.execl('"' + sys.executable + '"', '"' + sys.executable + '"', *sys.argv)`

![image](https://user-images.githubusercontent.com/55873929/84584547-a9e94b00-ae40-11ea-9dfd-083e32719261.png)

[2020-06-15 06:18] Cartman0 opened #947 "openNAMU is working on pythonanywhere?"
openNAMU is working on pythonanywhere( https://www.pythonanywhere.com/ )?

[2020-06-15 12:47] 2du commented on #947
Yes. You need to modify some of the basic app settings.

Ex
![image](https://user-images.githubusercontent.com/13796545/84659051-c7f2a080-af51-11ea-9c90-fc4ec2d2f89e.png)
![image](https://user-images.githubusercontent.com/13796545/84659093-d345cc00-af51-11ea-8720-645f0b58113a.png)

[2020-06-15 13:11] Cartman0 commented on #947
oh, thx! you should feature supporting  pythonanywhere. written is it doc?

[2020-06-15 13:14] 2du commented on #947
Documents written in Korean exist. But I've been busy lately. So I haven't written a document in English yet.

[2020-06-15 13:24] Cartman0 commented on #947
ok. this may advantage than other similar python wiki engine.

- moinmoin: not work for python2
- moinmoin2: developping in python3, not release. however, if release, pythonanywhere official plan to support starting (https://www.pythonanywhere.com/forums/topic/619/).
- django-wiki: unknown support

[2020-06-15 14:49] 2du commented on #947
Yes. That's why I made this. I didn't like any of the other Python-based wiki engines.

[2020-06-16 08:33] #947 closed

[2020-06-16 13:13] 2du commented on #946
곧 수정해볼 예정

[2020-06-17 18:12] 2du commented on #946
수정완료 master-25

[2020-06-17 18:12] #946 closed

[2020-06-21 18:21] 2du opened #948 "v3.2.0 이후로 버전 체계가 좀 달라질 예정 입니다"
## 현행
 * v3.1.9-master-01
 * v3.1.9-master-02
 * ...
 * v3.1.9-master-XX
 * v3.1.9-stable-01

특정 주기 단위로 개발한 뒤 완료되면 stable에 적용

## 신규
 * v3.2.0-master-01
 * v3.2.0-master-02
 * v3.2.0-stable-01
 * v3.2.0-master-03
 * v3.2.0-master-04
 * ...
 * v3.2.0-master-XX
 * v3.2.1-master-01

특정 기능 단위로 개발한 뒤 완료되면 stable 적용, 특정 주기 단위가 지나면 버전 상승

## 왜 이렇게 하나요?
stable에 버그가 있는 경우가 많아서

[2020-06-23 12:14] 2du commented on #710
1일에서 15일로 미룸

[2020-06-28 17:48] 2du opened #949 "정규식 차단 해제"
생각해보니 이걸 안 만들었네

[2020-06-29 15:01] 2du opened #950 "clearfix 매크로 추가"
![image](https://user-images.githubusercontent.com/13796545/86022051-d0280100-ba64-11ea-9980-6e35c8848995.png)

[2020-07-01 12:55] 2du commented on #950
완료

[2020-07-01 12:55] #950 closed

[2020-07-04 12:46] 2du commented on #949
완성

[2020-07-04 12:46] #949 closed

[2020-07-07 03:02] chaemoong opened #951 "'python_version < "3.6"' 오류"
## Environment (환경)
* OS : ubuntu 18.04 (azure)
* Python version : 3.5
* openNAMU version : stable
* Skin : Origin
* Skin version : Origin

## Explanation (설명)
콘솔에 8|openNAMU  | 2020-07-07 12:01 +09:00: Ignoring pysha3: markers 'python_version < "3.6"' don't match your environment 이 뜨면서 정상 작동하지 않습니다
## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/49019734/86697744-a31db480-

[2020-07-07 04:13] chaemoong commented on #951
해결 완료되었습니다 감사합니다

[2020-07-07 04:13] #951 closed

[2020-07-07 18:11] 2du commented on #932
사이드바를 넣었는데 안 어울려서 그냥 디자인만 좀 수정하고 때려침

[2020-07-07 18:11] #932 closed

[2020-07-07 18:46] 2du opened #952 "ACL 기능 추가"
- [x] 가입 후 일정기간 소요 ACL
 - [x] 문서 편집한 기록 필요 ACL

[2020-07-10 18:57] 2du commented on #952
완료

[2020-07-10 18:57] #952 closed

[2020-07-11 20:13] 2du opened #953 "역링크 초기화 타임아웃"
도입 예정

[2020-07-12 15:30] #948 closed

[2020-07-12 15:31] #534 closed

[2020-07-12 15:31] #710 closed

[2020-07-13 19:42] 2du opened #955 "HTML XSS 오류 (HTML XSS bug)"
## ko-KR
v3.1.8 이하에 HTML XSS 오류가 발견되었습니다

v3.1.9로 업데이트를 권장하며 그럴 수 없는 상황이면 route/topic.py 145번째 줄에 sub를 html.escape(sub)로 고치세요

뭐... 근데 사실 HTML XSS 정도로는 털 수 있는 것도 없어서 심각도는 별로 안 높습니다

## en-US
HTML XSS error found in v3.1.8 or earlier.

Recommend updating to v3.1.9. If it's impossible, do this. route/topic.py | Line 145 | sub -> html.escape(sub)

But the severity is not high.

[2020-07-14 15:30] cuprevenge commented on #832
분류 위치 기본값도 지정할 수 있었으면 좋겠습니다.

[2020-07-14 16:07] 2du commented on #832
@cuprevenge 그게 무슨 뜻이죠?

[2020-07-14 19:20] 2du opened #956 "다시 수동 인덱싱 기능 지원"
저번과는 달리 이번에는 직접 특정 테이블에만 인덱싱 할 수 있게

[2020-07-15 07:46] cuprevenge commented on #832
현재로서는 기본값이 하단이고 스킨설정을 통해 개별로만 분류 위치를 조정할 수 있는데, 운영자가 메인 설정에서 지정할 수 있도록 하는 것을 말합니다.

[2020-07-16 00:34] 2du commented on #832
@cuprevenge 음... 디폴트 값 변경할 수 있도록 노력해보겠습니다

[2020-07-16 17:18] 2du commented on #609
완료

[2020-07-16 17:18] #609 closed

[2020-07-17 06:53] 2du commented on #832
좀 더 좋은 알고리즘 생각나서 곧 구현 예정

[2020-07-17 09:43] 2du opened #957 "[소통] 인덱싱 관련 의견 수렴"
오픈나무 내에서 인덱싱 기능을 어느정도 지원하는 게 좋을까요

아님 그냥 메뉴얼에 쓰는 게 좋을까요

사실 인덱싱이 필요할 정도의 위키 운영자라면 디비 기본 지식을 알고 있을 것 같아서

굳이 필요가 있을까 싶어서 여론 수렴 해봅니다.

[2020-07-18 04:27] BadaWikiDev commented on #957
요즘 포크 위키 같은 것을 여는 사람이 꽤 있던데, 저도 처음에는 아무런 지식 없이 도전했던 만큼 일부는 필요할 것으로 보입니다.

[2020-07-18 12:11] leehaesun opened #959 "문법"
## Environment (환경)
* OS : win10
* Python version :
* openNAMU version : 3.18
* Skin : 리버티
* Skin version : 최신

## Explanation (설명)
나무위키보면 틀에 펼치기 접기를 누르면 펼쳐지고 접혀지는데 오픈나무에서는 (+)로 떠서 불편합니다
개선해주실생각은 없으신가요

## Screenshot (스크린샷)

[2020-07-18 13:41] 2du commented on #959
사실 별로 없긴 한데 선택 가능하도록 개선 해볼 생각은 있습니다

[2020-07-18 14:12] 2du commented on #959
그냥 만들다가 귀찮아서 나무위키처럼 바꿨습니다

[2020-07-18 14:12] #959 closed

[2020-07-20 03:19] teaminssa commented on #957
그냥 매뉴얼에 쓰는 게 최선의 선택으로 보입니다.
mysql 기준으로 GUI 툴인 HeidiSQL 등으로 쉽게 생성할 수 있고.
사실 큰 용량의 데이터베이스를 사용하면 mysql 튜닝은 기본으로 해야 성능이 쓸만해지기 때문에 인덱싱도 튜닝과 함께 학습하는 것이 맞는다고 생각해서(저도 이렇게 인덱싱을 배웠습니다)
인젝싱을 openNAMU에서 만들어 주는 것은 아니라고 생각합니다.

[2020-07-20 06:09] teaminssa commented on #457
- [ ] [NBP Simple & Easy Notification Service](https://www.ncloud.com/product/applicationService/sens)

[2020-07-20 07:51] teaminssa commented on #902
라이브리나 disqus를 하단 html에 넣으면 되는데 굳이 필요할지는 의문입니다.

[2020-07-20 08:14] 2du commented on #902
@teaminssa 개인적으로는 필요하다 생각 합니다 계정이 따로 놀기도 하고

[2020-07-20 19:44] 2du opened #961 "xref change=2"
nothing 문제

매우 사소

[2020-07-20 21:42] teaminssa commented on #902
@2du 음 지금 다시 생각해보니 차단을 하거나 할때 위키랑 댓글이 같이 차단할수 있게 위키 계정으로 로그인 가능하게 하는게 더 나을것 같습니다.

[2020-07-21 08:20] BadaWikiDev opened #962 "data 디렉토리 증발"
## Explanation (설명)
data 디렉토리가 사라졌는데, 막상 실행해 보니 set.json이 없다고 오류가 발생합니다. 혹시 data 디렉토리를 제거한 것이 의도된 것인가요?

[2020-07-21 11:16] 2du commented on #962
아뇨

[2020-07-21 11:46] 2du commented on #962
수정

[2020-07-21 11:46] #962 closed

[2020-07-21 11:46] 2du commented on #961
수정

[2020-07-21 11:46] #961 closed

[2020-07-21 11:49] 2du commented on #957
그러면 그냥 메뉴얼로 쓰는걸로 결론 내겠습니다

[2020-07-21 11:49] #957 closed

[2020-07-21 11:50] 2du commented on #956
메뉴얼로 쓰는 걸로 계획 변경

[2020-07-21 11:50] #956 closed

[2020-07-21 18:00] 2du opened #965 "마크다운 만든 뒤에 할 것"
surplus_mark 제작 예정

단일 문법으로 모든 문법 기능 커버를 목표로 함

예시
[code]

아마 bbcode랑 비슷함

[2020-07-21 18:02] 2du commented on #916
4월 안으로 만드려고 했는데 역시 게으름은 개발자의 미덕이군

[2020-07-21 19:21] 2du opened #966 "계정 생성 기능"
owner은 번거로운 가입 절차나 가입 불가 설정 무시하고 계정 생성할 수 있는 그런 기능

[2020-07-23 17:42] cuprevenge commented on #672
* openNAMU version : v3.2.0-stable-08
업데이트 후 아이콘이 저장되지 않는 것 같습니다.

[2020-07-24 01:31] cuprevenge commented on #672
![image](https://user-images.githubusercontent.com/52319594/88353515-c14d1980-cd98-11ea-9159-420305ba6b31.png)

다시 확인하니 저장은 되는데 위와 같이 태그가 깨지네요.

[2020-07-24 03:52] 2du commented on #672
버그 수정 예정

[2020-07-24 17:31] 2du commented on #672
수정 완료 stable-09

[2020-07-24 17:31] #672 closed

[2020-07-27 05:38] Hoto-Cocoa opened #972 "Service Worker를 통한 알림"
주시 문서 시스템이 있는진 모르겠는데(마지막으로 봤을 땐 없었음) 주시 문서에 변경점이 있다던가 차단됐다던가 사토에 알림이 왔다던가...

[2020-07-27 06:16] teaminssa opened #973 "2FA"
새로운 환경에서 로그인 할때 계정 도용등을 방지하기 위해서 새로운 환경에서 로그인할때 2단계인증 통과하도록 구현.
- [ ] 이메일
- [ ] Authenticator
- [ ] SMS(알람톡 포함. #457)

[2020-07-27 06:41] teaminssa commented on #973
이미 있는듯
#809

[2020-07-27 06:41] #973 closed

[2020-07-27 08:32] gdl-888 opened #974 "닫힌 토론에서 (활성화된) 댓글 창 및 전송 단추가 표시됩니다."
## Environment (환경)
* 오픈테섭의 오픈나무 토론장 (토론 1)

## Explanation (설명)
ONTS 오픈나무 토론장에 들어가봤는데 닫힌 토론이지만 하단에 토론 댓글 입력창이 표시됩니다.

## Screenshot (스크린샷)
![onbgtrd](https://user-images.githubusercontent.com/55873929/88520840-1904b280-d02f-11ea-844c-2eba3f6210ff.gif)

[2020-07-27 09:46] teaminssa commented on #809
4번에 대해서 저는 필요하 다고 생각합니다. 잘정리된 글이 있어 가져와봅니다.
[해당글](https://help.gopax.co.kr/support/solutions/articles/26000021990-2fa%EB%8A%94-%EB%AC%B4%EC%97%87%EC%9D%B4%EB%A9%B0-%EC%99%9C-%EC%82%AC%EC%9A%A9%ED%95%B4%EC%95%BC-%ED%95%98%EB%82%98%EC%9A%94-)
이처럼 비밀번호가 예기치 않게 비밀번호가 노출가능성이 충분히 있습니다 따라서 저는 2FA를 도입해야된다고 생각합니다.
감사합니다

[2020-07-27 11:30] gdl-888 commented on #974
그런데 3.2.0 베타 5에서 로컬에 올려봤는데 거기서는 잘 작동하네요.

[2020-07-27 14:10] teaminssa commented on #809
여기에 2FA 관련 지원하면 좋을거 같은거 목록 남겨봅니다
- [ ] 이메일
- [ ] Authenticator
- [ ] SMS(알람톡 포함. #457)

[2020-07-27 16:03] 2du commented on #972
주시 문서 시스템은 있는데 오픈나무 내부 알림으로 전송함 사토 알림도 오픈나무 내부 알림으로 전송하고

사파리 빼고는 서비스 워커 지원하니까 개선해볼 생각이 있음

[2020-07-27 16:05] 2du commented on #974
뭔가 코드를 빠트린 듯 점검 예정

[2020-07-27 16:25] 2du commented on #974
아마도 고침 stable-10

[2020-07-27 16:25] #974 closed

[2020-07-27 17:18] 2du commented on #966
추가

[2020-07-27 17:18] #966 closed

[2020-07-28 00:13] ghost opened #976 "2FA"
이전 이슈를 안 보시는 것 같아 실례를 무릅쓰고 다시 이슈를 만듭니다.
기존에(#809) 비밀번호 막 누설하고 다니지 않는 이상 털릴 일이 없다고 하시었는데 다른 사이트에서 같은 비밀번호로 활동할 때 혹시나 그 사이트가 털리게 되면 해당 비밀번호로 로그인을 시도, 성공할 가능성이 높습니다. 또한 피싱 등으로 비밀번호가 탈취되는 사례도 있을 것입니다. [이글을](https://help.gopax.co.kr/support/solutions/articles/26000021990-2fa%EB%8A%94-%EB%AC%B4%EC%97%87%EC%9D%B4%EB%A9%B0-%EC%99%9C-%EC%82%AC%EC%9A%A9%ED%95%B4%EC%95%BC-%ED%95%98%EB%82%98%EC%9A%94-) 참조해보시면

[2020-07-28 07:15] 2du commented on #976
이전 이슈 보고 있습니다만 당장 구현할 생각이 없기 때문에 아무 대답도 안 달았습니다

[2020-07-28 14:25] teaminssa commented on #976
맞춤법 검사를 원하는 단어나 문장을 입력해 주세요. 만약 피싱 같은 거에 걸리면 정상 사이트에 입력했는 줄 끝가지 아는 경우가 (흔하지는 않겠지만) 존재할 수도 있고
다른 사이트에 같은 비밀번호를 쓰는 거는 굉장히 바보 같은 행동이지만 많은 사람들이 슬프게도 만약 피싱 같은 거에 걸리면 정상 사이트에 입력했는 줄 끝가지 아는 경우가 (흔하지는 않겠지만) 존재할 수도 있고
다른 사이트에 같은 비밀번호를 쓰는 거는 굉장히 바보 같은 행동이지만 많은 사람들이 슬프게도 다른 사이트에서 같은 비밀번호를 사용하는 경우가 많습니다.
또한 브라우저에 비밀번호 저장 후 사용자의 계정과 연결(Naver, Google 등) 하여 사용하는데 해당 계정이 털릴 경우 모든 비밀번호가 털리게 됩니다
따라서 2FA 인증을 긍정적으로 고

[2020-07-28 15:13] 2du commented on #976
부정적으로 생각하진 않아요 대신 당장 금나와라 뚝딱 한다고 나오진 않으니까요

급하게 생각 안한다는 거죠

[2020-07-28 17:05] #955 closed

[2020-07-28 18:37] 2du commented on #916
한다

[2020-07-28 18:59] cuprevenge opened #977 "편집권한 시각화"
ACL처럼 편집 권한이 부족한 문서는 편집 글씨가 붉은색이거나 편집 버튼을 표시하지 않으면 좋을 것 같습니다.

[2020-07-28 19:07] cuprevenge commented on #792
스레드 게시판처럼 특정 개수 이상(500, 1000) 댓글이 달리면 자동으로 닫히는 방식도 괜찮을 것 같습니다.

[2020-07-28 19:13] cuprevenge commented on #977
추가로 관리 도구에서 add_user (ko-KR)라고 표시됩니다.

[2020-07-29 05:26] 2du commented on #792
자동으로 닫히는 건 토론 흐름이 깨질 가능성이 크다고 봅니다

[2020-07-29 08:02] 2du commented on #977
추가 완료

[2020-07-29 08:02] #977 closed

[2020-07-29 17:45] 2du opened #980 "[주의] Stable 그리고 버그 (Stable and bug)"
## ko-KR
최근 stable 릴리즈에 버그가 왕창 있어서 stable 릴리즈가 왕창 늘어나게 되었습니다

그래서 말하고자 하는 요지가 뭐나면 v3.2.0-stable-11로 업데이트 하세요

## en-US
Please update to v3.2.0-stable-11.

[2020-07-30 08:27] CheongWol2 opened #981 "최근 변경 API 건의"
## 건의
최근 변경 API를 사용하면, 한 사용자가 동일한 문서를 반복적으로 편집했을 때 최근 변경이 도배가 됩니다. 동일한 문서를 여러 번 편집했다면, 마지막 편집만 기록에 나오게 하는 것을 건의합니다.

[2020-07-30 13:23] 2du commented on #981
API 파라미터에 변경할 수 있는 변수를 넣겠습니다

[2020-07-31 10:49] 2du commented on #981
repeat 파라미터 추가 완료

[2020-07-31 10:49] #981 closed

[2020-07-31 18:15] 2du commented on #916
링크 문단 어느정도 완성

이제 나머지 부분 손 볼 예정

[2020-07-31 18:31] 2du commented on #916
* [커먼마크](https://spec.commonmark.org/0.29/)

[2020-08-01 02:04] teaminssa opened #982 "일반유저도 ACL 사유 볼수 있게"
문서에 ACL 적용할때 사유를 입력하면 일반 사용자도 입력한 사유를 볼수있게

[2020-08-01 06:05] cuprevenge commented on #982
ACL 문서 목록에서 날짜 | 문서명 | 사유 형식으로 나옵니다.

[2020-08-01 07:17] teaminssa commented on #982
@cuprevenge 아 감사합니다 확인했습니다

[2020-08-01 07:17] #982 closed

[2020-08-01 17:39] 2du commented on #6
표 정렬은 나무마크에 커스텀 안하기로 마음 먹었고 확장 기능은 커스텀 코드로 대체

[2020-08-02 13:12] 2du commented on #6
투표 구현중

[2020-08-02 18:56] 2du commented on #6
투표 완성

[2020-08-02 19:28] 2du commented on #976
조만간 이메일이나 간단한 질문을 이용한 저수준 2FA 구현 예정

[2020-08-03 10:48] teaminssa opened #983 "업데이트후 에러"
## Environment (환경)
* OS : WindowsServer2019
* Python version : 3.7
* openNAMU version :  v3.2.0-master-18
* Skin : Liberty
* Skin version : v1.1.0

## Explanation (설명)
최신 버전으로 업데이트후 문서 열람시 복블복으로 에러 발생
## Screenshot (스크린샷)
![Screenshot 2020-08-03 at 19 46 42](https://user-images.githubusercontent.com/68526213/89175157-220efa00-d5c2-11ea-871f-da40fcfa6e54.jpg)

[2020-08-03 13:44] 2du commented on #983
수정 완료 master-20

[2020-08-03 13:44] #983 closed

[2020-08-04 00:01] gdl-888 opened #984 "역사 추가와 편집"
## Environment (환경)
* OS : 윈도우 비스타
* Python version : 3.7.3
* openNAMU version : 3.2.0 베타 17
* Skin : 마리사
* Skin version : 1.2.7

## Explanation (설명)
역사 추가를 통해서 내용 추가 후, (직후에) 편집 단추를 누르면 편집화면에서 /w/의 문서 내용이 아니라 추가된 역사의 내용이 표시됩니다. 편집 단추를 누를 때 나오는 내용을 DATA 테이블에서 가져오거나 역사 추가 시 DATA 테이블에도 반영이 되야할 것 같습니다.

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/55873929/89238168-240fa200

[2020-08-05 08:18] 2du commented on #984
역사 추가는 0부터 시작하도록 변경했습니다 v3.2.0-dev-20200805-01

[2020-08-05 08:18] #984 closed

[2020-08-05 19:37] 2du commented on #976
2차 비밀번호 도입 v3.2.0-dev-20200806-01

[2020-08-06 02:16] teaminssa commented on #976
질문도 넣는게 좋을것  같습니다.
예시)
- 나의 어머니의 이름은?
- 나의 아버지의 이름은?
- 나의 생일은?

[2020-08-06 19:51] 2du opened #985 "조만간 할 일 정리"
## 나무마크
 - [x] alt 추가
 - [x] folding 관련 수정
 - [x] hr 관련 수정
 - [x] 일부 코드 리팩토링

## 마크다운
 - [x] 만들기

## 대량 삭제
 - [x] 방식을 바꾸기

## 2FA 방식 추가
 - [x] 하기

## 리다이렉트
 - [x] 방식 변경

## 중복 테이블 정리
 - [x] 완료

## 기타
- [x] https://github.com/2du/openNAMU/issues/1009

[2020-08-10 09:56] cuprevenge opened #988 "문법 이슈"
[code]

위와 같이 바뀐 것 같습니다.

[2020-08-10 10:01] cuprevenge commented on #988
[code]

인용문을 묶어주던 문법이 공백이 있어야 작동합니다.

[2020-08-10 15:54] 2du commented on #988
수정 완료 master-22

[2020-08-10 15:54] #988 closed

[2020-08-10 19:49] 2du opened #993 "브랜치가 개편됩니다"
기존
master
stable

개편 이후
dev
beta
stable

Q. 왜 개편?
새로 dev 브랜치를 만들었는데 master 브랜치가 별로 깔끔하지 않는 것 같아서 변경했습니다

Q. 이전에 master 쓰던 사람은?
그냥 평소 업뎃하듯이 업뎃하면 자동으로 beta 브랜치로 넘어갑니다 (v3.2.0-beta-23)

단 수동 업뎃하는 사람은 업데이트 가져오는 브랜치를 beta로 변경해야 합니다 (쉽게 말해서 브랜치 이름만 beta로 바꿔서 평소대로 업뎃)

Q. dev 만든 이유는?
최근 master 브랜치에서 제대로된 검증이 안된 코드가 stable로 왕창가서 stable 의미가 좀 희석된 것 같아서 기본 검증용 빌드(일명 나이틀리, 카나리아 빌드) 겸사 만들었습니다

[2020-08-11 04:43] cuprevenge opened #994 "콘솔 오류"
[code]

콘솔에서 다음과 같은 오류 메시지가 나타납니다.

[2020-08-11 05:25] 2du commented on #994
실수로 version.json을 잘못 수정했습니다 [새 version.json](https://github.com/2du/openNAMU/blob/master/version.json)으로 교체해주세요

[2020-08-11 05:25] #994 closed

[2020-08-16 09:33] surplus-dev opened #997 "[수렴] dev도 업데이트로 쓸 수 있도록"
이번에 dev 빌드라고 엄청나게 불안정한 빌드가 새로 생겼는데

이것도 일반 사람들이 편하게 쓸 수 있도록 할까요

[2020-08-17 13:19] surplus-dev commented on #997
아무도 의견이 없으니까 그냥 가능하게 하는걸로

[2020-08-17 13:19] #997 closed, assigned to surplus-dev

[2020-08-22 16:57] surplus-dev opened #1001 "기본 다크모드 CSS"

[2020-08-24 09:03] #993 closed

[2020-08-24 12:08] nyannyacha opened #1004 "X-FORWARDED-FOR 헤더가 잘못 분석되는 것 같아요"
## Environment (환경)
* OS : Docker
* Python version : python:3.6.8-stretch (배포하시는 Dockerfile 과 동일해요)
* openNAMU version : c2c987 (beta branch)
* Skin version : -

## Explanation (설명)

서버로 전달되는 X-FORWARDED-FOR 값이 잘못 해석되는 것 같아요.

c2c987 커밋을 도커에 올려서 사용하고 있어요
Cloudflare -> Docker(swarm mode) -> Traefik(reverse proxy) -> openNAMU 식으로
접속되는 구조를 가지고 있어요.

따라서 최종적으로 openNAMU 에 전달되는 X-FORWARDED-FOR 헤더 값은
<접속

[2020-08-25 10:40] surplus-dev commented on #1004
그래서 어제 [dev](https://github.com/2du/openNAMU/commit/7d054611b5f636e7ff4d7b7db1cb3334f276b94e)에 패치 했습니다

[2020-08-26 00:43] surplus-dev commented on #1004
beta에 dev 반영하면 이슈 닫을 예정

[2020-08-26 20:14] #1004 closed, assigned to surplus-dev

[2020-08-27 17:27] surplus-dev opened #1009 "할 일"
- [x] MySQL 포트 지정
 - [x] 회원가입 코드 정리, 버그 수정
 - [ ] 나무위키 JSON 버그 수정

[2020-08-28 10:19] ghost opened #1011 "이미지 라이선스별 프리셋"
## Environment (환경)
해당되지 않는 이슈입니다

## Explanation (설명)
라이선스별, 전체에 문서 프리셋을 추가.
(참고 사진을 아래에 첨부하였습니다)

## Screenshot (스크린샷)
![캡처0](https://user-images.githubusercontent.com/68526213/91549231-93439200-e961-11ea-951d-458dc5bb2aee.PNG)
출처:https://namu.wiki/Upload

[2020-08-29 09:00] surplus-dev commented on #1011
근데 솔직히 왜 필요한 지 모르겠습니다

[2020-08-30 02:20] ghost commented on #1011
@2du
필요하다고 생각하는 이유는 아래와 같습니다.

- 이미지 업로드시 어떤것을 적어야할지 모르는분이 은근히 많습니다.
- 틀을 만들어서 이미지 파일을 볼때 출처등을 더 깔끔하고 통일감있게 볼수있습니다.

[2020-08-30 02:35] surplus-dev commented on #1011
1. 그건 기능 설명 문서가 없기 때문인 것 같습니다
2. 그건 이미 분류가 충분히 역할을 하는 것 같습니다

[2020-08-30 05:47] ghost commented on #1011
@2du
1. 그런것 같습니다. 조언 감사합니다
2. 제가 말씀 드린 부분은
![캡처](https://user-images.githubusercontent.com/68526213/91652183-8fce1900-eacf-11ea-921a-91ef00471989.PNG)
이렇게 유저가 틀에 넣어서
파일별로 기제되어 있는게 비슷하게요
(적고보니 말이 이상하네요 ㅠㅠ)

[2020-08-30 08:23] ekd2692 commented on #1011
@teaminssa 내용이 기본으로 적혀있는 폼을 원하신다면 func_upload.py 파일에 존재하는 다음 코드를 수정하시면 됩니다.

![image](https://user-images.githubusercontent.com/53139020/91654813-07f40900-eae7-11ea-856d-84dab5952122.png)
<textarea rows="10" name="f_lice">내용</textarea>

만약 나무위키처럼 특정 문서의 내용을 업로드 폼에 넣고 싶다면 select로 문서 data를 불러와서 textarea에 넣으면 될 듯 합니다.

[2020-08-30 08:50] ghost commented on #1011
@RedGreen02  답변 감사합니다!

[2020-08-31 12:25] surplus-dev commented on #1001
해결

[2020-08-31 12:25] #1001 closed, assigned to surplus-dev

[2020-08-31 13:11] 2du commented on #985
https://github.com/2du/openNAMU/issues/1009

[2020-08-31 13:11] #1009 closed, assigned to surplus-dev

[2020-09-02 17:02] surplus-dev opened #1015 "아이피 차단 기능 추가"
로그인 가능 불가능 확인 기능

[2020-09-04 10:35] surplus-dev commented on #1015
완료

[2020-09-04 10:35] #1015 closed, assigned to surplus-dev

[2020-09-08 08:21] Hoto-Cocoa opened #1021 "기본 branch 변경"
기본 branch가 beta인데 이러면 PR 넣거나 할 때 beta가 기본값이 되니까 dev로 바꾸는걸 추천

[2020-09-08 10:00] surplus-dev commented on #1021
그러고 싶은데 자꾸 사람들이 Dev 받아서 써서 걱정임

[2020-09-08 10:09] surplus-dev commented on #1011
고민 좀 해봤는데 일반 모드랑 프리셋 사용 모드를 따로 설정 가능하도록 하게 할 예정

[2020-09-09 00:59] Hoto-Cocoa commented on #1021
beta는 어중간하지 않나

[2020-09-09 01:01] Hoto-Cocoa commented on #1021
덤으로 master를 안쓰면 branch를 지워버리는게 나을 수도?

[2020-09-09 06:09] surplus-dev commented on #1021
반대로 말하면 beta가 가장 무난함

그거 없애면 업데이트 하위 호환성 터짐

[2020-09-09 11:05] #1021 closed, assigned to surplus-dev

[2020-09-10 11:36] surplus-dev commented on #941
타입별 분리 저장 처리 완료

[2020-09-11 12:04] koreaLtd opened #1022 "admin 권한 부여 불가능"
## Environment (환경)
* OS : Windows 10
* Python version : 3.8.5
* openNAMU version : v3.2.0-stable-12
* Skin : 기본값(marisa)
* Skin version :

## Explanation (설명)
권한 부여를 할때 X와 owner만 뜨고 admin은 뜨지 않습니다.

[2020-09-11 19:07] surplus-dev commented on #1022
관리 그룹에서 admin을 생성하셨나요?

[2020-09-12 05:47] koreaLtd commented on #1022
admin을 따로 생성해야되는지 모르고 있었네요.
죄송합니다.

[2020-09-12 09:45] surplus-dev commented on #1022
메뉴얼이 부실한 탓이죠 뭐...

[2020-09-12 09:45] #1022 closed, assigned to surplus-dev

[2020-09-15 17:54] koreaLtd commented on #782
네임스페이스랑 ACL 기능 추가한 stable release 언제쯤 나올까요? 기대하고 있습니다 ㅎㅎ
특히 네임스페이스의 경우 위키엔진 내에 반드시 필요한 기능인것 같습니다. 그중에서도 특별히 "파일:" 네임스페이스를 특수하게 취급할 필요가 있어 보입니다.
예를 들어, 나무위키에서는 "파일:" 네임스페이스 문서를 업로드 페이지를 통해서만 만들 수 있도록 합니다. 여타 평번한 위키 문서처럼 만들수 있도록 하면 "파일:" 문서에서 제일 중요한 파일을 넣지 않을 수도 있기 때문이죠.

[2020-09-15 18:16] surplus-dev commented on #1011
dev-2020-09-16-01

[2020-09-15 18:16] #1011 closed, assigned to surplus-dev

[2020-09-15 18:18] surplus-dev commented on #782
@koreaLtd 글쎄요... 저는 모니위키 영향을 많이 받아서 중요한 진 잘 모르겠던데...

[2020-09-15 18:52] koreaLtd commented on #782
@2du
모니위키에서도 "attachment:" 네임스페이스 문서의 경우 업로드 페이지를 통해서만 만들 수 있습니다.

[2020-09-15 18:56] surplus-dev commented on #782
@koreaLtd 엥 file: 붙은 문서 생성 아무나 할 수 있었나요 그럼 버그 입니다

저는 네임스페이스 추가 같은 세밀한 기능 말한건디...

[2020-09-15 18:59] koreaLtd commented on #782
@2du 네 file: 붙은 문서 아무나 할 있습니다. 버그인듯 하네요.
다시 생각해보니 file: 문서 생성 제약 빼고는 네임스페이스 딱히 필요없어보이긴 하네요,,

[2020-09-15 19:00] koreaLtd commented on #782
네임스페이스 추가 같은 세밀한 기능도 꼭 필요한건 아닌것 같고,,

[2020-09-15 19:01] surplus-dev commented on #782
@koreaLtd 조만간 고치죠

[2020-09-15 19:07] koreaLtd commented on #782
@2du 네 항상 수고하십니다.
근데 또다시 생각해보니 네임스페이스별로 default ACL이 다른 기능만큼은 꼭 필요한것 같습니다.
생각보다 말이 앞서서 계속 생각이 이리저리 바뀌는점 죄송합니다.

[2020-09-15 19:08] surplus-dev commented on #782
@koreaLtd 그건 곧 ~~이라고 해놓고 1년 동안 미룬~~ 정규식 차단으로 해결할 예정 입니다

[2020-09-15 19:20] koreaLtd commented on #782
@2du 정규식 차단? 아마 #776 에서 언급한 정규식 문서 ACL을 말하는 건가요?
그나저나 #776 에서 @RedGreen02 님과 합의된 기능들 있으면 정말로 좋을것 같네요.
2du님이 언급한 정규식 문서 ACL로 저 기능들 다 커버할 수 있기를..

[2020-09-15 19:24] surplus-dev commented on #782
@koreaLtd 언제 구현될지는 모르겠다만요 ~~한 2년...~~

[2020-09-15 19:30] koreaLtd commented on #782
@2du 와우,,

[2020-09-17 18:24] surplus-dev opened #1023 "진행중인 것"
- [x] 목차 설정
 - [x] 본문 폰트 사이즈 조정
 - [x] from 헤더
 - [x] 이미지 설정 추가

[2020-09-19 20:07] surplus-dev commented on #1023
현재 2번 완성 1번 4번 테스트 중

[2020-09-25 14:05] surplus-dev opened #1027 "곧 할 거"
- [x] 리비전 관련 버그 수정
 - [x] 로그인 가능 차단은 회원가입 가능하게
 - [x] https://github.com/2du/openNAMU/issues/1023

[2020-09-25 14:06] #1023 closed, assigned to surplus-dev

[2020-09-28 05:14] susemeee opened #1030 "시간대 관련 처리"
## Environment (환경)
* OS : Ubuntu 18.04 (Dockerized)
* Python version : 3.8.5
* openNAMU version : v3.2.0-master-12
* Skin : Marisa v1.2.6
* Skin version :

## Explanation (설명)
오픈나무의 시간 관련 데이터가 모두 UTC 기준으로 표시되는데, 혹시 이를 변경할 수 있는 글로벌 세팅값이 있나요?

## Screenshot (스크린샷)

[2020-09-28 13:52] surplus-dev commented on #1030
아마 서버 시간 따라갈겁니다

[2020-09-28 18:15] surplus-dev opened #1031 "[수렴] 계정 탈퇴 기능에 대한 의견 수렴"
함 만들어볼까 하는 데 의견 수렴 합니다

[2020-09-29 05:38] susemeee commented on #1030
![Screen Shot 2020-09-29 at 2 37 44 PM](https://user-images.githubusercontent.com/4835442/94516708-5d941080-0261-11eb-8589-7906fffcf8f0.png)

도커 설정쪽 문제네요.

[2020-09-29 05:38] #1030 closed, assigned to surplus-dev

[2020-09-29 09:14] koreaLtd commented on #1031
보통 위키는 CC의 저작권자 표시 규약(BY) 때문에 탈퇴할 수 없도록 설정이 되있어서, 계정 탈퇴를 만들 필요는 없다고 생각합니다.

[2020-09-29 14:47] ghost commented on #1031
탈퇴시 이메일, 접속기록 같은 개인정보만 삭제하고 나머지는 남기면될거 같습니다.
그리고 접속기록 같은건 주기적으로 삭제할 수 있도록 하면 좋을거 같습니다.

[2020-10-02 06:12] ekd2692 commented on #1031
CCL을 사용하지 않는 특수한 위키도 있는데 만드는 것도 나쁘지 않아 보입니다.

[2020-10-02 14:26] surplus-dev commented on #1031
수렴 완료

[2020-10-02 14:26] #1031 closed, assigned to surplus-dev

[2020-10-02 14:26] #1027 closed, assigned to surplus-dev

[2020-10-03 02:36] norhu1130 opened #1032 "업데이트"
업데이트를 가져올 Github 주소를 따로 설정할수 있게 해주셨으면합니다.
매번 Github에 업로드하고 git pull 하는과정에서 원격연결 등등 많은 단계를 거쳐야 합니다.

[2020-10-03 10:37] norhu1130 opened #1033 "API 버그"
최근 변경 api에서 같은항목이 두번뜨는 문제가 있습니다.
Fix 부탁드립니다.

[2020-10-03 15:31] surplus-dev commented on #1033
수정 완료 beta-39

[2020-10-03 15:31] #1033 closed, assigned to surplus-dev

[2020-10-03 15:37] 2du commented on #1032
무슨 말인지 이해가 안됩니다 어차피 업데이트 원리는 똑같이 git pull 입니다

[2020-10-03 15:38] surplus-dev commented on #1032
ssh를 써보시길 바랍니다

파편화를 별로 원치 않기 때문에 그럴 계획은 없습니다

[2020-10-04 01:10] lemon-mint opened #1036 "monaco editor 도입"
위키문법 하이라이팅 + 정규식 검색
[Demo Page](https://microsoft.github.io/monaco-editor/)

WYSIWYG 보다는 현실성 있을 듯 합니다.

[2020-10-04 01:11] lemon-mint commented on #1036
+Diff 기능

[2020-10-04 09:46] #1032 closed, assigned to surplus-dev

[2020-10-04 12:28] surplus-dev commented on #1036
현재 나무위키에 monaco 에디터가 적용되어 있는데

저는 개인적으로는 에디터가 무겁고 완전히 문법 몰라도 쉽게 쓸 수 있는 것도 아니라서 고민 중에 있습니다

[2020-10-08 13:25] koreaLtd opened #1037 "문서 제목 대소문자 구분"
Explanation (설명)

현재 오픈나무에는 문서 제목의 대소문자를 따로 구분하지 않는것 같습니다.  예를 들어 A라는 문서가 있다고 합시다. 이 문서를 a라는 문서로 이동을 하려고 하면 같은 제목의 문서가 이미 있다고 뜹니다. 또한 검색을 할때 a라고 치면 a라는 문서가 검색 결과에 뜨고 a라는 문서에 들어가져 버립니다. 실제 문서 제목은 A임에도 불구하고요.

한국어 일본어 중국어를 제외한 많은 나라의 글자에는 대부분 대소문자 구분이 있으므로 대소문자 구분 기능이 필요하다고 생각합니다.

[2020-10-08 16:35] surplus-dev commented on #1037
그거는 디비 설정에서 바꾸셔야 합니다

[2020-10-08 17:09] koreaLtd commented on #1037
어디에서 바꾸는지 간단하게 말해줄수 있나요?

[2020-10-08 17:14] surplus-dev commented on #1037
[이 글](https://yoursyun.tistory.com/entry/mariadb-104-%EB%8C%80%EC%86%8C%EB%AC%B8%EC%9E%90-%EA%B5%AC%EB%B6%84-%EC%84%A4%EC%A0%95)을 참조 바랍니다

[2020-10-08 17:49] koreaLtd commented on #1037
전 mysql-8.0.20을 사용했는데, 이건 default로 lower_case_table_names가 0으로 되있습니다. 혹시나 싶어 mysql을 lower_case_table_names=0이 되도록 configure 파일을 편집했는데 역시나 안바뀌네요... 오픈나무 쪽의 문제가 아닐지 한번 찾아보겠습니다.

[2020-10-08 19:17] koreaLtd commented on #1037
글에 나온 lower_case_table_names의 문제는 아닌듯하고, utf8mb4의 collation 문제였습니다.

[2020-10-09 13:04] surplus-dev commented on #1037
아무튼 해결된 걸로...

[2020-10-09 13:04] #1037 closed, assigned to surplus-dev

[2020-10-11 05:31] surplus-dev opened #1038 "[알림] 파이썬 3.5에 대한 지원이 중지되었습니다"
파이썬 재단에서 [규정한 수명이 만료](https://www.python.org/downloads/)되어서 지원 중지 되었습니다

파이썬 3.5를 사용하시는 사람은 3.6이나 그 이상 버전으로 올리시길 바랍니다

오픈나무의 경우에는 당장은 3.5에서 잘 돌아갈지도 몰라도 3.5에서만 일어나는 오류에 대해서는 해결하지 않을 예정 입니다

[2020-10-13 11:11] surplus-dev opened #1040 "문법 관련 버그"
[pagecount(변수)]가 아예 작동하지 않아서 각주 방해하는 문제 해결 예정

[2020-10-15 12:45] #1040 closed, assigned to surplus-dev

[2020-10-16 01:26] krrrr0 opened #1042 "오픈나무마크 파서 버그"
## Environment (환경)
* OS : Microsoft Windows 10.0 19042.572
* Python version : Python 3.8.5
* openNAMU version : v3.2.0-stable-12 (beta-31) (dev-2020-09-04-01)
* Skin : (자체 스킨, ONTS에서도 버그 발생 확인)
* Skin version : (자체 스킨, ONTS에서도 버그 발생 확인)

## Explanation (설명)

**다음과 같은 문법에서 오류가 발생합니다: (서로 다른 버그입니다)**
- `[pagecount]개[* 일반 문서만 놓고 보았을 때는 [pagecount(문서)]개이다.] `
  - 정상적인 출력:
![image](https://user-images

[2020-10-16 02:27] surplus-dev commented on #1042
위에 문제는 어제 패치로 beta 빌드에서는 해결되었습니다

아래 문제는 엄밀히 말하면 렌더러의 문제가 아니라 CSS의 차이(pre-warp와 normal) 입니다

저는 공백이 있으면 그대로 보여주는 것이 맞다고 봐서 그냥 냅둘 생각 입니다

[2020-10-17 03:16] krrrr0 commented on #1042
감사합니다! 항상 노력하시는 것에 대해 감사한 마음이 드네요.

[2020-10-17 03:17] krrrr0 commented on #1042
아, 그리고 Footnote의 `()`를 `[]`로 스킨에서 바꿀 방법이 있나요?

[2020-10-17 03:23] krrrr0 commented on #1036
+1

[2020-10-17 05:14] surplus-dev commented on #1042
스킨 차원의 방법은 없고 아마 그렇게 하시려면 JS를 쓰셔야할겁니다

[2020-10-17 08:47] surplus-dev commented on #1036
조만간 도입 예정

아마도 아마도 메인 스킨 설정에서 온/오프 가능하게 할 예정 (기본값은 오프)

[2020-10-18 01:19] #1042 closed, assigned to surplus-dev

[2020-10-18 08:51] cuprevenge opened #1043 "짧은 문서와 긴 문서"
- [x] 긴 문서
- [x] 짧은 문서

위키의 전체 문서에서 내용이 짧거나 긴 순서대로 목록을 볼 수 있는 기능이 있었으면 합니다.

[2020-10-24 10:48] #1038 closed, assigned to surplus-dev

[2020-10-26 18:51] surplus-dev commented on #1036
dev-2020-10-27-01 도입

위키 문법 하이라이팅은 차차 진행 예정

[2020-10-27 10:42] surplus-dev opened #1044 "다크모드 표준"
지정해서 다크모드 문법 등등의 기능 활성화 예정

[2020-10-27 13:15] #980 closed

[2020-10-31 14:58] surplus-dev commented on #1036
다크모드 연계 예정

[2020-11-01 09:44] surplus-dev opened #1045 "가입자 정보 관련 기능"
- [x] 가입자 정보를 수집하지 않는 옵션
 - [x] 수집한 가입자 정보 삭제 기능

[2020-11-02 12:58] Lwnlcks opened #1046 "PythonAnywhere 관련."
## Environment (환경)
* OS :리눅스
* Python version :3.7
* openNAMU version : 3.2.0-master-24
* Skin : 기본스킨(설정하지 않은 상태)
* Skin version :  ?

## Explanation (설명)

파이선 애니웨어로 호스팅시 Something went wrong(Error code: 502-backend)가 뜹니다.

기본 설정은 가이드대로 한 상태입니다.

## Screenshot (스크린샷)

https://ibb.co/Bg4vHKk

https://ibb.co/mDBHd7K

https://ibb.co/7trCC1C

[2020-11-03 08:55] surplus-dev commented on #1046
wsgi.py(2번째 사진 파일)에서 project_home 마지막 부분에 `/`를 빼보시길 바랍니다

확실하진 않으니 시도해보시고 다시 글 남겨주세요

[2020-11-03 09:06] Lwnlcks commented on #1046
시도해본 결과 뺀것과 빼지않은것의 차이점은 없었습니다.

[2020-11-03 09:19] surplus-dev commented on #1046
음... master 빌드 말고 stable 빌드를 써보세요

[2020-11-03 09:40] Lwnlcks commented on #1046
stable 빌드를 썼음에도 불구하고 같은 오류가 떳습니다.

[2020-11-03 11:21] Lwnlcks commented on #1046
master, stable 빌드를 써도 안되는 문제라면 해결 방법이 없는건가요?

[2020-11-03 16:54] surplus-dev commented on #1046
![image](https://user-images.githubusercontent.com/13796545/98015932-b185ac80-1e40-11eb-940c-1681c9d0b8bb.png)

음... 서버 로그에가서 서버 로그 마지막 부분을 좀 보여주실 수 있나요?

리로드는 하셨죠?

[2020-11-04 09:42] Lwnlcks commented on #1046
로그가 2일 이후로는 표시되지 않고있습니다.
![e2esda](https://user-images.githubusercontent.com/72176091/98095020-62398d80-1ecd-11eb-8cdb-240f472b3fa9.PNG)

위의 사진에서 2일 이후 표시되지 않아서 다른 계정으로 시도해본결과 로그가 비어있었습니다.
![deda](https://user-images.githubusercontent.com/72176091/98095119-7f6e5c00-1ecd-11eb-8927-93614ba0fe6c.PNG)

[2020-11-04 09:43] Lwnlcks commented on #1046
리로드는 했습니다

[2020-11-04 11:26] surplus-dev commented on #1046
502가 뜨는 시점의 로그를 봐야 원인을 알 수 있을 것 같습니다 그 방법 아니고서는 이유를 딱히 모르겠네요...

[2020-11-04 11:29] surplus-dev commented on #1046
사실 정말 개인적인 생각엔 혹시 설마 문제가 사용자 이름의 대문자 때문일까... 라는 생각이 조금 듭니다만 확실하진 않습니다

[2020-11-04 13:00] Lwnlcks commented on #1046
![derqfd](https://user-images.githubusercontent.com/72176091/98114771-1ac0fa80-1ee9-11eb-8a4b-8095c5376e12.PNG)
혹시몰라서 가장 최근에 표시된 오류 로그 보내봅니다...

[2020-11-04 13:01] Lwnlcks commented on #1046
맨위에 app.py부분은 오타로 생긴 오류입니다

[2020-11-04 17:25] surplus-dev commented on #1046
아 맞다 정말 중요한 내용을 하나 빼먹었네요

콘솔로 들어가서 오픈나무를 한번 실행시켜줘야 작동합니다

아 이런 이 내용을 빼먹었네요 어쩐지 뭐가 이상하더라

[2020-11-04 17:28] surplus-dev commented on #1046
메뉴얼 수정 했습니다

[2020-11-07 06:23] Lwnlcks commented on #1046
![dadadsa](https://user-images.githubusercontent.com/72176091/98433726-fa718580-210c-11eb-9cb0-11c77ec68d4e.PNG)
제가 어디 잘못설정한 부분이 있나요?..
실행하고 리로드했는데도 오류가 뜨네요...

[2020-11-07 09:38] surplus-dev commented on #1046
콘솔에서 실행하고 정상 작동하면 오픈나무를 끄고 리로드 해야 합니다

[2020-11-07 10:21] Lwnlcks commented on #1046
![dfefsfds](https://user-images.githubusercontent.com/72176091/98438571-6d3f2880-212e-11eb-9d43-2a3b5a051087.PNG)
원래 오픈나무끌때 이런식으로 뜨나요?

[2020-11-07 14:36] surplus-dev commented on #1046
네

[2020-11-07 15:38] Lwnlcks commented on #1046
드디어 해결되었습니다...
파이썬 3.8로 설정하고 여니까 바로 되네요
이거 버전 하나로 몇일을 보낸건지..

[2020-11-08 09:23] surplus-dev commented on #1046
음... 일단 해결되었다니 다행이네요 ~~사실 전부 메뉴얼 부실 때문 입니다~~

[2020-11-08 09:23] #1046 closed, assigned to surplus-dev

[2020-11-13 09:41] surplus-dev opened #1047 "[수렴] 기여 수 별 권한 도입"
특정 기여 이상을 위키에 기여하면 특정 ACL을 부여하는 시스템 도입을 고려하고 있는데

의견 수렴 해봅니다

[2020-11-13 12:57] ghost commented on #1047
오! 좋은것 같습니다.
이렇게 되면 뭔가 칭호처럼 이용자 기여 늘리는데에 긍정적인 효과가 있을거 같습니다.

[2020-11-13 13:17] ghost commented on #1037
저도 그런 이슈가 발생해서 여러 방향으로 테스트 해봤는데 글에 나온 `lower_case_table_names`의 문제는 아니고 `utf8mb4`의 `collation` 문제였습니다.
저의 경우에는 기존엔 `utf8mb4_general_ci`을 사용 했었는데 `utf8mb4_bin`로 바꾸고 해결됬습니다. 이것도 확실한 정보는 아니긴한데 혹시 도움이 될까해서 남김니다.

[2020-11-16 13:14] gdl-blue commented on #1036
Firefox 82.0 환경 기준 모나코 편집기에 의해 상단 메뉴가 가려지는 버그가 있읍니다. 또한, 편집기를 누르고 입력하는 도중에도 뒤에 커서(수직줄)이 나타나지 않는 것 같습니다.

<Marisa 스킨 기준입니다>

[2020-11-17 16:43] surplus-dev commented on #1044
지정 완료

[2020-11-17 16:43] #1044 closed, assigned to surplus-dev

[2020-11-27 19:50] surplus-dev commented on #1047
의견 수렴 완료

[2020-11-27 19:50] #1047 closed, assigned to surplus-dev

[2020-11-27 19:56] surplus-dev opened #1049 "렌더러 버그"
folding이랑 리스트랑 같이 쓰면 깨짐

[2020-11-28 18:46] surplus-dev commented on #1036
점검 예정

[2020-12-12 06:16] Lwnlcks opened #1050 "문서를 보다보면 오류가 뜨고 편집하면 오류가 떠요"
## Environment (환경)
* OS :리눅스
* Python version :3.8
* openNAMU version : v3.2.0-stable-13
* Skin : 기본스킨(설정하지 않은 상태)
* Skin version : ?

## Explanation (설명)
도메인 변경후에 갑자기 이러네요...

## Screenshot (스크린샷)
![캡1처](https://user-images.githubusercontent.com/72176091/101976856-c8fc5480-3c8c-11eb-9db5-459f422ece92.PNG)
![캡2처](https://user-images.githubusercontent.com/72176091/101976857-cac61800-3c8c-11eb-81f7

[2020-12-12 15:18] Lwnlcks commented on #1050
데이터베이스가 잠겼다는데... 어떻게 풀죠?..
그리고 뜨는 오류중에 '데이터베이스 디스크 이미지 형식이 잘못되었습니다.' 가 있던데
이건 어떻게 해결하죠?...

[2020-12-12 16:52] Crerty opened #1051 "Chrome 87 Attempting to submit insecure information"
## Environment (환경)
* OS : Windows 10 Pro
* Python version : 3.7.1
* openNAMU version : 최신 버전
* Skin : 기본
* Skin version : 최신 버전

## Explanation (설명)
Chrome 87 업데이트 이후 보안 정책이 변경되었는지, 로그인 등의 개인정보 입력 시 HTTPS 사용 중인 사이트에서 HTTP로 요청을 보내면 보안 경고가 발생합니다. redirect('/w/test') 등의 상대 주소를 사용하면 경고가 뜨나, redirect('https://도메인/w/test') 처럼 HTTPS를 사용하면 발생하지 않습니다. 저희 위키에서 사용 중인 구버전과, 최신 버전 모두 동일한 증상입니다.

## Screenshot

[2020-12-14 02:17] ghost commented on #1051
이건 오픈나무 문제가 아닌것 같습니다.
크롬에서 보안서버(SSL)가 아니면 데이터 제출시 해당 경고 출력하는거 같습니다.

[2020-12-14 08:26] Crerty commented on #1051
해당 경고는 Chrome 87 이후 HTTPS를 사용 중인 웹사이트에서 POST 등의 요청을 일반 HTTP로 보낼 때 발생하는 경고입니다. 오픈나무에서 사용하고 있는 redirect 함수에 상대 주소를 사용할 시 HTTP로 전송하여 경고가 발생하는 것으로 추정됩니다. 엔진 차원에서 수정이 필요할 것 같습니다.

[2020-12-17 11:55] #1050 closed, assigned to surplus-dev

[2020-12-19 10:31] asheswook opened #1052 "."
.

[2020-12-19 11:12] sthyuji commented on #1052
첫번째 사진은 상하좌우 여백이 아예 없습니다.

[2021-01-10 10:17] Crerty commented on #1051
~~추가로 회원 가입 창에서 계정을 생성하면 비밀번호가 유출되었으니 즉시 변경하라는 경고도 뜨는 것으로 확인됩니다.~~

아래 코멘트 확인했습니다. 해당 발언은 철회합니다.

[2021-01-15 01:55] aaei924 opened #1053 "설치 오류"
## Environment (환경)
* OS : Ubuntu 20.04
* Python version : 3.8.5
* openNAMU version : v3.2.0-stable-12 (beta-31) (dev-2020-09-04-01)
* Skin :
* Skin version :

## Explanation (설명)
테스트 위키에 있는 가이드에 따라 설치를 진행하였습니다.
본 오류는 다 끝나고 "python3 app.py"를 실행하는 절차에서 발생했습니다.
DB 유형 선택, 데이터베이스 및 사용자 지정 등의 과정은 정상 작동했습니다.
포트까지 입력한 다음 바로 이 에러가 발생했습니다.

3.19

## Screenshot (스크린샷)
![image](https://user-images.githubuser

[2021-01-27 06:00] Hoto-Cocoa commented on #1051
해당 메시지는 사용한 비밀번호가 유출 된 비밀번호 DB에 있을 경우 노출되며, 이는 openNAMU 프로젝트의 문제가 아닌 사용자님의 비밀번호가 유출되어 발생하는 경고입니다.

[2021-01-27 06:06] Hoto-Cocoa commented on #1053
[본 패치](https://github.com/Hoto-Cocoa/openNAMU/commit/670aa21198b740ef8b51d50cc24eb3e8b8b09dfe.patch)를 적용하고 테스트 해주실 수 있을까요?

[2021-01-27 11:16] gacugacugacu commented on #1053
이슈 올리신 분과 동일 증상 발생합니다. 패치 적용해도 안됩니다. 아래는 패치 적용 사진입니다.

![20210127201346](https://user-images.githubusercontent.com/78082419/105983509-34cf3b00-60dc-11eb-94d6-cd0df8b5fe47.png)

OS : CentOS 7
Python version : 3.6.8
openNAMU version : v3.2.0-stable-13 (beta-40) (dev-2020-10-15-01) (stable 버전도 진행해봤습니다.)
Skin :
Skin version :

참고로 DB 버전은 MariaDB 10.5.8입니다.

[2021-01-28 01:58] Hoto-Cocoa commented on #1053
[추가 패치](https://github.com/Hoto-Cocoa/openNAMU/commit/4bf72557fec2a1aa1673b4f0a8667e68dbc46eeb.patch) 올렸습니다. 확인 바랍니다.

[2021-01-29 02:15] aaei924 commented on #1053
정상 작동 확인했습니다. 감사합니다.

[2021-01-29 08:59] #1052 closed, assigned to surplus-dev

[2021-01-30 12:56] gacugacugacu opened #1055 "프록시 도메인 설정 이후 일부 기능 먹통 현상 발생"
## Environment (환경)
OS : CentOS 7
Python version : 3.6.8
openNAMU version : v3.2.0-stable-12 (beta-31) (dev-2020-09-04-01)
Skin :
Skin version :

## Explanation (설명)

DB는 MariaDB로 Apache2의 프록시 설정을 적용했습니다.

접속 정보 확인, 상단 메뉴 클릭 등 일부 기능이 정상적으로 작동하지 않습니다.

## Screenshot (스크린샷)

![20210130214853](https://user-images.githubusercontent.com/78082419/106356897-2a17de80-6346-11eb-9dcf-b18ba73f22fe.png)
![202

[2021-02-01 01:25] Hoto-Cocoa commented on #1053
아직 upstream에 반영되지 않았기 때문에 열어둬주시면 감사하겠습니다.

[2021-02-02 03:33] Hoto-Cocoa commented on #1055
개발자 도구를 열어 오류 메시지가 나오는지 보여주시기 바랍니다.

[2021-02-03 10:42] asheswook opened #1056 "나무마크 그레이디언트 출력 오류"
## Environment (환경)
* OS : Raspberry pi OS, Windows 10
* Python version : 3.7.3
* openNAMU version : v3.2.0-stable-13 (beta-40) (dev-2020-10-15-01)
* Skin : marisa 외 2
* Skin version : 2020-02-03 기준 up-to-date

## Explanation (설명)
![734E4016-5EC9-48E4-9450-D3A226A0E4E4](https://user-images.githubusercontent.com/25760310/106735347-73727180-6657-11eb-94e2-7253e028e286.jpeg)

사진과 같이 style에 그레이디언트 속성을

[2021-02-03 10:55] asheswook opened #1057 "recaptcha v2 모바일 기기 비정상적인 에어리어"
## Environment (환경)
* OS : Raspberry pi OS, Windows 10
* Python version : 3.7.3
* openNAMU version : v3.2.0-stable-13 (beta-40) (dev-2020-10-15-01)
* Skin : Liberty, simpledirty
* Skin version : 2020-02-03 기준 up-to-date

## Explanation (설명)
모바일 기기 해상도에서 리캡차 '로봇이 아닙니다' 인증 후, 로그인 버튼을 누르려고 할 경우 버튼이 눌리지 않습니다.
로봇이 아닙니다를 인증하지 않은 상태로 로그인 버튼만 클릭했을때는, 리캡차의 '로봇이 아닙니다' 버튼이 클릭됩니다.

아이디, 비밀번호를 입력한 뒤 로봇 인증까지 완료

[2021-02-03 10:57] cuprevenge opened #1058 "차단 오류"
* openNAMU version : v3.2.0-stable-13 (beta-40) (dev-2020-10-15-01)

존재하지 않는 계정을 차단할 수 있으나, 해당 계정을 차단 해제하려고 하면 계정이 존재하지 않는다고 뜨며 차단을 해제할 수 없습니다.

[2021-02-04 12:16] gacugacugacu commented on #1055
![20210204211436](https://user-images.githubusercontent.com/78082419/106891520-24e3d680-672e-11eb-9f20-e479479a0675.png)

발생합니다.

IP:3000으로 직접 들어갈 때는 해당 에러 메시지가 뜨지 않습니다.

[2021-02-04 12:18] gacugacugacu commented on #1055
![20210204211436](https://user-images.githubusercontent.com/78082419/106891757-80ae5f80-672e-11eb-8975-ba3b00abbf47.png)

에러 발생 목록입니다.

IP:3000으로 직접 접속시에는 발생하지 않습니다.

[2021-02-05 01:03] Hoto-Cocoa commented on #1055
[본 패치](https://github.com/2du/openNAMU/commit/f00220ce76ece518ad41c77a1c912a1210408462.patch)를 적용하고 테스트 해주실 수 있을까요?

[2021-02-05 07:30] Hoto-Cocoa commented on #792
깃허브처럼 사이에 있는걸 접어버리는건?

[2021-02-05 08:15] surplus-dev commented on #1058
/ban/name 형식에서는 사용자 차단 확인을 하는 데 그냥 /ban 에서는 확인을 안해서 생기는 문제입니다

[2021-02-05 09:27] surplus-dev commented on #1058
일단 beta-47 버전에서 수정했습니다. 조만간 dev에서 beta로 올릴 예정 입니다

[2021-02-05 09:28] #1058 closed, assigned to surplus-dev

[2021-02-05 09:28] surplus-dev commented on #792
@Hoto-Cocoa 나쁘지 않은 듯

[2021-02-05 09:43] #1053 closed, assigned to surplus-dev

[2021-02-05 09:43] surplus-dev commented on #1053
PR 반영 완료

[2021-02-05 09:51] surplus-dev commented on #1051
beta-48 에서 일단 방식 수정했습니다. dev 빌드 써보시고 여전히 문제 발생하면 다시 알려주세요

[2021-02-05 09:51] #1051 closed, assigned to surplus-dev

[2021-02-05 09:56] surplus-dev commented on #1057
어떤 브라우저에서 그런 경우가 발생합니까?

[2021-02-05 10:00] surplus-dev commented on #1056
![image](https://user-images.githubusercontent.com/13796545/107018852-4d2e0c80-67e4-11eb-96be-3b67a3c40577.png)
[code]
문법으로 나무위키에서 테스트 해 본 결과 원래 사이드가 비는 것이 정상입니다.

[2021-02-05 10:02] surplus-dev commented on #1055
마인타입 잘못 지정되서 나오는 문제인 것 같습니다. 일단 수정되었으니 dev 버전에서도 해당 문제가 나타나는지 확인해주시길 바랍니다.

[2021-02-05 10:12] surplus-dev opened #1060 "그냥 JS 렌더러 다시 도입하자"
그게 훨씬 범용적이고 유지 보수도 쉬울 듯

## 구현해야할 사항
### 기본
 - [x] 기본 텍스트 꾸미기 문법
 - [x] 리스트 문법
 - [x] 문단 문법
 - [x] 매크로 문법
 - [x] 각주
 - [x] 기본 링크 문법

### 심화
 - [x] 중괄호 문법
 - [x] Nowiki 문법
 - [x] 분류
 - [x] 이미지
 - [x] 리다이렉트
 - [x] 파일 문법

### 추가
 - [ ] 오픈나무 밖에서도 사용 가능하게
 - [ ] 마크다운 만들기

## 우려 사항
- [x] 모바일에서 유지 보수
- [x] 역링크, 분류

[2021-02-05 10:33] asheswook commented on #1056
||<-5><tablealign=center><tablewidth=100%> {{{#!wiki style="margin: -5px -10px; padding: 10px 0px; background-image: linear-gradient(to right, #FF0011, #FCC89A);"
Sss}}} ||
해당 RAW로 다시 테스트해주시면 감사하겠습니다. 잘못 가져온 모양입니다.

## 오픈나무
![A3E1066E-837E-43E5-AC95-8EBE56C36852](https://user-images.githubusercontent.com/25760310/107022535-e19a6e00-67e8-11eb-942f-db2da6bd9405.jpeg)

## 나무위키
![94296D74-F873-422F-95

[2021-02-05 10:45] asheswook commented on #1057
아이폰 사파리입니다. 저만 이런 현상이 발생하는 건 아닌가 싶어 다른 분들께 테스트를 부탁드렸고 아래 테스터분들이 말씀주신 내용을 인용합니다. 편집 창에 있는 리캡차로 테스트를 진행하였습니다.
예측컨대 아이폰8과 같은 해상도 (6, 6s, SE2, 7, 8)에서만 해당 증상이 발생하는 것으로 보입니다.

- 아이폰6 iOS 12.4.9 저작권 체크박스 누를려고하면 로봇 아님에 체크되고 저장이 안되네요
- se2 ios14.3 사용중입니다. 브라우저는 사파리입니다. 체크박스를 누르면 '로봇이 아닙니다' 박스가 클릭이 됩니다. 체크박스 체크 안됩니다 저장버튼도 안눌립니다 / 도움이 되는 내용인지는 모르겠으나 '로봇이 아닙니다' 박스를 체크하지 않은 상태에서는 체크박스, 체크박스설명글, 저장버튼, 미리보기버튼중

[2021-02-05 10:47] asheswook commented on #1056
처음에 드렸던 RAW는 위 사진처럼 그레이디언트가 비정상적인 위치에 있어서, 임의로 padding과 margin을 조정한 RAW입니다.

[2021-02-05 11:38] surplus-dev commented on #1056
일단 당장은 정확히 이유는 모르겠으니
[code]
으로 써주시길 바랍니다

[2021-02-05 11:54] surplus-dev commented on #1057
이게 사파리 문제인지 아님 해상도 문제인지 아리송합니다 나중에 테스트 해보겠습니다

[2021-02-06 07:41] gacugacugacu commented on #1055
dev 버전에서 접속 정보가 뜨지 않던 현상은 개선되었습니다. 감사합니다.

다만, 상단 메뉴의 목록 리스트와 도구 리스트를 클릭할 때 팝업이 뜨지 않는 것은 동일하게 발생합니다.

[2021-02-06 23:20] surplus-dev commented on #1055
에러 메세지 창 다시 보여줄 수 있나요?

[2021-02-07 02:15] gacugacugacu commented on #1055
에러 확인을 위해서 app.py 재기동을 했는데 정상 작동합니다. 일단 위에 말씀드린 현상은 다시 발생하지 않고 있습니다. 허허....

번거롭게 해서 죄송하고 조치해주셔서 감사합니다!

[2021-02-07 06:56] surplus-dev commented on #1055
괜찮습니다 그럼 이만 총총...

[2021-02-07 06:56] #1055 closed, assigned to surplus-dev

[2021-02-08 05:49] Hoto-Cocoa opened #1061 "코드 정리"
- [x] Flask Route 멀쩡하게 분리
  - [x] 함수명 변경
  - [x] 라우팅 등록 개선
  - [ ] HTTP Method를 잘 씁시다
- [x] 파일/폴더 이름 좀 더 직관적으로 변경
- [x] 레포에 있을 필요 없는 파일/폴더 정리
- [ ] IDE에서 오류 안나게 만들기
- [ ] 타입 맞추기
- [ ] 필요 없는 데이터나 중복 코드 정리

안할거면 내가 한다는 마음으로 일단 적어두지만 언제 할지는 나도 모른다

[2021-02-08 12:19] surplus-dev commented on #1061
7번은 무슨 뜻임?

[2021-02-08 23:44] Lwnlcks opened #1062 "사이트맵 관련 문의"
## Environment (환경)
OS :리눅스
Python version :3.8
openNAMU version :  v3.2.0-stable-13 (beta-48) (dev-2021-02-05-02)
Skin : Material(일부수정)
Skin version : ?

## Explanation (설명)
sitemap이 구글 서치콘솔 또는 네이터 웹마스터도구에 제출시 오류 및 색인이 되지 않습니다.

또한 '사용자가 선택한 표준이 없는 중복 페이지'로 분류되어 색인에서 제외되는 페이지가 있습니다.

## Screenshot (스크린샷)
1.
![fsfd](https://user-images.githubusercontent.com/72176091/107295516-dbd7ad80-6ab2-11eb-87

[2021-02-09 01:10] ghost commented on #1062
음.. 네이버는 잘 모르겠고.. 구글의 경우 색인을 처리하기 전 가져올 수 없음으로 나오는 경우가 있는 경우도 있는 걸로 알고 있습니다. 내일 다시 확인해 보세요.
또는 구글의 경우 여러 이유로 사이트맵 접근이 차단된것 일수도 있습니다.
![Screenshot_2021-02-09 URL 검사](https://user-images.githubusercontent.com/74412971/107301306-98833c00-6abe-11eb-9dc1-38b99c5a0357.png)
여기에 사이트맵 링크를 넣어 검사하시고 우측 상단쪽 실제 URL검사를 하여 아래처럼 나오는지 확인해 보시기 바랍니다.
![Screenshot_2021-02-09 URL 검사(2)](https://user-images.githubuserc

[2021-02-09 01:21] Hoto-Cocoa commented on #1061
IDE에서 자동 완성 정도는 될 정도로 타입 맞추자는 뜻

[2021-02-09 01:24] Hoto-Cocoa commented on #1062
@0hys0님이 말씀하신대로, `sitemap_0.xml`이 아닌 `sitemap.xml`을 사용하는 것이 올바릅니다. @Lwnlcks님의 위키 사이트맵(`https://jichanwiki.site/sitemap.xml`)을 확인 한 결과, 사이트맵에 문제가 있다고 보여지지 않습니다. 추후 재확인 해주시길 바랍니다.

[2021-02-09 03:24] Lwnlcks commented on #1062
![vnhhbb](https://user-images.githubusercontent.com/72176091/107311243-50214980-6ad1-11eb-9c9b-7d17f6d1a834.PNG)
위에 사진에는 아래가 안찍혔네요.
보시다싶이 sitemap.xml도 제출되어있습니다.
![23sef](https://user-images.githubusercontent.com/72176091/107311434-aee6c300-6ad1-11eb-9ce2-1b50672831ec.PNG)
![jgtyfhf](https://user-images.githubusercontent.com/72176091/107311445-b312e080-6ad1-11eb-9d90-27abf5eb71ba.PNG)
이렇게 뜹니다.

[2021-02-09 03:49] Hoto-Cocoa commented on #1062
"색인 요청 생성"을 사용해보시기 바랍니다.

[2021-02-09 03:53] ghost commented on #1062
@Lwnlcks
정상입니다. 사이트맵을 색인 하지는 않습니다.
![Screenshot_2021-02-09 Sitemaps(1)](https://user-images.githubusercontent.com/74412971/107313744-7eedee80-6ad6-11eb-952a-6e4efa57edf9.png)
![Screenshot_2021-02-09 URL 검사(4)](https://user-images.githubusercontent.com/74412971/107313523-08e98780-6ad6-11eb-88c8-d18f5cc0f8ab.png)

[2021-02-10 11:00] asheswook commented on #1062
네이버의 경우 좀 까다로워서 네이버에서 요구하는 조건을 전부 맞춰주어야 합니다. 리포트 탭의 사이트 최적화에서 요구하는 조건을 되도록 전부 맞춰주시고, 위키 컨텐츠의 내용을 잘 관리해주시면 색인이 됩니다.
+ 추가적으로 구글 검색 창에 `site:jichanwiki.site`를 검색해서 확인해 본 결과 색인이 잘 되어있습니다. 해당 검색 기능은 색인이 되었는지 확인하는 기능입니다.

[2021-02-12 11:00] surplus-dev commented on #1060
- [x] https://github.com/2du/openNAMU/issues/1049

[2021-02-12 11:00] surplus-dev commented on #1060
- [x] https://github.com/2du/openNAMU/issues/1056

[2021-02-12 11:01] #1056 closed, assigned to surplus-dev

[2021-02-14 10:18] surplus-dev opened #1063 "일부 사용자 설정 비로그인도 쓸 수 있게"

[2021-02-14 11:04] surplus-dev commented on #1063
완료

[2021-02-14 11:04] #1063 closed, assigned to surplus-dev

[2021-02-15 02:50] Hoto-Cocoa opened #1065 "폴딩 버그?"
![image](https://user-images.githubusercontent.com/21969938/107900290-f19e1480-6f83-11eb-9fc9-ef5c6e5bb7af.png)

[테스트 위키](https://2du.pythonanywhere.com/w/%EB%B9%84%EB%A1%9C%EA%B7%B8%EC%9D%B8%20%EC%A0%84%EC%9A%A9%20%EB%AC%B8%EC%84%9C)에서 발생하는 중

![image](https://user-images.githubusercontent.com/21969938/107900324-08446b80-6f84-11eb-84ee-8f4bfe7d7176.png)

[2021-02-15 11:15] surplus-dev commented on #1065
https://github.com/2du/openNAMU/issues/1049

[2021-02-15 11:15] #1065 closed, assigned to surplus-dev

[2021-02-15 11:16] surplus-dev commented on #1062
별 다른 문제 없다면 이슈 닫겠읍니다

[2021-02-15 11:16] #1062 closed, assigned to surplus-dev

[2021-02-15 11:51] surplus-dev commented on #1057
크롬에서 해당 해상도 에뮬 했을 때는 이상이 없었습니다. 아무래도 재현이 어려울 것 같습니다

[2021-02-16 07:57] Hoto-Cocoa commented on #1065
@2du 저거 닫혀있는데 패치 된거?

[2021-02-16 09:15] surplus-dev commented on #1065
패치된 게 아니라 JS 렌더러 설계 도안으로 들어감

[2021-02-19 08:26] Hoto-Cocoa commented on #1061
@2du 일단 물어보는데 HTTP DELETE 안쓰고 path로 del_something 한 이유가 있음?

[2021-02-19 08:44] surplus-dev commented on #1061
그런 코드가 있었나

그 POST 보내는 함수 이름 말임?

[2021-02-19 08:48] Hoto-Cocoa commented on #1061
알람 지우는거 경로가 /del_alram이길래
굳이 DELETE /alram 안쓴 이유가 있나 싶어서

[2021-02-19 12:08] surplus-dev commented on #1061
딱히 큰 이유는 없는데 그냥 분리 해놓으려고 그랬음

[2021-02-21 07:40] surplus-dev commented on #1060
1번 문제는 termux로 node.js로도 오류 확인할 수 있는 기능 추가해서 해결

[2021-02-25 03:01] asheswook commented on #1057
저도 처음에 사파리 문제로 예상하긴 했습니다만 시간이 나면 제가 테스트해보겠습니다.

[2021-02-25 03:15] lemon-mint commented on #1057
![iphone12pro](https://user-images.githubusercontent.com/55233766/109097583-f7a1ab80-7762-11eb-97f5-c6da0ff50e54.png)

iPhone 12 Pro 사파리 기준 스크린샷 입니다.

[2021-02-25 12:01] surplus-dev commented on #1057
넵

[2021-03-01 00:59] #985 closed

[2021-03-01 00:59] surplus-dev opened #1069 "2FA 방식 추가 및 개선"
## 이전 이슈
 * https://github.com/2du/openNAMU/issues/976

## 추가 예정
 - [x] 2FA를 활성화 하지 않은 상태에서는 하위 메뉴가 뜨지 않도록
 - [ ] 2FA 관련 기능 추가
 - [ ] 쿠키를 이용한 브라우저 인증 기능

[2021-03-01 01:05] lemon-mint commented on #1069
2FA 방법을 선택할 수 있도록 수정하면 어떨까요?

[2021-03-01 06:29] surplus-dev commented on #916
취소

[2021-03-01 06:29] #916 closed

[2021-03-01 07:21] surplus-dev commented on #939
일단 급한 문제는 수정함

[2021-03-01 07:21] #939 closed

[2021-03-05 09:48] surplus-dev opened #1071 "RAW 비교 버그"
테스트 예정

[2021-03-05 23:33] #1071 closed, assigned to surplus-dev

[2021-03-06 11:29] #1045 closed, assigned to surplus-dev

[2021-03-06 11:29] surplus-dev commented on #1045
beta-55

[2021-03-12 15:39] surplus-dev opened #1073 "[수렴] 썸네일 기능에 관련해서 의견 수렴"
섬네일 기능을 만들껀데 두가지 방안을 생각하고 있습니다

1. 썸네일 파일만 유지
2. 원본 + 썸네일 파일 둘 다 유지

사실 오픈나무에 좀 페이지 압축이나 썸네일 관련해서 과감하게 도입해보고 싶기도 한데...

거꾸로 말해서 페이지 압축이나 썸네일 기능은 서버에 무리를 추가하는 셈이라 고민이 됩니다

다른 의견도 받습니다

[2021-03-12 15:39] surplus-dev commented on #1069
@lemon-mint 추가 예정에 있습니다만... 아직 다른 좋은 방법이 생각 안나서 보류 중 입니다

[2021-03-12 15:51] surplus-dev commented on #915
회원가입 시에 OAuth 지원하는 방향으로 전환 예정

[2021-03-12 15:56] surplus-dev commented on #976
새로운 이슈로 통합

[2021-03-12 15:56] #976 closed

[2021-03-14 07:12] Lwnlcks opened #1076 "오픈나무에 일반적인 방법으로 svg파일을 업로드시킬수 없나요?"
## Environment (환경)
* OS :리눅스
* Python version :3.8
* openNAMU version : v3.2.0-stable-13 (beta-56) (dev-2021-03-13-01)
* Skin : Material(일부수정)
* Skin version : ?

## Explanation (설명)
일반적으로 확장자 필터 추가하고 svg를 업로드하면 파일이 깨집니다.
## Screenshot (스크린샷)
![v](https://user-images.githubusercontent.com/72176091/111060416-0bc60680-84e0-11eb-98b6-de8a0611e420.PNG)

[2021-03-15 15:05] surplus-dev commented on #1076
svg 호환 추가 했습니다 beta-57

[2021-03-15 15:05] #1076 closed, assigned to surplus-dev

[2021-03-17 03:26] asheswook commented on #1057
테스트 결과 현재는 정상작동하고 있어 문제를 확인할 수 없었습니다. 당시 순정 최신으로 테스트를 했었는데 현재 최신으로 다시 테스트해보니 정상작동합니다. 저뿐만 아니라 다른 커뮤니티에서도 관련 문제가 언급된 적이 있었는데, 추가적으로 문제가 재발하면 말씀드리겠습니다.

[2021-03-17 03:26] #1057 closed, assigned to surplus-dev

[2021-03-18 12:24] surplus-dev commented on #1057
넵

[2021-03-18 16:26] surplus-dev commented on #837
대충 구현 완료

[2021-03-18 16:26] #837 closed

[2021-03-19 16:43] surplus-dev commented on #953
재검토 예정

[2021-03-19 16:43] #953 closed

[2021-03-19 16:43] surplus-dev commented on #930
JS 렌더러 도입 예정으로 재검토

[2021-03-19 16:43] #930 closed

[2021-03-20 18:00] surplus-dev commented on #1073
아무 의견이 없으니 적당히 하겠슴다

[2021-03-20 18:00] #1073 closed, assigned to surplus-dev

[2021-03-21 14:51] #610 closed

[2021-03-21 15:04] surplus-dev commented on #792
1단계 사업 : API는 오로지 데이터만 전송하고 JS단에서 토론 렌더링 하도록 변경 예정

[2021-03-22 04:17] surplus-dev opened #1078 "[수렴] IE 지원에 관련해서"
이제 그만할까 싶은 데 의견 받습니다

[2021-03-22 04:19] surplus-dev commented on #1078
추가로 IE로 접속시 엣지 브라우저로 보내버릴 계획입니다

[2021-03-24 10:36] surplus-dev commented on #1078
다른 의견 없으니 그냥 진행하겠슴다

[2021-03-24 10:36] #1078 closed, assigned to surplus-dev

[2021-03-24 10:37] surplus-dev opened #1079 "IE 지원 종료"
엣지로 보내버리기

[2021-03-24 13:36] surplus-dev commented on #1079
코드 넣음

[2021-03-24 13:36] #1079 closed, assigned to surplus-dev

[2021-03-25 03:36] surplus-dev opened #1080 "[수렴] 새로운 렌더러에 관한 의견 수럼"
최근 JS 렌더러를 개발하고 있슴다만 여러가지 이유 때문에 난항을 겪고 있슴다

가장 큰 문제는 역링크나 분류 처리에 대한 부분임다

뭐 어떻게해서 클라에서 서버로 데이터 전송은 AJAX 이용해서 그냥저냥 해보겠는데

만약 봇이 편집 했을 때는 아예 데이터 전송을 안해주기 때문에 이걸 어떻게 해야할 지 모르겠어서 연기 중임다

그래서 대충 좀 생각을 해봤심다

1. 역링크 데이터 전송 못 받은 문서를 따로 모아두자
2. 그냥 좀 부정확해도 서버단에서 대충 추려서 보여주자
3. ~~걍 역링크를 없애자~~
4. 걍 때려치고 모두 서버단에서 처리하게 하자

중에 고민인데 의견 받슴다

[2021-03-25 03:43] lemon-mint commented on #1080
클라이언트가 허위정보를 전달할수있는 취약점도 있고 봇 편집 문제도 있어서 역링크는 서버단에서 처리하는것이 바람직한걸로 보입니다.

[2021-03-27 03:26] Crerty commented on #1080
저 역시 역링크는 서버단에서 처리하는 것이 낫다고 생각합니다.

[2021-03-27 18:34] MineRoble opened #1083 "하이퍼링크 문제"
## Environment (환경)
* OS : Raspbian (Raspberry Pi 4b)
* Python version : Python 3.7.3
* openNAMU version :v3.2.0-stable-12 (beta-31) (dev-2020-09-04-01)
* Skin : Marisa
* Skin version : v1.2.8

## Explanation (설명)
예를 들어 `문서A` 를 편집중에 `문서A` 에서  `문서A` 를 하이퍼링크를 걸었을땐 하이퍼링크가 취소되고 볼드체 처리가 되었는데
`[include(틀:이름)]`  을 통해 틀을 불러 왔을 때 `문서A` 하이퍼링크가 볼드체 처리되지 않고 하이퍼링크가 유지됨.

## Screenshot (스크린샷)
![1](https://user-

[2021-03-28 02:25] #965 closed

[2021-03-28 09:44] surplus-dev opened #1084 "5일 차단이 안되는 문제"
고치삼

[2021-03-28 10:12] surplus-dev commented on #1084
해결

[2021-03-28 10:12] #1084 closed, assigned to surplus-dev

[2021-03-28 10:24] asheswook commented on #1080
두 분 의견에 동감합니다. 서버에서 처리하는게 나을 듯 합니다.

[2021-03-28 13:58] surplus-dev commented on #1080
2번이나 4번 중에 고민 중임다

[2021-03-28 13:59] surplus-dev commented on #1061
IE 지원 중지 했으므로 ES6에 걸 맞게 코드 수정 예정

[2021-03-29 04:06] surplus-dev commented on #1083
수정 완료

[2021-03-29 04:06] #1083 closed, assigned to surplus-dev

[2021-03-29 14:57] Lwnlcks opened #1085 "dev 업데이트 이후"
## Environment (환경)
* OS :리눅스
* Python version :3.8
* openNAMU version :v3.2.0-stable-13 (beta-60) (dev-2021-03-29-01)
* Skin : -
* Skin version : -

## Explanation (설명)
dev 업뎃이후 열리지 않습니다

## Screenshot (스크린샷)
![dasddassad](https://user-images.githubusercontent.com/72176091/112856220-8438e400-90ea-11eb-800d-1d9d0eeed731.PNG)

[2021-03-29 15:12] Lwnlcks commented on #1085
현 상황은 서버 운영을 위해 임시적으로 route/tool/mark.py를 업뎃 이전으로 복귀시켜 오픈했습니다.

[2021-03-30 09:10] surplus-dev commented on #1085
수정 완료

[2021-03-30 09:10] #1085 closed, assigned to surplus-dev

[2021-03-30 09:31] surplus-dev commented on #1080
의견 수렴해서 역링크 파트와 렌더링 파트 분리하기로 했슴다

[2021-03-30 09:31] #1080 closed, assigned to surplus-dev

[2021-03-30 09:34] surplus-dev opened #1086 "[수렴] 진입장벽"
여러분이 생각하는 오픈나무 진입 장벽이 뭐라고 생각하십니까?

[2021-03-31 03:45] cuprevenge commented on #1086
문서화 부족…?

[2021-04-01 09:42] surplus-dev opened #1087 "[알림] 새로운 스킨 개발 계획"
라이믹스의 네모의 꿈 스킨 비스무리한 스킨을 개발할 예정입니다.

[2021-04-02 12:25] surplus-dev commented on #1087
참고로 만우절이 아니라 진짜 만들 계획입니다

[2021-04-03 11:01] ghost commented on #1086
일반 웹호스팅에서 사용할 수 없다는게 진입장벽이 될 수 있을것 같습니다.
미디어 위키는 cPanel 되는 호스팅 하나 찾으면 원클릭으로 SSL까지 한번에 되는데
오픈나무는 VPS에 파이썬 깔고 Nginx깔고 Certbot깔고 SSL받고 Nginx 설정하고 하는게 초보자에게는 높은 진입장벽이 될 수 있을것 같습니다.
근데 아게 파이썬 기반인 오픈나무가 해결할순 없겠죠...
그래도 가이드에 인증서 발급하고 설정하기 이런것도 함께 제공한다면 도움이 될것 같습니다.

[2021-04-04 03:04] surplus-dev opened #1090 "[수렴] 산하 위키 기능"
위키아처럼 사이트 아래에 위키가 여러개 있을 수 있는 그런 구조를 추가하면 쓸만할까요?

의견 받습니다

[2021-04-04 06:02] ghost commented on #1090
와우! 너무 매력적인 기능 같습니다!

[2021-04-04 07:19] uhon0909 commented on #1090
그런 기능이 나오면 좋을거 같네요!

[2021-04-05 06:02] ghost opened #1091 "Mysql emergency_tool.py오류"
## Environment (환경)
* OS : Debian buster(10)
* Python version : Python 3.7.3
* openNAMU version : v3.2.0-stable-13 (beta-60) (dev-2021-03-29-01)
* Skin : Marisa
* Skin version : v1.2.8

## Explanation (설명)
Mariadb를 사용하는 위 환경에서 emergency_tool.py을 실행 할때 아래와 같은 오류가 발생합니다.
## Screenshot (스크린샷)
[code]

[2021-04-05 07:45] Lwnlcks commented on #1090
너무 좋을거 같습니다

[2021-04-05 08:13] ghost opened #1092 "구글외 SMTP제공자 호환"
## Explanation (설명)
Gmail말고 다른 SMTP서비스 사용이 불가합니다.
제 추정은 From 헤더 문제인것 같습니다. 제가 테스트 했을때

https://github.com/2du/openNAMU/blob/dev/route/tool/func.py 이 파일의 135~139줄
[code]
를
[code]
예)
[code]
위와 같이 수정하여 적용하였을때 효과가 있었습니다.

감사합니다.

[2021-04-05 11:28] surplus-dev commented on #1091
아마도 수정 완료

[2021-04-05 11:28] #1091 closed, assigned to surplus-dev

[2021-04-05 11:33] surplus-dev commented on #1092
수정 완료

[2021-04-05 11:33] #1092 closed, assigned to surplus-dev

[2021-04-05 11:47] surplus-dev commented on #1060
역링크, 분류는 따로 렌더러 돌리기로

[2021-04-08 03:45] Lwnlcks commented on #1090
한가지 물어볼께 있는데요
만약 산하위키를 만들게 된다면 산하위키 하나하나마다 관리자 같은 설정요소를 넣으실 생각이신가요?

[2021-04-08 10:31] surplus-dev commented on #1090
@Lwnlcks 네. 라고 말하긴 할껀데 가능할 진 모르겠네요

[2021-04-08 10:32] gdl-blue commented on #1090
루트(최상위) 위키와 공유되는 요소들은 무엇으로 할 생각이신가요? 계정은 위키마다 공유해서 쓰게 되나요?

[2021-04-08 10:44] surplus-dev commented on #1090
계정이랑 전체 위키 설정등등 생각 중인데

뭐... 구상만 하고 있습니다

[2021-04-08 12:51] asheswook commented on #972
내부 알림 변수를 jinja 활용해서, 알림이 오면 toast로 팝업을 띄우거나 하면 충분히 그 부분은 커버가 될 거라고 생각합니다. 실제로 저희 위키도 같은 방식을 사용하고 있구요.

[2021-04-08 15:57] asheswook opened #1094 "SQLITE -> MYSQL으로 마이그레이션"
## Explanation (설명)
현재 SQLITE DB를 사용 중입니다만 MYSQL으로 마이그레이션이 가능했으면 합니다.
SQLITE에선 사용할 수 없는 기능들이 필요하여, 기존 SQLITE DB에서 MYSQL으로 데이터를 그대로 옮길 수 있었으면 좋겠습니다 :D

[2021-04-09 11:25] #1090 closed, assigned to surplus-dev

[2021-04-09 11:25] #1086 closed, assigned to surplus-dev

[2021-04-10 09:22] asheswook commented on #1094
일단 1차적으로 JSON 변환 -> Mysql에 입력을 통해 데이터를 옮기긴 했습니다만, 자동화된 시스템이 있으면 좋을 것 같다는 생각입니다.

[2021-04-10 09:26] asheswook commented on #1094
생각해보니 이미 여러가지 시스템들이 나와있군요 구조는 두 DB가 서로 유사하니 별로 어려운 작업도 아니네요. 왜 뻘짓을 한 건지...

[2021-04-10 09:26] #1094 closed, assigned to surplus-dev

[2021-04-10 11:22] surplus-dev commented on #1049
신규 렌더러에서 수정 완료

[2021-04-10 11:22] #1049 closed, assigned to surplus-dev

[2021-04-10 11:23] surplus-dev commented on #1056
신규 렌더러에서 수정 예정

[2021-04-10 11:23] surplus-dev commented on #1094
그냥 SQL 백업 방식으로 이동하면 됩니다

[2021-04-10 11:25] surplus-dev commented on #972
일단 알림 기능을 좀 더 추가 예정

[2021-04-10 12:10] surplus-dev opened #1095 "일부 폴더명 변경"
views -> view
language -> lang
images -> image

[2021-04-11 02:42] surplus-dev opened #1096 "MySQL 관련 점검 예정"
최적화 및 버그 확인 예정

[2021-04-12 11:25] surplus-dev opened #1097 "3.3.0 개발 목표"
## 서론
한동안 너무 3.2.0 시리즈에 머물러 있었던 듯

## 본론
### JS 렌더러 본격 적용
- [x] 캐싱 시스템은 이제 필요 없으니 폐지 예정
- [x] 빠르고 효율적인 역링크 구현
### OAuth 도입
 * 아마 가입할 때 OAuth 전용 계정으로 가입하게 할 듯
- [x] 일단 구글부터 도입 예정
### 일부 코드 개편
- [x] 문단 편집 JS로 변경
- [x] 일부 디렉토리명 변경
- [x] app_var 제거
### 기본 스킨 디자인 개선
- [x] tenshi 프로젝트

[2021-04-17 02:52] surplus-dev opened #1098 "프로젝트 tenshi"
차세대 기본 스킨 프로젝트

[2021-04-17 02:53] surplus-dev commented on #1087
nemoDream으로 분리

[2021-04-17 02:53] #1087 closed, assigned to surplus-dev

[2021-04-17 03:11] surplus-dev commented on #1098
![opennamu run goorm io_w_FrontPage](https://user-images.githubusercontent.com/13796545/115100186-0db73580-9f76-11eb-9c79-3835f66f1f7b.png)
대충 이런 느낌으로 개발 예정

[2021-04-17 06:52] surplus-dev opened #1099 "차기 라이브러리"
## Web
 * ~~[Vibora](https://vibora.io/)~~
 * [FastAPI](https://fastapi.tiangolo.com/)

## DB
 * [aioSQLite](https://github.com/omnilib/aiosqlite)

[2021-04-17 06:54] #941 closed

[2021-04-17 11:10] surplus-dev commented on #1065
정말 놀랍지만 JS 렌더러에서 해결 완료

[2021-04-17 11:17] surplus-dev commented on #1056
![opennamu run goorm io_w_test](https://user-images.githubusercontent.com/13796545/115111181-fac65480-9fb9-11eb-91e2-4fd3e83b42a6.png)

정말 놀랍지만 JS 렌더러에서 해결함

[2021-04-18 03:46] #1060 closed, assigned to surplus-dev

[2021-04-18 03:46] surplus-dev opened #1100 "마크다운 만들기"

[2021-04-18 07:51] surplus-dev opened #1101 "나무마크 일부 부분 전면 수정 필요"
- [x] middle
 - [x] table
 - [x] list + wiki

[2021-04-18 12:15] surplus-dev commented on #1101
nowiki 부분이랑 wiki 부분, table 부분 다시 설계 필요함

[2021-04-18 13:03] ahwlfl opened #1102 "Dev 버전으로 자동 업데이트"
- [ ] Dev 버전 자동 업데이트
- [ ] 자동 업데이트 버전 별로 각각 나누기

Dev 버전으로 자동 업데이트 할 수 있게 해주셨으면 합니다.
또한 자동 업데이트를 Stable, Beta, Dev 버전 별로 각각 나눠주시면 감사 할 거 같습니다.

[2021-04-19 11:43] surplus-dev commented on #1101
현재와 같은 중괄호 처리 방식에서는 한계가 있음

그래서 아주 과거에 같이 그냥 전체 중괄호 인식 방법으로 변경할 예정

[2021-04-26 10:11] surplus-dev commented on #710
5월 20일로 연기

[2021-05-01 09:53] surplus-dev commented on #1101
엉성한데 돌아는 가니 일단 된걸로...

차차 개선 예정

[2021-05-01 09:53] #1101 closed, assigned to surplus-dev

[2021-05-04 10:22] surplus-dev commented on #1098
대충 만듬

[2021-05-04 10:22] #1098 closed, assigned to surplus-dev

[2021-05-04 10:23] surplus-dev commented on #1095
걍 lang 말고 나머진 냅두는걸로

[2021-05-04 10:23] #1095 closed, assigned to surplus-dev

[2021-05-09 05:59] surplus-dev opened #1103 "구글 OAuth 도입"
https://developers.google.com/identity/protocols/oauth2

[2021-05-09 06:08] Lwnlcks opened #1104 "v3.3.0-stable-01b 질문"
## Environment (환경)
* OS :  리눅스
* Python version : 3.8
* openNAMU version :  v3.3.0-stable-01b (dev-2021-05-09-01)
* Skin : -
* Skin version : -

## Explanation (설명)
1. ' 1' 스크린샷과 같은 현상은 버그인가요?
2. '2' 스크린샷과 같이 문서에 틀을 넣을때 틀의 분류까지 뜨는건 의도된 것 인가요?
## Screenshot (스크린샷)
---- 1
![cdsa](https://user-images.githubusercontent.com/72176091/117562185-f9c7a500-b0d7-11eb-86bc-e3f081ac2806.PNG)
![fdfsdfsf](https

[2021-05-09 06:22] surplus-dev commented on #1104
1. 네
2. 아니요

[2021-05-09 10:55] surplus-dev commented on #1104
1번은 수정했고 2번은 조만간 수정 예정임다

[2021-05-09 23:53] Lwnlcks commented on #1104
![edffd](https://user-images.githubusercontent.com/72176091/117591008-211c8180-b16d-11eb-9c62-b756ae788f68.PNG)
![sdfsfd](https://user-images.githubusercontent.com/72176091/117591009-24b00880-b16d-11eb-86e0-0a94346ee307.PNG)
* 추가 ) [pagecount] 가 먹히지 않습니다.

[2021-05-10 12:28] surplus-dev commented on #1104
내일(아마도) 수정 예정

[2021-05-10 12:33] Lwnlcks commented on #1104
아 그리고 최근에 만든 카테고리 문서에는
이 분류 아래 문서들,하위 분류 가 안뜨던데 이건 버그인가요?
![acxczxcaz](https://user-images.githubusercontent.com/72176091/117659842-670e2f80-b1d7-11eb-9e69-10142d2ffe32.PNG)

[2021-05-11 09:35] surplus-dev commented on #1104
그거 아직 안 만들어서 그렇습니다

dev 쓰면 안되는 이유 중 하나 입니다

[2021-05-11 09:44] Lwnlcks commented on #1104
(bata에는 아직까지 이미지 !wiki style가 한쪽에는 치우치는 버그가 남아있...)
이상 dev를 쓴 변명이였습니다.

[2021-05-11 10:00] surplus-dev commented on #1104
근데 사실 dev 쓰는 사람이 있긴 있어야 버그 잡긴 하는데...

걱정되서 그렇습니다

[2021-05-11 12:20] surplus-dev commented on #1104
2번 수정했습니다

[2021-05-14 11:12] surplus-dev opened #1105 "[수렴] ACL과 문서 이동"
문서 이동할 때 ACL도 같이 이동하게 할까요

[2021-05-16 03:37] surplus-dev opened #1106 "[수렴] 문단 편집 방법에 관해서"
문단 편집 방법 개편 예정인데 두가지 안이 있습니다

1. 전체 문서 내용을 물러온 뒤 그 문단 부분에 포커싱 맞추기
2. 그냥 기존대로 그 문단만 불러오기

의견 받습니다

[2021-05-16 07:46] Lwnlcks commented on #1106
기존의 문단만 불러올 당시에 문단이 좀 길게 이어지면 하나둘 밑에 있는 문단이 뜨곤했습니다.
만약 기존의 방식으로 한다면 이 버그는 고쳐져야합니다.
참고로 저는 1번의 방식이 좋다고 생각합니다.

[2021-05-19 09:01] csam10398 opened #1107 "Error: Library install failed"
## Environment (환경)
* OS : Windows 8.1
* Python version : 3.9.0
* openNAMU version : openNAMU-3.2.0-stable-13.1
* Skin :
* Skin version :

## Explanation (설명)
app.py를 눌렀을 때 이렇게 뜹니다.

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/72393422/118785674-0912d380-b8cc-11eb-86ea-47af84006868.png)

[2021-05-19 09:07] csam10398 commented on #1107
눌렀을 때가 아닙니다.
실행했을 때입니다

[2021-05-19 11:47] surplus-dev commented on #1107
pip install diff-match-patch 해보세요

[2021-05-21 11:54] surplus-dev commented on #1106
딱히 큰 의견이 없어서 2번에서 버그만 수정

[2021-05-21 11:54] #1106 closed, assigned to surplus-dev

[2021-05-22 04:43] surplus-dev commented on #1105
수렴 완료

[2021-05-22 04:43] #1105 closed, assigned to surplus-dev

[2021-05-22 12:30] surplus-dev opened #1108 "외부 링크 amp"

[2021-05-23 10:58] surplus-dev commented on #1108
고침

[2021-05-23 10:58] #1108 closed, assigned to surplus-dev

[2021-05-23 11:10] surplus-dev opened #1109 "setuptools 이용"

[2021-05-24 12:30] surplus-dev opened #1110 "문단 편집 버그 있음"
구아악

[2021-05-25 11:59] surplus-dev commented on #1110
고침

[2021-05-25 11:59] #1110 closed, assigned to surplus-dev

[2021-05-30 06:12] surplus-dev commented on #1107
해결되셨나요?

[2021-05-30 06:22] surplus-dev opened #1111 "편집 필터에 오류 있음"
쓰읍

[2021-05-30 07:18] surplus-dev opened #1112 "검색 시스템의 효율적인 구현"
장기 개발 과제

1번 안과 2번 안 구상 중

[2021-05-31 12:13] surplus-dev commented on #1111
고침

[2021-05-31 12:14] #1111 closed, assigned to surplus-dev

[2021-06-01 11:34] surplus-dev commented on #1104
아마 완료 beta-04

[2021-06-01 11:34] surplus-dev commented on #1107
일단 해결된걸로 하겠습니다

[2021-06-01 11:34] #1107 closed, assigned to surplus-dev

[2021-06-01 23:54] Lwnlcks commented on #1104
[pagecount]는 아직 안고쳐졌네요.

[2021-06-02 12:36] 2du commented on #1104
ㅇ

[2021-06-02 12:37] surplus-dev commented on #1104
어... 깜박했습니다

[2021-06-06 07:20] surplus-dev opened #1113 "3.4.0 개발 목표"
## 개요
최적화 관련해서 진행될 예정

## 내용
### 일부 최적화
- [x] user 테이블과 user_set 테이블 통합
- [x] user_set 테이블과 user_application 테이블 통합
- [x] [문서 확인 파트 개선](https://github.com/2du/openNAMU/issues/1120)
- [x] 회원가입과 로그인의 완전한 기능 분리

### 기타
- [x] https://github.com/openNAMU/openNAMU/issues/1137
- [x] https://github.com/openNAMU/openNAMU/issues/1126
- [x] https://github.com/openNAMU/openNAMU/issues/1136
- [x] https://githu

[2021-06-06 07:39] surplus-dev commented on #1104
dev에 추가 완료

[2021-06-06 07:39] #1104 closed, assigned to surplus-dev

[2021-06-08 10:58] Gwangtori opened #1114 "개발 버전 설치 할때..."
## Environment (환경)
Pythonanywhere에서,
Version : v3.3.0-stable-01b (beta-05b) (dev-2021-06-07-02)
DB set version : 3300301
Skin set version : 12

## Explanation (설명)
ModuleNotFoundError: No module named 'diff_match_patch'
라고 하면서 설치가 안됩니다... 베타 버전은 설치 되는거 보니 개발 버전의 문제 같아요.
## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/64156915/121173385-b9ed0c80-c893-11eb-89b3-c094a407ebbc.

[2021-06-08 12:14] surplus-dev commented on #1114
아마도? 수정했습니다 dev-2021-06-08-01

[2021-06-08 12:14] #1114 closed, assigned to surplus-dev

[2021-06-08 12:53] Gwangtori commented on #1114
확인 감사합니다!

[2021-06-09 07:01] Lwnlcks opened #1115 "아이피 가리기를 한 상태에서 사진을 올리면 요약에 아이피가 보입니다"
## Environment (환경)
* OS : -
* Python version : 3.8
* openNAMU version : dev 최신버전
* Skin :  -
* Skin version :  -

## Explanation (설명)
아이피 가리기를 한 상태에서 사진을 올리면 요약에 아이피가 보입니다
## Screenshot (스크린샷)
![cxczzxczx](https://user-images.githubusercontent.com/72176091/121308349-e9efea80-c93b-11eb-94fb-8ac666f82e2e.PNG)

[2021-06-09 07:32] Lwnlcks opened #1116 "문서에 입력된 존재하지 않는 이미지를 클릭한 후 업로드하면 사진이 정상적으로 뜨지 않습니다."
## Environment (환경)
* OS : -
* Python version : 3.8
* openNAMU version : dev 최신버전
* Skin :  -
* Skin version :  -

## Explanation (설명)

## Screenshot (스크린샷)
![asdxxZ](https://user-images.githubusercontent.com/72176091/121312281-30474880-c940-11eb-819b-3d8bf5e72181.PNG)

![dasscczxcxzczxcxz](https://user-images.githubusercontent.com/72176091/121311904-d21a6580-c93f-11eb-9712-368f74c22553.PNG)

[2021-06-09 12:20] surplus-dev commented on #1115
아마도 고쳤습니다 dev-2021-06-09-01

[2021-06-09 12:20] #1115 closed, assigned to surplus-dev

[2021-06-10 09:05] Lwnlcks commented on #1116
제가 추측하기로는
그 서버에 이미지가 저장될때는 무작위로 이름이 저장됩니다.(예:a301f305361fc32aa03994a2548fa83d948eb0667a08e1be6f5a4a3d.png)
위키에서 파일이 표기하고 싶을때 [[file:ㅇㅇ.확장자]]를 쓰지만 호출하는 파일이름은 저 무작위 이름입니다.
하지만 존재하지 않는 사진을 클릭하여 업로드시 호출되는 것은 무작위로 배정된 이름이 아닌 [[ㅇㅇ.확장자]]의 이름이기 때문으로 추측합니다.

간단히 말해서 존재하지 않는 사진을 클릭하여 업로드하면 랜덤으로 이름이 변경된 사진 파일을 호출해야 하지만 ㅇㅇ.확장자로 호출해서 생기는 오류로 추측합니다

[2021-06-10 11:56] surplus-dev commented on #1116
아마도 고쳤습니다

[2021-06-10 16:04] Lwnlcks commented on #1116
아직 버그가 남아 있습니다

[2021-06-11 12:13] surplus-dev commented on #1116
정확하게 재현이 안되는 데 파일 문법의 파일명이랑 올린 파일명을 알려주실 수 있나요?

[2021-06-11 12:52] Lwnlcks commented on #1116
[[파일:ㄹㅇ.png]](위키내 올리는 이름) gfddf.PNG(원본 사진 이름) 이렇게 올렸습니다만..
![dasdsasda](https://user-images.githubusercontent.com/72176091/121688917-f6707080-cafe-11eb-8665-59d0a927f797.PNG)
업데이트 이후 버그 양상이 좀 바꼈습니다.
위 사진처럼 file:ㄹㅇ.png 사진문서자체에는 정상적으로 올라가지만
![fwed](https://user-images.githubusercontent.com/72176091/121689074-26b80f00-caff-11eb-9e0b-39e8b29fde72.PNG)
문서에 [[파일:ㄹㅇ.png]]를 넣고 확인하면 뜨지 않습니다

[2021-06-12 02:22] surplus-dev commented on #1116
보니까 문법에서는 png인데 올라간 파일 확장자가 PNG라서 벌어지는 일인 것 같습니다. 오픈나무는 대소문자를 구분합니다

[2021-06-12 05:59] Lwnlcks commented on #1116
print('오... 버그 해결')

[2021-06-12 08:24] #1116 closed, assigned to surplus-dev

[2021-06-15 12:05] Lwnlcks opened #1117 "SQLITE에서 MYSQL으로 마이그레이션.."
## Explanation (설명)
#1094 에서 '그냥 SQL 백업 방식으로 이동하면 됩니다'라고 말해주셨는데 어떻게 바꾸는건가요?..

만약 이게 안된다면 수동으로 바꾸는 방법밖에 없나요?

[2021-06-16 03:56] surplus-dev commented on #1117
뭐 [이런](https://www.rebasedata.com/convert-sqlite-to-mysql-online) 사이트 쓰는 방법도 있고 직접 SQL문 쳐서 SQL문 뽑아내는 방식도 있고 방법이야 많습니다

근데 늘 하는 말이지만 잘 안되면 그냥 그대로 쓰시는 걸 권장 드립니다

[2021-06-17 11:43] cuprevenge opened #1118 "테이블 셀 문법"
* openNAMU version : v3.2.0-stable-13 (beta-60) (dev-2021-03-29-01)

colbgcolor 문법의 결과물이 the seed와 다르게 나타납니다.

![image](https://user-images.githubusercontent.com/52319594/122389768-3f676f80-cfac-11eb-8f8d-84cbfe61a0ba.png)
좌측 the seed / 우측 오픈나무

문법 raw ↓

[code]

[2021-06-17 15:17] Lwnlcks commented on #458
api 더이상 진행 안되나요...

[2021-06-18 11:42] surplus-dev commented on #458
어... 잘못 닫은 것 같습니다

[2021-06-19 23:26] surplus-dev commented on #1118
고쳤읍니다

[2021-06-19 23:26] #1118 closed, assigned to surplus-dev

[2021-06-19 23:26] #1117 closed, assigned to surplus-dev

[2021-06-23 11:41] #1097 closed, assigned to surplus-dev

[2021-06-23 11:43] #1069 closed, assigned to surplus-dev

[2021-06-23 11:44] #915 closed

[2021-06-23 11:44] #1103 closed, assigned to surplus-dev

[2021-06-27 01:52] surplus-dev opened #1119 "장기적인 테이블 구조 개선안"
## 현재의 테이블 컬럼명
[code]

## 추후 예상안
[code]

[2021-06-27 02:13] surplus-dev opened #1120 "JS 문서 존재 확인 파트 개선"
## 현재
각각의 링크마다 API로 리퀘스트 쏴서 확인

## 개선안
모든 링크를 종합한 후 JSON 형식으로 API에 POST로 리퀘스트 쏘고 다시 JSON 형식으로 문서 존재 확인 받기

[2021-06-27 14:06] surplus-dev commented on #1120
일단 완료 dev-2021-06-27-01

[2021-06-27 14:06] #1120 closed, assigned to surplus-dev

[2021-06-27 14:07] surplus-dev commented on #1096
디비 연결에 관해서 새로운 구상안
 * DB 연결 파트를 함수로 구성
 * 1시간마다 DB를 새로 연결

[2021-06-28 06:29] sesdasfaf opened #1121 "app.py 오류"
## Environment (환경)
* OS : Windows 10 x64
* Python version : 3.9.5
* openNAMU version : v3.4.0-stable-01b (beta-01b) (dev-2021-06-27-01)
* Skin : Tenshi
* Skin version : 2.0.1

## Explanation (설명)
app.py를 실행할 때 이런 오류코드가 뜹니다

## Screenshot (스크린샷)
![제목 없음](https://user-images.githubusercontent.com/86587785/123590116-2d47c580-d825-11eb-948a-c4799ad4ac7f.png)

[2021-06-28 10:26] Lwnlcks commented on #1121
IndentationError: unindent does not match any outer indentation level은 띄어쓰기를 잘못했을 경우 생기는 오류 입니다.
\openNAMU-dev\route\applications.py 쪽 확인 결과
line 166부분에 띄어쓰기가 한칸 더 되어있네요

[2021-06-28 10:31] surplus-dev commented on #1121
지금 dev가 코드 개편 중이라서 ~~이상한~~ 실수가 많습니다

[2021-06-28 13:10] surplus-dev commented on #1121
일단은 해결된 것으로...

[2021-06-28 13:10] #1121 closed, assigned to surplus-dev

[2021-06-29 13:55] Lwnlcks opened #1123 "현 dev 버그"
## Environment (환경)
* openNAMU version :  v3.4.0-stable-01b (beta-01b) (dev-2021-06-29-01)

## Explanation (설명)
1. 틀을 문서에 넣으면 문법에 깨집니다.

2. 사진이 넣어지지않습니다 (참고사진의 문서내용은 크흠)
## Screenshot (스크린샷)
![dasfddfs](https://user-images.githubusercontent.com/72176091/123809960-01176c00-d92d-11eb-9c62-a844afbb1909.PNG)

![dsasfddf](https://user-images.githubusercontent.com/72176091/123809968-0379c600-d92d-11eb-8

[2021-06-30 03:12] surplus-dev commented on #1123
사진이 안 넣어진다는 게 어떤 의미임까?

[2021-06-30 03:13] surplus-dev opened #1124 "문법 버그"
[code]

[2021-06-30 07:20] Lwnlcks commented on #1123
저때 테스트할때 사진 업로드가 제대로 되지 않았고(테스트서버 오류일수 있음)
[[file:ㄴㄴ.png]](대소문자구문)입력해도 사진이 뜨지 않읍니다

[2021-06-30 13:31] surplus-dev commented on #1124
아마도 수정 완료

[2021-06-30 13:31] #1124 closed, assigned to surplus-dev

[2021-06-30 13:31] surplus-dev commented on #1123
2번 아마도 수정 했습니다

1번은 구체적인 문법 올려주실 수 있나요?

[2021-06-30 23:53] Lwnlcks commented on #1123
틀 문서에 쓰이는 || || <-- 이문법 안에 쓰이는 왠만한 문법은 깨졌던지라...
틀문서 내에서는 정상적으로 뜨는데 그 틀을 다른 문서에 넣으면 문법이 깨져요

[2021-07-03 14:28] surplus-dev commented on #1123
수정 완료 dev-20200703-01

[2021-07-03 14:29] #1123 closed, assigned to surplus-dev

[2021-07-11 09:44] surplus-dev opened #1125 "[알림] Organization으로 이동할 계획입니다"
## 뭐가 바뀌나요?
아무것도 안 바뀝니다

## 왜 하나요?
그냥 스킨이랑 유기적 연동과 장기적인 개발 플랜 확립을 위해서 입니다

는 그냥 사실 제가 지어낸 말이고 이유 없습니다

[2021-07-13 11:31] Lwnlcks opened #1126 "있었으면 하는 기능"
## Environment (환경)

## Explanation (설명)
  역사 대량 추가/삭제
- [ ] 대량 문서 삭제같이 한 줄마다 기여자 이름을 치면 순서대로 역사가 r-n에 추가되는 기능(이런 비슷한것...)
- [x] 역사 대량 삭제는 한마디로 문서 역사 초기화

## 여담
봇만들어보려고 계속 파고 있는데 잘 안되네요 .ㅡ.

[2021-07-13 13:21] surplus-dev commented on #1126
둘 다 서버에 큰 무리를 줄 것 같아서 고민 중입니다

[2021-07-16 05:05] Gwangtori opened #1127 "최신 버전에서의 문법 오류 제보"
## Environment (환경)
* OS : pythonanywhere
* Python version : (아마)3.8
* openNAMU version : v3.4.0-stable-01b (beta-01b) (dev-2021-07-03-01)
* Skin : Material
* Skin version : ?

## Explanation (설명)
먼저 openNAMU에 힘써주셔서 정말 감사드립니다.

- [x] 왼쪽, 가운데, 오른쪽 정렬이 작동 안하는 것 같습니다.
- [x] #!wiki style="text-align:center"를 사용하면 그 문서에 있는 틀(?)들이 다 가운데 정렬이 됩니다.
- [x] 나무위키의 설명 틀(?)을 쓰면 문서 전체가 그 틀에 들어갑니다.

또한 #!wiki styl

[2021-07-16 10:41] Lwnlcks opened #1128 "mysql 관련 가이드"
## Explanation (설명)
오픈나무 db타입중 mysql의 설치 가이드가 필요합니다..

[2021-07-16 10:42] surplus-dev commented on #1128
제 귀찮이즘과 사실 아직도 불완전한 MySQL 지원으로 인한 지연이 되고 있읍니다

[2021-07-16 10:43] surplus-dev commented on #1127
1, 2번은 확인 해보겠습니다

3번은 wiki 태그가 제대로 안 닫혀서 발생하는 것 같습니다

[2021-07-16 10:44] Lwnlcks commented on #1128
지금 베타버전은 설치까지는 되는데 포트에서 막히고 개발버전은 생성조차안되는 이유가 거기있었군요..

[2021-07-16 10:49] surplus-dev commented on #1128
그건 의도 안 한 버그 입니다

[2021-07-16 11:11] Gwangtori commented on #1127
베타에서는 괜찮걸로 봐서 개발버전의 오류 같아요

[2021-07-16 11:15] Gwangtori commented on #1127
![image](https://user-images.githubusercontent.com/64156915/125939420-2e9ad755-fbed-4ecc-8099-1b3c793d9a84.png)

아 사진을 넣는다는걸 깜빡했네요

[2021-07-16 11:37] surplus-dev commented on #1127
아 3번 잘못 봤네요 버그네요

[2021-07-16 14:06] Lwnlcks commented on #1128
한 3만 문자되는 문서 클릭하면 터지는건 엔진상 문제일지... 엔진을 돌린 서버의 문제일지/..
램이 4096 MB에 10%정도만 되면 바로 터지는데 이건 서버의 문제일지 모르겠네요..

[2021-07-17 10:27] surplus-dev commented on #1128
@Lwnlcks MySQL에서만 그런가요?

[2021-07-17 15:50] Lwnlcks commented on #1128
sqlite입니다.. MySQL은 쓰고 싶어도 못쓰는 상황인지라...

[2021-07-18 01:07] surplus-dev commented on #1128
@Lwnlcks 제가 테스트 했을 땐 야스오 문서로도 안 터지네요

렌더러 문제일 수도 있을 것 같은데 어떤 문서로 테스트 하셨나요?

[2021-07-18 01:22] #1125 closed, assigned to surplus-dev

[2021-07-18 10:18] surplus-dev commented on #1127
고쳤습니다

dev-2021-07-18-01

[2021-07-18 10:18] #1127 closed, assigned to surplus-dev

[2021-07-18 10:25] surplus-dev opened #1129 "ㄹㅇ 다음 패치에 무조건 할 것"
## 아주 간단한 요약
차단과 권한 시스템의 통합

### 이로 일어나는 일
 * 권한 지정에 기간 설정 가능
 * 권한 설정에 차단 기능 통합

## 기술적인 요약
ban과 user_set의 통합 및 alist의 예약어 지정

[2021-07-26 09:23] surplus-dev commented on #1126
그냥 없는 것보단 나을 것 같아서 만들어보겠습니다

[2021-07-27 02:01] Lwnlcks opened #1130 "Broken pipe"
## Environment (환경)
* openNAMU version : v3.3.0-stable-01b (beta-05b) (dev-2021-06-09-01)
 * 현재 최신버전인 v3.4.0-stable-01b 에 수동 업데이트시 존재하는 문서가 인식되지 않는(즉 문서 내에서 빨간색으로 뜨는..) 버그로 인해 버전 유지중입니다.

## Explanation (설명)
위키엔진이 갑자기 꺼질때(의도하지 않은) 대부분 저게 뜹니다.

## Screenshot (스크린샷)
![wngrfv](https://user-images.githubusercontent.com/72176091/127083167-6d8378d2-0111-47b6-a4c3-5c01167c17cb.PNG)
가린 부분은 ip입니다.

[2021-07-27 10:09] surplus-dev opened #1131 "flask 자체 비동기로 넘어가기"
https://flask.palletsprojects.com/en/2.0.x/async-await/

드디어 플라스크에 이게 나오네 역시 존버가 답이다

[2021-07-27 10:12] surplus-dev commented on #1099
취소

[2021-07-27 10:12] #1099 closed, assigned to surplus-dev

[2021-07-27 10:13] surplus-dev commented on #1131
## 1단계
API 파트를 비동기적으로 개편

## 2단계
기존 기능을 API 사용하는 식으로 수정

## 3단계
생각 중...

[2021-07-27 10:51] surplus-dev commented on #1130
아마도 고쳤습니다

[2021-07-27 10:51] #1130 closed, assigned to surplus-dev

[2021-07-27 12:11] Lwnlcks opened #1132 "문서 존재 인식 버그"
## Environment (환경)
 * 오픈테섭

## Explanation (설명)
오픈테섭에서도 문서 인식 버그가 있네요
## Screenshot (스크린샷)
![aftht](https://user-images.githubusercontent.com/72176091/127151399-30ac3a73-df17-4ee6-bd59-9edbcccd7ff3.PNG)

[2021-07-27 12:48] lemon-mint commented on #1131
모든 코드를 다른 언어로 포팅 가능할까요?
(Go, Node, Rust)

[2021-07-28 10:04] surplus-dev commented on #1132
몬가 잘못된 것 같으니 확인해보겠습니다

[2021-07-29 10:38] surplus-dev commented on #1132
고쳤습니다

[2021-07-29 23:53] Lwnlcks commented on #1132
![dfsdfdz](https://user-images.githubusercontent.com/72176091/127579758-c310bcae-e983-4ed4-9ef6-7505afeff6da.PNG)
분류가 안뜹니다

[2021-07-31 02:23] surplus-dev commented on #1132
다시 고쳤습니다

[2021-07-31 02:23] #1132 closed, assigned to surplus-dev

[2021-07-31 02:40] surplus-dev opened #1133 "장기적인 플랜과 현 상황"
## 최근 커뮤니티의 동향
디시의 마이너갤이나 아카라이브의 채널 시스템처럼 예전처럼 관리자가 전체를 관리하는 것이 아닌 특정 유저가 특정 파트를 관리하는 형식이 대세가 되고 있음

~~근데 사실 2000년대의 카페 시스템이 좀 더 느슨해진 형태로 그냥 다시 돌아온 것 같음~~

## 이런 상황에서의 위키 시스템의 발전
팬덤(구 위키아) 같은 여러 위키의 집합? 공유체? 같은 느낌은 예전부터 존재했지만 우리나라와는 별로 맞지 않아서 활성화되진 않음 대신 모든 것을 다루는 위키(구 리그베다 위키, 현 나무위키)가 인기를 끌게 됨

하지만 아무래도 모든 것을 다루는 위키는 대규모 단위다보니 여러 큰 사건이 일어나고 개인 소모임 같은 느낌은 전혀 없게 됨 (즉 편안하게 뭔가 작성할 수 있는 분위기가 아님)

그러므

[2021-07-31 03:18] Lwnlcks commented on #1133
음... 예전에 말하셨던 하위 위키랑 같은 맥락이군요

[2021-07-31 03:35] surplus-dev commented on #1133
@Lwnlcks 그게 위키 엔진 발전의 최종 테크가 아닐까 생각합니다

[2021-07-31 03:39] surplus-dev opened #1134 "토론 관련 문서 추가 기능"
토론에서 관련 문서를 추가하면

그 관련 문서에서도 해당 토론이 토론으로 뜨는 그런 기능

[2021-07-31 20:21] Gwangtori opened #1135 "오류 제보"
## Environment (환경)
* OS : pythonanywhere
* Python version : 3.8
* openNAMU version : v3.4.0-stable-01b (beta-01b) (dev-21073101)
* Skin : Material
* Skin version : 최신 버전

## Explanation (설명)

- [x] include 사용했을때 틀의 사진이 출력되지 않고 빈칸으로 나옵니다
- [x] include 사용했을때 문서가 모두 있다고 출력됩니다
- [x] 표 안에서 ||왼쪽 || 가운데 || 오른쪽|| 모두 가운데 정렬로 표시되며, <(>(왼쪽), <)>(오른쪽)이 반대로 출력됩니다
- [x] 스킨을 타 스킨으로 바꾸어도 계속 tenshi로 표시되고, 스킨이 바뀌지

[2021-07-31 22:48] surplus-dev commented on #1135
1. 확인해보겠습니다
2. 이것도 확인해보겠습니다
3. 이거는 제가 뭘 잘못 건든 것 같습니다 확인해보겠습니다
4. [테스트 서버](https://2du.pythonanywhere.com/change)에서는 바로 잘 바뀌던데 다른 스킨 이름으로 표시 되는 건 버그 입니다 고치겠습니다
5. 3.3.0 베타는... 낼까 말까 고민하다가 그냥 3.4.0으로 바로 넘어갔습니다

[2021-07-31 22:49] surplus-dev commented on #1135
4+. 로그인 하니까 안되네요 고치겠습니다

[2021-08-01 00:31] surplus-dev commented on #1135
4번 고쳤습니다 dev-21.07.31-01

[2021-08-01 02:16] surplus-dev commented on #1135
1번 2번은 아무래도 [이 버그](https://github.com/openNAMU/openNAMU/issues/1132)인 것 같습니다 현재는 재현이 안됩니다

3번도 고쳤습니다 dev-21.08.01-01

[2021-08-01 02:16] #1135 closed, assigned to surplus-dev

[2021-08-03 04:51] #1128 closed, assigned to surplus-dev

[2021-08-03 09:28] surplus-dev commented on #1128
잉? 해결되었나요?

[2021-08-03 12:36] Lwnlcks commented on #1128
음.. 해결됬다고 보는게 맞겠죠?...
최신버전 업 이후로 아직까지 서버 오류가 없던거 보면

[2021-08-04 11:01] Lwnlcks opened #1136 "외부링크 새탭 이동 설정 추가"
## Explanation (설명)
위키 서버 설정에서 문서에 있는 외부 링크를 누를 경우 새 탭으로 이동 할 건가 또는 현재 탭에서 이동한 건지 설정 할 수 있었으면 합니다.
아니면 아예 새 탭 이동으로?..

[2021-08-06 09:19] surplus-dev commented on #1136
사용자 설정에 넣고 기본값을 새 탭으로 하겠습니다

[2021-08-08 06:17] surplus-dev commented on #1136
일단 새 탭이 기본값으로 했습니다

[2021-08-09 12:01] Lwnlcks opened #1137 "위키엔진 버그 2건"
## Environment (환경)
* openNAMU version : v3.4.0-stable-01b (beta-01b) (dev-21.08.01-01) <Aug 8, 2021 커밋 x>

## Explanation (설명)
1. 필요한 문서들(/please) <버그 이전 것들은 생기면 없어지나, 새로 갱신되지 않음.>

2. 권한 부여 페이지 작동x
Internal Server Error오류
## Screenshot (스크린샷)

[2021-08-11 09:16] surplus-dev commented on #1137
고치겠습니다

[2021-08-12 12:12] surplus-dev commented on #1137
2번은 고쳤습니다

[2021-08-13 13:52] surplus-dev opened #1138 "잡동사니 창고"
## 개요
정말로 장기 플랜 ~~페이퍼플랜이 될 가능성 있음~~

## 3.4.0에서 넘어온 내용
### [OAuth](https://github.com/2du/openNAMU/issues/1097)
 - [ ] https://github.com/2du/openNAMU/issues/915
 - [ ] https://github.com/2du/openNAMU/issues/1103

### [2FA 방식 추가 및 개선](https://github.com/2du/openNAMU/issues/1069)
 - [ ] 2FA 관련 기능 추가
 - [ ] 쿠키를 이용한 브라우저 인증 기능

### 토론 시스템
- [ ] https://github.com/openNAMU/openNAMU/issues/1134

### My

[2021-08-13 13:52] #1133 closed, assigned to surplus-dev

[2021-08-13 13:52] #1119 closed, assigned to surplus-dev

[2021-08-13 13:52] #1131 closed, assigned to surplus-dev

[2021-08-13 13:53] #1112 closed, assigned to surplus-dev

[2021-08-13 13:55] #1129 closed, assigned to surplus-dev

[2021-08-13 13:58] #933 closed

[2021-08-13 13:58] #902 closed

[2021-08-13 14:00] surplus-dev commented on #1137
2번도 추가 했습니다

[2021-08-13 14:00] #1137 closed, assigned to surplus-dev

[2021-08-15 13:32] surplus-dev opened #1139 "전반적인 URL 정리"
현재의 URL은 터무니 없이 기능끼리 연결되어 있지 않음

URL끼리 의미가 있도록 연관 지을 예정

[2021-08-15 14:19] surplus-dev commented on #1126
전자 같은 경우에는 여러 사용자보다는 일단 한 사용자 로그 싹 날리는 기능을 만들 생각입니다

후자는 일단 만들었습니다

[2021-08-15 14:26] surplus-dev opened #1140 "[수렴] 차기 URL 방식에 대해서"
## 서론
현행은 URL 파라미터와 그냥 URL 디렉토리를 섞어서 사용하는 방식인데

코드 상에서 URL 파라미터는 어떤 형식으로 쓰이는 지 알아보기가 어렵습니다

그래서 장기적으로 전부 URL 디렉토리 형식으로 변경하려고 합니다

그래서 1안과 2안이 있는데 어떤 게 더 좋으십니까

## 1안
`/diff/1st/1/2nd/2`
`/w/rev/32/FrontPage`
`/check/A/and/B`

## 2안
`/diff/1/2`
`/w/32/Frontpage`
`/check/A/B`

## 결론
즉 1안은 URL에 대충 설명도 같이 디렉토리 상에 포함하는 셈이고 2번은 그냥 바로 값만 적는 형식입니다.

현행은 2안을 기반으로 개발 중에 있습니다

[2021-08-16 07:13] surplus-dev commented on #1136
추가 했습니다

[2021-08-16 07:13] #1136 closed, assigned to surplus-dev

[2021-08-16 08:11] Lwnlcks commented on #1140
2안이 더 깔끔하니 좋네요

[2021-08-16 13:11] cuprevenge commented on #1140
2안이 군더더기가 없어 보입니다.

[2021-08-16 13:12] cuprevenge commented on #703
토론에도 문서처럼 읽기 ACL을 적용할 수 있었으면 좋겠습니다.

[2021-08-16 16:04] ShapeLayer commented on #1140
2안이 더 나아보이나 조금 손봐야할 부분은 있지 않을까 싶습니다
예를 들어 `/w/32/FrontPage` 보다 `/w/FrontPage/32`가 더 나을것 같습니다. 32는 FrontPage의 리비전을 의미하는것인데 2안을 유지할 경우 32문서의 FrontPage 리비전을 열람하는것처럼 읽히기 때문입니다.
또 비슷한 맥락에서 `/w/FrontPage`(최신 리비전)에서 `/w/FrontPage/32`로 넘어가는건 자연스러워보이나 `/w/FrontPage`에서 `/w/32/FrontPage` 로 넘어가는건 부자연스러운것 같습니다.

[2021-08-17 09:31] surplus-dev commented on #1140
@ShapeLayer 리비전을 앞에 둔 건 기술적 문제로 어쩔 수가 없습니다

만약 /w/FrontPage/32 라고 하면 하위 문서 32인지 리비전인지 구분이 안됩니다

[2021-08-17 10:54] ShapeLayer commented on #1140
@2du 그렇다면 리비전은 `/w/`보다 `/rev/` 이런식으로 가는게 나을것 같습니다
`/rev/FrontPage/32` 같이..

[2021-08-17 10:55] surplus-dev commented on #1140
근데 rev로 가도 그게 하위 문서인지 아닌지 구분이 안됩니다

[2021-08-17 10:59] ShapeLayer commented on #1140
오.. 생각해보니 그렇네요

[2021-08-17 13:35] surplus-dev commented on #1126
완성 dev-21.08.17-01

[2021-08-17 13:35] #1126 closed, assigned to surplus-dev

[2021-08-17 13:44] surplus-dev opened #1141 "파일과 분류, 사용자 문서의 완전한 분리"
## 현재 상황
category와 file도 그냥 일반 문서로 취급해서 일반 문서랑 뒤섞이는 문제가 존재함

## 해결책
네임스페이스 도입하고 링크도 아예 분리시켜버릴 예정

## 그래서
`/w/file/파일명`
`/w/catrgory/분류명`
`/w/user/사용자명`

이런 형식으로 변경 예정

[2021-08-17 13:46] surplus-dev commented on #703
@cuprevenge rd 테이블 개편 이후 완성하겠습니다

[2021-08-17 13:59] #458 closed

[2021-08-17 13:59] #797 closed

[2021-08-17 13:59] #782 closed

[2021-08-17 16:34] hys0star commented on #1140
2안이 좋아보입니다.

[2021-08-18 11:52] Gwangtori commented on #1140
the seed 처럼 ?rev=32 는 어려울까요..?

[2021-08-18 11:58] ShapeLayer commented on #1140
@Gwangtori 모든 url을 디렉토리 방식으로 변경하고자 해서 고려하고 있지 않은 모양입니다.

[2021-08-18 13:29] KoMyeongHoon commented on #1141
rwererw

[2021-08-19 09:49] surplus-dev commented on #1140
@Gwangtori 모든 url을 예상 가능한 형태로 만들고 하는 방식이라... 아마 파라미터는 쓰지 않을 것 같습니다

[2021-08-21 07:38] surplus-dev commented on #1043
저번에 만들었는데 까먹고 체크를 안 했던걸로 판명

구조 개편은 추후에 할 예정

[2021-08-21 07:38] #1043 closed, assigned to surplus-dev

[2021-08-21 08:07] surplus-dev commented on #1140
2번으로 결정했습니다

[2021-08-21 08:07] #1140 closed, assigned to surplus-dev

[2021-08-21 13:27] ghost opened #1142 "오류 제보와 기능 제안, 질문"
## Environment (환경)
* OS : 우분투
* Python version : 3.8
* openNAMU version : v3.4.0-stable-01b (beta-01b) (dev-21.08.21-01)
* Skin : 기본 스킨
* Skin version : ?

## 오류 제보

1. [url](https://onemindwiki.pw/w/틀%3A운영알림) 틀 안에 있는 리스트로 표시가 안됩니다.
2. 리스트들이 1단계로만 표시됩니다. [url](https://onemindwiki.pw/w/한마음위키%3A문법%20도움말#s-5)
3. 폴딩 문법을 쓸 때 [ 펼치기 · 접기 ]가 파란색으로만 나옵니다.

## 제안

1. 각주가 팝업으로 표시되는 기능
2. 더위키 처럼 사용자가 직접 이름을

[2021-08-21 14:03] Lwnlcks commented on #1142
오류 부분은 저도 겪고있는 버그이기에 고쳐졌으면 하네요

제안 1부분은 예전부터 논의되어왔던거네요 잘 됬으면 합니다
제안 2부분은 서버에 큰 무리를 주는게 아닌가싶네요..
만일 추가한다면 위키관리자에서 승인받는 식으로 해야할 듯 싶습니다

질문 부분은 최근 저도 겪고 있는 문제입니다. 특정 어느 곳에서만 유독 발생하는 지라 골머리를 썩히고 있는 문제입니다

[2021-08-21 14:30] Gwangtori commented on #1142
@Lwnlcks 아 질문 부분은 100% 발생하는 문제가 아니였군요... 저희만 그런줄 알았네요

[2021-08-21 14:56] Lwnlcks commented on #1142
네 100% 발생하는 문제는 아닙니다.
발생하는 경우는
틀문서
![111](https://user-images.githubusercontent.com/72176091/130325755-536064e1-ad29-414f-a50e-8d1e3b75a494.PNG)

틀넣기 결과
![ydg](https://user-images.githubusercontent.com/72176091/130325762-f976cea1-29e0-4b5c-8222-7bdf12697cd8.PNG)
이런 경우 입니다.
아 그리고 include시 문서 존재 인식에 버그가 있습니다. 이것또한 일부 틀 문서에서만 보이는 현상입니다 아래 사진에 보이는 틀에서는 보이지 않는 현상입니다
<hr>

![hilhil](https://user-images.

[2021-08-21 15:00] Lwnlcks commented on #1142
테스트로 한번 최신버전으로 돌려보고 봐야겠네요

[2021-08-21 15:07] Lwnlcks commented on #1142
최신버전 또한 똑같은 결과가 나왔습니다

[2021-08-21 15:22] ghost commented on #1142
아 그렇군요..

[2021-08-22 00:14] surplus-dev commented on #1142
## 오류에 관해서
오류는 수정 예정입니다

## 제안에 관해서
1. 팝업 각주는 이전과 동일하게 어떻게해야 통일된 디자인으로 전체에 적용할 수 있을까...에 대한 부분을 고민 중 입니다
2. 전체 사용자 로그를 전부 바꾸는 일이라 고민을 해보겠습니다 아마 만든다면 원래 사용자명에서 리다이렉트할 것 같습니다

## 질문에 관하여
아마 API 버그 같습니다 확인해보겠습니다

[2021-08-22 08:50] surplus-dev commented on #1142
## 오류에 관해서
1. 수정했습니다
2. 수정했습니다
3. 그거는 귀찮아서 일부로 냅뒀습니다

## 제안에 관해서
1. 조만간에 한번 만들어보겠습니다...

## 질문에 관해서
수정했습니다

참고로 아직 반영 안했습니다

[2021-08-22 08:50] #1142 closed, assigned to surplus-dev

[2021-08-22 08:51] surplus-dev opened #1143 "팝업 각주"
가 꼭 필요할까 늘 생각하는데 원하는 사람이 많으므로...

[2021-08-22 08:52] surplus-dev opened #1144 "이름 변경?"
아마 이머전시 툴에 들어가지 않을까 싶긴 한데 일단은 생각해볼 예정

[2021-08-22 09:30] ghost opened #1145 "새로운 오류 제보"
## Environment (환경)
* OS : 우분투
* Python version : 3.8
* openNAMU version : v3.4.0-stable-01b (beta-01b) (dev-21.08.22-01)
* Skin : 기본 스킨
* Skin version : ?

## Explanation (설명)
~~어쩌다 또 찾아버렸네ㅇ,,,~~
- [x] 로그인 하려고 할 때, Internal Server Error 발생합니다
- [x] 회원가입 시도시 대문으로 이동하고 가입이 안됩니다
- [x] ./applications (가입신청 목록) 들어가면 Internal Server Error 발생합니다
- [x] 관리자 목록에서 관리자가 2번 나옵니다 (근데 테스트위키에서는 안그러는게 스킨 문제인가 싶기도

[2021-08-22 23:49] Lwnlcks commented on #1142
@Seohae1127  3번오류는 {{{#!folding {{{#ffffff [ 종합 ]}}}
이런식으로 구현할수 있습니다

[2021-08-22 23:53] ghost commented on #1142
아 조언 감사합니다

[2021-08-23 04:30] Lwnlcks commented on #1138
~~페이퍼 플랜이 되면 한번 해봐야지~~

[2021-08-23 09:27] surplus-dev commented on #1145
1번 2번 그거는 알고 있습니다 왜냐하면 뭐 만들다가 그냥 냅두고 커밋해서 그렇습니다

3번 4번은 확인해보고 고치겠습니다

[2021-08-25 13:49] surplus-dev commented on #1145
3번은 고쳤습니다

4번은 재현이 안되서 고민 중입니다

[2021-08-29 06:20] surplus-dev opened #1146 "스킨 버전과 위키 엔진 버전의 비교"
를 해서 alert 해주는 그런 시스템 필요

[2021-09-03 11:25] surplus-dev commented on #1138
그리고 아무 일도 없었다

[2021-09-03 11:38] Lwnlcks commented on #1138
그렇게 방치되는 결말을 맞이 했다고 한다

[2021-09-03 11:40] ShapeLayer commented on #1138
ㄴ 비밀 댓글입니다.
ㄴ 네~ 해드렸습니다~
ㄴ 비밀 댓글입니다.

[2021-09-03 11:54] Lwnlcks commented on #1138
ㄴ 오... 작동 잘되네요 잘받았습니다^^

[2021-09-04 10:21] surplus-dev commented on #1138
다음주까지 3.4.0 제작하고 다다음주부터는 4.0.0으로 개발 시작하는 것이 목표

[2021-09-04 10:59] surplus-dev commented on #1145
맞다 저번 패치로 1번 2번 고쳤습니다

[2021-09-05 13:52] surplus-dev opened #1147 "진짜 ㄹㅇ 심각한 문제"
제대로 된 메뉴얼을 제발 좀 쓰자

[2021-09-05 14:34] surplus-dev opened #1148 "이런 저런 렌더러 관련 문제"
- [x] 테이블 안에서 라인 브레이크 안되던 문제 해결
 - [x] inline 안 먹히던 문제 해결
 - [x] syntax 관련 문제 해결

[2021-09-05 14:35] #1148 closed, assigned to surplus-dev

[2021-09-05 21:43] Lwnlcks commented on #1147
진짜 심각한 문제네

[2021-09-06 03:45] ghost commented on #1145
어쩌다 또또 찾았습니ㄷ..

위로 합침

[2021-09-12 12:29] surplus-dev commented on #1138
다시 재시작

[2021-09-14 15:43] surplus-dev commented on #1145
오늘~내일 수정 예정 입니다

[2021-09-16 13:14] surplus-dev opened #1149 "다크모드 문법 지원 예정"
다크모드 표준안을 만들 예정 ~~사실 이미 있는데 메뉴얼을 안 씀~~

[2021-09-16 13:36] surplus-dev commented on #1145
줄 개행이 안되는 문제와 리스트가 전부 1단으로 나오는 문제에 대해서 파악을 해봤는데

클플에서 강제로 개행과 개행 시작 부분 스페이스를 전부 지운다는 결론을 냈습니다

음... 그래서 일단 pre를 거친 다음 변환하도록 수정하겠습니다

[2021-09-16 15:02] surplus-dev commented on #1145
거의 대부분의 버그 수정

인터위키랑 중괄호 무효화는 좀 더 심도 깊은 연구를 한 뒤에 적용하겠습니다 임시로 앞에 `\` 붙이는 무효화 방법을 사용해주세요

[2021-09-16 15:16] ghost commented on #1145
아 확인했습니다 수정 감사합니다 ㅎㅎ

[2021-09-17 18:22] surplus-dev opened #1150 "도전 과제와 레벨 시스템"
## 개요
말 그대로 게임에 있는 도전 과제 시스템과 레벨 시스템을 위키로 옮겨오자는 발상 ~~게임 중독이나 낼법한 발상~~

## 생각하고 있는 도전 과제 리스트
 * 첫 기여
 * 첫 토론
 * 사용자 문서 작성

## 레벨 시스템
 * 접속당 50xp
 * 기여당 200xp (사문 제외)
 * 토론당 50xp
 * 투표당 200xp
 * 도전 과제 달성 500xp

아마 1 > 2레벨을 100xp로 잡고 1업당 요구량을 1.1배로 생각 중

차단이나 경고에 따른 감소 시스템도 생각 중

## 전직 시스템
 * 5레벨 달성시 위키러
 * 10레벨 달성시 위키니트
 * 20레벨 달성시 위키코모리
 * 30레벨 달성시 위키페어리

같은 칭호(커스텀 가능)와 리그베다 위키의 위키지기 같은 특수 권한 부여 예정

[2021-09-18 04:20] surplus-dev opened #1151 "틀 링크 버그 있음"

[2021-09-18 07:04] Lwnlcks opened #1152 "사진 이름 변경 기능"
## Explanation (설명)
사진 이름을 변경할수 있는 기능이 있으면 좋겠습니다.

[2021-09-23 08:39] Lwnlcks opened #1155 "권한 사용 목록 업데이트 되지 않음."
## Environment (환경)
최신버전(이슈 올리는 시점)

## Explanation (설명)
[권한 사용 목록](https://2du.pythonanywhere.com/admin_log)
권한 사용 목록이 업데이트 되지 않습니다.
## Screenshot (스크린샷)

[2021-09-23 12:05] surplus-dev commented on #1155
어 진짜 그러네요

[2021-09-24 01:44] ghost opened #1156 "오류 제보"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev-21.09.16-01
* Skin :
* Skin version :

## Explanation (설명)
 관리 도구에서 최신 버전이 공백으로 나옵니다 ([#](https://onemindwiki.pw/manager/1))
이 상태로 업데이트 하면 이렇게 되네요 ([#](https://onemindwiki.pythonanywhere.com/manager))

## Screenshot (스크린샷)

[2021-09-24 12:10] surplus-dev commented on #1156
어... 얼마 전에 올린 버전에서 해당 문제를 해결했습니다

[2021-09-24 17:24] ghost commented on #1156
저 상태로도 업데이트가 되긴 하네요 뭐 되면 됐으니까(?) 닫겠습니다

[2021-09-24 17:24] #1156 closed, assigned to surplus-dev

[2021-09-25 16:24] ghost opened #1157 "오픈나무 로고 저작권 관련"
## 질문
오픈나무 로고의 저작권(저작자나 CCL 등)은 어떻게 되는지 알 수 있을까요?

[2021-09-26 02:35] surplus-dev commented on #1157
Efrit란 분이 만드셨고 오픈나무랑 저작권 같습니다

[2021-09-26 02:35] #1157 closed, assigned to surplus-dev

[2021-09-26 11:40] surplus-dev commented on #1151
내일 처리 예정

[2021-09-26 11:41] surplus-dev commented on #1145
내일 인터위키 파트 제작 예정

[2021-09-26 12:14] surplus-dev opened #1158 "편집 필터 파트에 오류 있는 듯"
아님 말고 개선 필요

[2021-09-27 08:36] surplus-dev opened #1159 "[수렴] 인터위키에 관한 건"
인터위키는 일반 링크 급으로 하는 게 맞틀까요

아님 외부 링크 급으로 하는 게 맞을까요

[2021-09-27 10:31] ghost commented on #1159
위키 외부로 가는 링크이니 외부 링크쪽이지 않을까 싶습니다 (개인적인 생각입니다)

[2021-09-27 10:34] ghost opened #1160 "토론 오류 +α"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : v3.4.0 (stable-01b) (beta-01) (dev-10)
* Skin :
* Skin version :

## Explanation (설명)

- [x] 토론이 표시되지 않습니다. ([#](https://onemindwiki.pythonanywhere.com/thread/1#1))
- [x] `{{{#!html <a href="https://namu.wiki/w/@title@">@title@</a>}}}` 사용한 틀이 보이지 않습니다 ([#](https://onemindwiki.pythonanywhere.com/w/openNAMU)) ([RAW](https://onemindwi

[2021-09-27 11:45] Lwnlcks commented on #1159
외부 링크로 하는게 맞다고 봅니다

[2021-09-29 00:06] surplus-dev commented on #1160
현재 내부 개발 버전에서는 둘 다 고쳤으나 인터위키 구현 중으로 업로드 지연되고 있습니다

[2021-09-29 09:53] surplus-dev commented on #1160
수리 했습니다 dev-12

[2021-09-29 09:53] #1160 closed, assigned to surplus-dev

[2021-09-29 09:54] surplus-dev commented on #1145
인터위키 추가 완료 dev-12

[2021-10-01 13:13] surplus-dev commented on #1159
외부링크로 설정 완료

[2021-10-01 13:13] #1159 closed, assigned to surplus-dev

[2021-10-01 13:23] surplus-dev commented on #1158
수정 완료

[2021-10-01 13:23] #1158 closed, assigned to surplus-dev

[2021-10-01 13:36] surplus-dev commented on #1155
수정 완료

[2021-10-01 13:36] #1155 closed, assigned to surplus-dev

[2021-10-01 13:40] surplus-dev commented on #1151
처리 완료

[2021-10-01 13:40] #1151 closed, assigned to surplus-dev

[2021-10-01 13:47] #1113 closed, assigned to surplus-dev

[2021-10-02 18:24] ghost opened #1162 "사용자 설정에서 언어 바꾸면 에러가 납니다"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : v3.4.0 (stable-01b) (beta-02) (dev-13)
* Skin :
* Skin version :

## Explanation (설명)
사용자 설정에서 언어를 바꾸면 Internal Server Error가 발생합니다.

## Screenshot (스크린샷)

[2021-10-03 07:42] surplus-dev commented on #1162
수정 했습니다

[2021-10-03 07:42] #1162 closed, assigned to surplus-dev

[2021-10-04 12:28] cuprevenge opened #1166 "짧은 문서 목록에서 일반 문서를 구분"
짧은 문서에서 user, category, file 문서를 제외한 일반 문서만을 확인할 수 있었으면 좋겠습니다.

또한 리다이렉트 문서는 제외했으면 합니다.

[2021-10-04 17:13] cuprevenge commented on #668
v3.4.0 업데이트 후 작동하지 않음

[2021-10-04 17:19] cuprevenge opened #1167 "단축키 기능 미작동"
#668

* openNAMU version : v3.4.0 (stable-01) (beta-02) (dev-14)

[2021-10-05 06:16] cuprevenge opened #1168 "파일 크기 문법"
* openNAMU version : v3.4.0 (stable-01) (beta-02) (dev-14)

업데이트 이전에는 아래와 같이 숫자만 적어도 적용되었으나, 업데이트 후에는 px나 % 등 수치를 적어야만 적용됩니다.

`[[file:abc.jpg|width=200]]`

[2021-10-05 06:19] cuprevenge opened #1169 "리스트, 인용문 문법"
* Python version : v3.4.0 (stable-01) (beta-02) (dev-14)

리스트 문법과 인용문 문법을 연달아 사용하면 인용문 문법이 깨집니다.

[code]

![image](https://user-images.githubusercontent.com/52319594/135970565-32716b0b-f9f8-494b-880d-12216a1f2b66.png)

[2021-10-05 08:38] Lwnlcks commented on #1168
이 버그는 오래된 버그입니다.(즉 최근 업데이트로 인해 생긴일 이 아닙니다)
저희 위키가 설립될때도 있던 버그입니다.
근데 뭐 문법 쓰는데 지장은 없어서 그냥 쓰고 있었죠

[2021-10-05 09:00] cuprevenge commented on #1036
모나코 에디터 사용 시 편집 도구가 표시되지 않는 것 같습니다.

[2021-10-05 10:49] cuprevenge opened #1170 "틀 인클루드 이슈"
* Python version : v3.4.0 (stable-01) (beta-02) (dev-14)

틀 include시 알 수 없는 br이 과다 생성됩니다.

![image](https://user-images.githubusercontent.com/52319594/136008617-d26a9f21-1992-4465-a46a-dccca144c29f.png)

[2021-10-05 23:51] ghost commented on #1170
v3.2.0에 있다가 v3.3.0에서 사라지고 v3.4.0 오고 다시 생긴 오류네요

[2021-10-06 22:35] cuprevenge opened #1171 "주석 표시 오류"
* openNAMU version : v3.4.0 (stable-01) (beta-02) (dev-14)

주석 문법을 사용시 처음 사용한 주석을 제외한 나머지 주석이 그대로 표시됩니다.

[code]

[2021-10-07 12:15] surplus-dev commented on #1171
토요일 버그 싹 다 정리 예정

[2021-10-08 13:27] surplus-dev opened #1172 "v3.4.0-stable-02"
- [x] https://github.com/openNAMU/openNAMU/issues/1171
 - [x] https://github.com/openNAMU/openNAMU/issues/1170
 - [x] https://github.com/openNAMU/openNAMU/issues/1169
 - [x] https://github.com/openNAMU/openNAMU/issues/1168
 - [x] https://github.com/openNAMU/openNAMU/issues/1167
 - [x] https://github.com/openNAMU/openNAMU/issues/1149

[2021-10-08 13:57] surplus-dev commented on #1171
완료

[2021-10-08 13:57] #1171 closed, assigned to surplus-dev

[2021-10-08 13:57] surplus-dev commented on #1170
완료

[2021-10-08 13:57] #1170 closed, assigned to surplus-dev

[2021-10-08 13:57] surplus-dev commented on #1169
완료

[2021-10-08 13:57] #1169 closed, assigned to surplus-dev

[2021-10-08 13:57] surplus-dev commented on #1168
완료

[2021-10-08 13:57] #1168 closed, assigned to surplus-dev

[2021-10-08 13:58] surplus-dev commented on #1167
완료

하지만 이전 단축키에서 살짝 변화가 있습니다

어... 자세한 사항은 메뉴얼에 쓰겠습니다

[2021-10-08 14:26] surplus-dev commented on #1149
추가 완료

[2021-10-08 14:26] #1149 closed, assigned to surplus-dev

[2021-10-08 14:28] surplus-dev commented on #1172
beta-03으로 일단 올림 이상 없으면 stable-02로 배포 예정

[2021-10-08 14:28] #1172 closed, assigned to surplus-dev

[2021-10-08 14:28] surplus-dev commented on #1171
beta-03

[2021-10-08 16:42] cuprevenge opened #1174 "리스트 문법"
* openNAMU version : v3.4.0 (stable-02b) (beta-03) (dev-15)

문단과 리스트 문법을 같이 사용하면 마지막 리스트 문법이 적용되지 않습니다.

[code]

![image](https://user-images.githubusercontent.com/52319594/136593139-7434a203-0b0e-4abe-873e-0ee26b98b2ff.png)

[2021-10-08 21:07] cuprevenge commented on #1167
다른 곳에선 정상 작동하나, 일부 페이지(사용자 도구(user), 검색 결과 창(search))에선 단축키가 작동하지 않습니다.

[2021-10-08 21:09] cuprevenge opened #1175 "필요한 문서"
* openNAMU version : v3.4.0 (stable-02b) (beta-03) (dev-15)

일부 문서에서 사용한 인터위키와 외부링크 문법이 필요한 문서로 뜨는 오류가 있습니다.

또한 역링크 쪽에 &을 `&amp;`으로 바꿈으로써 필요한 문서로 취급하는 오류가 있는 듯 합니다.

[2021-10-08 23:25] cuprevenge opened #1176 "각주 이름"
* openNAMU version : v3.4.0 (stable-02b) (beta-03) (dev-15)

[code]

![image](https://user-images.githubusercontent.com/52319594/136633963-210148b1-2365-451a-ac43-9a8e1d2314e3.png) | ![image](https://user-images.githubusercontent.com/52319594/136633970-1f263159-00ad-488d-85c7-71612215f5f3.png) |
---- | ----

업데이트 이전에는 우측처럼 1.1, 1.2로 묶여서 나왔으나, 업데이트 후에는 우측처럼 표시됩니다.

[2021-10-08 23:43] surplus-dev commented on #1167
특정 페이지에서만 작동하도록 해놨었습니다

음... 그냥 좀 더 개선하겠습니다

[2021-10-09 00:35] cuprevenge commented on #1167
다른 페이지는 크게 상관없으나 검색 페이지의 경우 없는 문서를 e를 눌러 바로 편집할 수 있기에 포함했으면 합니다.

a(랜덤) 같은 경우 어떤 페이지에서든 효능이 좋을 것 같아 굳이 제한할 필요가 없을 것 같습니다.

[2021-10-09 00:37] cuprevenge commented on #1174
인용문 문법에서도 동일한 현상이 발생합니다.

[code]

![image](https://user-images.githubusercontent.com/52319594/136637500-aa54f065-f475-4d23-987e-20e640e18f9a.png)

[2021-10-09 00:48] cuprevenge commented on #1174
표 문법에서도 일어나네요.

[2021-10-09 06:00] surplus-dev commented on #1174
아마 이번 패치에서 너무 과도하게 마지막 br을 날려먹어서 그런 것 같네요

수정하겠습니다

[2021-10-10 08:37] surplus-dev opened #1177 "링크 구분자 옵션"

[2021-10-10 08:38] surplus-dev opened #1178 "v3.4.0-beta4"
- [x] https://github.com/openNAMU/openNAMU/issues/1176
 - [x] https://github.com/openNAMU/openNAMU/issues/1175
 - [x] https://github.com/openNAMU/openNAMU/issues/1174
 - [x] https://github.com/openNAMU/openNAMU/issues/1177

[2021-10-10 14:06] surplus-dev commented on #1176
멀쩡하게 작동하는 것을 봐서는 아마 제가 설계할 때 팝업 각주를 염두에 놓고 의도한 설계 같습니다

[2021-10-10 14:06] #1176 closed, assigned to surplus-dev

[2021-10-10 14:07] #1174 closed, assigned to surplus-dev

[2021-10-10 14:38] #1177 closed, assigned to surplus-dev

[2021-10-10 14:39] #1178 closed, assigned to surplus-dev

[2021-10-10 14:40] surplus-dev commented on #1036
@cuprevenge 추가 했습니다

[2021-10-11 08:23] surplus-dev commented on #1167
단축키 다시 재조정 예정

[2021-10-11 08:23] surplus-dev opened #1180 "링크 렌더러 수정"
심각하진 않은데 버그가 있음

[2021-10-11 08:24] surplus-dev opened #1181 "v3.4.0-stable2"
## 1차
- [x] https://github.com/openNAMU/openNAMU/issues/1167
- [x] https://github.com/openNAMU/openNAMU/issues/1180
- [x] https://github.com/openNAMU/openNAMU/issues/1183
- [x] https://github.com/openNAMU/openNAMU/issues/1182
- [x] https://github.com/openNAMU/openNAMU/issues/1184

## 2차
- [x] https://github.com/openNAMU/openNAMU/issues/1175
- [x] https://github.com/openNAMU/openNAMU/issues/1186
-

[2021-10-11 08:36] ghost commented on #1167
우측 상단 검색창에 영어로 검색하면 단축키가 작동해 버리는 오류가 있고 도구에서는 작동하지 않습니다. 버전은 방금 올라온 버전입니다

[2021-10-12 12:05] surplus-dev commented on #1181
수요일 수정 예정

[2021-10-12 21:07] ghost opened #1182 "공백 오류"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
{{{#!wiki style= 쓰면 공백이 생깁니다.

## Screenshot (스크린샷)
([출력](https://onemindwiki.pythonanywhere.com/w/한마음위키:운영%20게시판?num=1)), ([RAW](https://onemindwiki.pythonanywhere.com/raw/한마음위키:운영%20게시판?num=1))

[2021-10-12 21:19] ghost opened #1183 "문단 수정할 때 오류"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
한 문단을 수정할 때 '저작권 동의 체크'를 하지 않고 저장했을 때 경고 메시지 출력까진 잘 됩니다. 그런데 뒤로가면 수정했던 문단이 아닌 문서 전체가 수정 창에 나오게 되고 그대로 저장하면 수정한 문서의 문단 안에 그 문서 내용이 또 나오게 됩니다 ([예시](https://gasang.kro.kr/w/가상위키:소개?num=4))

<s>제가 썼는데 뭐라고 하는지 모르겠군요</s> <s>직접 해보시면 무슨 문제인지 아실꺼에요</s>

## Screenshot (스크린샷)

[2021-10-13 04:07] cuprevenge commented on #755
업데이트 후 리다이렉트 문서가 다시 표시됩니다.

[2021-10-14 09:46] surplus-dev commented on #1182
토요일 수정 예정

[2021-10-14 11:15] surplus-dev opened #1184 "파이썬 3.10이 나왔네"
아 해봐야지

[2021-10-14 13:29] surplus-dev commented on #1181
여러가지 더 늘었으므로 토요일까지 예정

[2021-10-14 14:04] #1183 closed, assigned to surplus-dev

[2021-10-14 14:04] #1182 closed, assigned to surplus-dev

[2021-10-14 14:07] #1180 closed, assigned to surplus-dev

[2021-10-14 14:13] surplus-dev commented on #1167
beta5

[2021-10-14 14:13] #1167 closed, assigned to surplus-dev

[2021-10-14 14:13] surplus-dev commented on #1181
문제 없으면 stable2로 낼 예정

[2021-10-14 14:16] surplus-dev commented on #1183
beta5

[2021-10-14 15:11] cuprevenge opened #1186 "토론 제목"
토론 제목이 공백일 경우 최근 토론에서 해당 토론에 접근하기가 어렵게 됩니다.

제목을 공백만으로 설정할 수 없도록 했으면 합니다.

[2021-10-14 15:19] cuprevenge commented on #1175
![image](https://user-images.githubusercontent.com/52319594/137347369-e51df58a-4484-4182-a4de-0d50839779aa.png)

외부의 경우 v3.4.0-beta (stable2) (beta5) (dev20)에서 아직 일부 발생하는 것 같습니다. (해당 문서 역링크 초기화 후에도 계속 보임)

[2021-10-15 06:02] cuprevenge opened #1187 "테이블 캡션"
* openNAMU version : v3.4.0-beta (stable2) (beta5) (dev20)

업데이트 후 테이블 캡션 문법이 작동하지 않습니다.

`|캡션| 테이블 || 내용 ||`
![image](https://user-images.githubusercontent.com/52319594/137439831-9323acc0-e943-4d3c-b409-616d9c472fbf.png)

[2021-10-16 01:39] surplus-dev opened #1188 "JS 파트 리팩토링"
- [ ] var 사용한 부분 let 기반으로 개편 예정
 - [ ] [use strict](https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Strict_mode) 사용 예정

[2021-10-16 03:43] cuprevenge opened #1189 "파일 문법"
* openNAMU version : v3.4.0-beta (stable2) (beta5) (dev20)

이전에는 아래와 같이 사용해도 정상적으로 출력되었으나, 업데이트 후에는 해당 문법을 사용한 문서 전체가 표시되지 않는 버그가 발생합니다.

`
[[file:abc.jpg|width|200]]
[[외부:def.jpg|width|200]]
`

[2021-10-16 13:28] surplus-dev commented on #1189
수정 완료

[2021-10-16 13:28] #1189 closed, assigned to surplus-dev

[2021-10-16 13:32] surplus-dev commented on #1186
최근 토론에 해당 문서의 topic으로 바로 가는 링크를 추가 했습니다

공백 문자 규제는 공백 문자 종류가 하도 많아서 어려울 것 같습니다

[2021-10-16 13:32] #1186 closed, assigned to surplus-dev

[2021-10-16 13:33] surplus-dev commented on #1175
해당 파트를 깜박해서 생긴 문제였습니다 수정 했습니다

[2021-10-16 13:33] #1175 closed, assigned to surplus-dev

[2021-10-16 14:00] surplus-dev commented on #1187
추가 완료

[2021-10-16 14:00] #1187 closed, assigned to surplus-dev

[2021-10-16 14:10] surplus-dev commented on #1181
https://github.com/openNAMU/openNAMU/pull/1190

[2021-10-16 14:10] surplus-dev commented on #1181
버그 없으면 내일 낼 예정

[2021-10-16 14:13] #1188 closed, assigned to surplus-dev

[2021-10-16 14:13] #1134 closed, assigned to surplus-dev

[2021-10-16 14:15] surplus-dev commented on #1138
3.5.0 개발 계획안으로 격하

사유 : 호환되지 않을 만큼 크게 변하지는 않음

[2021-10-17 04:59] cuprevenge opened #1191 "인클루드 시 문서 링크 문법"
* openNAMU version : v3.4.0-beta (stable2) (beta6) (dev22)

인클루드 시, 문서 제목에 괄호가 있는 문서를 링크시킬 경우 문제가 발생합니다.

예시 틀:A
`@a@는 @b@다.`

문서에 틀:A를 사용
`[Include(틀:A,a=맛있,b=[[사과(과일)]])]`

이 경우 과일의 괄호와 include의 괄호를 제대로 구분하지 못하는지 문서 링크가 걸리지 않습니다. 업데이트 이전에는 문서의 )를 {{{}}}로 감싸서 처리하면 링크가 가능했는데, 업데이트 후에는 이 경우에도 작동되지 않습니다.

[2021-10-17 12:29] surplus-dev commented on #1191
`[include(틀:연습장,a=씨앗,b=[[사과(씨앗\)]])]`를 권장 드립니다

[2021-10-17 13:19] Lwnlcks opened #1192 "수식 버그"
## Environment (환경)
* openNAMU version : v3.4.0 (stable-01b) (beta-02) (dev-14)

## Explanation (설명)
수식이 제대로 작동하지 않습니다
[예시](https://jichan.wiki/w/%EC%A0%84%EC%B2%B4%20%ED%99%95%EB%A5%A0%EC%9D%98%20%EB%B2%95%EC%B9%99)
## Screenshot (스크린샷)

[2021-10-18 04:29] cuprevenge opened #1193 "편집 도구"
* openNAMU version : v3.4.0-beta (stable2) (beta6) (dev22)

편집도구가 작동하지 않습니다.

[2021-10-18 12:48] cuprevenge opened #1194 "분류와 각주"
* openNAMU version : v3.4.0-beta (stable2) (beta6) (dev22)

업데이트 이전에는 분류가 최하단에 위치하고 각주가 그 다음이었으나, 업데이트 후에는 각주가 최하단에 위치합니다.

[2021-10-18 13:38] surplus-dev commented on #1192
수정 완료 beta7

[2021-10-18 13:38] #1192 closed, assigned to surplus-dev

[2021-10-18 13:45] surplus-dev commented on #1194
수정 완료

[2021-10-18 13:45] #1194 closed, assigned to surplus-dev

[2021-10-18 13:48] surplus-dev commented on #1193
수정 완료 beta7

[2021-10-18 13:48] #1191 closed, assigned to surplus-dev

[2021-10-18 13:48] #1184 closed, assigned to surplus-dev

[2021-10-18 13:49] surplus-dev commented on #1181
버그 없으면 ㄹㅇ 내일 낼 예정

[2021-10-19 18:32] ghost opened #1199 "include 오류"
## Environment (환경)
* OS :
* Python version : 3.9.5
* openNAMU version : v3.4.0-beta (stable2) (beta7) (dev23)
* Skin :
* Skin version :

## Explanation (설명)
include 문법을 사용하면 문서 인식 오류와 사진 버그가 발생합니다. [[include 사용했을 때](https://onemindwiki.pw/w/한마음위키:대문)] [[원래 문서](https://onemindwiki.pw/w/틀:한마음위키)]

여기서 Material 스킨으로 바꾸면 틀 2개가 출력이 안되는데 이건 스킨 문제이려나요..

## Screenshot (스크린샷)

[2021-10-21 10:58] cuprevenge opened #1200 "사용자 스킨 설정"
* openNAMU version : v3.4.0-beta (stable2) (beta7) (dev23)

사용자 스킨 설정의 기본값이 메인 설정의 기본 스킨이 아닌 tenshi 스킨으로 설정됩니다.

[2021-10-23 13:19] surplus-dev commented on #1200
수정 완료

[2021-10-23 14:02] surplus-dev commented on #1199
수정 완료

[2021-10-23 14:14] #1199 closed, assigned to surplus-dev

[2021-10-23 14:14] surplus-dev opened #1201 "tenshi CSS 재조정"
사이즈가 좀 심하게 덜컹거림

[2021-10-24 03:35] surplus-dev opened #1202 "[수렴] 기본 스킨 의견 수렴"
조만간에 개선 작업 할 예정 입니다

바라시는 점을 올려주세요

[2021-10-24 03:49] Lwnlcks commented on #1202
* 유용성과 심미성을 겸미해주세요
 * 직관적이고 단순하고 정직하고 명확하고 쉽게 이해가능하게 해주세요

[2021-10-24 06:45] ghost commented on #1202
위키 로고를 사진으로 설정했을 때 생기는 아래쪽의 빈 공간을 조정해 주셨으면 좋겠습니다. (+) 로고가 중앙으로 올 수 있게 조정해 주셨으면 좋겠습니다.

![image](https://user-images.githubusercontent.com/89305211/138583587-e0a7a6f1-cc92-456c-82d6-2ef0d12ec4ce.png)
(tenshi, Material, liberty)

[2021-10-24 22:03] swoo5571 opened #1205 "분류를 상단으로"
분류가 현재 하단에 위치해있습니다. 이걸 상단으로 이동할려면 어떤걸 수정해야하는지 모르겠습니다.

[2021-10-25 09:39] surplus-dev commented on #1205
이미 기본 사용자 설정에 있습니다

[2021-10-26 04:02] swoo5571 commented on #1205
기본 사용자 설정에 안 보입니다.

[2021-10-26 07:01] cuprevenge opened #1206 "인용문 루비"
* openNAMU version : v3.4.0-beta (stable2) (beta7) (dev23)

인용문에서 ruby 문법이 작동하지 않습니다.

[2021-10-26 12:03] surplus-dev commented on #1205
아 기본 사용자 설정이 아니라 기본 스킨 설정 입니다

[2021-10-26 12:16] surplus-dev commented on #1206
https://2du.pythonanywhere.com/w/%EB%B9%84%EB%A1%9C%EA%B7%B8%EC%9D%B8%20%EC%A0%84%EC%9A%A9%20%EB%AC%B8%EC%84%9C

잘 되는 것 같습니다

[2021-10-26 12:30] cuprevenge commented on #1206
[code]

위처럼 사용시 아래처럼 표시됩니다.

![image](https://user-images.githubusercontent.com/52319594/138879127-6e1834be-e675-404b-8864-d7727b599788.png)

[2021-10-26 12:32] cuprevenge commented on #1206
확인 결과 인용문을 떠나 ruby 문법이 아예 작동하지 않는 것 같습니다. 혹시 문법이 바뀌었나요?

[2021-10-26 12:59] Lwnlcks commented on #1206
ruby가 파서에 없는거 같습니다.ㅁ.

[2021-10-26 13:02] Lwnlcks commented on #1206
syntax 문법 강조가 아니라 '루비 문자(ruby)' 문법이 작동 안됩니다

[2021-10-27 09:46] surplus-dev commented on #1206
아 까먹고 빼먹었네여 추가하겠습니다

[2021-10-27 13:40] surplus-dev commented on #1206
수정 했습니다

[2021-10-27 13:40] #1206 closed, assigned to surplus-dev

[2021-10-27 13:41] surplus-dev commented on #1181
완전 종료 선언

[2021-10-27 13:41] #1181 closed, assigned to surplus-dev

[2021-10-28 08:53] cuprevenge opened #1209 "목록 개선"
- [x] 짧은 문서 목록(#1166)
- [x] 편집된 지 오래된 문서(#755) (v3.4.5 (stable1) (beta3) (dev14) 기준으로 안 뜨는듯)
- [x] 짧은 문서와 긴 문서도 모든 문서 목록처럼 다음 내역을 볼 수 있도록

[2021-10-28 08:53] cuprevenge commented on #1166
#1209

[2021-10-28 08:53] #1166 closed, assigned to surplus-dev

[2021-10-28 08:53] cuprevenge commented on #755
#1209

[2021-10-28 13:19] #1205 closed, assigned to surplus-dev

[2021-10-28 13:44] surplus-dev commented on #1139
파트 별로 분리 진행

## 현재 완료 파트
 - [x] user
 - [x] vote
 - [x] login

[2021-10-29 03:59] cuprevenge opened #1210 "필요한 문서 틀 링크"
* openNAMU version : v3.4.0-stable (stable2) (beta7) (dev23)

[code]

이 경우 사과, 과일 문서가 없는 문서임에도 필요한 문서에는 나타나지 않습니다.

[2021-10-29 14:46] cuprevenge opened #1211 "인용문 CSS"
인용문에 표시되는 이미지가 큰 따옴표임을 고려한다면 180도 회전되어야 할 것으로 보입니다.

![image](https://user-images.githubusercontent.com/52319594/139455518-b20bfefc-de03-4b8e-9548-1f980721ace2.png)
위 현재모습 / 아래 고쳐져야 할 모습

[2021-10-30 02:18] Lwnlcks commented on #1211
views\main_css\file\quote.png 를 이걸로 교체하면 깔끔히 해결되는문제네요
![quote](https://user-images.githubusercontent.com/72176091/139517069-7a60dde9-dfe2-40c4-888c-d2638e62c0bd.png)

[2021-10-30 04:55] surplus-dev commented on #1211
어... 회전하겠습니다

[2021-10-31 17:50] ghost opened #1212 "서버 최초 실행 시 Internal server error 발생"
## Environment (환경)
* OS : Ubuntu 20.04 LTS
* Python version : Python 3.8.10
* openNAMU version : 3.4.0
* Skin : 기본
* Skin version : 몰?루

## Explanation (설명)
1.git clone을 했다

2.flask run을 했다

3.전부 기본값으로 엔터를 연타했다

4.Now running... http://localhost:3000
Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
이라고 뜨길래 "아니 XX 3000이라는 거야 5000이라는 거야" 하면서
투털대며 3000으로 들어갔는데 안 들어가져서 5000으로 들어갔는데
인터널 서버 에러가

[2021-10-31 17:57] ghost commented on #1212
+ python3 app.py를 하지 않은 이유는 그렇게 하면 flask 모듈이 존재하는데도, flask 모듈을 찾을 수 없다고 에러가 나기 때문

[2021-11-01 00:16] ShapeLayer commented on #1212
안녕하세요.

본 이슈는 재현하기 어려워 조금 더 자세히 설명해주셔야할 것 같습니다.
`stable` 브랜치의 오픈나무를 실행하는데 있어 이러한 유형의 문제는 발견되지 않았습니다.

<details>
<summary>
테스트 환경에서의 오픈나무 최초 실행 로그
</summary>

[code]

</details>

우선 다음 사항을 확인해주셨으면 좋겠습니다.
1. 클론한 레포의 브랜치가 `stable`인지 확인하세요. 아니라면 `git checkout stable`을 통해 레포 브랜치를 `stable`로 전환할 수 있습니다.
    * `stable` 외 브랜치는 버그를 핸들링할 수 있는 분께 권해드립니다.
2. `python app.py`(Windows, Conda, Docker) 혹은 `python3

[2021-11-01 00:22] ShapeLayer commented on #1212
안녕하세요.

본 이슈는 재현하기 어려워 조금 더 자세히 설명해주셔야할 것 같습니다.
`stable` 브랜치의 오픈나무를 실행하는데 있어 이러한 유형의 문제는 발견되지 않았습니다.

<details>
<summary>
테스트 환경에서의 오픈나무 최초 실행 로그
</summary>

[code]

</details>

우선 다음 사항을 확인해주셨으면 좋겠습니다.
1. 클론한 레포의 브랜치가 `stable`인지 확인하세요. 아니라면 `git checkout stable`을 통해 레포 브랜치를 `stable`로 전환할 수 있습니다.
    * `git branch` 명령을 통해 현재 브랜치를 확인할 수 있습니다.
    * `stable` 외 브랜치는 ***버그를 핸들링할 수 있는 분***께 권해드립니다.
2.

[2021-11-01 11:38] surplus-dev opened #1213 "[수렴] 문서별 문법 선택 기능"
만약 한 위키 안에서 여러 문법을 사용할 수 있다면 사용해보시겠습니까?

[2021-11-01 11:52] cuprevenge commented on #1213
기능 자체는 나쁘지 않지만 실험용이라면 모를까 실제 사용 시엔 혼란이 있을 것 같아 회의적입니다.

[2021-11-01 12:02] Lwnlcks commented on #1213
한 위키안에 여러 문법을 사용하는 것 자체는 나쁘지 않아보이네요
한 문서 안에 여러 문법을 섞는게 아닌 문서마다 문법을 지정해서 사용하는 것은 혼란이라기 보다는 선택의 폭을 늘려주는 것이라고 개인적으로 생각합니다.
저는 괜찮은 기능이라고 생각합니다.

[2021-11-01 14:42] ShapeLayer commented on #1213
만약 충돌하는 문법이 있다면 대응책을 생각해야할 것 같은데, 가장 유력한 대책으로는 네임스페이스 사용이 되지 않을까 싶습니다.
하지만 이렇게 된다면 오히려 raw가 복잡해지게 될것 같네요.

극한의 자유로운 문법 구사가 가능한 자바스크립트에서도 생산성 저하를 이유로 코딩 스타일을 따로 지정하면서 문법을 일정하게 맞추려고 하는데, 이 기능은 위키 문서를 자바스크립트스럽게 만들지 않을까 우려됩니다.

물론 선택지는 많은게 좋으니, 기능은 추가하되 디폴트로 비활성화시키고 설정에서 따로 활성화할 수 있도록 설정하는 편이 괜찮을 것 같습니다.

[2021-11-01 17:04] ghost commented on #1213
소유자가 선택할 수 있게 하는 것도 괜찮을 것 같습니다.

다중 문법 지원은 각자마다 나무마크가 더 편한 사람도 있고, 미디어위키 문법이 편한 사람도 있으니까 없어서 나쁠껀 없을 것 같습니다. ~~(+) 기능은 많으면 많을수록 좋죠~~

[2021-11-03 06:29] ghost opened #1214 "URL 접속할 때 오류"
## Environment (환경)
* OS : 우분투 20.04
* Python version : 3.9.5
* openNAMU version : v3.5.0-dev (stable1) (beta1) (dev1)
* Skin :
* Skin version :

## Explanation (설명)
https://(위키 주소)/w/(문서)#(문단 이름)으로 접속하면 문단으로 이동하지 않고 문서로 접속됩니다.
(#s-문단 번호는 잘 됩니다)

## Screenshot (스크린샷)

[2021-11-03 09:33] cuprevenge opened #1215 "인터위키 스크립트 문제"
* openNAMU version : v3.4.0-stable (stable2) (beta7) (dev23)

검색엔진의 검색 결과에서 문서 내용 대신 인터위키 목록 스크립트(render_content_set)가 표시되는 문제점이 있습니다.

[2021-11-04 13:37] surplus-dev commented on #1213
일단은 의견 수렴 결과 보류로 결정

[2021-11-04 13:37] #1213 closed, assigned to surplus-dev

[2021-11-05 01:42] #1212 closed, assigned to ShapeLayer

[2021-11-06 07:46] surplus-dev opened #1216 "오늘의 개인 문서 기능"
## 개요
사용자 페이지에 오늘의 개인 문서라는 메뉴를 만들 예정

그 메뉴를 누르면 `사용자명/오늘_날짜`로 감

그냥 거기다가 일기 쓰면 됨

## 도대체 이런 걸 왜 만드나요?
내가 쓸거임

[2021-11-06 08:06] surplus-dev commented on #1215
대충 문제를 확인 해봤는데 리버티 스킨에 문서 요약을 안 써놔서 그런 것 같습니다

조만간에 추가하겠습니다

[2021-11-06 08:26] surplus-dev opened #1217 "이번 주 동안 할 일 (11.06 ~ 11.13)"
## 아마 바로 끝날 일
- [x] https://github.com/openNAMU/openNAMU/issues/1214
- [x] https://github.com/openNAMU/openNAMU/issues/1211
- [x] https://github.com/openNAMU/openNAMU/issues/1216
- [x] https://github.com/openNAMU/openNAMU/issues/1215
- [x] https://github.com/openNAMU/openNAMU/issues/1226

## 좀 오래 걸릴 지도 모르는 일
- [ ] https://github.com/openNAMU/openNAMU/issues/1145
- [ ] https://github.com/openNAMU/o

[2021-11-06 08:37] surplus-dev commented on #1211
수정 완료 dev1

[2021-11-06 08:37] #1211 closed, assigned to surplus-dev

[2021-11-07 10:06] surplus-dev opened #1218 "좀 더 다양한 암호화 추가 예정"
sha3-salt
sha3-512
sha3-512-salt

sha512도 고민 해봤으나 굳이 필요 없을 듯

오히려 sha256 지원 종료 고심 중

[2021-11-08 14:36] surplus-dev commented on #1215
메타 추가로 해결

[2021-11-08 14:36] #1215 closed, assigned to surplus-dev

[2021-11-08 14:45] surplus-dev commented on #1214
추가 완료

[2021-11-08 14:45] #1214 closed, assigned to surplus-dev

[2021-11-08 14:53] surplus-dev commented on #1216
추가 완료

[2021-11-08 14:53] #1216 closed, assigned to surplus-dev

[2021-11-09 21:33] cuprevenge opened #1219 "유튜브 매크로"
* openNAMU version : v3.4.0-stable (stable2) (beta7) (dev23)

유튜브 매크로에서 동영상 시작 시간 매개변수(start=n)가 작동하지 않습니다.

[2021-11-10 01:26] cuprevenge opened #1220 "역링크 초기화"
emergency tool로 역링크 초기화 후 역링크가 재생성되지 않거나 재생성되는 속도가 너무 느립니다.

[2021-11-10 13:53] Gwangtori opened #1222 "분류 관련 오류"
## Environment (환경)
* OS : 우분투 21.04
* Python version : 3.9.5
* openNAMU version : v3.5.0-dev (stable1) (beta1) (dev1)
* Skin : 리버티 스킨
* Skin version : v1.1.7

## Explanation (설명)
분류가 존재하지 않는 문서로 되어 있을 때, 분류에 속해 있는 문서들이 2번 출력됩니다. [[#](https://onemindwiki.pw/w/category:틀%2F한마음위키)]

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/64156915/141125458-939c9221-7420-4a78-bf86-bab

[2021-11-10 18:16] dvlight opened #1223 "편집 요청이 제대로 작동하지 않는 것 같습니다."
## Environment (환경)
* OS : pythonanywhere 사용
* Python version : 3.8
* openNAMU version : v3.4.0-stable3
* Skin : 기본 스킨
* Skin version :

## Explanation (설명)

문서를 편집 요청으로 수정할려고 하면 메인 페이지로 리다이렉트 됩니다.
ex) opennamu.wiki/edit_req/xxx -> opennamu.wiki/w/FrontPage로 리다이렉트

혹여 파일을 잘못 건드렸나 싶어 공식 위키에서도 테스트를 해보았으나 공식 위키 역시 FrontPage로 리다이렉트 됩니다.

https://2du.pythonanywhere.com/edit_req/%EB%B9%84%EB%A1%9C%EA%B7

[2021-11-10 18:49] Gwangtori opened #1224 "UA 및 개인 정보 수집 관련"
## 질문
수집된 개인 정보는 영구히 저장 되는건가요? 아니면 일정 기간 후에 지워지는 것인가요?

## 여기서 제안(?)
개인정보를 수집했다가 지워지는 기간을 설정할 수 있으면 좋을 것 같습니다

[2021-11-10 22:57] Lwnlcks commented on #1224
* 참고하면 좋을 듯한 내용
대한민국 법령 통신비밀보호법 시행령 제 41조 2항 제 2목에 따라 비로그인 이용자의 접속로그(ip와 같이 수집되는것들..)를 **3개월** 동안 보관해야합니다.
또한 로그인 이용자의 접속로그는 '사용자의 회원가입시 동의'를 근거로 개인정보수집 동의 철회 전까지 준 영구 보관할수 있습니다
(하지만 정확한 해석은 법률자문을..)

[2021-11-10 23:00] Lwnlcks commented on #1223
#933

[2021-11-10 23:12] dvlight commented on #1223
안정화 버전인 3.4.0에서 이미 지원이 중단된건가요?
만약 그렇다면 맨 밑 문단만 봐주시면 될것같습니다.

[2021-11-11 00:01] surplus-dev commented on #1224
현재 수동 제거와 아예 끄는 건 지원하고 있으나 몇 개월 후에 제거는 아직 없습니다

[2021-11-11 00:01] surplus-dev commented on #1223
지원이 종료되어서 사라졌습니다 다른 기능 추가 예정입니다

[2021-11-11 00:02] surplus-dev commented on #1219
수정 되었습니다

[2021-11-11 00:02] #1219 closed, assigned to surplus-dev

[2021-11-11 00:19] dvlight commented on #1223
감사합니다. :D

[2021-11-11 00:19] #1223 closed, assigned to surplus-dev

[2021-11-11 01:58] cuprevenge opened #1225 "리스트 br"
* openNAMU version : v3.4.0-stable (stable2) (beta7) (dev23)

[code]

![image](https://user-images.githubusercontent.com/52319594/141223303-3f0e77a6-e5bc-49e9-afc6-85c90457a858.png)

리스트 문법 사용시 하단의 내용은 br이 정상적으로 적용되나 상단은 그렇지 않은 것 같습니다.

[2021-11-11 04:07] cuprevenge opened #1226 "navertv 매크로 지원"
the seed처럼 navertv 매크로가 지원되었으면 합니다.

[2021-11-11 04:21] cuprevenge opened #1227 "표 내부 문법"
* openNAMU version : v3.4.0-stable (stable2) (beta7) (dev23)

- [x] 표 내부 인용문

[code]

![image](https://user-images.githubusercontent.com/52319594/141236207-70542fba-f6ca-4216-80f3-e345dad6915e.png)
![image](https://user-images.githubusercontent.com/52319594/141236229-f2917be2-53c2-4d4f-b919-9a65a92dadd6.png)

나무위키에서는 위처럼 구현되나 오픈나무에선 문법이 깨집니다.

- [x] 표 내부 리스트

[code]

![image](https://user-images.g

[2021-11-11 04:39] surplus-dev commented on #1226
확실히 추가 예정

[2021-11-11 14:48] surplus-dev commented on #1226
완료

[2021-11-11 14:48] #1226 closed, assigned to surplus-dev

[2021-11-11 14:53] surplus-dev commented on #1222
수정 완료

[2021-11-11 14:53] #1222 closed, assigned to surplus-dev

[2021-11-11 15:00] surplus-dev commented on #1227
아마도 고쳤습니다

[2021-11-11 15:00] #1227 closed, assigned to surplus-dev

[2021-11-12 09:54] Gwangtori opened #1228 "버그 제보"
## 문단 관련
![image](https://user-images.githubusercontent.com/64156915/141447660-d906d4cd-3139-4e6a-a776-27dfa227af26.png)
- [x] 문단에 링크를 삽입했을 때 문단이 깨집니다 [[#]](https://2du.pythonanywhere.com/w/FrontPage)

## 토론 관련
- [x] 토론 미리보기가 작동하지 않습니다.

[2021-11-12 10:11] Gwangtori opened #1229 "문단, 리스트 관련 제안"
## 문단
![image](https://user-images.githubusercontent.com/64156915/141449385-e5bc317e-23c5-41b4-9ee3-5ac2b1c7e705.png)
![image](https://user-images.githubusercontent.com/64156915/141449500-1432cfcd-8868-43ab-87db-c4716daed4ea.png)
the seed 처럼 접힌 문단과 펴진 문단이 티가 확나게 하면 괜찮을 것 같습니다

## 리스트
![image](https://user-images.githubusercontent.com/64156915/141449732-cfdc82f2-7abe-446c-ab90-d5575c63c56a.png)
![i

[2021-11-12 13:51] surplus-dev opened #1230 "이번 주 동안 할 일 2"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)

## Screenshot (스크린샷)

[2021-11-12 13:52] #1230 closed, assigned to surplus-dev

[2021-11-12 14:04] surplus-dev commented on #1220
실수로 렌더러 함수 호출에 오타가 나서 생기는 문제였습니다

아마도 해결했습니다

[2021-11-12 14:04] #1220 closed, assigned to surplus-dev

[2021-11-12 14:27] cuprevenge opened #1231 "beta 릴리즈 가이드"
dev와 stable은 대략적으로 릴리즈 공지나 기간을 짐작할 수 있으나 beta는 따로 존재치 않아 수정된 사항을 사이트에 반영하기가 어렵습니다. 대략적인 기간이나 가이드라인이 있었으면 좋겠습니다.

[2021-11-12 14:29] surplus-dev commented on #1231
beta는 뭔가 기능하나 완성했다 싶으면 올리는 빌드라서 저도 딱 얼마다라고 말씀 드리기가 어려운 부분이 있습니다

dev -> 그냥 막 올리는 빌드
beta -> 기능 하나 완성하면 올리는 빌드
stable -> 좀 여러 기능이 그럴싸하게 완성되면 올리는 빌드

라고 보시면 됩니다

[2021-11-12 14:31] surplus-dev commented on #1229
1번은 생각이 있는데 2번은 솔직히 귀찮아서 안할 것 같습니다

[2021-11-12 14:36] Gwangtori commented on #1229
Aㅏ

[2021-11-13 14:37] surplus-dev commented on #1228
버그 수정 dev3

[2021-11-13 14:37] #1228 closed, assigned to surplus-dev

[2021-11-13 14:42] #1147 closed, assigned to surplus-dev

[2021-11-13 14:43] #1202 closed, assigned to surplus-dev

[2021-11-13 14:43] surplus-dev commented on #1201
https://github.com/openNAMU/openNAMU/issues/1202

[2021-11-13 14:44] surplus-dev opened #1232 "이번 주 동안 할 일 (11.14 ~ 11.21)"
## 단기 과제
- [ ] https://github.com/openNAMU/openNAMU/issues/1229
- [ ] https://github.com/openNAMU/openNAMU/issues/1218
- [ ] https://github.com/openNAMU/openNAMU/issues/1143
- [ ] https://github.com/openNAMU/openNAMU/issues/1233
- [ ] https://github.com/openNAMU/openNAMU/issues/1225

## 장기 과제
### 버그
- [ ] https://github.com/openNAMU/openNAMU/issues/1242
- [ ] https://github.com/openNAMU/openNAMU/i

[2021-11-13 14:46] surplus-dev opened #1233 "bot key 추가 예정"

[2021-11-13 14:46] #1217 closed, assigned to surplus-dev

[2021-11-13 14:47] surplus-dev commented on #1231
## 개편안 예정
dev -> 매일
beta -> 2주마다
stable -> 3개월마다

[2021-11-13 15:01] surplus-dev commented on #1231
https://github.com/openNAMU/openNAMU/issues/710

[2021-11-13 15:01] #1231 closed, assigned to surplus-dev

[2021-11-13 16:38] Lwnlcks opened #1235 "오늘의 문서의 오늘의 문서의 오늘의 문서의 오늘의 문서 버그..."
## Environment (환경)
* openNAMU version :v3.5.0-dev (stable1) (beta2) (dev3)

## Explanation (설명)
오늘의 문서의 오늘의 문서가 생기네요
## Screenshot (스크린샷
![fdsfds](https://user-images.githubusercontent.com/72176091/141651614-3c660b30-6dc4-4087-bc1c-41de09ea3ca2.PNG)

[2021-11-13 17:12] Lwnlcks commented on #1235
(하위문서 자동 링크라서 어쩔수 없겠지만..)

[2021-11-13 20:31] Gwangtori commented on #1235
ㅗㅜㅑ... 저 생각은 못해봤는ㄷ... ㄴ°ㅇ°ㄱ

[2021-11-14 00:55] surplus-dev commented on #1235
생각 지도 못한 버그 속에 생각 지도 못한 버그 속에 생각 지도 못한 버그 속에 생각 지도 못한 버그 속에 생각 지도 못한 버그 속에 생각 지도 못한 버그 속에 생각 지도 못한 버그 속에 생각 지도 못한 버그 속에 버그가 있었네요

[2021-11-14 08:47] Lwnlcks opened #1236 "문단 편집 버그"
## Environment (환경)
* openNAMU version : v3.5.0-dev (stable1) (beta2) (dev3)

## Explanation (설명)
문단 편집시 /edit/?section=1 로 이동됨
## Screenshot (스크린샷)
![trdf](https://user-images.githubusercontent.com/72176091/141674108-1e967699-f4dc-469c-91fa-9c9889c879a2.PNG)

[2021-11-14 13:27] cuprevenge opened #1237 "목차"
* openNAMU version : v3.5.0-beta (stable1) (beta1) (dev3)

업데이트 후 목차가 자동으로 나오지 않습니다.

[2021-11-15 06:27] cuprevenge opened #1238 "리다이렉트 문서 단축키 편집"
* openNAMU version : v3.5.0-beta (stable1) (beta1) (dev3)

B 문서에서 리다이렉트 된 A 문서를 단축키 편집(E)하려고 하면 A/doc_from/B 문서가 편집됩니다.

[2021-11-15 13:31] surplus-dev commented on #1235
고쳤습니다

[2021-11-15 13:31] #1235 closed, assigned to surplus-dev

[2021-11-15 13:34] surplus-dev commented on #1236
저번에 추가한 것 중에 문제가 있어서 대충 수정했습니다

[2021-11-15 13:34] #1236 closed, assigned to surplus-dev

[2021-11-15 13:35] surplus-dev commented on #1237
저번에 추가한 것 중에 문제가 있어서 대충 수정했습니다

[2021-11-15 13:35] #1237 closed, assigned to surplus-dev

[2021-11-15 13:39] surplus-dev commented on #1238
고쳤습니다

[2021-11-15 14:58] surplus-dev opened #1239 "실수로 탭 들어감"
확인 필요