[2021-11-16 09:05] cuprevenge opened #1240 "문단 편집 권한"
* openNAMU version : v3.5.0-beta (stable1) (beta1) (dev3)

따로 ACL이 걸려있지 않음에도 문단 편집시 권한이 없다고 뜹니다. 정작 문서 전체 편집은 됩니다.

[2021-11-16 09:18] cuprevenge opened #1241 "분류 링크가 필요한 문서로"
* openNAMU version : v3.5.0-beta (stable1) (beta1) (dev3)

[[:분류:ABC]]시 필요한 문서에 분류:ABC가 뜹니다.

[2021-11-16 09:22] cuprevenge opened #1242 "링크 문법 무효화해도 필요한 문서로"
* openNAMU version : v3.5.0-beta (stable1) (beta1) (dev3)

{{{[[/문서]]}}} 로 링크 문법을 무효화 해도 '/문서'가 필요한 문서로 링크됩니다.

[2021-11-16 10:43] Gwangtori commented on #1242
해당 문제는 {{{, }}} 문법 무효화 문제가 해결이 안돼서 그런 것이 아닐까 싶네요 (https://github.com/openNAMU/openNAMU/issues/1145)

[2021-11-16 10:52] cuprevenge commented on #1242
include 없이도 발생합니다.

[2021-11-17 13:36] surplus-dev commented on #1239
아마도 해결

[2021-11-17 13:36] #1239 closed, assigned to surplus-dev

[2021-11-17 13:36] surplus-dev commented on #1240
아마도 해결

[2021-11-17 13:36] #1240 closed, assigned to surplus-dev

[2021-11-21 13:37] #1232 closed, assigned to surplus-dev

[2021-11-21 13:38] surplus-dev opened #1244 "이번 주 동안 할 일 (11.21 ~ 11.28)"
## 단기 과제
- [ ] https://github.com/openNAMU/openNAMU/issues/1229
- [ ] https://github.com/openNAMU/openNAMU/issues/1218
- [ ] https://github.com/openNAMU/openNAMU/issues/1143
- [ ] https://github.com/openNAMU/openNAMU/issues/1233
- [x] https://github.com/openNAMU/openNAMU/issues/1225

## 장기 과제
### 버그
- [ ] https://github.com/openNAMU/openNAMU/issues/1242
- [ ] https://github.com/openNAMU/openNAMU/i

[2021-11-21 14:42] surplus-dev commented on #1225
https://github.com/openNAMU/openNAMU/commit/6b9e7cc883c335c97bc85d483a0a20dec096a75d

일부 코드에서 너무 극단적으로 공백을 줄이려고 해서 생기는 문제라 조정했습니다

[2021-11-21 14:47] #1225 closed, assigned to surplus-dev

[2021-11-21 14:54] cuprevenge commented on #1238
- openNAMU version : v3.5.0-beta (stable1) (beta3) (dev4)

문서 역사의 특정 리비전에서 E를 누르면 문서/doc_rev/n 문서가 편집됩니다.

[2021-11-21 14:56] cuprevenge opened #1246 "역사 리비전 단축키 편집"
- openNAMU version : v3.5.0-beta (stable1) (beta3) (dev4)

문서 역사의 특정 리비전에서 E를 누르면 문서/doc_rev/n 문서가 편집됩니다.

_Originally posted by @cuprevenge in https://github.com/openNAMU/openNAMU/issues/1238#issuecomment-974831409_

[2021-11-21 14:57] surplus-dev opened #1247 "마크다운 규격 고심중"
## 고심중
 - [x] [커먼마크](https://commonmark.org/)
 - [ ] [멀티마크](https://rawgit.com/fletcher/MultiMarkdown-6-Syntax-Guide/master/index.html)
 - [x] [깃헙마크](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax)

 * [비교 사이트](https://babelmark.github.io/)

## 확실하게 결심한 사안
### 단순 커스텀
#### 링크 부분의 커스텀
 * `[링크]()` = `[[링크]]

[2021-11-21 14:57] surplus-dev commented on #1246
내일 수정 예정입니다

[2021-11-22 05:45] Gwangtori opened #1248 "오류 제보"
## Environment (환경)
* openNAMU version: v3.5.0-dev (stable1) (beta3) (dev5)

## Explanation (설명)
- 맨 위, 맨 아래 줄의 문법이 무효화됩니다.
- file:1.png → file:2.png 이동한 후, 이동한 파일 이름인 file:2.png로 링크를 걸면 없는 사진으로 출력됩니다.

[2021-11-22 06:58] Lwnlcks commented on #1248
#1152

[2021-11-22 11:17] cuprevenge commented on #1238
- openNAMU version : v3.5.0-beta (stable1) (beta3) (dev4)

여전히 발생하는 것 같습니다. dev5에 반영되었나요?

[2021-11-22 12:20] surplus-dev commented on #1238
고쳤는데 실수로 롤백 시킨 것 같습니다

[2021-11-22 13:29] surplus-dev commented on #1248
1번은 dev6 패치로 고쳤습니다

2번은 조만간에 file 문서에 대한 분리 작업을 시작할껀데 그 때 같이 반영하도록 하겠습니다

[2021-11-22 13:29] surplus-dev commented on #1246
dev6

[2021-11-22 13:29] #1246 closed, assigned to surplus-dev

[2021-11-22 13:29] surplus-dev commented on #1238
dev6

[2021-11-22 13:29] #1238 closed, assigned to surplus-dev

[2021-11-23 01:20] cuprevenge opened #1250 "리다이렉트 문법 미작동"
* openNAMU version : v3.5.0-beta (stable1) (beta4) (dev6)

업데이트 후 리다이렉트 문법이 작동하지 않습니다.

[2021-11-23 14:09] surplus-dev commented on #1250
다시 수정 했습니다

[2021-11-23 14:09] #1250 closed, assigned to surplus-dev

[2021-11-24 06:59] cuprevenge opened #1252 "최근 편집 옵션"
최근 편집 옵션에서 새 문서(r1)만 따로 볼 수 있는 옵션이 있었으면 합니다.

[2021-11-27 11:43] Lwnlcks commented on #1117
(결말 : 저 사이트를 해보고 7일 결제까지 해서 변환을 받았지만
mysql.json가 생성되지 않아서 못했다고한다)

[2021-11-27 11:44] Lwnlcks commented on #1117
초기 설정에서 mysql지정해도 mysql.json이 생성이 안되요

[2021-11-27 13:30] surplus-dev commented on #1117
@Lwnlcks 버그가 있어서 수정 예정입니다

[2021-11-27 13:57] surplus-dev opened #1255 "파일 관련 이슈 모음"
## 모음
 - [ ] https://github.com/openNAMU/openNAMU/issues/1248
 - [ ] https://github.com/openNAMU/openNAMU/issues/1152
 - [ ] https://github.com/openNAMU/openNAMU/issues/1141

[2021-11-27 14:13] cuprevenge opened #1256 "토론 블라인드 표시 가시화"
현재는 블라인드 된 토론이 (B)로만 표시되어 블라인드 여부가 눈에 띄지 않습니다.

좀 더 눈에 띄는 방식으로 바뀌었으면 합니다.

[2021-11-27 14:20] cuprevenge opened #1257 "문서 이동 옵션"
문서 이동시 문서에 딸린 토론도 같이 이동시킬 수 있는 옵션이 있었으면 합니다.

[2021-11-27 15:40] asheswook opened #1258 "SASS (SCSS) 컴파일 자체 지원"
CSS의 단점을 보완한 SCSS 포맷를 자동으로 컴파일하여 웹에 접속한 유저에게 제공하는 기능이 있었으면 좋겠습니다.
현재 오픈나무에서 스킨을 만들고 사용하는 데에는 순정 html, css, js밖에 이용할 수 없으며
스킨 제작에 있어 체계화가 어렵고 쉽게 코드가 복잡해지는 단점이 있습니다.
따라서 SCSS 컴파일 기능을 엔진에 자체적으로 탑재하여 편의성을 높일 수 있었으면 합니다.

프로세스는 다음과 같을 수 있겠습니다.

`유저가 웹에 접속, CSS 로드를 서버에 요청 -> 스킨 폴더에서 SCSS 포맷 찾기 -> SCSS를 엔진 단에서 컴파일, SCSS 파일 히스토리 저장 -> 유저에게 제공`

만약 SCSS 파일이 수정되지 않았다면, 이전에 컴파일 해둔 파일을 바로 유저에게 제공합니다.

`유저가 웹에

[2021-11-27 17:15] Lwnlcks commented on #1256
![fsdfsdfsd](https://user-images.githubusercontent.com/72176091/143690673-8a56fbad-eacc-4281-8680-499e2205cba2.PNG)
이런식으로요?

[2021-11-27 20:15] Gwangtori commented on #1256
누가 숨겼는지까지 나온다면 더 좋을 것 같네요

[2021-11-27 20:19] Gwangtori opened #1259 "도구 관련 제안"
## 제안
도구 페이지 대신 팝업으로 나왔으면 좋겠습니다. 문서의 역사 같이 너무 도구로 빠져 있어서 1번 누를 것을 2번 눌러야 되는 것이 살짝 불편한 것도 있습니다..

[2021-11-28 13:35] surplus-dev commented on #1258
개인적인 생각에는 그런 기능을 추가하는 것을 좀 꺼리고 있습니다

특히 파이썬은 동작 속도가 썩 빠른 편이 아니기 때문에 후처리 과정이 더 늘어나면 더 느리지지 않을까에 대한 우려가 큽니다

[2021-11-28 13:37] surplus-dev commented on #1259
팝업을 좀 활용하고 싶으나 뭔가 어디에서나 어색하지 않고 무난한 팝업 디자인이 뭘까에 대해서 결론을 못 내려서 도입을 못하고 있습니다

[2021-11-28 13:40] surplus-dev commented on #1256
현재는 굳이 블라인드 된 부분이 나올 필요가 있을까라는 의문 때문에 그냥 도구로만 갈 수 있도록 최소화 했습니다

이에 대해서는 좀 더 고민해 보겠습니다

[2021-11-28 14:06] surplus-dev opened #1260 "이번 주 동안 할 일 (11.28 ~ 12.19) [2차 연장]"
## 장기 과제
### 렌더러 관련
- [ ] https://github.com/openNAMU/openNAMU/issues/1242
- [ ] https://github.com/openNAMU/openNAMU/issues/1241
- [ ] https://github.com/openNAMU/openNAMU/issues/1145
- [ ] https://github.com/openNAMU/openNAMU/issues/1100

### 스킨 관련
 - [x] https://github.com/openNAMU/openNAMU/issues/1201
 - [ ] https://github.com/openNAMU/openNAMU/issues/1265

### 파일 관련
- [ ] https://github.com/o

[2021-11-28 14:07] #1244 closed, assigned to surplus-dev

[2021-11-28 14:08] surplus-dev opened #1261 "문서와 연계되지 않은 파일 목록 기능"
이 목록에서 문서와 연계되지 않은 파일 제거 할 수 있도록

[2021-11-28 14:14] surplus-dev commented on #1261
근데 파일이 많아지면 이것도 느려질 것 같은데 그 부분은 고심중

[2021-11-28 14:15] surplus-dev commented on #1201
* [참고](https://seulbinim.github.io/WSA/html-basic.html)

[2021-11-28 16:29] asheswook commented on #1258
개인적인 생각으로는 어차피 시간이 제일 오래 걸리는 프로세스는 SCSS 컴파일인데
개발 중인 상황 외에는 SCSS를 컴파일 할 일이 없으니 속도 차이가 크게 없을 것으로 판단되기는 합니다.

[2021-11-29 07:14] Gwangtori opened #1262 "질문"
## 질문
1. 파일에 URL 옆 LINK를 누르면 대문으로 이동하는 것은 의도한 것인가요?
2. 파일 문서는 일반 유저는 수정을 막은 이유는 무엇인가요?
3. the seed는 HTML 링크까지 옆에 아이콘이 뜨는데 openNAMU도 그렇게 할 계획인가요?

## 오류
 - '#문단' 문법이 작동하지 않습니다

[2021-11-29 12:24] Lwnlcks commented on #1262
1. 사진의 원본 경로와 LINK클릭으로 이동되는 경로(존재하지 않는 사진)가 다릅니다.
버그인 듯 합니다

[2021-11-30 09:14] surplus-dev commented on #1262
1. 개발 중인 기능이라 버그입니다
2. 현재 ACL 상으로는 편집을 허용하면 이동 삭제도 자유롭기 때문에 막아놨습니다
3. 그런 기능도 있었나요?

[2021-11-30 09:16] surplus-dev commented on #1258
사실 개발자 차원에서 SCSS를 CSS로 컴파일 가능한데(=즉 완전히 개발용으로만 쓰이는 기능인데) 굳이 싶긴 합니다

[2021-12-02 06:17] MongsilDev opened #1263 "css"
[code]

[2021-12-02 10:34] #1263 closed, assigned to surplus-dev

[2021-12-03 14:36] surplus-dev commented on #1260
내일부터 다시 처리 예정

[2021-12-04 14:21] surplus-dev opened #1264 "[알림] 파일 문서 ACL이 격하될 예정 입니다"
## 변경 예정 사안
 * 파일 문서 ACL : admin -> normal

## 사유
파일 문서 구조 변경에 따른 변경

### 구체적인 사유
과거에는 파일 문서 삭제하면 파일도 같이 삭제되었으나 문서 삭제와 파일 삭제를 구분 시켰습니다

[2021-12-04 14:34] surplus-dev commented on #1262
1. 버그 수정 했습니다
2. 개편했습니다 조만간에 ACL 내릴 생각 입니다
3. 추가하지 않을 계획입니다

[2021-12-04 14:34] #1262 closed, assigned to surplus-dev

[2021-12-04 14:35] surplus-dev commented on #1248
https://github.com/openNAMU/openNAMU/issues/1152 으로 통합

[2021-12-04 14:35] #1248 closed, assigned to surplus-dev

[2021-12-04 15:25] Gwangtori commented on #1264
그럼 파일을 삭제하면 서버에는 남아있는 것인가요?

[2021-12-05 01:54] surplus-dev commented on #1264
@Gwangtori 파일 문서를 삭제해도 파일은 지워지지 않습니다 그래서 파일 삭제를 해야만 파일이 지워집니다

[2021-12-05 13:26] surplus-dev commented on #1258
좀 생각을 해봤는데 대충 **도입한다면** 이런 식으로 도입할 것 같습니다

 * Step1 : main init 과정에서 views 폴더 안의 scss 파일을 서치
 * Step2 : compile
 * Step3 : ???
 * Step4 : profit!!!

이러면 따로 유저에게 제공할 때도 속도 저하가 없으니 괜찮을 것 같다고 생각은 합니다만...

다만... 오픈나무는 라이믹스와 다르게 react나 vue 도입이 가능한 구조라서 좀 더 고민해보겠습니다

[2021-12-05 14:58] surplus-dev opened #1265 "ringo 제작중"
* https://github.com/openNAMU/openNAMU/issues/1201
 * https://github.com/openNAMU/openNAMU/issues/1202
 * https://github.com/openNAMU/openNAMU/issues/1268

[2021-12-06 07:47] cuprevenge opened #1267 "인용문 문법"
* openNAMU version : v3.4.1-stable (stable1) (beta6) (dev8)

인용문 문법에서 첫줄에 >를 사용하기 위해 다음과 같이 작성하면 부등호가 깨집니다.

`>\>내용`
↓
`>&gt;내용`

{{{}}}를 사용하면 문제 없이 나타납니다.

`>{{{>}}}내용`
↓
`>>내용`

[2021-12-06 13:35] surplus-dev opened #1268 "[수렴] 차기 스킨 의견 수렴"
## 기존
![2du pythonanywhere com_w_%EB%B9%84%EB%A1%9C%EA%B7%B8%EC%9D%B8%20%EC%A0%84%EC%9A%A9%20%EB%AC%B8%EC%84%9C(iPad Pro)](https://user-images.githubusercontent.com/13796545/144854085-4552ea0a-e9e8-41ea-bd03-46ef732a790a.png)

## 차기 개편
![all-yqgss run goorm io_w_FrontPage(iPad Pro)](https://user-images.githubusercontent.com/13796545/144866382-68c8c5d3-b1cd-449f-adec-916dd6a5be97.png)

### 사이드바
 *

[2021-12-06 14:49] surplus-dev commented on #1267
원인이 생각보다 복잡함으로 좀 더 걸릴 것 같습니다

[2021-12-07 00:14] Gwangtori commented on #1268
무나키위 생각나고 좋은 것 같습니다. 근데 검색창은 어디에 있는거죠...?

[2021-12-07 11:51] cuprevenge commented on #1268
https://github.com/wkpark/moniwiki/pull/3

이런 느낌도 괜찮을 것 같습니다. 이 스킨은 목차도 사이드바에 뜨더군요.

[2021-12-07 13:26] surplus-dev commented on #1268
@Gwangtori 검색창은 상단 바에 추가 예정입니다만 모바일에서는 어디에 위치 시킬지 고심중이라서 아직 추가 하지 않았습니다
@cuprevenge 안 그래도 그런 느낌으로 가볼까 고심했습니만 로고를 크게 박으면 사이드바의 활용성이 떨어질까봐(특히 18:9나 21:9 화면이 많아지는 추세에서) 일단 보류 했습니다 사이드바 목차는 추가 예정입니다

[2021-12-07 14:28] surplus-dev opened #1269 "INIT 파트 함수화"

[2021-12-08 14:47] surplus-dev commented on #1096
그냥 각 라우터 사용 때마다 디비 다시 로드하는 방식으로 해결

[2021-12-08 14:50] surplus-dev commented on #1201
재조정 대신 v2 제작으로 선회

[2021-12-08 14:50] #1201 closed, assigned to surplus-dev

[2021-12-08 14:51] surplus-dev commented on #1202
@Seohae1127 검토 예정

[2021-12-08 14:52] surplus-dev opened #1271 "접근 차단과 전체 도구 ACL"
https://github.com/openNAMU/openNAMU/pull/923
 - [x] 접근 차단
 - [ ] 전체 도구 ACL

[2021-12-08 14:53] surplus-dev opened #1272 "자동 로그인"
https://github.com/openNAMU/openNAMU/pull/903
https://github.com/openNAMU/openNAMU/issues/1233

[2021-12-12 04:22] surplus-dev opened #1274 "[알림] CVE-2021-44228에 대한 코멘트"
## 개요
[CVE-2021-44228](https://blog.alyac.co.kr/4341)은 자바 log4j 라이브러리에서 발생한 문제입니다.

## 뭘 해야하나요
아파치를 사용하고 계시다면 최신 버전으로 업데이트 하세요

그 외 자바 사용 프로그램도 최신 버전으로 업데이트 하세요

## 오픈나무와 연관 있나요?
![아마도 아님 말고](https://user-images.githubusercontent.com/13796545/145700082-df56c294-c37d-4a8e-b12c-af7fb848c16f.png)

[2021-12-12 06:14] surplus-dev commented on #1109
pyproject.toml

[2021-12-12 07:27] Lwnlcks commented on #1274
(nginx 사용중이라서 아무런 영향이없다)

[2021-12-12 08:07] cuprevenge commented on #787
- v3.5.0-dev (stable1) (beta10) (dev12)

해당 문제가 일어납니다.

[2021-12-12 08:09] cuprevenge commented on #1264
파일 문서와 파일을 함께 삭제할 수 있는 옵션이 있었으면 합니다. 파일이 삭제되고 나면 해당 파일 문서는 쓸모가 없으니..

[2021-12-12 10:22] surplus-dev commented on #1264
@cuprevenge 추가하겠습니다

[2021-12-12 10:46] Gwangtori commented on #1274
nginx 만세

[2021-12-14 09:21] cuprevenge opened #1275 "토론 오류"
* openNAMU version : v3.5.0-dev (stable1) (beta10) (dev12)

- [x] 토론에서 미리보기가 작동하지 않습니다.
- [x] 토론에 각주 문법을 사용하면 각주 내용을 확인할 수 없습니다.

[2021-12-14 09:22] cuprevenge opened #1276 "정규식 문서 ACL"
* openNAMU version : v3.5.0-dev (stable1) (beta10) (dev12)

관리 도구에 doc_filter_list (ko-KR)가 있으나 접근하면 대문으로 돌아갑니다.

[2021-12-14 10:09] surplus-dev commented on #1276
아직 개발 중인 옵션입니다

[2021-12-14 14:57] surplus-dev commented on #1275
1번 수정 했습니다 dev13

[2021-12-16 14:55] surplus-dev commented on #1096
또 버그나서 다시 생김

[2021-12-17 07:58] Gwangtori opened #1278 "리다이렉트 문서 관련"
v3.5.0-dev (stable1) (beta10) (dev13)

## Explanation (설명)
문서 1을 들어갔을 때 나오는 "문서 1 ⇨ 문서 2"에서 문서 1을 눌렀을 때 리다이렉트 문서가 표시되지 않고 문서 2로 리다이렉트 됩니다.

[2021-12-17 13:11] surplus-dev commented on #1278
dev14

[2021-12-17 13:11] #1278 closed, assigned to surplus-dev

[2021-12-17 13:23] surplus-dev commented on #1275
dev14

[2021-12-17 13:23] #1275 closed, assigned to surplus-dev

[2021-12-17 14:58] #1268 closed, assigned to surplus-dev

[2021-12-17 14:58] #1264 closed, assigned to surplus-dev

[2021-12-17 14:59] surplus-dev commented on #1096
매우 고민 중

[2021-12-18 14:28] surplus-dev commented on #1096
딴 방법으로 해결 dev15

[2021-12-18 14:28] #1096 closed, assigned to surplus-dev

[2021-12-18 14:36] surplus-dev opened #1280 "DB 커넥팅 개편과 라우팅 방식의 전반적인 개편"
3.5.0의 페이즈 1

[2021-12-18 14:38] surplus-dev commented on #1280
- [ ] https://github.com/openNAMU/openNAMU/issues/1061
 - [x] https://github.com/openNAMU/openNAMU/issues/1096

[2021-12-18 14:54] surplus-dev commented on #1267
dev15

[2021-12-18 14:54] #1267 closed, assigned to surplus-dev

[2021-12-18 14:56] surplus-dev commented on #1229
생각을 좀 바꿔서 2번도 도입 예정입니다. ~~근데 솔직히 귀찮긴 합니다. 하다가 버그 나면 다시 없앨지도 모릅니다~~

 - [x] 1번 하기
 - [x] 2번 하기

[2021-12-18 15:33] Gwangtori opened #1281 "이건 무슨 오류일까요?"
## Environment (환경)
* OS : Windows 10
* Python version : 3.9.6
* openNAMU version : v3.5.0-dev (stable1) (beta10) (dev15)
* Skin :
* Skin version :

## Explanation (설명)
ERROR:app:Exception on /api/w/틀:운영 알림 [POST]
Traceback (most recent call last):
  File "C:\Users\rhkdx\AppData\Roaming\Python\Python39\site-packages\flask\app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()

[2021-12-19 04:13] surplus-dev opened #1282 "DB 커넥팅 개편과 멀티프로세싱 지원"

[2021-12-19 07:22] surplus-dev commented on #1281
음... 이번에 추가한 멀티프로세싱이 문제인 것 같습니다 고치겠습니다

[2021-12-19 07:24] surplus-dev opened #1283 "다양한 버그"
- [x] 업데이트 후에 인터위키 링크 걸 때 #을 %23으로 변환해서 문단 링크가 안 걸리네요
 - [x] (재현 실패) 분류된 문서가 1000개가 넘어가면 그 이상은 분류에 표시가 안 되서요
 - [x] 버그는 분류 문서 링크(:분류:분류이름)하면 필요한 문서에 해당 분류 문서가 뜨는 문제가 있어요

[2021-12-19 07:25] surplus-dev opened #1284 "토론창 문구 설정"
문구 설정에 토론창 문구 설정도 있었으면 해서요

[2021-12-19 09:25] Gwangtori opened #1285 "이머전시 툴 관련 오류"
## Environment (환경)
* OS : 우분투 21.10
* Python version : 3.9.7
* openNAMU version : dev15

## Explanation (설명)
이머전시 툴이 작동하지 않습니다.

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/64156915/146669972-58d6fdf6-8542-40b8-9d0a-3d538067f060.png)

[2021-12-19 13:31] surplus-dev commented on #787
다시 수정 완료

[2021-12-19 13:31] #787 closed

[2021-12-19 14:06] surplus-dev commented on #1285
dev16

[2021-12-19 14:06] #1285 closed, assigned to surplus-dev

[2021-12-19 14:06] surplus-dev commented on #1281
dev16

[2021-12-19 14:06] #1281 closed, assigned to surplus-dev

[2021-12-19 14:25] #1283 closed, assigned to surplus-dev

[2021-12-19 14:27] surplus-dev opened #1288 "이번 주 동안 할 일 (12.19 ~ 12.26)"
## 장기 과제
### 렌더러 관련
- [ ] https://github.com/openNAMU/openNAMU/issues/1242
- [ ] https://github.com/openNAMU/openNAMU/issues/1241
- [ ] https://github.com/openNAMU/openNAMU/issues/1302
- [ ] https://github.com/openNAMU/openNAMU/issues/1100

### 스킨 관련
 - [ ] https://github.com/openNAMU/openNAMU/issues/1265

### 파일 관련
- [ ] https://github.com/openNAMU/openNAMU/issues/1255
- [ ] https://github.com/op

[2021-12-19 14:28] #1260 closed, assigned to surplus-dev

[2021-12-19 14:41] surplus-dev opened #1290 "편집 필터 추가 오류"
ㅈㄱㄴ

[2021-12-19 14:46] surplus-dev opened #1291 "[주의] HTML XSS 오류 2 (HTML XSS bug 2) (~v3.4.1)"
## ko-KR
v3.4.1 이하에 HTML XSS 오류가 발견되었습니다

v3.4.2로 업데이트를 권장드립니다.

뭐... 근데 사실 HTML XSS 정도로는 털 수 있는 것도 없어서 심각도는 별로 안 높습니다

애초에 [저번과 달리](https://github.com/openNAMU/openNAMU/issues/955) 이번에는 발동 조건도 좀 까다롭습니다

## en-US
HTML XSS error found in v3.4.1 or earlier.

Recommend updating to v3.4.2.

But the severity is not high.

[2021-12-19 19:52] ddarkr opened #1292 "mysql 환경에서 커넥션 오류가 발생 (dev)"
## Environment (환경)
* OS : Windows 11
* Python version : 3.9.9
* openNAMU version : dev
* Skin :
* Skin version :
* MariaDB: 10.7.1-MariaDB

## Explanation (설명)

dev 기준 mariadb 10.7.1에서 실행 시 다음과 같은 오류가 발생합니다.

[code]

`db_get()` 부분에서 [ 다음 ](https://github.com/openNAMU/openNAMU/blob/dev/route/tool/func.py#L135-L136)부분을 주석 처리하면 정상 동작합니다.

멀티 스레딩 작업 진행중이신 것 같은데, 관련된 문제가 아닐까 추측만 해봅니다 ㅠ

관련 이슈:
 https:

[2021-12-20 06:15] cuprevenge opened #1294 "500 Internal Server Error"
* openNAMU version : v3.5.0-beta (stable1) (beta11) (dev16)

업데이트 후 최근 토론에 접근하려고 하면 다음과 같은 오류가 발생합니다.

[code]

[2021-12-20 09:22] surplus-dev commented on #1294
콘솔에는 아무것도 안 뜨나요?

[2021-12-20 09:45] surplus-dev commented on #1292
곧 클래스 기반으로 개편해서 해결 예정 입니다

[2021-12-20 09:58] cuprevenge commented on #1294
[code]

[2021-12-20 13:08] cuprevenge opened #1295 "인터위키 치환"
* openNAMU version : v3.5.0-beta (stable1) (beta11) (dev16)

인터위키 문법에서 사용자 문서나 분류 문서를 링크하려고 하면 사용자와 분류가 user, category로 치환되어 링크할 수 없습니다.

인터위키 문법에선 치환되지 않게 했으면 합니다.

[2021-12-20 13:41] surplus-dev commented on #1295
dev17

[2021-12-20 13:41] #1295 closed, assigned to surplus-dev

[2021-12-20 13:44] surplus-dev commented on #1294
dev17

[2021-12-20 13:44] #1294 closed, assigned to surplus-dev

[2021-12-20 13:44] surplus-dev commented on #1292
일단 임시로 수정 했습니다 dev17

[2021-12-20 13:44] #1292 closed, assigned to surplus-dev

[2021-12-20 13:50] surplus-dev commented on #1290
dev17

[2021-12-20 13:50] #1290 closed, assigned to surplus-dev

[2021-12-20 15:01] surplus-dev opened #1296 "[설명] v3.5.0에서 최적화에 대한 이야기"
## 서론
요즘 처음보는 버그들이 자주 발생하고 있는 데 그러한 이유에 대한 해명~~이라고 쓰는 변명~~ 입니다.

## 왜 이런 일이 발생했나요?
### 시작
현재 오픈나무는 과거의 코드(절차 지향적)와 현재의 코드(객체 지향적)가 섞여서 돌아가고 있는 형태 입니다.

즉 이 절차 지향적인 파트에서 큰 문제가 발생하고 있습니다.

### 뭐가 문제인가요?
현재 오픈나무는 멀티프로세싱을 이용한 최적화를 도입하려고 노력~~겸 발버둥~~을 하고 있습니다

하지만 일부 ~~꽤 많은~~ 코드가 여전히 절차 지향적인 방식으로 짜여 있어서 멀티프로세싱에 알 맞지 않아서 돌아가다가 서로 충돌이 일어납니다

### 왜 비동기가 아니라 멀티프로세싱인가요?
크게 3가지 이유가 있는데

1. 일반 Flask가 비동기 지원을 시

[2021-12-20 16:19] cuprevenge opened #1298 "HTML 필터"
* openNAMU version : v3.5.0-beta (stable1) (beta12) (dev17)

업데이트 후 html 문법에서 video src 태그가 작동하지 않습니다.

`{{{#!html <video src="...mp4" width="n"></video>}}}`

[2021-12-20 16:36] cuprevenge opened #1299 "사이드바 설정"
본문 상단/하단처럼 사이드바가 있는 스킨의 경우 사이드바 내용을 설정할 수 있는 기능이 있으면 좋을 것 같습니다.

[2021-12-21 05:43] cuprevenge opened #1300 "리다이렉트 미리보기"
* openNAMU version : v3.5.0-beta (stable1) (beta12) (dev17)

리다이렉트 문법을 작성하고 미리보기 하면 beforeunload 가 발생합니다.

[2021-12-21 07:51] cuprevenge opened #1301 "인용문 내부 표"
* openNAMU version : v3.5.0-beta (stable1) (beta12) (dev17)

[code]

![image](https://user-images.githubusercontent.com/52319594/146891777-4cfc397d-d866-4b3c-b6f7-9a905134f5b4.png)
![image](https://user-images.githubusercontent.com/52319594/146891838-35112b26-3eda-41ab-8302-67092b55fdd8.png)

나무위키에서는 위처럼 구현되나 오픈나무에서는 아래처럼 적용되지 않습니다.

[2021-12-21 09:42] surplus-dev commented on #1298
아 별로 안 쓰는 것 같아서 임시로 비활성화 해놨습니다

저번에 누가 테섭에다 말로 말하기 뭣한 것을 HTML 비디오 태그로 입력해놔서 검토 중 입니다

[2021-12-22 13:43] surplus-dev commented on #1301
생각보다 원인이 복잡해서 꽤 오래 걸릴 것 같습니다

[2021-12-24 14:54] surplus-dev commented on #1300
어떤 경우에서 그런가요? 일반적인 경우에서는 따로 뜨는 게 없었습니다

[2021-12-24 14:55] surplus-dev commented on #1298
HTML 필터 기능을 다시 만들기로 했습니다

[2021-12-24 14:56] surplus-dev opened #1302 "렌더러 중괄호 파트 다시 짜기"
답 없는 방식으로 짜여 있음

[2021-12-24 14:57] surplus-dev commented on #1299
문서 API를 좀 더 유연하게 만들어서 구현 가능하도록 하겠습니다

[2021-12-24 14:57] surplus-dev commented on #1302
https://github.com/openNAMU/openNAMU/issues/1301
https://github.com/openNAMU/openNAMU/issues/1145

[2021-12-24 14:58] #1301 closed, assigned to surplus-dev

[2021-12-24 14:58] #1145 closed, assigned to surplus-dev

[2021-12-24 16:54] cuprevenge commented on #1300
![ezgif-2-5afaf97636](https://user-images.githubusercontent.com/52319594/147365593-4fd1c205-02e1-44bf-a89a-8e642941b448.gif)

이슈 내용 그대로입니다.

[2021-12-25 07:54] surplus-dev commented on #1300
아 이제 이해했네요 수정하겠습니다

[2021-12-25 07:57] #1274 closed, assigned to surplus-dev

[2021-12-26 15:02] surplus-dev commented on #1300
dev18

[2021-12-26 15:02] #1300 closed, assigned to surplus-dev

[2021-12-27 14:16] surplus-dev opened #1303 "우선 순위 지정"
아무래도 여러 개를 동시에 하려다보니 시간도 지연되고 이리저리 문제가 생기는 것 같음

1. https://github.com/openNAMU/openNAMU/issues/1139
2. https://github.com/openNAMU/openNAMU/issues/1280
3. https://github.com/openNAMU/openNAMU/issues/1282
4. https://github.com/openNAMU/openNAMU/issues/1302
5. https://github.com/openNAMU/openNAMU/issues/1269

[2021-12-27 14:33] #1288 closed, assigned to surplus-dev

[2022-01-02 07:22] cuprevenge opened #1308 "미리보기 오류"
* openNAMU version : v3.4.2-stable (stable1) (beta12) (dev18)

업데이트 후 미리보기에서 include한 내용이 나타나지 않습니다.

[2022-01-02 13:16] surplus-dev opened #1309 "stable 제도 개편"
좀 고심해야할 듯

늘 stable 올려도 버그 나오는 걸 봐선 근본적인 문제가 있다

[2022-01-02 15:26] HaneulCheong opened #1310 "질문 몇 가지"
1. [readme.md](https://github.com/openNAMU/openNAMU/blob/stable/readme.md)를 보면 Python >= 3.6으로 돼있는데, 이거 지금도 적용되는 사항인가요?
3.6은 2021년 12월 23일자로 지원이 종료된 거로 알고 있습니다. [#](https://www.python.org/dev/peps/pep-0494)
1. [data/test](https://github.com/openNAMU/openNAMU/blob/stable/data/test) 파일은 비어있던데, 무엇에 필요한 파일인가요?
1. 혹시 이 쪽에서 Pull Request를 넣는다면 [Black](https://github.com/psf/black) 같은 거로 코드 정리를 한 번 하실 생각

[2022-01-03 09:44] surplus-dev commented on #1310
1. 네
2. 그냥 디렉토리 유지용 입니다
3. 아뇨

[2022-01-03 14:57] surplus-dev commented on #1308
땜빵 했습니다

[2022-01-03 14:57] #1308 closed, assigned to surplus-dev

[2022-01-04 00:45] HaneulCheong commented on #1310
확인했습니다.

[2022-01-04 00:45] #1310 closed, assigned to surplus-dev

[2022-01-04 11:01] surplus-dev opened #1311 "[알림] 파이썬 3.6에 대한 지원이 곧 중지됩니다."
파이썬 재단에서 [규정한 수명](https://www.python.org/dev/peps/pep-0494/)이 만료되어서 지원 중지 될 예정입니다

파이썬 3.6를 사용하시는 사람은 3.7이나 그 이상 버전으로 올리시길 바랍니다

이전의 [지원 종료 사례](https://github.com/openNAMU/openNAMU/issues/1038)에서 언급한 바와 같이 1월 하순 이후부터는 당장은 3.6에서 잘 돌아갈지도 몰라도 3.6에서만 일어나는 오류에 대해서는 해결하지 않을 예정 입니다

암묵의 룰에 의해서(?) 한달 간의 유예를 가지고 1월 하순부터 시행 예정입니다

[2022-01-05 09:42] Gwangtori opened #1312 "토론 스레드가 보이지 않습니다"
## Environment (환경)
* OS : Windows 10
* Python version : 3.9.6
* openNAMU version : v3.5.0-stable (stable1) (beta12) (dev19)
* Skin : Liberty
* Skin version : v1.1.9

## Explanation (설명)
토론 스레드가 보이지 않습니다

## Screenshot (스크린샷)

[2022-01-05 13:18] surplus-dev commented on #1312
현재 dev 버전이 공사중이라 URL 재조정 과정에서 일부 콘텐츠가 안 나올 수도 있습니다

[2022-01-05 14:07] surplus-dev commented on #1312
dev20

[2022-01-05 14:07] #1312 closed, assigned to surplus-dev

[2022-01-06 05:20] surplus-dev opened #1313 "[수렴] 디자인 취향에 관해서"
둥글둥글한 디자인과 각진 디자인 중에 무엇을 선호하시나요?

[2022-01-06 09:43] Lwnlcks commented on #1313
동글한거에 그림자만 안넣으면 이쁜데, 기본적으로 각진걸 선호하는 편입니다

[2022-01-06 23:13] Gwangtori commented on #1313
삼성의 One UI를 좋아하는 저는 둥근 것을 좋아합니다. 하지만 위키 스킨은 둥근 리버티 스킨보다 각진 센카와 스킨을 선호합니다 ㅎㅎ...

[2022-01-08 18:26] zlfn opened #1314 "비 로그인 상태로 이메일 변경시 해당 이메일 사용 불가"
로그인을 하지 않은 상태로 (위키 도메인)/change/email 로 가서 이메일을 인증하고 변경을 하면
아무일도 일어나지 않지만 이때 변경 한 이메일은 사용중인 이메일로 인식되어 다른 계정에서 사용이 불가능하며,
로그인을 하지 않았으니 이메일 재변경도 불가능해서 영원히 사용할 수 없는 이메일이 되어버립니다.

[2022-01-10 14:58] surplus-dev commented on #1314
수정 예정 및 비 로그인 상태일 때 이메일 변경한 경우의 데이터를 삭제 예정 입니다

[2022-01-11 13:27] surplus-dev opened #1315 "비밀번호 최소 글자 수 제한 기능"
만들까 싶은 데 의견 받습니다

[2022-01-12 03:49] Lwnlcks commented on #1315
좋을 것 같습니다
비번은 아무래도 8자 이상 정도는 돼야죠

[2022-01-12 09:34] Gwangtori commented on #1315
OTP 도입도 괜찮을 것 같습니다

[2022-01-12 14:23] surplus-dev commented on #1284
추가 완료

[2022-01-12 14:23] #1284 closed, assigned to surplus-dev

[2022-01-12 14:27] surplus-dev commented on #1314
일단 버그 자체는 수정 했습니다

[2022-01-15 14:43] cuprevenge commented on #362
- v3.4.2-stable (stable1) (beta12) (dev18)

인터위키 편집, 삭제 기능이 작동하지 않습니다.

[2022-01-16 17:16] hegelty opened #1316 "알림 창 링크 버그"
알림 창에서 알림이 하이퍼링크로 나타나지 않고 문법 그대로 나타납니다.
![image](https://user-images.githubusercontent.com/73592868/149670412-1ca2d7e3-3e03-4f1a-9b1b-6f10b9bae6ef.png)
그리고 저는 user_alarm.py 17번 줄에서 html.escape를 제거하여 사용하고 있는데 html.escape가 없을때 문제가 생길 수 있나요?

[2022-01-17 03:15] surplus-dev commented on #1316
send와 같은 렌더링을 적용해서 해결하도록 하겠습니다

심각한 문제는 아니지만 문제가 생길 수 있긴 합니다

[2022-01-17 04:03] surplus-dev commented on #1316
dev22

[2022-01-17 04:03] #1316 closed, assigned to surplus-dev

[2022-01-17 06:43] surplus-dev commented on #1313
대충 수렴 완료

[2022-01-17 06:43] #1313 closed, assigned to surplus-dev

[2022-01-17 06:43] surplus-dev commented on #1315
대충 수렴 완료

[2022-01-18 15:06] surplus-dev commented on #1311
지원 종료

[2022-01-18 15:06] #1311 closed, assigned to surplus-dev

[2022-01-21 10:17] surplus-dev commented on #362
다시 수정했습니다 dev22

[2022-01-21 10:17] #362 closed

[2022-01-22 07:40] surplus-dev commented on #1309
현재 버그에 대해서 생각하는 방안

버그를 위험, 중요, 일반, 자잘함으로 나눈 다음 일반, 자잘함 버그의 경우에는 다음 stable에 반영 예정

위험 : 보안 버그
중요 : 전체 또는 일부 기능 사용 불가 정도의 버그
일반 : 버그가 존재하긴 하지만 작동은 하는 상태
자잘함 : 버그긴 한데 큰 문제를 일으키지 않는 버그

[2022-01-22 07:49] zlfn opened #1317 ""편집된 지 오래된 문서"가 마지막 편집 날짜가 아닌 생성 날짜순으로 정렬됩니다."
도구중 편집된 지 오래된 문서란에 들어가면 문서가 편집된 지 오래된 순이 아니라 생성된 지 오래된 문서 순으로 정렬됩니다.

[2022-01-22 08:12] #714 closed

[2022-01-23 17:06] surplus-dev opened #1318 "프로그램 내에서 가이드 제공"
솔직히 메뉴얼 잘 쓸꺼란 보장도 없으니 어지간하면 프로그램 안에서 간단한 가이드를 제공할 수 있도록

[2022-01-23 17:21] surplus-dev commented on #1309
더불어서 빌드번호란에 현재 빌드 상태를 나타내는 부분 삭제

[2022-01-23 17:21] #1309 closed, assigned to surplus-dev

[2022-01-24 09:06] cuprevenge commented on #1176
각주 내용이 길 경우엔 동일 내용이 반복되어 헷갈리는데 최초 각주만 표시되게 할 순 없을까요?

[2022-01-24 09:08] surplus-dev commented on #1176
고려해보겠습니다

[2022-01-27 11:59] surplus-dev opened #1319 "[알림] 본 레포가 생긴 지 5년이 되서 하는 기념사"
## 서론
본 레포가 생긴 지 벌써 5년이 되었습니다. (2017년 1월 탄생) 그래서 여러 이야기를 좀 해보고자 이런 공지를 작성했습니다.

## 본론
어찌보면 이 레포가 5년이라는 세월이 지나면서 발전할 수 있었던 것은 ~~뜬금 없는 이야기지만~~ 사용자가 있었기 때문입니다. 그래서 사용자 여러분께는 아무쪼록 감사 인사를 드립니다.

5년이라는 시간이 지나면서 레포도 많은 변화가 있었고 저도 많은 변화가 있었습니다. 처음에 이 레포를 만들 때는 솔직히 아무런 생각도 없이 시작한 프로젝트 입니다. 솔직히 그 때도 프로그램이던 개발자던 간에 미숙했고 지금도 여전히 미숙하지만 앞으로 더 개선되도록 노력하겠습니다.

## 결론
앞에서 이야기 했듯이 어찌보면 이 프로그램이 발전할 수 있었던 건 여러 사용자 분들의

[2022-01-28 11:09] surplus-dev commented on #1317
dev24

[2022-01-28 11:09] #1317 closed, assigned to surplus-dev

[2022-01-28 14:44] cuprevenge opened #1321 "불러오기 버그"
* openNAMU version : v3.5.0 (stable1) (beta12) (dev24)

B 문서를 만들기 위해 A 문서를 불러오면 A 문서의 편집 상태로 갑니다.

edit/B → manager/15?plus=B →edit/A

[2022-01-29 03:19] surplus-dev commented on #1321
URL 수정 과정에서 생긴 오류 같습니다 곧 고치겠습니다

[2022-01-30 04:51] cuprevenge opened #1322 "목차 각주"
* openNAMU version : v3.5.0 (stable1) (beta12) (dev24)

목차에 표시되는 각주와 실제 각주 번호가 다르게 표시됩니다.
[code]

![image](https://user-images.githubusercontent.com/52319594/151687093-836bd391-cc25-494f-96ee-9a388155b0d9.png)

[2022-01-30 06:03] surplus-dev commented on #1322
아마 각주 처리를 마지막에 해서 일어난 버그 같습니다 조만간에 고치겠습니다

[2022-01-30 06:03] surplus-dev commented on #1252
추가 예정

[2022-01-30 17:40] Denevola opened #1323 "Tenshi 스킨 비로그인·로그인 아이콘"
## Environment (환경)
* openNAMU version : v3.5.0
* Skin : Tenshi
* Skin version : v2.0.1
* 그냥 현재 상태입니다.

## Explanation (설명)
[code]
비로그인 사용자는 `baseline-person`(사람 모양), 로그인 사용자는 `baseline-person-add`(사람 모양+더하기 기호) 아이콘이 표시되는데, 사람 모양에 더하기 표시는 회원가입으로 받아들여져 헷갈리는 것 같습니다. 둘을 반대로 넣어도 좋을 것 같네요.

## Screenshot (스크린샷)
![temp](https://user-images.githubusercontent.com/81607108/151710694-2664da36-0468-4b55-a2a1

[2022-01-31 06:47] surplus-dev commented on #1323
**+** 대신에 **-** 로 바꾸겠습니다

[2022-01-31 08:10] surplus-dev commented on #1321
dev25

[2022-01-31 08:10] #1321 closed, assigned to surplus-dev

[2022-01-31 08:10] surplus-dev commented on #1323
dev25

[2022-01-31 08:10] #1323 closed, assigned to surplus-dev

[2022-01-31 12:03] surplus-dev opened #1324 "인터위키 같은 세팅 값"
을 따로 두지 말고 그냥 가져오게 하자

[2022-01-31 12:12] surplus-dev commented on #1322
#1324와 같이 처리 예정

[2022-01-31 12:13] surplus-dev commented on #1276
일단 메뉴는 완성했으나 아직 작동은 안합니다

[2022-02-01 04:54] surplus-dev opened #1325 "편집 요약 강제 옵션"
제작 예정

[2022-02-01 11:00] surplus-dev commented on #1324
dev25

[2022-02-01 11:00] surplus-dev commented on #1322
dev25

[2022-02-01 11:00] #1322 closed, assigned to surplus-dev

[2022-02-01 11:00] #1324 closed, assigned to surplus-dev

[2022-02-01 12:17] Gwangtori opened #1326 "본문 출력 안됨"
## Environment (환경)
* OS : Ubuntu 21.10
* Python version : 3.9.7
* openNAMU version : v3.4.3 (stable1) (beta13) (dev26)
* Skin : Liberty
* Skin version : v1.1.9

## Explanation (설명)
분문 출력이 아예 되지 않습니다. 또 Ctrl + Z로 꺼도 종료가 안되는 것 같습니다.

## Screenshot (스크린샷)
[링크](https://beta.onemindwiki.kr/)

[2022-02-01 18:31] cuprevenge opened #1327 "문단 문법에서 문법 무효화"
* openNAMU version : v3.5.0 (stable1) (beta12) (dev24)

[code]

![image](https://user-images.githubusercontent.com/52319594/152029014-1c5e4a87-fea5-4153-bac3-1e3be6d1381c.png)
나무위키에선 좌측과 같이 적용되나 오픈나무에선 우측처럼 문법이 적용되지 않습니다.

[2022-02-02 04:27] surplus-dev commented on #1326
dev27

[2022-02-02 04:27] #1326 closed, assigned to surplus-dev

[2022-02-02 04:41] surplus-dev commented on #1327
dev27

[2022-02-02 04:41] #1327 closed, assigned to surplus-dev

[2022-02-02 06:15] cuprevenge opened #1329 "목차 줄바꿈"
- openNAMU version : v3.4.3 (stable1) (beta13) (dev27)
![image](https://user-images.githubusercontent.com/52319594/152102311-a314b90e-1de0-4435-be96-485e36c7c658.png)

업데이트 후 목차가 이렇게 보입니다.

[2022-02-02 06:20] cuprevenge opened #1330 "필터 목록 편집 불가"
* openNAMU version : v3.4.3 (stable1) (beta13) (dev27)

필터 목록에 있는 목록들(이미지 라이선스, 편집도구 등)을 편집하려고 하면 대문으로 돌아갑니다.

[2022-02-02 11:34] surplus-dev commented on #1330
아 이 쪽은 사실 편집 기능을 빼려고 했던 파트였는데 잘못 표시된 거였습니다

[2022-02-02 11:40] surplus-dev commented on #1330
dev27

[2022-02-02 11:40] surplus-dev commented on #1329
dev27

[2022-02-02 11:40] #1329 closed, assigned to surplus-dev

[2022-02-02 11:40] #1330 closed, assigned to surplus-dev

[2022-02-02 18:10] cuprevenge opened #1333 "문단 버그"
* openNAMU version : v3.4.3 (stable1) (beta14) (dev28)

[code]

![image](https://user-images.githubusercontent.com/52319594/152212462-ac384518-3a64-4b19-b2b9-96f4f40b77fa.png)

아마도 관련 이슈 #1327

[2022-02-03 00:07] surplus-dev opened #1334 "SQLite 메모"
https://stackoverflow.com/questions/1711631/improve-insert-per-second-performance-of-sqlite

[2022-02-03 00:26] surplus-dev commented on #1334
https://runebook.dev/ko/docs/sqlite/compile

[2022-02-03 00:37] surplus-dev commented on #1334
https://charlesleifer.com/blog/going-fast-with-sqlite-and-python/?utm_content=bufferee5e3&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer

[2022-02-03 08:00] surplus-dev opened #1335 "언젠간 가능하지 않을까 하는 목표"
Go로 Web assembly로 렌더러 짜서 돌리면 겁나 빠르지 않을까?

[2022-02-03 08:55] surplus-dev opened #1336 "[수렴] 다른 언어 끌어들이는 것에 대한 의견 수렴"
## 서론
오픈나무의 경우 파이썬으로 짜여있고 대부분의 경우 VPS나 개인 컴퓨터 같은 확장이 용이한 시스템에서 돌아간다고 생각하고 있습니다 그래서 좀 더 확장을 해볼까 생각 중입니다

## 본론
병목이 일어날 것 같은 파트를 파이썬보다 빠른 타 언어로 일부 대체해볼까라는 시험적인 생각을 하고 있습니다

## 결론
의견이 어떠신가요

[2022-02-03 09:55] cuprevenge commented on #1336
대체된다면 Pythonanywhere 같은 곳에선 쓰기 어려워지게 될까요?

[2022-02-03 09:56] cuprevenge opened #1337 "편집요약 링크 깨짐"
* openNAMU version : v3.4.3 (stable1) (beta14) (dev28)

문서 이동시 표시되는 편집 요약의 링크가 다음처럼 깨집니다.

`<a>A</a> - <a>B</a> move`

[2022-02-04 02:47] Lwnlcks commented on #1336
물론 그렇게 된다면 좋겠습니다만
당장 오픈나무 테섭만 보더라도 Pythonanywhere 인데 이 부분을 어떻게 해결하실지..

[2022-02-04 02:51] ShapeLayer commented on #1336
사실 pythonanywhere 대체 서비스는 꽤 되서 배포 문제는 답이 어느정도 나오긴 할텐데 언어 숙련도나 향후 코드 관리가 걱정이 됩니다
그쪽 대책만 잘 짜놓는다면야 다른 언어 끌어다쓰는건 개발자들 경험 외에는 달라지는게 없을듯

[2022-02-04 05:10] surplus-dev commented on #1336
@cuprevenge @Lwnlcks 컴파일 언어 같은 경우에는 그냥 컴파일 끝낸 상태로 쑤셔 넣으면 되기 때문에 동작에 문제 없습니다

[2022-02-04 05:18] surplus-dev commented on #1336
현재 구상안에서는 일부 파트를 컴파일 언어로 짜서 완성본만 오픈나무 소스에 포함시킬 생각입니다 (해당 컴파일 코드는 하위 프로젝트에서 공개 계획 입니다)

아마 윈도우 ARM, x64 리눅스 ARM, x64 정도만 직접 컴파일하고 나머지는 소스 코드 상에서 컴파일해서 넣는 가이드를 만들까 생각 중입니다만...

어차피 이건 당장 실행해도 아주 머나먼 이야기이기 때문에 그냥 의견 수렴 정도로 올린 글 입니다

[2022-02-04 08:07] surplus-dev commented on #1337
dev31

[2022-02-04 08:07] #1337 closed, assigned to surplus-dev

[2022-02-04 14:08] Gwangtori commented on #1336
전 괜찮은 생각이라고 생각합니다. ~~파이썬이 느린 것도 있기 때문에...~~

[2022-02-05 01:00] Denevola opened #1338 "문단 링크가 없는 문서 색상으로 출력"
## Environment (환경)
* openNAMU version : v3.4.3 (stable1) (beta16) (dev31)
* Skin : 스킨 무관

## Explanation (설명)
문단으로 연결하는 링크에 id `#not_thing`이 부여되어 없는 문서 링크의 색상으로 보입니다.

## Screenshot (스크린샷)
![temp](https://user-images.githubusercontent.com/81607108/152622079-d0469bdb-d582-4be0-aeb4-a5a143646647.png)

[2022-02-05 02:46] surplus-dev opened #1339 "[조사] 어떤 브랜치를 사용하고 계신가요?"
어떤 브랜치(스테이블, 베타, 데브)를 사용하고 계신가요?

[2022-02-05 02:48] cuprevenge commented on #1339
beta

[2022-02-05 02:57] Lwnlcks commented on #1339
dev

[2022-02-05 03:53] Gwangtori commented on #1339
dev

[2022-02-05 04:27] Gwangtori opened #1340 "dev 업데이트할 때 오류"
## Environment (환경)
* OS :Ubuntu 21.10
* Python version : 3.9.7
* openNAMU version : v3.4.3 (stable1) (beta16) (dev31)

## Explanation (설명)
아래에 저런 오류를 뿜으면서 다시 꺼집니다. 재설치하면 말짱하게 켜지던데 이상하네요...

## Screenshot (스크린샷)
Version : v3.4.3 (stable1) (beta16) (dev31)
DB set version : 3500101
Skin set version : 3500110
----
PIP check pass
----
Traceback (most recent call last):
  File "/(오픈나무 폴더)/app.py", line

[2022-02-05 06:26] surplus-dev commented on #1340
아마 추측하건데 del에서 최근에 delete로 파일명을 바꿨는데 그 때문에 발생하는 것 같습니다 해결하겠습니다

[2022-02-05 06:42] surplus-dev commented on #1340
수정했습니다 dev

[2022-02-05 06:42] #1340 closed, assigned to surplus-dev

[2022-02-05 06:44] surplus-dev commented on #1333
고쳤습니다 dev

[2022-02-05 06:44] #1333 closed, assigned to surplus-dev

[2022-02-05 07:00] surplus-dev commented on #1338
수정 완료

[2022-02-05 07:00] #1338 closed, assigned to surplus-dev

[2022-02-05 08:46] surplus-dev opened #1342 "[수렴] 닉네임과 아이디의 분리"
좀 이상한 발상이지만 닉네임과 아이디를 분리해볼까 싶기도 합니다

의견 받습니다

[2022-02-05 08:48] Denevola commented on #1339
원하는 방향으로 조금 개량한 스테이블 사용 중입니다.

[2022-02-05 13:37] Denevola opened #1343 "상위문서가 없어도 '상위' 버튼 항상 나타남"
## Environment (환경)
* openNAMU version : v3.4.3 (stable1) (beta16) (dev31)

## Explanation (설명)
상위문서가 없어도 문서 도구에는 '상위' 버튼이 항상 나타납니다. 이 경우 자기 자신을 링크하고 있어 불필요하게 느껴집니다.
## Screenshot (스크린샷)
![temp](https://user-images.githubusercontent.com/81607108/152644257-ed347e1e-eaf6-4a26-913b-86488b1ddcba.png)

[2022-02-05 19:19] Gwangtori commented on #1342
그럼 사문은 아이디를 따라가고, 토론이나 문서 역사에는 닉네임이 표시되는 시스템으로 바뀌는 것인가요?

[2022-02-06 04:39] cuprevenge commented on #1322
== 1각주(1) == 과 구분할 수 있도록 위첨자를 넣으면 어떨까 싶습니다.

물론 == 1각주^^(1)^^ == 과는 구분할 수 없겠지만 문단에 굳이 위첨자를 넣는 경우는 많지 않으니까요.

[2022-02-06 04:50] surplus-dev commented on #1322
개인적으로는 문단에 (1) 넣는 것도 흔치 않은 일인 것 같아서 꼭 필요할까? 싶긴 합니다

[2022-02-06 04:51] surplus-dev commented on #1342
@Gwangtori 아마 그렇지 않을까 싶긴 합니다 그리고 사문의 경우 사용하기 싫은 경우에는 비활성화 할 수 있게 해볼까 생각 중 입니다

[2022-02-06 08:59] Gwangtori commented on #1342
이렇게 하면 닉네임 변경도 쉬워질 수 있을 것 같네요 좋은 생각 같습니다.

[2022-02-06 10:51] surplus-dev commented on #1343
버그는 아니고 사실 의도적인 사안 입니다

그냥 최적화 측면에서 볼 때 고정으로 해놔도 되겠다 싶어서 해놨습니다

[2022-02-06 12:11] Denevola commented on #1343
아, 그렇담 이해가 가는군요.
그럼 임시방편으로 '상위' 버튼 추가 조건을 `if uppage != name`으로 놓고 써야겠습니다.

[2022-02-06 23:45] surplus-dev commented on #1343
근데 생각해보니 최적화랑 상관 없었네요 버그인 것 같습니다

[2022-02-06 23:50] surplus-dev commented on #1343
dev33

[2022-02-06 23:50] #1343 closed, assigned to surplus-dev

[2022-02-07 10:59] Gwangtori opened #1345 "일부 도구 작동 안함"
## Environment (환경)
* OS : Ubuntu 21.10
* Python version : 3.9.7
* openNAMU version : v3.4.3 (stable1) (beta18) (dev33)

## 500 Internal Server Error
* 문서 ACL 변경
* 사용자 검사
* 스킨 설정

[2022-02-07 14:20] Denevola commented on #1299
구현되면 비슷한 방식으로 상단 바에도 응용할 수 있겠네요.
미디어위키 리버티 스킨에도 [그런 기능](https://librewiki.net/wiki/미디어위키:Liberty-Navbar)이 있습니다.

[2022-02-08 13:58] surplus-dev commented on #1345
고쳤습니다 beta19

[2022-02-08 13:58] #1345 closed, assigned to surplus-dev

[2022-02-09 15:18] Denevola opened #1349 "문서 읽기 상태에서 내용 없는 서브타이틀 스킨 변수가 정수형 0을 반환하지 않음"
## Environment (환경)
* openNAMU version : v3.4.3 (stable1) (beta16) (dev31)

## Explanation (설명)
일반적인 문서 읽기 상태(`/w/문서명`) 중, 서브타이틀 스킨 변수인 `imp[3][0]`에게 내용이 없어도 정수형 0이 나오지 않습니다.
이로 인해 서브타이틀 내용이 없어도 `{% if imp[3][0] != 0 %}`가 true로 판정, 문서명 옆에 빈 태그 `<sub></sub>`가 만들어집니다.

최근 편집, 최근 토론 등 서브타이틀 내용이 없는 다른 페이지는 올바르게 정수형 0이 나옵니다.
## Screenshot (스크린샷)
![temp](https://user-images.githubusercontent.com/8160710

[2022-02-10 14:48] surplus-dev commented on #1349
수정했습니다

[2022-02-10 14:48] #1349 closed, assigned to surplus-dev

[2022-02-11 10:19] surplus-dev opened #1352 "폴딩 파트 변경 예정"
https://developer.mozilla.org/ko/docs/Web/HTML/Element/details

[2022-02-11 11:19] cuprevenge commented on #1352
js 대신 html을 쓰나요?

[2022-02-11 13:25] surplus-dev commented on #1352
@cuprevenge 네

[2022-02-12 03:17] cuprevenge opened #1353 "인클루드 제한"
대량 인클루드 반달을 방지하기 위해 한 문서에서 동일한 틀이나 문서를 일정 횟수 이상 인클루드 할 수 없도록 설정할 수 있었으면 합니다.

[2022-02-12 21:43] Gwangtori opened #1355 "목차 띄어쓰기"
## Environment (환경)
* OS : Ubuntu 21.10
* Python version : 3.9.7
* openNAMU version: v3.4.3 (stable1) (beta19) (dev34)

## Explanation (설명)
띄어쓰기가 하나 더 돼서 출력됩니다.

## Screenshot (스크린샷)
![Screenshot_20220213-064033~2](https://user-images.githubusercontent.com/64156915/153729394-7623205e-1da9-48d2-b401-18b7a13d0bdc.png)

[2022-02-13 11:31] surplus-dev opened #1356 "단순 메모"
https://camel-it.tistory.com/140
https://seong6496.tistory.com/175

[2022-02-15 15:19] Denevola opened #1358 "위키 로고 설정에 새 값을 저장할 수 없음"
## Environment (환경)
* openNAMU version : v3.4.3 (stable1) (beta19) (dev34)

## Explanation (설명)
[설정 > 메인 설정 > 위키 로고] 설정에서 빈칸에 입력한 값이 저장되지 않습니다.

이전에 입력해두었던 값은 문제없이 수정되나, 최신 버전을 새로 설치한 초기 상태이거나 전에 입력한 적이 없어 비어있는 필드에는 새 값을 저장할 수 없습니다.

[2022-02-17 14:29] surplus-dev commented on #1336
기술 실증용 openPAN 생성

[2022-02-17 14:29] #1336 closed, assigned to surplus-dev

[2022-02-18 13:25] surplus-dev commented on #1358
수정 했습니다

[2022-02-18 13:25] #1358 closed, assigned to surplus-dev

[2022-02-19 14:30] surplus-dev commented on #1355
아마도 고쳤습니다

[2022-02-19 14:30] #1355 closed, assigned to surplus-dev

[2022-02-19 14:45] surplus-dev opened #1363 "[알림] PyPy3 지원 시작했습니다"
조만간에 사용법을 어딘가에 적을 계획이니

많은 이용 바랍니다

[2022-02-19 17:13] cuprevenge opened #1365 "메시지"
* openNAMU version :  v3.4.3 (stable2) (beta20) (dev36)

토론 생성 메시지가 (make_new_topic (ko-KR))로 표시됩니다.

[2022-02-19 17:22] cuprevenge commented on #1365
topic_text (ko-KR)도 있네요.

[2022-02-21 16:53] Gwangtori opened #1366 "hcaptcha 지원"
## Explanation (설명)
hcaptcha도 지원했으면 좋겠습니다
생각보다 구글 싫어하는 사람이 많은거 같아서 올려봅니다..

[2022-02-24 17:43] cuprevenge opened #1367 "로그"
* openNAMU version : v3.4.3 (stable2) (beta20) (dev36)

nohup.out에 다음과 같은 오류가 확인됩니다.

[code]

[2022-02-26 07:07] surplus-dev commented on #1367
아마도 고쳤습니다

[2022-02-26 07:07] #1367 closed, assigned to surplus-dev

[2022-02-26 13:20] Gwangtori opened #1368 "메인 도메인으로 돌아왔을 때 대문으로 리다이렉트가 안됨"
## Environment (환경)
* OS : Windows 11
* Python version : 3.9.9
* openNAMU version : dev 최신

## Explanation (설명)
메인 도메인으로 들어오면 대문으로 리다이렉트 되지 않고, 'Internal Server Error'가 발생합니다

## 콘솔
Traceback (most recent call last):
  File "C:\(생략)\AppData\Roaming\Python\Python39\site-packages\flask\app.py", line 1516, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\(생략)\AppData\Roaming\Pytho

[2022-02-26 14:12] surplus-dev commented on #1368
https://github.com/openNAMU/openNAMU/issues/1367

이거 연장선인 것 같습니다 다시 고쳤습니다

[2022-02-26 14:12] #1368 closed, assigned to surplus-dev

[2022-02-28 04:40] surplus-dev commented on #1365
추가 완료

[2022-02-28 04:40] #1365 closed, assigned to surplus-dev

[2022-02-28 04:40] surplus-dev commented on #1366
추가 완료

[2022-02-28 04:40] #1366 closed, assigned to surplus-dev

[2022-02-28 04:41] #1319 closed, assigned to surplus-dev

[2022-02-28 05:10] surplus-dev commented on #1269
클래스로 만듬

[2022-02-28 05:10] #1269 closed, assigned to surplus-dev

[2022-02-28 05:11] #1342 closed, assigned to surplus-dev

[2022-02-28 05:11] #1339 closed, assigned to surplus-dev

[2022-02-28 05:11] surplus-dev commented on #1339
stable 주기를 좀 더 beta 스럽게 변경할 예정

대략 1 stable = 3 beta = 27 dev 생각 중

[2022-02-28 05:12] surplus-dev commented on #1353
대략 어느 정도가 적당하다고 생각하시나여?

[2022-02-28 05:14] surplus-dev opened #1369 "오래된 문서가 매우 느리다는 소문"
이 아니라 사실이 존재하므로 갈아 엎을 필요가 존재

[2022-02-28 05:22] surplus-dev opened #1370 "[수렴] Lint를 강력하게 적용할까요"
## 서론
현재 오픈나무 코드는 대충 정해진 양식이 내부적으로 존재하고 있으나 대외적으로는 딱히 제한을 두고 있지 않습니다

## 본론
하지만 최근 오픈나무는 여러 방면에서 코드의 개선을 추구하고자 하고 있기 때문에 좀 더 정적인 무언가를 도입하고자 노력하고 있습니다

## 결론
Lint를 강력하게 적용하서 코딩 스타일 측면에서 정적인 느낌을 적용해볼까 고심 중 입니다

[2022-02-28 05:23] #1335 closed, assigned to surplus-dev

[2022-02-28 05:24] surplus-dev commented on #1247
깃헙마크를 바탕으로 제작 결정

[2022-02-28 05:24] #1247 closed, assigned to surplus-dev

[2022-02-28 05:25] surplus-dev commented on #1100
https://github.com/openNAMU/openNAMU/issues/1247

TS를 처음 도입하는 프로젝트로 생각 중

[2022-02-28 07:59] cuprevenge commented on #1353
5회 정도면 적절할 것 같습니다.

[2022-02-28 08:56] cuprevenge opened #1372 "역사 도구 링크"
* openNAMU version : v3.4.3 (stable2) (beta20) (dev36)

역사 버전 도구(history/tool/1)에서 owner에도 링크가 걸립니다.

https://github.com/openNAMU/openNAMU/pull/1371/commits/7987200201c70cd4a56a96259d996502d5400cf5

풀 넣다 실수해서 그냥 이슈로 씁니다. 😅

[2022-02-28 10:38] surplus-dev commented on #1372
버그 단계 격상 및 수정해서 beta로 올렸습니다

[2022-02-28 10:38] #1372 closed, assigned to surplus-dev

[2022-02-28 13:18] surplus-dev opened #1374 "[수렴] 위키와 커뮤 기능"
## 서론
과거부터 오픈나무만의 특색이 과연 무엇일까에 대해서 많은 고민을 했습니다만 솔직히 여전히 오픈나무의 특색을 뭐라고 딱 잘라 말하기가 어려운 것 같습니다. 일반적으로 추구하는 안정성과 빠른 속도는 현재 오픈나무와 좀 ~~많이~~ 거리가 있는 것 같고 ~~개선하고자 노력은 하고 있습니다만~~ 뭔가 새로운 방향성을 추구해보고자 합니다

## 본론
과거에도 [도전 과제 시스템](https://github.com/openNAMU/openNAMU/issues/1150)이라던가 [댓글 기능](https://github.com/openNAMU/openNAMU/issues/902)이라던가 다양한 커뮤 관련 기능을 추가하려는 계획을 세우고 있었지만 앞으로는 좀 더 확대해서 방향성을 그 쪽으로 잡아볼까 합니다

##

[2022-02-28 14:38] surplus-dev commented on #1369
개선을 위해서는 DB 개편 밖에 답이 없다고 판단해서 DB 개편 시작

[2022-02-28 14:38] #1296 closed, assigned to surplus-dev

[2022-02-28 14:39] #1303 closed, assigned to surplus-dev

[2022-02-28 14:40] surplus-dev commented on #1138
3.4.X 개발 계획안으로 격하

사유 : 한방에 다 처리 못하겠음

[2022-02-28 14:46] surplus-dev opened #1375 "장기적인 테이블 개편안 적용 시작"
## 1단계 진행안
[code]

[2022-02-28 15:44] Gwangtori commented on #1374
조회수 기능이랑 추천 기능이 있으면 어떨까요? 이번주의 추천 문서 등으로 활용할 수도 있을 것 같습니다

[2022-03-01 04:36] Lwnlcks commented on #1374
~~주제와 많이 거리가 떨어져있는거 같지만 오픈나무 Oauth가 떠오르네요~~

[2022-03-01 08:37] surplus-dev commented on #1374
@Gwangtori 고려 해보겠습니다

[2022-03-01 14:29] surplus-dev commented on #1314
아이피 상태인 이메일 제거 예정

[2022-03-03 05:38] cuprevenge opened #1377 "각주 오류"
* openNAMU version : v3.4.3 (stable3) (beta21) (dev38)

[code]

![image](https://user-images.githubusercontent.com/52319594/156501081-5dcea658-e5f9-4cd0-be5a-f4c1ec151644.png)

각주 이름 문법을 쓸 때 두 번째 각주의 링크가 ../edit/현재 문서로 걸립니다.

[2022-03-07 06:18] Denevola opened #1379 "설명 메타태그가 읽기 힘든 형태로 출력됨"
## Environment (환경)
* openNAMU version : v3.4.3 (stable2) (beta20) (dev36)

## Explanation (설명)
구글 등 검색 결과에서 보이는 오픈나무 기반 웹사이트들은 종종 페이지 설명을 읽기 어려운데, 이는 위키 문법이 렌더링 되지 않은 문서 원본이 그대로 `<meta name="description">`에 들어가기 때문입니다.

렌더러를 거쳐 나온 결과물을 자바스크립트를 이용해 메타 태그에 동적으로 삽입할 수도 있을텐데, 이걸 검색봇이 정상적으로 읽어갈 수 있는지는 경우에 따라 다른 듯하므로 확인이 필요해 보입니다.

## Screenshot (스크린샷)
![temp](https://user-images.githubusercontent.com/

[2022-03-07 09:42] surplus-dev commented on #1379
위키 문법 그 자체로 나오게 한 것은 사실 의도된 사안이긴 합니다

문단이나 목차 내용의 구분 없이 그냥 쌩짜로 나오게 하니 어느게 어떤 파트인 지 구분이 안가서 일단은 그렇게 해놨습니다

[2022-03-07 11:03] Denevola commented on #1379
음, 그 부분은 동의합니다. 다른 위키들을 살펴봐도 달리 태그를 정해놓지 않은 경우가 대부분, 그리고 자동으로 크롤링된 내용엔 문단 편집 버튼이나 각주까지 따라간 경우도 많았습니다.

위키백과는 나름 개요 내용으로 잘 표시되고 있는데, 이 역시 설명 태그는 없고 구글이 잘 긁어간 것 같습니다.

[2022-03-07 13:13] surplus-dev commented on #1379
@Denevola 위키백과 같은 경우에는 문단 위에 요약문을 쓰고 틀을 가장 아래에 쓰는 등 정책이나 문화가 잘되어 있어서 잘 표시되는 것 같습니다

그런 게 없는 문서의 경우에는 그냥 타 위키와 동일한 것 같습니다

그래서 개인적인 입장에서는 현재 방안이 그나마 뭐가 뭐인지 표시하기 좋은 것 같다고 생각합니다

[2022-03-08 14:02] cuprevenge commented on #1036
![image](https://user-images.githubusercontent.com/52319594/157252698-899c16e7-15b9-47b3-ba90-19260cf349b5.png)
오픈나무
![image](https://user-images.githubusercontent.com/52319594/157252681-93a143ff-8b3a-4e11-bc75-1af4bb18348b.png)
나무위키

가로 제한이 없어 긴 글을 입력해도 줄바꿈이 되지 않아 편집이 어려운 점이 있습니다.

나무위키처럼 줄바꿈이 되었으면 합니다.

[2022-03-08 14:03] cuprevenge commented on #1150
기여 횟수 값을 순위로 매기거나 그래프로 보여줘도 좋을 것 같습니다.

[2022-03-08 16:08] Denevola opened #1380 "문서 내 목차가 첫 번째 것만 정상 출력됨"
## Environment (환경)
* openNAMU version : v3.4.4 (stable1) (beta1) (dev1)

## Explanation (설명)
문서 내에 `[목차]` 문법을 이용해 목차를 여러 개 만들었을 때, 맨 처음의 목차만 정상적으로 출력되고 나머지는 문단명이 출력되지 않습니다.
[code]
## Screenshot (스크린샷)
![temp](https://user-images.githubusercontent.com/81607108/157277071-e917e1b9-60da-4b70-9512-98b356ffa0d4.png)

[2022-03-08 16:16] Denevola commented on #1379
당장 생각나는 적당한 대안이 없으니 일단은 닫아두겠습니다.

[2022-03-09 13:10] surplus-dev commented on #1150
현재 진행중

@cuprevenge 의견 반영하겠습니다만 기여 횟수 순위는 DB에 막대한 무리를 줄 것 같아서 아마 전체 달성수 같은 기능을 만들 것 같습니다

[2022-03-09 13:10] surplus-dev commented on #1036
줄바꿈 추가하겠습니다

[2022-03-09 13:21] surplus-dev commented on #1036
dev2(아직 안 올림)에 추가 했습니다

[2022-03-09 13:32] surplus-dev commented on #1380
dev2(아직 안 올림)에서 수정했습니다

[2022-03-09 13:32] #1380 closed, assigned to surplus-dev

[2022-03-09 14:50] surplus-dev opened #1382 "[수렴] 도전 과제 아이디어 받습니다"
## 현재 검토 중인 건
 * 1번째 로그인 (Hello, World)
 * 10번째 로그인
 * 100번째 로그인
----
 * 1번째 기여 (시작이 반이다)
 * 10번째 기여 (갈 길이 멀다)
 * 100번째 기여
 * 1000번째 기여
 * 10000번째 기여 (대기만성)
----
 * 1번째 문서 생성 (천 리 길도 한 걸음부터)
 * 10번째 문서 생성
 * 100번째 문서 생성
----
 * 1번째 토론
 * 10번째 토론
 * 100번째 토론
 * 1000번째 토론 (나는 생각한다 고로 존재한다)
 * 10000번째 토론
----
 * 10000번째 기여와 1000번째 토론 동시 달성 (내 사전에 불가능이란 단어는 없다)
----
 * 1번째 투표 (투표는 총알보다 강하다)
 * 10번째 투표

[2022-03-09 15:13] ShapeLayer commented on #1382
"너 자신을 알라"는 사문 생성쪽에 넣는게 나을것 같고, 관리자 권한 박탈 만들어서 "인생사 공수래 공수거" 어떻나요

[2022-03-10 04:02] Lwnlcks commented on #1382
문서 기여뿐 아니라 생성도 넣는거 어떨까요

[2022-03-10 05:41] Lwnlcks commented on #1382
다른 사용자 문서 기여(남의 떡이 더 커보인다)

[2022-03-10 10:13] surplus-dev commented on #1382
@ShapeLayer 비슷한 맥락으로 차단도 만드려고 했으나 트롤의 증가가 우려됨으로 패스하겠습니다...

[2022-03-10 10:14] surplus-dev commented on #1382
@Lwnlcks 의견 반영하겠습니다

[2022-03-10 12:35] cuprevenge commented on #1382
https://help.fandom.com/wiki/Achievements

fandom의 Achievements을 참조하면 좋을 것 같습니다.

[2022-03-10 14:12] cuprevenge opened #1383 "표 리스트 문법"
* openNAMU version : v3.4.3 (stable3) (beta21) (dev38)

[code]

![image](https://user-images.githubusercontent.com/52319594/157678977-353c3988-80bc-4fe8-8f08-29fe4b2b8330.png)

앞에 다른 문자가 없어야 리스트 문법이 작동하여 표에서는 부득이하게 2번처럼 사용해야 하는데, 이 때문에 부득이 하게 br이 생깁니다.

이를 해결할 수 있는 방안이 있었으면 좋겠습니다.

[2022-03-10 16:00] Denevola opened #1384 "IE 지원 중단 관련 개선"
## Environment (환경)
* openNAMU version : v3.4.4 (stable1) (beta1) (dev1)

## Explanation (설명)
 * IE로 접속할 시 자동으로 엣지 브라우저로 넘어가는 기능이 작동하지 않습니다.
 * IE 지원이 중지되었으니 언어 값 `except_ie`를 사용해 IE 미지원을 알리는 문구가 불필요할 것 같습니다. 사용된 곳은 기본 스킨 설정이 유일합니다.

## Screenshot (스크린샷)
![temp](https://user-images.githubusercontent.com/81607108/157701080-3dd6aeae-c9b4-420f-887e-8c2d57f2416e.png)

[2022-03-10 16:23] Denevola opened #1385 "자주 쓰이지 않는 리소스의 동적 로딩 제안"
## Explanation (설명)
일반적으로 사용 빈도가 적은 _KaTeX_ 나 _highlight.js_ 관련 리소스를 문서 내 사용 여부에 따라 동적으로 불러오면 어떨까요?
기본 스킨 기준 이 둘의 용량이 가장 크기도 하고, 관련 파일이 여러 개이기에 요청 수를 줄이는 것도 속도 면에선 득이 될 듯합니다.

다만 과학/공학 등 특정 분야의 위키를 운영한다면 비교적 자주 쓰일 텐데 이럴 때 어떻게 작용할지까지는 모르겠습니다.

[2022-03-11 09:39] surplus-dev commented on #1385
원래 그렇게 하고 있습니다

그렇지 않다면 버그 입니다

[2022-03-11 09:43] surplus-dev commented on #1384
alert도 뜨도록 수정하겠습니다

[2022-03-11 13:33] surplus-dev commented on #1384
내부적으로 수정했습니다

[2022-03-11 13:33] #1384 closed, assigned to surplus-dev

[2022-03-11 13:57] surplus-dev opened #1386 "[수렴] 칭호 시스템"
## 소개
칭호 시스템을 도입할까 합니다 칭호는 사용자의 이름 옆에 표시될 것 입니다

## 장점
 * 간지납니다
 * 관리자 표시도 칭호로 변경 예정 입니다
 * 차단자 표시도 칭호로 변경 예정 입니다
 * 도전과제 시스템과 연계 예정 입니다

## 단점
 * 칭호 없는 사람에게 박탈감을 줄 수 있습니다

[2022-03-13 14:33] surplus-dev commented on #1386
도입하는 걸로 확정

[2022-03-13 14:33] #1386 closed, assigned to surplus-dev

[2022-03-13 14:34] surplus-dev opened #1387 "칭호 시스템"

[2022-03-13 15:01] surplus-dev opened #1388 "[수렴] 칭호 아이디어 받습니다"
어떤 걸 넣으면 좋을까요

[2022-03-13 19:47] Gwangtori opened #1389 "오류 제보"
## Environment (환경)
* OS : 우분투
* Python version : 3.10
* openNAMU version : v3.4.4 (stable1) (beta1) (dev2)

## 1번째
include 미작동 + 목차 깨지는 문제가 저 문서에서만 일어나는 것 같은데 원인을 모르겠네요. [링](https://onemindwiki.kr/w/한마음위키%3A규정)
![image](https://user-images.githubusercontent.com/64156915/158075961-b62c92c8-8877-4735-8d7d-bb660f4403b4.png)

## 2번째
토론을 Stop해도 최근 토론에 표시됩니다.

## 3번째
사용자 문서가 있어도 빨간색으로 표시됩니다.
![image](h

[2022-03-13 20:10] Gwangtori opened #1390 "(사소한) 제안"
## 내용
- [x] 복사 붙여넣기 등 RAW 볼 일이 생기면 편집 눌러서 복붙하는 사람(저)이 꽤 있기 때문에 편집 버튼을 눌렀을 때 RAW가 나왔으면 좋겠습니다.
![image](https://user-images.githubusercontent.com/64156915/158076537-8c467d0c-73b6-4bfe-996c-6b10618fc5b0.png)

- [x] 나무위키처럼 구버전을 볼 때 경고 창이 나왔으면 좋겠습니다. 본 문서보다 구 버전이 위에 노출될 때가 꽤 많네요...
![image](https://user-images.githubusercontent.com/64156915/158076790-edc4071e-8a62-4907-bebf-46df00cabe29.png)

- [sitema

[2022-03-14 11:03] surplus-dev commented on #1390
1 반영하겠습니다
2 반영하겠습니다
3 문서가 많아지면 서버에 부담이 될까봐 고심 중 입니다
4 틀 규격이 위키마다 제각각이라서 쉽게 못 결정하고 있습니다
5 만들려고 했다가 까먹은 것 같습니다 반영하겠습니다

[2022-03-14 11:37] Lwnlcks commented on #1390
제가 운영중인 위키에서 4번째의 경우에는
* main_upload.py

            curs.execute(db_change("select data from other where name = 'markup'"))
            db_data = curs.fetchall()
            if db_data and db_data[0][0] == 'namumark':
                file_d = '' + \
                    '[[file:' + name + ']]\n' + \
                    '{{{[[file:' + name + ']]}}}\n\n' + \
                    flask.request.form.ge

[2022-03-14 11:40] surplus-dev commented on #1390
4+ 음... 좋은 아이디어인 것 같으니 그냥 분류명 뿐만 아니라 내용도 커스텀 가능하게 하겠습니다

[2022-03-14 14:17] surplus-dev commented on #1389
1번 dev3에서 수정했습니다
3번 dev3에서 수정했습니다

2번은 의도된 사안 입니다. stop의 경우 일시 정지이므로 close와는 의미가 다릅니다

[2022-03-14 14:19] #1389 closed, assigned to surplus-dev

[2022-03-14 15:01] surplus-dev commented on #1390
1번 추가했습니다

[2022-03-15 01:26] Gwangtori opened #1391 "토론 스레드 관련"
## Environment (환경)
* OS : 우분투 22.04
* Python version : 3.10.4?
* openNAMU version : v3.4.4 (stable1) (beta1) (dev3)

## Explanation (설명)
✅표시가 1개 뜰 때가 있고 2개 뜰 때도 있는데 버그같아서 제보합니다

## Screenshot (스크린샷)
![Screenshot_20220315-102747](https://user-images.githubusercontent.com/64156915/158287989-6509ce81-bb81-4342-a0da-c8ea01f13732.png)

[링크](https://onemindwiki.kr/thread/2)

[2022-03-15 13:11] surplus-dev commented on #1391
수정했습니다 dev4

[2022-03-15 13:11] #1391 closed, assigned to surplus-dev

[2022-03-16 10:26] Gwangtori commented on #1390
@surplus-dev [[문서|[[file:파일.svg]]]]일 때도 파일로 이동됩니다

[2022-03-16 14:47] surplus-dev commented on #1390
임시로 수리했습니다

[2022-03-16 14:50] surplus-dev opened #1392 "차세대 렌더러 제작"
해야하는데... 나중에

[2022-03-16 14:57] Denevola commented on #1385
답변이 좀 늦었지만, 빈 문서부터 문서가 아닌 페이지에서까지 똑같이 불러오는 걸 보면 버그가 맞는 것 같습니다.

[2022-03-17 12:59] cuprevenge opened #1393 "구글 캐시 스냅샷"
* openNAMU version : v3.4.3 (stable3) (beta21) (dev38)

구글의 저장된 페이지 스냅샷 상에서 render_content가 구현되지 않아 문서 내용이 나타나지 않습니다.

오픈나무 홈페이지에서도 해당 현상이 확인됩니다. [#](https://webcache.googleusercontent.com/search?q=cache:SWYJJCOhydYJ:https://2du.pythonanywhere.com/w/%25EC%2584%25A4%25EC%25B9%2598%25EB%25B2%2595+&cd=2&hl=ko&ct=clnk&gl=kr)

[2022-03-18 13:57] surplus-dev commented on #1393
Raw라도 나오게 할까요?

[2022-03-18 13:58] surplus-dev commented on #1385
다시 생각해보니 JS 렌더러로 변경한 뒤에 동적 로딩이 너무 어려워서 일부로 해놨던 것 같습니다

방법을 좀 더 고심해보겠습니다

[2022-03-19 06:09] surplus-dev commented on #1392
## 나무마크 관련
 * [나무위키:문법 도움말/개발](https://namu.wiki/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4:%EB%AC%B8%EB%B2%95%20%EB%8F%84%EC%9B%80%EB%A7%90/%EA%B0%9C%EB%B0%9C)
 * https://github.com/openNAMU/openNAMU/issues/1302 (아래 문제가 발생하는 이유임)
 * https://github.com/openNAMU/openNAMU/issues/1242 (이 문제를 수정하기 위해서 차세대 렌더러 개발중)
 * https://github.com/openNAMU/openNAMU/issues/1352
 * https://github.com/openNAMU/openNAMU/

[2022-03-19 09:28] surplus-dev commented on #1370
차기적으로 Lint 도입 예정

[2022-03-19 09:28] #1370 closed, assigned to surplus-dev

[2022-03-19 09:28] surplus-dev commented on #1374
커뮤 기능을 강력하게 추진하도록 할 예정

[2022-03-19 09:28] #1374 closed, assigned to surplus-dev

[2022-03-19 09:30] surplus-dev commented on #1302
아예 처음부터 새로 짤꺼임

[2022-03-19 09:30] #1302 closed, assigned to surplus-dev

[2022-03-19 09:31] #1291 closed, assigned to surplus-dev

[2022-03-19 09:32] #1100 closed, assigned to surplus-dev

[2022-03-19 09:33] surplus-dev commented on #1242
차세대 렌더러에서 반영 예정

[2022-03-19 09:33] #1242 closed, assigned to surplus-dev

[2022-03-19 09:34] surplus-dev commented on #1352
차세대 렌더러 반영 사안

[2022-03-19 09:34] #1352 closed, assigned to surplus-dev

[2022-03-20 03:53] Denevola commented on #1242
'/문서'의 역링크에도 저 내용을 작성한 페이지가 추가되네요.

[2022-03-20 03:55] Denevola commented on #1242
@surplus-dev
`{{{[[분류:ABC]]}}}`로 분류 문법을 무효화했을 때 실제 '분류:ABC' 페이지엔 추가되어 있는것도 같은 맥락의 문제일까요?

[2022-03-20 03:58] surplus-dev commented on #1242
정확하게 설명 드리자면

현재 백링크용 렌더러와 보여주기용 렌더러가 따로 분리되어 있습니다

백링크용 렌더러는 일부로 속도를 올리기 위해서 진짜 링크 파트만 대충 렌더링 하도록 구현해놔서 증상이 벌어집니다

[2022-03-21 14:59] surplus-dev commented on #1392
마크다운 렌더러 순조롭게 진행 중

현재 공정율 40%

[2022-04-04 06:48] HotoRas opened #1394 "IIS 호스팅 중 사용자 문서(user:username) 접근 불가"
## Environment (환경)
* OS : Windows 11 Home | IIS 10
* Python version : 3.10.4 `Latest Release`
* openNAMU version : `v3.4.3 stable3/beta21/dev38`
* Skin : Liberty (Default에서 테스트 완료)
* Skin version : Latest Git master

## Explanation (설명)
IIS를 통해 위키를 테스트 호스팅하고 있습니다. (다른 서버랑 같이 돌리고 있긴 함)
그런데 [사용자 문서](https://wiki.jdh5968.pe.kr/w/user%3Ajdh5968) 들어갔더니 Internal Error와 함께 오류가 발생하더라고요. (스샷 첨부)
이건 어떻게 해결

[2022-04-04 06:49] HotoRas commented on #1394
추가:
HTML 데이터로 나온 걸 보니 모바일 크롬이어서 나는 문제는 아닙니다.
애초에 오픈테섭에 있는 사용자 문서는 잘만 접속됨

[2022-04-04 10:12] surplus-dev commented on #1394
일단 안되는 이유는 [이러한](https://docs.microsoft.com/en-us/aspnet/whitepapers/request-validation) 이유 때문인 것 같습니다 그래서 기본값이 금지로 되어 있는 것 같습니다만...

[설정](https://stackoverflow.com/questions/4694760/asp-net-mvc-colon-in-url)으로 풀 수 있는 것 같습니다

[2022-04-04 10:15] surplus-dev commented on #1393
그냥 Raw로 나오게 하겠습니다

[2022-04-04 10:51] HotoRas commented on #1394
설정 적용한 결과 잘 됩니다. 이슈 닫겠습니다.

[2022-04-04 10:51] #1394 closed, assigned to surplus-dev

[2022-04-04 14:38] surplus-dev commented on #1388
## 현재 계획안
 * 🌳 namu : Hello, World 도전 과제 달성시 부여됩니다
 * 🔰 first : 시작이 반이다 도전 과제 달성시 부여됩니다
 * 🏅 best : 내 사전에 불가능이란 단어는 없다 도전 과제 달성시 부여됩니다
 * ✅ admin : 왕후장상의 씨가 따로 있느냐 도전 과제 달성시 부여됩니다
 * 📱 mobile : 모바일에서 로그인하면 부여됩니다
 * 🍉 watermelon : 일정 포인트 이상 되면 부여됩니다

[2022-04-04 14:39] surplus-dev opened #1395 "이 달의 최고 기여자 기능 추가 예정"

[2022-04-04 15:25] cuprevenge opened #1396 "투표 기간 설정"
* openNAMU version : v3.4.3 (stable3) (beta21) (dev38)

투표 기능에서 투표가 자동으로 종료될 수 있도록 기간을 설정하는 기능이 있으면 좋을 것 같습니다.

[2022-04-05 14:47] surplus-dev commented on #1396
기한 기능 추가했습니다만... 자동으로 종료되진 않고 그냥 기한 지나면 더 이상 투표만 불가능해집니다

[2022-04-06 13:44] surplus-dev opened #1397 "안정적인 stable 유지를 위한 차기 방안"
보안 버그 제외 무조건 beta에서 10일의 중간 검토 기간을 가지기로 했음

dev -> beta(stable로 보내기 전 최소 10일간 검토)  -> stable

10일의 기간의 텀을 두면 버그를 발견할 수 있지 않을까라는 발상임

장기적으로는 beta 빌드 이전에 alpha 빌드를 추가로 만들까 고심 중임

[2022-04-06 13:56] surplus-dev opened #1398 "[수렴] 게시판 기능 추가"
위키 게시판 기능을 추가할까 생각 중 입니다

의견 받습니다

[2022-04-06 14:11] cuprevenge commented on #694
* openNAMU version : v3.4.3 (stable3) (beta21) (dev38)

현재 작동하지 않는 것 같습니다.

url 구조가 바뀌면서 문단을 가리키는 s-n이 리다이렉트 문서에 붙는 게 원인이 아닐까 싶네요.

[2022-04-07 04:24] Gwangtori commented on #1398
## 질문
1. 위키 내부의 기능으로 추가할 예정인가요?
2. 스레드 형식인가요, 아니면 일반적인 게시판 형식(글 - 댓글)인가요?

[2022-04-08 06:24] surplus-dev commented on #1398
1. 위키 콘텐츠와는 별개인 위키 내부의 기능이 될 예정 입니다
2. 둘 다 지원 예정 입니다

[2022-04-11 12:11] dorincop commented on #1398
이거 뭐 되는건가요??

[2022-04-12 03:04] surplus-dev commented on #1398
@dorincop 게시판을 만들 수 있습니다

[2022-04-12 20:27] dorincop commented on #1398
게시판 어케 만들어요?

[2022-04-13 00:14] surplus-dev commented on #1398
@dorincop 아직 기능 추가가 안되었습니다

[2022-04-13 01:47] Lwnlcks commented on #1398
title은 어떤 식으로 될까요?
게시판 기준
[게시판 이름]?
[게시판 이름] - [위키이름]?

게시글 기준
[게시글 이름] - [게시판 이름]?
[게시글 이름] - [게시판 이름] - [위키이름]?

[2022-04-13 04:27] surplus-dev commented on #1398
@Lwnlcks 현재 계획상으로는 게시글 이름 - 게시판 이름이 가능성이 높습니다

[2022-04-13 08:25] cuprevenge opened #1400 "문단 링크"
* openNAMU version : v3.4.3 (stable3) (beta21) (dev38)

[[문서#s-n]] 형식으로 문단을 링크할 수 있는 기능이 작동하지 않는 것 같습니다.

[2022-04-14 22:11] Gwangtori opened #1401 "IP 변조 관련"
## 설명
ip를 변조할 수 있다고 합니다. nginx의 문제인지, 오픈나무의 버그인지 잘은 모르겠으나, 일단 이슈 올려봅니다.

## 링크
https://m.dcinside.com/board/namuwiki/41545
https://dicc.link/thread/1

[2022-04-15 09:19] surplus-dev commented on #1401
https://jacksimon86.tistory.com/m/72
https://blog.alyac.co.kr/668

좀 생각을 해봤는데 이론적으로는 가능할 것 같습니다 물론 어차피 아이피를 위조해도 VPN이랑 별 다를게 없다는 생각으로 좀 별 생각 안하고 있었던 것 같긴 합니다

으음... 사례가 나왔으니 좀 더 알아보고 제대로 대처 하겠습니다 일단 위험 단계까지는 아닌 것 같긴 합니다

[2022-04-15 09:31] surplus-dev commented on #1401
https://esd.io/blog/flask-apps-heroku-real-ip-spoofing.html
메모

[2022-04-16 11:12] surplus-dev opened #1402 "[주의] IP 스푸핑에 대한 이야기"
## 서론
이번에 IP 스푸핑 관련해서 설명을 드리고자 올리는 게시글 입니다

## 본론
오픈나무는 이러한 코드를 이용해서 현재 아이피를 가져오고 있습니다
[code]

이 중에 가장 신뢰 가능한 방식은 `REMOTE_ADDR` 입니다만... 왜 이런식으로 짜여있느냐면 `REMOTE_ADDR`의 경우에는 중간에 프록시가 끼이는 경우 프록시 아이피를 가져오게 됩니다.

그래서 현재 오픈나무는 `HTTP_X_FORWARDED_FOR`이나 `HTTP_CLIENT_IP` 등등 HTTP 헤더를 통한 아이피를 가져오는 것을 우선으로 두고 있습니다만... HTTP 헤더의 경우에는 위변조가 가능합니다

사실 오픈나무의 경우에는 어차피 로그인 방식을 통한 권한 분배를 하고 있기 때문에 사실 아이피를 우회해도 VPN을 사용하

[2022-04-16 11:12] surplus-dev commented on #1401
https://github.com/openNAMU/openNAMU/issues/1402

[2022-04-16 11:28] surplus-dev opened #1403 "보안 및 여러 이슈 모음 (A collection of security or other issues)"
* [공식 위키 (Official wiki)](http://2du.pythonanywhere.com)
 * [공지 모음 (Notice collection)](https://github.com/openNAMU/openNAMU/labels/D%20%EA%B3%B5%EC%A7%80%20%28Notice%29)

## IP Spoofing
 * https://github.com/openNAMU/openNAMU/issues/2202
 * https://github.com/openNAMU/openNAMU/issues/1402

## XSS
 * https://github.com/openNAMU/openNAMU/issues/2199
 * https://github.com/openNAMU/openNAMU/issues/18

[2022-04-16 11:40] surplus-dev opened #1405 "[주의] HTML XSS 오류 3 (HTML XSS bug 3) (~v3.4.3)"
## ko-KR
v3.4.3 이하에 HTML XSS 오류가 또(...) 발견되었습니다

v3.4.4로 업데이트를 권장드립니다.

뭐... 근데 사실 HTML XSS 정도로는 털 수 있는 것도 없어서 심각도는 별로 안 높습니다

이번에도 발동 조건이 좀 까다로워서 큰 문제는 아닐 것 같긴 합니다

## en-US
HTML XSS error found again(...) in v3.4.3 or earlier.

Recommend updating to v3.4.4.

But the severity is not high.

[2022-04-16 11:45] cuprevenge commented on #1398
익명 게시판 기능과 비밀 글 기능이 있으면 좋을 것 같습니다.

[2022-04-16 13:57] surplus-dev commented on #1398
@cuprevenge 고려하겠습니다

[2022-04-17 03:01] surplus-dev opened #1406 "stable 올리기 전에 점검할 부분"
* 토론 설계 변경 파트 정상 작동 여부
 * ACL 문서 목록 파트
 * https://github.com/openNAMU/openNAMU/issues/1400

[2022-04-17 03:02] surplus-dev commented on #1401
https://github.com/openNAMU/openNAMU/commit/7342fbc731849a14d5769077c0ce9e71aca2808a

[2022-04-17 03:02] #1401 closed, assigned to surplus-dev

[2022-04-17 07:22] surplus-dev commented on #1400
고쳤습니다만 파일에 사진이 들어있는 경우 사진이 로드되면서 화면이 위로 쏠릴 수 있는 자잘한 문제가 남아있는 것 같습니다

그래서 일단은 냅두고 다음 렌더러 수정 때 반영 예정 입니다

[2022-04-17 07:22] #1400 closed, assigned to surplus-dev

[2022-04-17 07:22] surplus-dev commented on #1406
조정 완료

[2022-04-17 07:22] #1406 closed, assigned to surplus-dev

[2022-04-19 07:15] Gwangtori opened #1408 "오류 제보"
## Environment (환경)
* openNAMU version : v3.4.4 (stable1) (beta2) (dev7)

## IP 사용자 도구 미표출
도구가 로그인 사용자에게만 보여지고, IP 이용자는 도구가 나오지 않습니다. ([최근 편집](https://onemindwiki.kr/recent_changes), [문서 역사](https://onemindwiki.kr/history/한마음위키:연습장))

## 미리보기와 보이는 게 다름(?)
![image](https://user-images.githubusercontent.com/64156915/164010049-2b01480e-1c55-4c70-a8bc-d09ca84d6500.png)
![image](https://user-images.git

[2022-04-21 14:35] surplus-dev commented on #1408
1. 아이피 가리기 옵션을 킨 경우에는 아이피 정보 보호를 위해서 도구가 나오지 않도록 설정되어 있습니다
2. HTML minify 때문에 해당 증상이 발생하는 것 같습니다 충돌나지 않도록 수정하겠습니다

[2022-04-21 14:38] surplus-dev commented on #1408
수정 beta3

[2022-04-21 14:38] #1408 closed, assigned to surplus-dev

[2022-04-21 14:50] surplus-dev opened #1410 "이미지 테이블 잘리는 것에 대해서 시급한 처리가 필요"
하다고 생각은 하지만 귀찮ㄴ

## 관련 이슈
 * https://github.com/openNAMU/openNAMU-Skin-Liberty/issues/15
 * https://github.com/openNAMU/openNAMU/pull/1381

[2022-04-21 14:57] surplus-dev opened #1411 "[수렴] 각주 관련 의견 수렴"
## 본론
현재는 각주를 재사용할 때 그 각주와 동일한 내용의 각주가 똑같이 생기는 형식으로 처리하고 있습니다

이걸 나무마크랑 동일한 형식으로 바꿀지 고심 중에 있긴 합니다~~만 아마 귀찮아서 안 바꿀 가능성이 높습니다만~~

의견이 어떤 지 들어보고자 해서 이러한 수렴 글을 올려봅니다

아마 반영하면 차기 렌더러에 반영할 계획 입니다

[2022-04-22 09:26] cuprevenge commented on #1411
동일한 형식은 아니더라도 최소한 중복 각주 내용은 하나로 합쳐서 볼 수 있으면 좋을 것 같습니다.

중복 각주가 많을수록 보기에 영 좋지 않더군요.

[2022-04-22 14:34] Denevola commented on #1411
역시 같은 각주는 하나로 나타나는 게 좋다고 생각합니다.

[2022-04-25 19:24] dorincop commented on #1398
빨리 개발좀 해주세요 @surplus-dev

[2022-04-26 06:13] cuprevenge opened #1412 "테이블 내에서 외부 이미지와 svg 파일 충돌"
* openNAMU version : v3.4.4 (stable1) (beta3) (dev8)

[code]
![image](https://user-images.githubusercontent.com/52319594/165233799-d4e2095a-b803-4e97-8dbb-8947eae9a9e2.png)

위 문법과 같이 사용할 경우, 아래 이미지와 같이 외부 이미지는 .../edit/out_link로 내부링크된 외부 이미지 주소가 그대로 표시되며, svg 파일은 표시되지 않습니다.

[2022-04-26 09:11] surplus-dev commented on #1398
@dorincop 그러고 싶습니다 ㅠ

[2022-04-29 11:34] cuprevenge opened #1413 "토론 내용"
* openNAMU version : v3.4.4 (stable1) (beta3) (dev8)

토론에서 관리자가 내용(#n)을 수정하거나 삭제할 수 있는 기능이 있었으면 합니다.

[2022-04-29 14:28] surplus-dev commented on #1412
https://github.com/openNAMU/openNAMU/commit/91e90e364b36d43b18e3ac2acd476f4777d535c8

svg의 문제가 아니라 코드에 버그가 있었습니다

[2022-04-29 14:28] #1412 closed, assigned to surplus-dev

[2022-04-29 14:33] surplus-dev commented on #1411
수렴 완료

[2022-04-29 14:33] #1411 closed, assigned to surplus-dev

[2022-04-30 14:57] dorincop opened #1414 "설치시 오류"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
이렇게 오류가 납니다
 File "app.py", line 63
SyntaxError: Non-ASCII character '\xed' in file app.py on line 63, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

## Screenshot (스크린샷)

[2022-04-30 14:58] dorincop commented on #1414
아니네요  파이썬 버전이 2.9여가지도 되는거 같에요

[2022-04-30 22:51] ShapeLayer commented on #1414
오픈나무는 파이썬 3.7 이상의 환경에서 실행 가능합니다.
https://python.org 에서 최신 파이썬 환경을 다운로드받거나, 리눅스 환경이라면 `python3`로 오픈나무를 실행하세요.

[2022-05-01 12:34] #1414 closed, assigned to surplus-dev

[2022-05-01 13:28] cuprevenge opened #1415 "제목 길이 제한"
* openNAMU version : v3.4.4 (stable1) (beta3) (dev8)

현재 문서나 토론 제목에는 따로 길이 제한이 없는 것 같은데, 누군가 엄청나게 긴 제목으로 작성해 도배 등을 할 경우 문제가 생길 수 있을 것 같습니다.

제목 길이를 일정 글자로 제한할 수 있는 옵션이 있으면 좋을 것 같습니다.

[2022-05-04 14:45] surplus-dev commented on #1398
일단 긍정적으로 검토하는 걸로

[2022-05-04 14:45] #1398 closed, assigned to surplus-dev

[2022-05-04 14:53] surplus-dev commented on #1413
dev에 반영

[2022-05-04 14:53] #1413 closed, assigned to surplus-dev

[2022-05-05 14:02] surplus-dev opened #1418 "[수렴] 마크다운 관련 의견 수렴"
## 서론
마크다운의 경우에는 일반적으로 없는 문법 기능에 대해서는 HTML 기능을 사용하는 것을 기본으로 두고 있습니다만 오픈나무에서는 그 빈 문법을 커스텀하는 방식으로 추가하려고 생각 중에 있습니다

## 본론
그래서 마크다운에서 특정 HTML에 특정 기능이 있는 경우가 있는데 그런 경우를 다 쳐내 버릴까 싶습니다 그에 관련해서 의견 받습니다

## 기타
물론 마크다운을 실제 쓰는 사람이 얼마나 될 지는 모르겠지만 ~~더불어서 마크다운이 뭔 지도 모르는 사람도 많고~~ 마크다운에 대해서 흥미가 있으신 분들의 많은 의견 수렴 바랍니다

[2022-05-07 04:55] #1388 closed, assigned to surplus-dev

[2022-05-07 04:56] #1382 closed, assigned to surplus-dev

[2022-05-07 04:56] #1397 closed, assigned to surplus-dev

[2022-05-07 04:56] #1356 closed, assigned to surplus-dev

[2022-05-07 04:56] #1334 closed, assigned to surplus-dev

[2022-05-07 04:56] #1255 closed, assigned to surplus-dev

[2022-05-07 04:56] #1138 closed, assigned to surplus-dev

[2022-05-07 14:28] surplus-dev commented on #1393
Raw 나오게 함으로 해결

[2022-05-07 14:28] #1393 closed, assigned to surplus-dev

[2022-05-07 14:32] surplus-dev opened #1419 "곧 할 거였던 것"
## 기능 추가
 - [x] https://github.com/openNAMU/openNAMU/issues/1425
 - [x] https://github.com/openNAMU/openNAMU/issues/1257
 - [ ] https://github.com/openNAMU/openNAMU/issues/1483
 - [ ] https://github.com/openNAMU/openNAMU/issues/1276
 - [ ] https://github.com/openNAMU/openNAMU/issues/703
 - [ ] https://github.com/openNAMU/openNAMU/issues/1152
 - [ ] https://github.com/openNAMU/openNAMU/issues/1233

[2022-05-07 14:55] surplus-dev commented on #1256
dev10

[2022-05-07 14:55] #1256 closed, assigned to surplus-dev

[2022-05-07 16:12] Gwangtori commented on #1418
깃헙마크로 가기로 한건가요?

[2022-05-08 13:22] surplus-dev commented on #1418
@Gwangtori 계획안에는 그렇긴 한데 어차피 깃헙마크 자체가 커먼마크 기반이라 사실상 그냥 커먼마크 기반의 파생형이 될 것 같습니다

[2022-05-11 12:27] surplus-dev opened #1420 "렌더러가 뻗지 않는 설계"
match 할 때 len이 이전 while보다 많아지면 루프 강제 중지

[2022-05-14 07:41] cuprevenge opened #1421 "ID 필터 목록"
* openNAMU version : v3.4.4 (stable1) (beta3) (dev9)

ID 필터 목록(name_filter)에서 필터를 삭제하려고 시도하면 대문으로 돌아가고 삭제되지 않습니다.

[2022-05-15 13:56] #1420 closed, assigned to surplus-dev

[2022-05-15 14:00] surplus-dev opened #1422 "차기 렌더러의 개선 방향"
## HTML 깨짐 문제
### 분석
HTML 서순으로 인해서 내부 HTML이 외부적 요소에 영향을 줌

### 해결 방안
마지막 파트에서 HTML의 서순을 뽑아서 분석 후 교정

## 무한 루프 문제
### 분석
코드가 잘못 짜인 경우 무한 루프가 걸리는 문제 점이 있음

### 해결 방안
match 할 때 len이 이전 while보다 많아지면 루프 강제 중지

## 각주 개편
 * https://github.com/openNAMU/openNAMU/issues/1411
 * https://github.com/openNAMU/openNAMU/issues/1377

## 이미지 덜컹거림 문제 방지
 * https://github.com/openNAMU/openNAMU/issues/1410

[2022-05-17 07:47] hegelty opened #1423 "렌더러 에러"
## Environment (환경)
* OS : Ububtu Server 20.04 LTS
* Python version : 3.9
* openNAMU version : 3.4.3
* Skin : Liberty 색상 커스텀
* Skin version : 1.1.9

## Explanation (설명)
리스트 문법을 렌더링하는데 오류가 나 똑같은 부분이 반복됩니다. (https://gbs.wiki/w/GBSWiki%3A%EC%9E%AC%EC%A0%95)
## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/73592868/168757920-4476ffae-75c1-4ad6-abd2-5cd4f4fc581f.png)

[2022-05-17 11:03] Lwnlcks commented on #1423
이슈 발생 환경에서 리스트 문법에 '$'를 넣을 경우 해당 오류가 발생합니다

# '$' 삽입
## 이슈 발생
[code]

------
#  '$' 미사용
 ## 정상 작동
[code]

------

[2022-05-19 16:33] dorincop opened #1424 "문의"
## Environment (환경)
* OS : WIndows 10
* Python version : 3.9
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
오픈나무도 api같은게 있나요? 있다면 봇 예제코드 같은거있나요?
## Screenshot (스크린샷)

[2022-05-19 17:27] dorincop opened #1425 "대량 차단 기능"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
오픈나무에 대량 차단 기능도 있었으면 좋겠습니다.
## Screenshot (스크린샷)

[2022-05-19 23:30] Gwangtori commented on #1424
https://2du.pythonanywhere.com/w/category%3AAPI

[2022-05-20 08:36] Lwnlcks commented on #1424
편집 api는 아직 없습니다.

[2022-05-20 12:38] #1102 closed, assigned to surplus-dev

[2022-05-20 14:14] dorincop commented on #1424
종결합니다.

[2022-05-20 14:14] #1424 closed, assigned to surplus-dev

[2022-05-21 08:35] surplus-dev commented on #1421
어떤 경우에서 그런가요?

[2022-05-21 12:00] cuprevenge commented on #1421
새로 필터를 추가하고 삭제하는 건 괜찮은데, 오래전에 추가되어 있었던 필터가 그렇습니다.

[2022-05-21 16:09] dorincop commented on #1425
저는 도린위키를 차렸는데 그 위키에 반달이 너무많아
하나하나씩 아이피 대역을 차단해야하는 번거로움이
있습니다

[2022-05-22 08:40] surplus-dev commented on #1425
대량 문서 삭제와 비슷한 기능을 넣겠습니다

만약 대역 차단 기능이 필요하신거라면 정규식 차단을 쓰시면 될 것 같습니다

[2022-05-22 08:40] surplus-dev commented on #1421
확인해보도록 하겠습니다

[2022-05-22 09:11] surplus-dev commented on #1421
오래된 것에 문제가 아니라 / 들어가면 수정이 불가능한 문제가 있어서 수정 했습니다

[2022-05-22 09:11] #1421 closed, assigned to surplus-dev

[2022-05-22 09:12] #1402 closed, assigned to surplus-dev

[2022-05-22 09:12] #1403 closed, assigned to surplus-dev

[2022-05-22 09:12] #1405 closed, assigned to surplus-dev

[2022-05-22 09:12] #1418 closed, assigned to surplus-dev

[2022-05-22 17:54] Gwangtori opened #1426 "분문 상단, 본문 하단 접근 불가"
## Environment (환경)
* openNAMU version : dev 최신 버전

## Explanation (설명)
./setting/body_top, ./setting/body_bottom 접속 시 404 에러가 발생합니다.

[2022-05-22 19:17] dorincop commented on #1425
대역 차단 기능은 그걸로 하는걸 알고있었습니다.

[2022-05-22 19:23] dorincop commented on #1425
그리고 오픈나무도 더시드처럼 편집 api(자동편집)같은게 있었으면 좋겠습니다. (굳이 안넣어도 됩니다.)
그리고 예제코드를 공개하는것입니다.
그리고 질문이 하나 있는데, 혹시 surplus-dev님은 2du님과 동일인 이신가요?(2du님이 닉네임을 변경한건가)

[2022-05-25 03:45] lidarbtc opened #1427 "클라우드플레어 사용시 버그"
클라우드플레어 사용시 사용자 IP주소가 클라우드 플레어 프록시 ip주소로 인식되는 버그가 있습니다. 제 실제 ip는 144.x.x.x인데요, 위키에 들어가서 비로그인 상태로 확인시 162.158.x.x로 나오네요. 확인결과 클라우드 플레어 대역입니다.

[2022-05-25 04:13] Lwnlcks commented on #1427
### 원래 방문자의 IP 복원

## nginx 기준

/etc/nginx/nginx.conf 에 아래 내용을 추가시킨후 재시작(service nginx restart)시키면 해결될껍니다.

[code]

그 이외인 경우 [클라우드플레어 도움말](https://support.cloudflare.com/hc/ko/articles/200170786-%EC%9B%90%EB%9E%98-%EB%B0%A9%EB%AC%B8%EC%9E%90%EC%9D%98-IP-%EB%B3%B5%EC%9B%90-mod-cloudflare%EB%A1%9C-%EB%B0%A9%EB%AC%B8%EC%9E%90-IP-%EC%A3%BC%EC%86%8C-%EB%A1%9C%EA%B7%B8-%EA%B8%B0%EB%A1%9D-)을 확인하시기바랍니다

[2022-05-25 04:14] lidarbtc commented on #1427
감사합니다. 이슈는 닫겠습니다.

[2022-05-25 04:14] #1427 closed, assigned to surplus-dev

[2022-05-25 13:34] surplus-dev commented on #1425
@dorincop
1. 아마 언젠간 봇 API 만든 다음에 진행할 것 같습니다
2. 그러고 싶은데 문서화가 느려서 ~~귀찮아서~~ 잘 진행이 안되고 있습니다
3. 네 식상해서 바꾸었습니다

[2022-05-25 13:38] surplus-dev commented on #1426
dev12

[2022-05-25 13:38] #1426 closed, assigned to surplus-dev

[2022-05-25 13:45] surplus-dev opened #1428 "토론 편집 필터 추가"

[2022-05-25 13:57] surplus-dev opened #1429 "delete, move에도 하단 문구 적용"

[2022-05-26 08:22] lidarbtc opened #1430 "외부 api 설정시 SMTP 보안 프로토콜이 tls로 고정되는 현상"
SMTP 보안 프로토콜을 매뉴얼대로 starttls로 변경하고자 하였으나 starttls로 변경 후 저장을 하면 다시 tls로 돌아갑니다.

[2022-05-26 11:59] lidarbtc commented on #1430
임시방편으로 465포트를 사용했더니 tls로도 잘작동하네요.

[2022-05-27 14:29] surplus-dev commented on #1430
확인해보도록 하겠습니다

[2022-05-27 14:29] #1363 closed, assigned to surplus-dev

[2022-05-27 14:30] surplus-dev commented on #1353
추가하는 걸로 검토 완료 했습니다 숫자 자유롭게 입력 가능하도록 제작 예정 입니다

[2022-05-27 14:46] Gwangtori opened #1431 "기본 스킨 설정 관련"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev 최신 버전
* Skin :
* Skin version :

## Explanation (설명)
기본 스킨 설정에서 분류 위치를 변경해도 아래로 고정됩니다.

## Screenshot (스크린샷)

[2022-05-28 06:43] winter0909 opened #1432 "오픈 나무 설치 도와주세요"
## Environment (환경)
* OS : 윈도우 10
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
오픈나무 깔때 깃 클론 치고 python app.py 쳤는데 Errno 2가 뜨면서 no such file or directory 라고 뜨네요 뭘 잘못건드린지 모르겠어요 ㅠㅠ

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/106423426/170813840-7079e955-6c89-4f8f-85a5-6af6af00a17f.png)

[2022-05-28 06:51] Lwnlcks commented on #1432
1. cd openNAMU 를 쳐서 그 폴더로 이동하셔야합니다
2. /home/DarthFader/openNAMU 에서 python app.py 를 입력 해보시길 바랍니다.

[2022-05-28 14:23] surplus-dev commented on #1432
위에 말 대로 하시면 될 것 같습니다

[2022-05-29 01:58] wlqowk opened #1433 "hsts를 설정하려고 하는데"
## Environment (환경)
* OS :Ubuntu
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
hsts를 설정하려고 하는데 hsts헤더를 넣었는데
리디렉션이 문제네요 https://hstspreload.org/ 에서 테스트 해봤더니
안전하지 않은 리디렉션이라고 뜨네요
http로 접속해도 https로 접속해도 http://example.com/w/fasdfsaf 로 리디렉션 된다면서 안되네요
고칠방법이 없을까요
## Screenshot (스크린샷)

[2022-05-29 10:53] surplus-dev commented on #1433
아마도 버그 같습니다

[2022-05-29 11:29] surplus-dev commented on #1430
수리 완료

[2022-05-29 11:29] #1430 closed, assigned to surplus-dev

[2022-05-29 11:41] wlqowk commented on #1433
아 죄송합니다 질문을 잘못했네요
메인페이지로 들어가면 리디렉션을 해주게되는데
예) https://abc.com ->http://abc.com/w/대문
리디렉션을 해주는 페이지가 http 라서 안전하지 않은 리디렉션이라고 뜨는것 같습니다
SSL이 적용된 https로 리디렉션 할수있게 만드는 방법 없나요?
지금 리버스 프록시 적용중인데 그게 원인이라면 어떻게 고쳐야 http가 아니라 https로 리디렉션 하는지..
Proxy Pass 를 https로 고치면 들어가지지가 않던데 말이죠

[2022-05-29 12:13] wlqowk opened #1434 "리스트 문법은 나가리인가요"
너무 슬프네요
있으면 자주 쓸거같은데
아무리 봐도 시인성을 좋게 만들려면 리스트 문법이 필요하단 말이죠..
https://namu.wiki/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4:%EB%AC%B8%EB%B2%95%20%EB%8F%84%EC%9B%80%EB%A7%90#s-8
여기 8번째의 리스트 말입니다
문단으로 리스트까지 하려면 너무 지저분해지고
문단 없이 그냥 써내려가려니 리스트 문법 없이는 너무 허전하고 시인성없어보이고 해서요
검토부탁드림니다..

[2022-05-29 13:14] surplus-dev commented on #1434
나가리까진 아닌 상황인데 여유되면 언젠간 해야지 해야지 해야지... 하다보니 한참이 지났네요

[2022-05-29 13:18] surplus-dev commented on #1433
그래서 저번에 HTTPS에서 오는 리다이렉트는 HTTPS로 넘겨주는 패치를 대충 만들어서 적용했는데 작동을 잘 안하길래 좀 변경했는데 그게 문제가 있는 것 같다는 생각이 드네요

그냥 메인 설정에다가 HTTP로 리다이렉트할 지 HTTPS로 리다이렉트 할 지 선택 옵션 넣겠습니다

[2022-05-29 13:57] surplus-dev commented on #1433
dev4

[2022-05-29 13:57] #1433 closed, assigned to surplus-dev

[2022-05-29 17:39] dorincop opened #1435 "문서 편집을 할때 오류남."
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)

## Screenshot (스크린샷)

[2022-05-29 17:40] dorincop commented on #1435
dev 브랜치에서만 편집 할떄 오류가 납니다

[2022-05-29 17:42] dorincop commented on #1435
편집 할때 이런 오류가 발생합니다.
Internal Server Error
The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.
Internal Server 500 애러가 납니다.

[2022-05-30 14:31] surplus-dev commented on #1435
수정 완료

[2022-05-30 14:32] #1432 closed, assigned to surplus-dev

[2022-05-30 14:38] surplus-dev opened #1436 "편집 필터 기능 추가"
- [x] 토론에도 적용
 - [x] 편집 요약에도 적용
 - [x] 게시판에도 적용(제목 내용)

[2022-05-30 14:51] dorincop opened #1437 "질문"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
오픈나무에 마크 파일은 어디에 있나요? 오픈나무 namumark를 참고해서 엔진을 만들려고 하는데 알려주시기 바랍니다.

## Screenshot (스크린샷)

[2022-05-31 01:19] Gwangtori commented on #1435
@surplus-dev 업데이트해도 똑같이 발생합니다 (dev5)

[2022-05-31 07:01] surplus-dev commented on #1437
/views/main_css 에 있습니다

[2022-05-31 07:01] #1437 closed, assigned to surplus-dev

[2022-05-31 07:33] surplus-dev commented on #1435
재수정 dev6

[2022-05-31 07:33] #1435 closed, assigned to surplus-dev

[2022-05-31 07:39] cuprevenge commented on #1365
-  openNAMU version : v3.4.4 (stable1) (beta3) (dev9)

메인 설정에서 communication_function (ko-KR)과 sqlite (ko-KR)가 있습니다.

[2022-05-31 16:25] dorincop commented on #1437
views/main_css에
css, flie, js 폴더 3개가 있는데 뭐 클릭해서 어떤 파일 건드리면 되나여?

[2022-06-01 03:45] surplus-dev commented on #1437
js 파트 쪽에 있습니다만 단순히 더블클릭한다고 작동하고 그런 요소는 아니라서 기본적인 자바스크립트 코딩을 알고 하셔야 합니다

[2022-06-01 09:15] Gwangtori commented on #1435
@surplus-dev 이번에는 저장할 때 오류가 발생합니다... (dev7)
![image](https://user-images.githubusercontent.com/64156915/171370448-12c8de3b-fa54-4020-bd3b-dae7cf2d2933.png)

[2022-06-01 12:48] dorincop commented on #1437
혹시 [render_onmark.js](https://github.com/openNAMU/openNAMU/blob/beta/views/main_css/js/render_onmark.js)
이 파일 인지?

[2022-06-01 14:38] surplus-dev commented on #1437
네 맞습니다만 [render_wiki.js](https://github.com/openNAMU/openNAMU/blob/beta/views/main_css/js/render_wiki.js)와 오픈나무 내부 요소에 종속적인 부분이 있습니다

[2022-06-01 14:44] surplus-dev commented on #1435
@Gwangtori 테스트 환경에서는 오류가 발생하지 않았는 데 어떤 경우에 발생하나요?

메인 설정에서 edit_bottom_compulsion (편집 요약 강제) 옵션이 켜져 있으면 해당 오류가 발생할 수도 있습니다

[2022-06-01 14:48] Gwangtori commented on #1435
@surplus-dev 편집 요약 강제 옵션 때문이였던 것 같습니다. 지금은 해결됐어요. 감사합니다

[2022-06-01 16:34] dorincop commented on #1425
@surplus-dev 또 건의해서 죄송합니다만
오픈나무에 자동 로그인, 자동 편집 API에 파일 올리기 등에 기능이 있었으면 좋겠습니다.

[2022-06-02 14:31] surplus-dev commented on #1429
완료

[2022-06-02 14:31] #1429 closed, assigned to surplus-dev

[2022-06-02 14:32] surplus-dev commented on #1425
고려 해보겠습니다

[2022-06-02 14:33] surplus-dev commented on #1436
https://github.com/openNAMU/openNAMU/issues/1428

[2022-06-02 14:33] #1428 closed, assigned to surplus-dev

[2022-06-02 14:42] surplus-dev opened #1438 "렌더러 고심..."
## 렌더러 버그 정리
 * https://github.com/openNAMU/openNAMU/issues/1423
 * https://github.com/openNAMU/openNAMU/issues/1410
 * https://github.com/openNAMU/openNAMU/issues/1377

## 고민 중...
기존 렌더러에 버그를 잡고 나서 차기 렌더러를 만들어야 하는가 차기 렌더러를 만들면서 반영하는 게 맞는가...

닭이 먼저냐 달걀이 먼저냐 급의 답이 없는 고심

[2022-06-02 14:46] Gwangtori commented on #1438
차세대 렌더러가 엄청...? 오래 걸린다면 버그를 잡고 가야하는 게 나을 것 같아요

[2022-06-02 15:03] surplus-dev commented on #1423
임시 조치 했습니다

[2022-06-02 15:03] #1423 closed, assigned to surplus-dev

[2022-06-03 14:05] surplus-dev commented on #1438
임시로 수정 급한 부분은 수정 완료

[2022-06-03 14:05] #1438 closed, assigned to surplus-dev

[2022-06-05 07:56] cuprevenge opened #1439 "인용문 가로줄"
* openNAMU version : v3.4.4 (stable1) (beta3) (dev9)

[code]

![image](https://user-images.githubusercontent.com/52319594/172041150-c527d7e7-443c-4e7d-8d36-2e29a09eeab9.png)

보기와 같이 >>인용문 하단의 가로줄 문법이 작동되지 않습니다.

[2022-06-05 10:41] ghost opened #1440 "Docker Hub 이미지 업데이트"
## Environment (환경)
* OS : Debain 11 (bullseye)
* Python version :
* openNAMU version : v.3.4.4(stable)
* Skin :
* Skin version :

## Explanation (설명)
openNamu의 깃허브 최신 릴리즈는 작년 10월이지만, Docker Hub의 최신 이미지는 2년전 업로드에서 멈춰있습니다.
이미지 업데이트 해주세요 ㅠㅠ
[openNamu Docker HUB](https://hub.docker.com/r/opennamu/opennamu)
[최신 릴리즈](https://github.com/openNAMU/openNAMU/releases/tag/v3.4.4-stable1)
## Screenshot (스크린샷)

[2022-06-05 15:12] wlqowk opened #1442 "지금 stable 을 쓰는데 bata 로 갈수있는 명령어?라든지 있습니까"
아니면 모두 삭제하고 다시 깔아야하나요?

[2022-06-05 17:12] Gwangtori commented on #1442
@wlqowk 기타 도구 → 관리 도구 → 소유자 > 설정 → 메인 설정의 '업데이트를 가져올 브랜치'를 변경하시고 업데이트하시면 됩니다.

[2022-06-05 17:18] Gwangtori opened #1443 "문서 되돌리기 오류"
## Environment (환경)
* openNAMU version : dev 최신 버전

## 설명
문서를 이전 버전으로 복원하면 이전 버전으로 되돌려지지 않고 문서 제목으로 되돌려집니다.

## 스크린샷
![image](https://user-images.githubusercontent.com/64156915/172062310-75c9b450-0e51-457f-be50-6fff26e2eab6.png)
![image](https://user-images.githubusercontent.com/64156915/172062346-a6d43786-7bbe-4b52-b436-e1a62f640150.png)

[2022-06-06 03:44] surplus-dev commented on #1442
[code]

수동으로 하시려면 이런 식으로 하시면 됩니다

[2022-06-06 03:44] #1442 closed, assigned to surplus-dev

[2022-06-06 05:38] surplus-dev commented on #1443
dev9

[2022-06-06 05:38] #1443 closed, assigned to surplus-dev

[2022-06-06 05:47] surplus-dev opened #1444 "일부 파트 영역 조정 예정"
/main_skin_set -> /change/skin_set/main
/skin_set -> /change/skin_set
 - [x] USER 파트 산하로 보낼 예정

/upload
 - [x] EDIT 파트 산하로 보낼 예정

/easter_egg.html
 - [x] 폐지

/random
 - [x] VIEW 파트 산하로 보낼 예정

/search 관련 된 것들
 - [x] MAIN 파트 산하로 보낼 예정

URL 개편을 최우선적으로 빠르게 끝낼 생각
-> 이거 때문에 다른 영역 설계도 잘 진행이 안되는 것 같음

[2022-06-06 06:05] wlqowk opened #1445 "슬래쉬가 하나 더 들어가있는데 실수인가요?"
dav 버전 쓰고있는데 슬래쉬가 하나 더 들어가 있습니다

https://gilogwiki.com/**/**w/대문

이렇게요

[2022-06-06 06:06] Lwnlcks commented on #1445
[https://gilogwiki.com//////////////////////////w/%EB%8C%80%EB%AC%B8](https://gilogwiki.com//////////////////////////w/%EB%8C%80%EB%AC%B8)
도메인뒤에 '/'가 1개 이상 들어가있으면 정상적으로 들어가집니다.

[2022-06-06 06:16] surplus-dev commented on #1445
오류는 아닌 것 같고 아미도 /setting/main 에 도메인 설정 때문인 것 같습니다

[2022-06-06 06:20] surplus-dev commented on #1440
다음 stable 업데이트 때 같이 올리겠습니다

[2022-06-06 14:59] surplus-dev commented on #1415
다음 할 것

[2022-06-07 04:53] cuprevenge opened #1447 "리다이렉트 알림"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev10)

업데이트 후 리다이렉트 알림 문구(~에서 넘어옴)가 뜨지 않는 것 같습니다.

[2022-06-07 10:58] surplus-dev commented on #1447
개발적인 목적으로 잠깐 비활성화 해놨습니다만...

원래 beta 넘어가면서 다시 활성화 하려고 했는데 깜박했네요 긁적긁적

[2022-06-07 13:58] surplus-dev commented on #1431
임시 수정 했습니다

[2022-06-07 14:06] #1431 closed, assigned to surplus-dev

[2022-06-07 14:56] surplus-dev commented on #1415
- [x] 문서 제목
 - [x] 토론 제목

[2022-06-07 14:58] surplus-dev commented on #1325
beta로 추가

[2022-06-07 14:58] #1325 closed, assigned to surplus-dev

[2022-06-08 14:58] surplus-dev commented on #1447
다시 활성화 했습니다

[2022-06-08 14:58] #1447 closed, assigned to surplus-dev

[2022-06-09 04:21] imjinlok opened #1449 "설치법과 기능에 대해"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)

위키를 하나 만드려고 합니다.
근데 제가 관련지식이 많이 부족한 일반인이라서 설치 난이도, 기능 등을 고려하면서 알아보고있는데요.
그래서 오픈나무에 관해서도 몇가지좀 질문드리고자 합니다.

1. 카페24 웹호스팅에 설치가 가능한가요?
파이썬이 필요하다고 들었는데 카페24에 올라와있는 웹호스팅 상세사양 보면

Language/Script
cgi, perl script, gcc, C/C++ Complier, SSI, Flash, DBI/DBD, zend optimizer, **Python**,
GD라이브러리를

[2022-06-09 06:44] surplus-dev commented on #1449
1. 요즘도 그런 진 모르겠지만 카페24 웹호스팅의 경우에는 파이썬을 CGI를 통해서만 사용가능한 걸로 알고 있습니다 즉 파이썬의 온전한 기능을 다 쓸 수 없으니 불가능하다고 생각합니다

2. 일반적으로 PHP도 파이썬과 동일하게 구 버전은 지원 종료 합니다. 하지만 구 버전을 쓴다고 해서 보안 빼고는 크게 문제될 사안은 없습니다 파이썬도 동일합니다

3. iframe은 현재 특정 URL 대상으로만 작동하게 설계되어 있습니다 아마 HTML 필터 기능을 제작할 때 쯤에 URL 화이트리스트도 추가할 것 같습니다

[2022-06-09 09:31] Gwangtori opened #1450 "토론 ACL 관련 제안"
## 제안
읽기 ACL를 수정하면 토론에도 반영됐으면 좋겠습니다

[2022-06-09 09:59] surplus-dev commented on #1450
읽기 ACL 해제 같은 사안을 토론에서 대화해볼 수도 있다고 생각하기 때문에 아마 안하지 않을까 싶습니다

[2022-06-09 10:06] Gwangtori commented on #1450
@surplus-dev 어... 그러면 토론 읽기 ACL를 따로 만드는 것은 어떤가요?

[2022-06-09 10:20] surplus-dev commented on #1450
그거는 할만한 것 같습니다 추가하겠습니다

[2022-06-09 12:49] ghost commented on #1440
https://github.com/marketplace/actions/build-and-push-docker-images
GitHub Action으로 beta나 stable 브렌치에 커밋이 생기면 build&push하는 방식이 어떨까요?

[2022-06-10 12:24] surplus-dev commented on #1440
것도 괜찮네요 검토하겠슴다

[2022-06-10 20:08] wlqowk opened #1452 "TOC를 어떻게 고치는지 알고싶습니다"
TOC 있잖슴니까?
처음에는 왠 TOC? 라고 생각했는데 그게 목차라는 뜻이더군요
어쨌든
제가 TOC를 보기좋게 한글로 [목차] 라고 고치려고 하는데
이걸 어떻게 고쳐야하는지 모르겠습니다
그냥 막무가내로 index 파일에 들어가서 보니까 TOC가 없더군요
TOC에 링크 걸어주는 것밖에없고 말이죠

[2022-06-11 01:28] surplus-dev commented on #1452
해당 내용은 렌더러 쪽에 있습니다만 커스텀 가능하도록 고치겠습니다

[2022-06-11 01:29] #1449 closed, assigned to surplus-dev

[2022-06-11 06:03] wlqowk opened #1453 "문서 안에있는 링크 갯수 제안"
기타 도구에 들어가면 모든 문서 목록을 볼 수 있는데요

문서 안에 있는 링크 갯수도 볼 수 있었으면 합니다
그러니까 문서내에 [[하이퍼링크]]로 다른 문서로 연결되어있다고 하면은

해당문서 1
해당문서와 연결되어있는 문서 1

하이퍼링크 갯수에따라 1이 아니라 2,3,4 도 가능하구요 그러니까 문서 내에있는 다른문서 하이퍼링크 갯수를 표시하자는겁니다

다른문서와 링크로 연결되어있지 않은 문서는 0으로 나오게 하고요(아니면 연결되어있지 않은 문서 목록으로 따로 만들수도 있겠습니다)
많이 링크되어있는 문서 순으로 정렬도 할 수 있었으면 합니다

이렇게 하면 지식들을 조직하는데 좀 더 도움이 되지 않을까 싶어서 건의 드립니다

[2022-06-11 09:40] surplus-dev commented on #1453
현재 사실 렌더러가 JS(클라이언트) 렌더러를 사용하고 역링크는 내부적으로 다른(서버) 렌더러를 쓰게 되어 있는데 역링크 렌더러가 사실 링크를 제대로 파싱하는 게 아니라 [근사치로 대충 파싱하도록 되어 있어서](https://github.com/openNAMU/openNAMU/issues/1242) 차기 렌더러는 다시 PY(서버) 렌더러로 되돌릴려고 계획 중인 상황입니다.

아마 진행한다면 그 뒤로 진행될 것 같습니다

[2022-06-11 14:09] surplus-dev opened #1456 "[주의] HTML XSS 오류 4 (HTML XSS bug 4) (~v3.4.4)"
## ko-KR
v3.4.4 이하에 HTML XSS 오류가 또또(...) 발견되었습니다

v3.4.5로 업데이트를 권장드립니다.

뭐... 근데 사실 HTML XSS 정도로는 털 수 있는 것도 없어서 심각도는 별로 안 높습니다.

## en-US
HTML XSS error found again again(...) in v3.4.4 or earlier.

Recommend updating to v3.4.5.

But the severity is not high.

[2022-06-12 04:13] surplus-dev commented on #1415
dev15

[2022-06-12 04:13] #1415 closed, assigned to surplus-dev

[2022-06-12 11:51] surplus-dev commented on #1425
다음 예정

[2022-06-12 11:52] surplus-dev commented on #1450
다음 예정

[2022-06-12 18:33] wlqowk commented on #1449
호스팅은 아마존 라이트세일을 쓰십쇼 트래픽을 1TB나 주고 4000원대 밖에 안합니다 그리고 리버스 프록시는 Nginx Proxy Manager 를 쓰세요

[2022-06-13 08:55] cuprevenge commented on #1450
#703

[2022-06-13 09:39] surplus-dev commented on #1450
@cuprevenge rd 테이블 개편 선언한 뒤 8개월이나 지났네요.
.. 빨리 하겠습니다

[2022-06-13 11:24] cuprevenge commented on #1450
관련 이슈인 것 같아 멘션해둔 것이지 다른 의도는 아닙니다. 😅

[2022-06-13 14:56] surplus-dev commented on #1450
dev17

[2022-06-13 14:56] #1450 closed, assigned to surplus-dev

[2022-06-13 14:58] surplus-dev commented on #1314
다음

[2022-06-13 18:29] wlqowk opened #1458 "역사 를 키고 끌수 있을까요?"
너무나 잘 사용하고 있는 중입니다 감사합니다
한가지 건의드리고 싶은게 있는데요
역사 란을 키고 끌수 있게 해주실수있나요?
무슨말이냐하면
계속 편집을 하면 역사가 계속 기록되잖습니까? 역사를 끄면 역사가 기록이 안되는겁니다 끄고있는 동안에는요
그리고 키면
그순간부터는 또 기록되고
이런식이죠

[2022-06-13 23:04] ghost commented on #1458
편집 히스토리를 끌 수 있게 된다면 반달과 같은 어뷰저를 처리하기 어려워집니다.
따라서 owner권한을 가진 사용자만 전체 또는 자신에 한정하여 히스토리를 남기지 않을 수 있게하는 방식이 좋을 것 같습니다.
다만 히스토리를 끄게 되면 기여내용이 표시되지 않기 때문에 CC 라이선스를 쓰게 된다면 문제가 생길 수 있는점이 좀 걸리네요.

[2022-06-13 23:32] wlqowk commented on #1458
음..가입하지 않은사람은 편집 히스토리를 보지 못하게 하는것은 어떤가요?

[2022-06-13 23:48] wlqowk commented on #1458
음..가입하지 않은사람은 편집 히스토리를 보지 못하게 하는건 어떤가요?
문서 히스토리 뷰 ACL 같은거 하나 해놔서 선택할수있도록 말입니다
그럼 그냥 가입 불가능 설정해놓고 쓰면 되니까요 저는 개인위키로 쓰고 있어서요

[2022-06-14 14:31] ghost opened #1459 "관리자 특수 틀"
## Explanation (설명)
나무위키를 보면 사진1 처럼 관리자 권한을 가지고 있으면 특수한 틀을 보여줍니다.
오픈나무에도 해당 기능을 구현(사진2~)하였으나 이런저런 문제점과 귀찮음(브런치 별도 분리 필요)으로 ~~...?~~ PR을 넣을 수 없습니다.
구현한 코드는 아래에 있습니다. 구현하는데 도움이 되기를 바랍니다.
특수 틀이라고 할려했으나 그냥 문구도 집어넣을 수 있어서 관리자 문구라 임시로 명명해놓은 상태입니다.

https://github.com/Devlobots-org/openNAMU/blob/83601ccec2bb045501302a564cc20baeb38f5eac/lang/ko-KR.json#L449
https://github.com/Devlobots-org/openNAMU/blob/8

[2022-06-15 00:38] surplus-dev commented on #1459
예전부터 관리자 틀에 대해서 넣으려고 했는데 고정된 디자인으로 하면 뭔가 좀 그런 것 같아서 일부로 넣지는 않았습니다만...

커스텀 가능하게 하는 건 좋은 아이디어인 것 같습니다. 조만간에 한번 넣어보겠습니다

[2022-06-15 02:11] Gwangtori commented on #1459
![image](https://user-images.githubusercontent.com/64156915/173721513-ce9110bc-09c6-4818-b1b7-436ba9954e9b.png)
기왕이면 이 틀도 수정할 수 있으면 좋을 것 같습니다...만 어렵겠죠...?

[2022-06-15 02:18] Gwangtori opened #1460 "대문 페이지 링크 오류"
## Environment (환경)
* openNAMU version: v3.4.5 (stable2) (beta3) (dev17)

## Explanation (설명)
메인 링크로 들어가거나 위키 로고를 누르면 '위키 주소//w/대문' (w 앞에 /가 2개)로 들어가집니다...

[2022-06-15 02:34] surplus-dev commented on #1459
@Gwangtori 가능은 합니다

[2022-06-15 06:46] surplus-dev commented on #1460
아마 메인 설정에 호스트가 규격에 안 맞게 들어가서 그런 것 같습니다

얼마 전에 [호스트 설정 규격을 좀 특정 이유 때문에 변경 했는데](https://github.com/openNAMU/openNAMU/issues/1433) 그런 과정에서 깜박하고 기본 설정을 구 규격으로 유지한 상태로 마이그레이션 진행해서 일부 경우에는 제대로 이전이 안된 경우도 있는 것 같습니다

확인 부탁드립니다

[2022-06-15 07:00] wlqowk commented on #1460
아 이거 저도 마찬가지인데 어떻게 고치는지 모르겠더라구요
제대로 / 가 하나로 나오려면 제가 어떻게 해야되는건지요

[2022-06-15 07:16] surplus-dev commented on #1315
완료

[2022-06-15 07:16] #1315 closed, assigned to surplus-dev

[2022-06-15 07:20] surplus-dev commented on #1460
다시 검토해보니 그냥 설계를 잘못한 것 같네요 수정 했습니다 dev19

[2022-06-15 07:20] #1460 closed, assigned to surplus-dev

[2022-06-15 10:53] Gwangtori commented on #1460
@surplus-dev
1. 도메인은 '도메인.com'만 쓰면 되나요?
2. 사이트맵이 https://(도메인)sitemap_0.xml로 써집니다 (중간에 / 없음)

[2022-06-15 11:25] dorincop commented on #1459
더시드 모방 엔진에서 가져온 더시드 엔진 사용자 문서 틀 입니다.
코드는 올려놓겠습니다.

[2022-06-15 11:25] dorincop commented on #1459
(완전 똑같아요.)

[2022-06-15 11:29] dorincop commented on #1459
여기(https://github.com/dorincop/js-theseed-userMould/blob/main/userMould.js) 있습니다.

[2022-06-16 10:25] surplus-dev commented on #1460
@Gwangtori
1. 네 도메인만 쓰시면 됩니다 (ex. naver.com, op.gg) 예시에 있습니다
2. 확인 해보겠습니다

[2022-06-16 10:25] surplus-dev commented on #1459
아마 기본 설정은 나무위키 카피 디자인이 아니라 독자적인 디자인으로 갈 것 같습니다

[2022-06-16 15:36] dorincop opened #1461 "오픈나무에는 토론을 다른 문서로 이동시키는 기능이 없나요?"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
없다면 개발해주세요

## Screenshot (스크린샷)

[2022-06-16 15:36] dorincop commented on #1461
없는거 같은데 추가할 기능 같습니다

[2022-06-16 15:37] dorincop commented on #1458
전 반대

[2022-06-16 15:40] Lwnlcks commented on #1461
토론 제목 변경에서 문서 바꿀수 있습니다

(토론 관리 도구) -> 토론 제목 변경 -> 문서명에서 수정
![gfgfdgdf](https://user-images.githubusercontent.com/72176091/174109290-8aca991d-77cd-4801-b469-844772f1c49d.PNG)

[2022-06-17 04:15] ghost opened #1462 "MySQL 지원 문제"
## Environment (환경)
* OS : `Docker python:alpine`

## Explanation (설명)
#1448 와 관련된 Issue입니다.

https://github.com/openNAMU/openNAMU/blob/be8428ff29db3f580054e490024917f48fd638b5/app.py#L67
MySQL문법 상 해당 라인에서 오류가 발생합니다.

#1448 문제 또한 SQLite에서 MySQL로 이전 과정에서 default값이 누락된 것으로 파악했습니다.
따라서 openNAMU 내에 Default를 사용하는 모든 SQL 문을 수정해야 MySQL에서 정상적으로 OpenNAMU를 사용할 수 있습니다.

[2022-06-17 08:15] #1461 closed, assigned to surplus-dev

[2022-06-17 12:47] Gwangtori commented on #1460
@surplus-dev 파일 올리기 페이지를 들어가면 500 오류가 발생합니다

[2022-06-17 13:07] surplus-dev commented on #1462
@hui1601 기본적으로 오픈나무의 SQL문은 NULL을 허용하고 있지 않습니다 즉 거꾸로 말해서 DEFAULT를 넣는 것은 사실 써먹기 위함보다는 오류의 가능성을 줄이기 위해서 넣는 느낌입니다. 그래서 사실 오픈나무는 설계상 DEFAULT가 없이도 작동해야 정상 입니다

MySQL 8.0 이전에서는 [TEXT의 경우에는 DEFAULT를 인정하지 않았으므로](https://stackoverflow.com/questions/3466872/why-cant-a-text-column-have-a-default-value-in-mysql) 해당 설정은 무시되었으나 지금은 문법적으로 변경되어 지원하게 되서 발생하는 문제 같습니다 그러므로 수정하겠습니다

[2022-06-17 14:16] surplus-dev commented on #1462
dev20

[2022-06-17 14:16] #1462 closed, assigned to surplus-dev

[2022-06-17 14:54] #1444 closed, assigned to surplus-dev

[2022-06-17 14:57] surplus-dev commented on #1422
관련 이슈
 * https://github.com/openNAMU/openNAMU/issues/1438
 * https://github.com/openNAMU/openNAMU/issues/1392

[2022-06-17 14:57] #1422 closed, assigned to surplus-dev

[2022-06-17 14:58] surplus-dev commented on #1438
관련 이슈
 * https://github.com/openNAMU/openNAMU/issues/1392

[2022-06-17 14:59] #1410 closed, assigned to surplus-dev

[2022-06-17 15:00] #1392 closed, assigned to surplus-dev

[2022-06-18 14:58] surplus-dev commented on #1218
완료

[2022-06-18 14:58] #1218 closed, assigned to surplus-dev

[2022-06-19 08:00] ghost opened #1463 "IP 대역 기반 차단기능"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
#1425 의 구현 관련입니다.
IP를 CIDR에 따라 차단할 수 있도록 구현했습니다. 다만 차단해제 페이지에서는 아직 구현되지 않았습니다. 차단 목록에서 차단 해제를 할 수 있습니다.
~~radio button으로 구현했지만 오픈나무에 반영 할 때는 dropdown으로 바꾸는게 맞는 것 같아요~~
ex: 10.0.0.0/8

https://github.com/Devlobots-org/openNAMU/commit/e190dd18def3f7082f74900a0f963e49aec8df36
https://gith

[2022-06-19 08:54] surplus-dev commented on #1463
해당 이슈에서 대량 차단은 아이피 차단이 아니라 그냥 여러명을 차단할 수 있는 기능을 말하는 것 같습니다

현재 정규식 차단이 대역 차단을 대신하고 있어서 대역 차단이 필요할까는 여전히 고심 중 입니다...

[2022-06-19 11:33] Gwangtori opened #1464 "파일 업로드 페이지 접속 시 500 오류"
## Environment (환경)
* openNAMU version : v3.4.5 (stable2) (beta3) (dev20)

## Explanation (설명)
./upload로 접속하면 '500 Internal Server Error'가 발생합니다

[2022-06-19 11:53] ghost commented on #1463
개인적으로 가독성이 아무래도 IP CIDR형식보단 떨어지고 어느정도 CIDR 표기법보다는 regex가 좀더 배우는데 시간이 걸리기도 해서 추가하는게 맞다고 봅니다.
![IMG_20220619_205124](https://user-images.githubusercontent.com/24631476/174479494-4d038992-bafb-4087-95a5-f38369d8b8e2.jpg)
![IMG_20220619_205206](https://user-images.githubusercontent.com/24631476/174479527-cfad7b03-9ead-4bca-a194-c89f988ccb90.jpg)

[2022-06-19 12:23] surplus-dev commented on #1463
음... 의견 반영해서 심도있게 고민해보겠습니다

[2022-06-19 14:43] surplus-dev commented on #1464
dev21

[2022-06-19 14:43] #1464 closed, assigned to surplus-dev

[2022-06-19 14:56] swoo5571 opened #1465 "분류 위치 설정 관련"
## Environment (환경)
* OS : Windows
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
스킨 기본 설정에서 분류 위치 설정을 '위'로 설정했을 때 항상 위로 표시되면 좋겠습니다
## Screenshot (스크린샷)
![Screenshot_20220619-235549_Chrome](https://user-images.githubusercontent.com/42174930/174487243-ce22af3a-65f3-48b4-81a4-a99b416e92aa.jpg)
![Screenshot_20220619-235613_Chrome](https://user-images.githubuser

[2022-06-20 09:27] surplus-dev commented on #1465
위로 설정해도 위로 가지 않는다라는 뜻인가요?

[2022-06-21 09:10] cuprevenge opened #1466 "표 내부 인용문"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

![image](https://user-images.githubusercontent.com/52319594/174762800-6c53040c-aeef-49f7-9d76-d868c8dbf0d6.png)
![image](https://user-images.githubusercontent.com/52319594/174762939-bec32b19-6a7e-4df9-9972-fa3a7e7021ab.png)

[code]

두 번째 표 내부 인용문 문법이 적용되지 않는 것 같습니다.

[2022-06-21 11:14] surplus-dev commented on #1314
dev22

[2022-06-21 11:14] #1314 closed, assigned to surplus-dev

[2022-06-22 13:12] swoo5571 commented on #1465
분류가 위로는 갑니다. 그러나 나무위키처럼 시간이 지나도 항상 상단에 위치에 있게끔 수정되었으면 해서 이슈를 올린겁니다.

[2022-06-23 04:06] cuprevenge commented on #1465
#832 이쪽을 말하는 게 아닐까 싶네요.

[2022-06-23 09:40] lidarbtc opened #1467 "(질문) IP주소:포트 형식으로 접근 못하게 하는 방법"
http://ip:3000
이런식으로 접근시 자동으로 도메인으로 리다이렉트가 되더라고요, CDN을 사용중인지라 이 부분이 조금 걱정되네요. nginx에서 default는 초기값으로 두었습니다. IP주소로 직접 접근을 막을 방법이 있을까요?

[2022-06-23 11:25] Gwangtori commented on #1467
리버스 프록시 사용하면서 80, 443 포트만 열고 나머지는 닫으면 가능합니다

[2022-06-24 02:25] lidarbtc commented on #1467
감사합니다.

[2022-06-24 02:26] #1467 closed, assigned to surplus-dev

[2022-06-24 11:03] dorincop commented on #1463
현재 정규식 차단이 대역 차단을 대신하고 있어서 대역 차단이 핗요할까는 여전히 고심 중 입니다...
제안자 입니다. 2du님이 말하시는 것처럼 저는 IP를 대량으로 차단하는 기능을 넣어 달라는 것입니다.
그럼 감사합니다.

[2022-06-24 12:06] cuprevenge commented on #1463
정규식 차단만 유지한다면 정규식에 익숙하지 않은 사용자들을 위해서 간단한 정규식 예시나 정규식 차단 시 차단되는 IP 목록을 표시해주는 등의 지원이 있으면 좋을 것 같습니다.

[2022-06-24 13:13] surplus-dev commented on #1465
아 확인해보겠습니다

[2022-06-25 01:42] Gwangtori opened #1468 "파일 버전 별 관리 제안"
## Explanation (설명)
미디어위키 처럼 파일을 덮어씌우는 기능이 있었으면 좋겠습니다. 기존 파일의 역링크를 모두 교체하는 불필요한 편집을 줄일 수 있을 것 같습니다

## Screenshot (스크린샷)
![microsoft_edge_screenshot_2022  6  25  오전 10시 39분 18초 GMT+09_00 png](https://user-images.githubusercontent.com/64156915/175753533-15cb4251-3637-4a4e-bb79-b63bc61d0c7a.jpg)

[2022-06-25 13:26] surplus-dev commented on #1468
파일 역사 기능에 경우에는 좀 깊은 고심을 하고 있는 데 아마 도입하지 않을 것 같습니다

파일 역사를 도입하면 서버에서 파일 관리가 더욱 어려워질 것 같다는 것이 제 생각입니다

좀 극단적인 예시를 들자면 누가 파일에다 음란물을 올리는 반달을 저지르고 다른 사람이 그 파일을 정상적인 파일로 교체했는데 만약 그 파일이 지워지지 않고 그냥 역사에 남아있다면 서버에는 "누가 발견하기 전까지 계속 음란물이 남아있게 되지 않을까?"라는 우려가 있습니다

물론 그런 논리면 문서의 역사도 전부 없애야하는 게 아니냐고 생각하실 수도 있겠지만 일반적인 관점에서 텍스트보단 이미지가 좀 더 민감하며 문서 역사의 경우에는 주로 반달 때문에 감시 대상이 되는 반면 이미지 업로드는 좀 더 허술하게 사람들이 감시함으로 고민 중에 있

[2022-06-25 14:03] surplus-dev commented on #1459
추가 완료

기본 설정은 추가 안하는 걸로 결정했습니다

[2022-06-25 14:03] #1459 closed, assigned to surplus-dev

[2022-06-25 14:44] surplus-dev commented on #1458
위키 접속시 비밀번호 필요 기능 추가 했습니다

[2022-06-25 15:00] surplus-dev opened #1469 "[알림] 비공개 위키 기능 추가했습니다"
~~개인위키를 지향한다는 엔진이 왜 이제서야 이 기능을 추가했는 지는 의문이지만~~
## 사용법
![image](https://user-images.githubusercontent.com/13796545/175779016-c295cc97-8e16-46ec-bbed-2e829427983e.png)
메인 설정에서 위키 접속시 비밀번호 필요와 하단에 비밀번호를 설정하시고 위키를 재시작하시면

![image](https://user-images.githubusercontent.com/13796545/175779209-294e64fa-8776-4ac7-a437-a6b0cf03b0ea.png)
접속시 이런 화면이 뜨면서 비밀번호 입력 후에 접속 가능하게 됩니다

## 주의사항
POST 신호까지 막는 건 아니니 POST

[2022-06-25 16:58] dorincop commented on #1469
안뜨는데 뭐죠...?4 @surplus-dev
![Screenshot 2022-06-26 at 01 55 28](https://user-images.githubusercontent.com/101493930/175783402-a288caea-e3de-490f-bc90-4a69900cf78b.JPG)
)

[2022-06-26 02:41] Gwangtori commented on #1469
@dorincop 현재는 dev 브랜치에만 추가되었습니다.

[2022-06-26 11:00] surplus-dev commented on #1458
설정에 역사 기록 중지 기능 추가했습니다

[2022-06-26 11:00] #1458 closed, assigned to surplus-dev

[2022-06-28 13:06] Gwangtori commented on #1464
@surplus-dev dev23에서 또 동일한 증상이 발생합니다

[2022-06-28 13:14] surplus-dev commented on #1464
수정했습니다

[2022-06-29 09:57] cuprevenge opened #1470 "불러오기"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

문서 제목에 /가 있으면 불러오기가 작동되지 않고 대문 페이지로 돌아갑니다.

[2022-06-29 15:01] surplus-dev commented on #1425
dev24

[2022-06-29 15:01] #1425 closed, assigned to surplus-dev

[2022-06-30 13:17] ddarkr opened #1472 "S3 지원"
## Explanation (설명)

S3는 AWS가 설계했지만 Object Storage의 표준 규격처럼 취급되고 있어요. 파일 업로드를 [미디어위키의 AWS 확장](https://www.mediawiki.org/wiki/Extension:AWS)처럼 S3에 할 수 있으면 좋을 것 같습니다.

굳이 AWS가 아니더라도 여러 호환 API가 존재합니다. 예를 들면 셀프 호스팅이 가능한 오픈소스 minio라던지?

## Screenshot (스크린샷)

[2022-06-30 13:21] surplus-dev commented on #1472
외부에 이미지 업로드 기능을 준비하도록 하겠습니다

[2022-06-30 13:32] cuprevenge opened #1473 "분류와 category"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

문법은 [[분류:XX]]로 쓰나 문서 생성은 category:XX로 이뤄지다 보니 작성이나 검색에 있어 약간의 괴리감이 있습니다.

분류:XX를 검색하면 자동으로 category:XX로 넘겨주기 되도록 처리하거나, category를 고집할 필요가 없다면 그냥 분류로 작성되게 하면 좋을 것 같습니다.

또는 #1452 와 연계하여 user와 category도 명칭을 커스터마이징 할 수 있게 하는 것도 나쁘지 않을 것 같네요.

[2022-06-30 15:00] surplus-dev commented on #1470
dev25

[2022-06-30 15:00] #1470 closed, assigned to surplus-dev

[2022-06-30 22:48] wlqowk opened #1474 "외부 이미지 관련"
외부이미지가 안되고 서버에 업로드를 하고 해야지 업로드가 되는군요
저는 이미지 서버를 따로 쓰고있거든요 클라우드 플레어 이미지 를 이제 결제했는데 ㅠㅠ

어느분이 이미지 관련해서 쓰시긴 했는데
그냥 링크로 이미지가 뜨게 했으면 합니다
예를들어

[[이미지파일:https://abc.kr/1234]]

이렇게 이미지 주소를 넣어주면 이미지가 뜨는거죠

[2022-06-30 23:26] Gwangtori commented on #1474
해당 문법은 이미 존재해요. [[ONTS]](https://2du.pythonanywhere.com/w/나무마크#s-3.1.2)

[2022-07-01 03:32] wlqowk commented on #1474
엇..제가 잘 알아보지도 않고 질문했군요
나무위키 문법만 보다보니 ㅋㅋ
즐겨찾기 추가했습니다 감사합니다

[2022-07-01 05:44] dorincop opened #1475 "오픈나무 업뎃이 안됩니다"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
업데이트 창가서 했고, 엔진 재시작도 했는데 안됩니다.
## Screenshot (스크린샷)

[2022-07-01 05:45] dorincop commented on #1475
@surplus-dev

[2022-07-01 14:46] surplus-dev commented on #1475
구체적으로 어떤 상황에서 안되는 건가요?

어떤 환경에서 구동하고 있나요?

[2022-07-01 14:49] #1474 closed, assigned to surplus-dev

[2022-07-01 14:59] Lwnlcks commented on #1475
OS, Python version, openNAMU version 와 함께
버그 발생 시의 터미널을 캡쳐해서 올려보세요

[2022-07-01 21:19] dorincop commented on #1475
호스팅 서비스인 파이썬애니웨어를 이용하고 있습니다. 그러므로 OS는 리녹스 입니다.
파이썬 버전은 3.9, 오픈나무 버전은 3.4.4 입니다.
---- OS 설명 끝 ----
저희 위키에 반달이 많아서 업대이트 가져오는 브랜치를 dev 브랜치로 바꾸는 오픈나무 자체 기능을 이용하여 바꾸고,
마침 버전이 3.4.4였는데 3.4.5로 업데이트 해야되기 때문에 업데이트 창가서 업뎃버튼을 눌렀습니다. 그리고 엔진 재시작 탭에 가서, 엔진을 재시작 한 후, 다시 업데이트 창을 가서 버전을 확인했는데, 그대로 3.4.4 입니다.

[2022-07-01 21:20] dorincop commented on #1475
터미널 같은건 없습니다. 지금은 수동으로 업데이트 했습니다.

[2022-07-02 02:14] surplus-dev commented on #1475
@dorincop 파이썬애니웨이에서는 위키 내의 재시작 기능이 안 먹히기 때문에 파이썬애니웨이 기능에서 재시작 해야합니다 자세한 건 공식 위키 참고하세여

[2022-07-02 03:13] dorincop commented on #1475
@surplus-dev 저기 공식위키 문서 링크좀 주실수있나요?

[2022-07-02 03:25] surplus-dev commented on #1475
[링크](https://2du.pythonanywhere.com/w/%EC%84%A4%EC%B9%98%EB%B2%95%2FPythonanywhere#s-4)

[2022-07-02 04:24] cuprevenge commented on #1475
예전에 사용했을 때 Pythonanywhere의 git 버전이 1.x 대여서 오픈나무 자체 업데이트를 사용하는 것에 어려움이 있던 것으로 기억합니다. 지금은 어떤지 모르겠네요.

[2022-07-03 11:00] #1475 closed, assigned to surplus-dev

[2022-07-04 03:15] Gwangtori opened #1476 "하이퍼링크 관련"
## Explanation (설명)
자기 문서 링크일 때 볼드체로 표기가 안됩니다

## Screenshot (스크린샷)
![image](https://user-images.githubusercontent.com/64156915/177075345-6cc24329-7efd-4544-abef-b29c5eba09a6.png)

[2022-07-05 11:55] wlqowk opened #1478 "목차 바로 옆에 이미지가 뜨게 할 수는 없나요?"
목차 바로 옆에 이미지가 뜨게 할 수는 없나요?

예를 들어 나무위키의 필즈상 문서 같은 경우
https://namu.wiki/w/%ED%95%84%EC%A6%88%EC%83%81

목차 바로 옆에 필즈상 이미지가 뜹니다
하지만 그 코드를 그대로 복사 해가지고 붙여 넣어보면 이미지가 오른쪽 위에 뜨고 목차가 밑으로 가는군요

이미지가 목차 바로 옆에 뜨도록 하려면 어떻게 해야 할까요?

[2022-07-05 13:52] surplus-dev commented on #1478
렌더러 버그 입니다

[2022-07-05 13:53] surplus-dev commented on #1257
추가 완료

[2022-07-05 13:53] #1257 closed, assigned to surplus-dev

[2022-07-06 06:48] dorincop opened #1479 "openNAMU에서 IP에 전체 대역을 차단하는방법은 없나요?"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)

## Screenshot (스크린샷)

[2022-07-06 06:48] dorincop commented on #1479
제곧네

[2022-07-06 06:49] dorincop commented on #1479
(+ 테스트 서버가 접속이 안됩니다.)

[2022-07-06 06:50] dorincop commented on #1479
@surplus-dev

[2022-07-06 07:00] Gwangtori commented on #1479
기본 ACL를 바꾸면 되는 거 아닌가요

[2022-07-06 08:41] cuprevenge commented on #1479
반달이 문제라면 회원제로 돌린 뒤 이메일 인증이나 가입 시 승인 필요 설정을 키면 어느 정도 해결할 수 있을지 않을까 싶네요.

[2022-07-06 09:42] surplus-dev commented on #1479
테섭 답. 다시 켰습니다
질문 답. 기본 ACL을 상향하면 될 것 같습니다

[2022-07-06 11:54] dorincop commented on #1479
감사합니다.

[2022-07-06 11:54] #1479 closed, assigned to surplus-dev

[2022-07-06 14:00] surplus-dev opened #1480 "좀 더 적극적이고 최신인 자바스크립트 사용"
## 서론
지금까지 오픈나무에서 쓰인 자바스크립트는 매우 한정적이고 제한된 경우에서만 사용 중임. 계속 자바스크립트의 활용성을 늘리고자 방향을 잡고 있으나 ~~잘 진행되지도 않고~~ 잘 진행되고 있지 않으며 개발 효율이 매우 낮은 것 같음 그리하여 좀 더 최신 기술을 적극 도입하는 방향으로 개선하고자 생각 중

## 개편 방향
 * 주요 개편은 굵은 글자로 표기
----
 * **인라인 JS 함수 호출을 제거 할 예정**
 * 모든 JS는 node.js에서 돌려도 돌아가도록 자체 테스트 코드를 넣을 계획
 * **라이브러리 적극 도입 예정**
 * 라이브러리 도입으로 초기 로딩 느려지는 문제는 [async defer 적극 도입](https://web.dev/i18n/ko/efficiently-load-thi

[2022-07-09 13:51] wlqowk opened #1481 "백업과 복원에 관해 알고싶습니다"
현재 우분투에 설치해가지고 사용중이고요
백업을 시켜놀려고 하는데
백업주기를 1 로 하면 1시간단위로 계속 백업파일이 갱신되는거죠?
그러니까 이게 백업파일을 순서대로 10개정도 만들고 11개부턴 제일처음 빽업한 파일에 11개째를 덮어씌우는 방식으로 빽업하는건지
아니면 파일 하나가 계속 1시간지날때마다 새파일로 덮어씌우는 방식으로 빽업되는건지
궁금합니다

그리고 복원은 어떻게하는건지요?

[2022-07-09 14:27] surplus-dev commented on #1481
`파일 하나가 계속 1시간지날때마다 새파일로 덮어씌우는 방식으로 빽업되는건지`이 맞습니다

복원은 백업된 파일을 원본에다가 덮어씌우면 됩니다

`백업파일을 순서대로 10개정도 만들고 11개부턴 제일처음 빽업한 파일에 11개째를 덮어씌우는 방식`도 필요하면 개발할 예정입니다

[2022-07-09 14:49] wlqowk commented on #1481
백업위치의 기본값이 어디인지 궁금합니다

그리고 오픈나무가 깔린곳이 /home/ubuntu/openNAMU 인데
거기에서 backup폴더를 만들었다고 치고
거기에 빽업파일을 저장하려면 위치를 /home/ubuntu/openNAMU/backup 라고 입력 하면되나요
아니면 그냥 /backup 라고 하면 되나요?

[2022-07-09 17:21] Saeteo opened #1482 "메인 설정 변경시 Internal Server Error 발생"
## 환경
* OS : Windows
* Python version : 3.10.5
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)
* DB: MariaDB 10.9.1

## 설명
메인 설정에서 위키 이름, 대문 문서를 변경하려고 할 때 Internal Server Error가 발생합니다.

## 콘솔
ERROR:app:Exception on /setting/main [POST]
Traceback (most recent call last):
  File "C:\Users\(username)\AppData\Roaming\Python\Python310\site-packages\flask\app.py", line 2077, in wsgi_app
    respon

[2022-07-09 18:41] cuprevenge commented on #1481
예시에 적혀있는 것처럼 ./backup/dbname.db 형식으로 하면 되지 않을까 합니다.

[2022-07-10 04:25] wlqowk opened #1483 "오늘 하루 썼던 글자수가 나왔으면 좋겠습니다"
- [x] 말그대로 오늘 하루 썼던 글자수가 나왔으면 합니다

저는 개인위키를 운영하는데 위키쓰기를 습관화 하는데 도움이 될거같아서요
사용자도구 같은곳 가면 바로 보이게끔..보이기 쉬운곳에 오늘 하루 썼던 글자수가 나와있었으면 좋을거같습니다

그외에는

 - [x] 전날하고 쓴 글자수 비교
 - [ ] 이번주, 이번달 평균
 - [ ] 전주하고 쓴 글자수비교, 전달하고 쓴 글자수 비교
 - [ ] 역사 미기록 상태에서도 최소한의 기능 작동

같은것들이 나와있는 통계페이지?

그냥 제안이었슴니다

[2022-07-10 04:36] surplus-dev commented on #1481
기본값은 깔린 곳 바로 안이고 다른 위치 지정하시고 싶으면 절대경로나 예시처럼 상대경로 쓰시면 됩니다

[2022-07-10 04:39] surplus-dev commented on #1482
DB 인코딩이 UTF로 설정 안되어 있어서 그런 것 같습니다

기본적으로 UTF로 설정하도록 되어 있는디 해당 파트가 작동 안한 것 같으니 원인을 찾아보겠슴다

[2022-07-10 06:48] surplus-dev commented on #1482
일단 인코딩 변경해주는 파트에 alter도 넣었습니다 더 문제가 생긴다면 말씀해주세요 dev32

[2022-07-10 06:48] #1482 closed, assigned to surplus-dev

[2022-07-10 08:35] Gwangtori commented on #1483
고지 달성이 기록되는 것도 괜찮을 것 같아요. (ex. 총 문서 수 100개 찍은 문서, 편집된 날짜)

[2022-07-10 14:33] surplus-dev commented on #1483
1차 기능 추가 dev33 기여 횟수 파트에 추가 했습니다

[2022-07-10 15:01] surplus-dev opened #1484 "깃헙 라벨 색 변경"
색을 바꾸었는데 더 구려짐

개선이 필요함

[2022-07-10 15:08] wlqowk opened #1485 "편집 오류"
문서를 편집할때
제목옆의 편집 말고
문단옆의 연필 아이콘을 눌러서 편집 하려고 하면
문서 제목/doc_section/숫자
이렇게 뜨고
내용이 아무것도 안나옵니다
확인좀 해주세요

[2022-07-10 15:38] wlqowk commented on #1485
아아 알았습니다
역사기록중지를 키면 이렇게 나오는군요

역사기록중지를 키면
문서편집을 할때(전체편집 말고 문단 제목 옆에 연필 아이콘 눌러서 편집할때)
문서 제목/doc_section/숫자
이렇게 뜹니다

[2022-07-10 15:45] wlqowk commented on #1485
그리고 역사기록중지를 하면 기여횟수에 [쓴 글자수 카운트]가 안되던데
역사기록중지를 하더라도 기여횟수에서 글자수 카운터는 볼수있게 할수는 없을까요?

[2022-07-11 00:47] Gwangtori opened #1486 "사용자 도구에서 상태부분 언어 오류"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev 최신
* Skin :
* Skin version :

## Explanation (설명)
사용자 도구의 상태부분이 영어로 표시돼요.

## Screenshot (스크린샷)
![004AE53E-EC5F-40F8-AE49-FCAF23A1D0E5](https://user-images.githubusercontent.com/64156915/178169413-034a1bd8-3a2b-4ba5-851e-e50668ad51ad.jpeg)

[2022-07-11 13:18] surplus-dev commented on #1486
오류는 아니고 최근 내부 구조 변경하면서 아직 개발용이라서 그렇습니다

[2022-07-11 13:43] surplus-dev commented on #1484
망했다 그냥 일단 써야지

[2022-07-11 13:43] #1484 closed, assigned to surplus-dev

[2022-07-11 13:47] surplus-dev commented on #1485
edit_section이 아니라 doc_section이 뜨시나요? 위키 버전이 어떻게 되시나요?

[2022-07-11 16:34] wlqowk commented on #1485
dev33 입니다

[2022-07-12 03:32] surplus-dev commented on #1485
혹시 dev34에선 해결 되었나요?

[2022-07-12 06:55] wlqowk commented on #1485
오오 네 해결되었습니다

[2022-07-13 02:05] surplus-dev commented on #1485
뒤에 문제는 좀 더 생각을 해보고 개선해보겠습니다

[2022-07-13 02:05] #1485 closed, assigned to surplus-dev

[2022-07-13 02:06] surplus-dev commented on #1265
다음

[2022-07-13 14:26] wlqowk commented on #1485
네 알겠습니다 감사함니다

[2022-07-14 22:08] wlqowk opened #1487 "사이트맵 생성 오류"
sitemap.xml 만들거나 갱신하기 를 눌렀는데

`<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">`
`<sitemap>`
`<loc>https://123.comsitemap_0.xml</loc>`
`</sitemap>`
`</sitemapindex>`

이렇게 슬래쉬가 없는 링크 하나만 나오고 (본래는 https://123.com/sitemap_0.xml)
제가 쓴 문서의 링크는 하나도 안적혀있더군요

ftp로 들어가보니까

sitemap.xml
sitemap_0.xml

이 두 파일이 있던데
sitemap_0.xml 들어가보니까 제가 쓴 문서가 다 나와있긴 한데

https://123.comw/5324523534543

이렇게 주

[2022-07-15 04:30] surplus-dev commented on #1487
저번에 코드 수정하면서 발생한 단순한 버그 같습니다

수정하도록 하겠습니다

[2022-07-15 08:58] surplus-dev commented on #1487
dev35

[2022-07-15 08:58] #1487 closed, assigned to surplus-dev

[2022-07-16 13:27] cuprevenge commented on #710
날짜가 고쳐져야 할 것 같습니다.

[2022-07-17 02:12] Saeteo opened #1488 "DB 커넥팅 잘 안 닫혀서 생긴 문제"
## 환경
* OS : Windows
* Python version : 3.10.5
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)
* DB: MariaDB 10.9.1

## 설명
아래와 같은 오류가 표시되면서 사진이 표시되지 않습니다.

## 콘솔
ERROR:app:Exception on /image/cc.svg [GET]
Traceback (most recent call last):
  File "C:\Users\(사용자 이름)\AppData\Roaming\Python\Python310\site-packages\flask\app.py", line 2077, in wsgi_app
    except:  # noqa: B001
  File "C:\Users\

[2022-07-18 09:23] surplus-dev commented on #1488
로 판명되었습니다 곧 수정 하겠습니다

[2022-07-18 09:50] surplus-dev commented on #1488
아마도 수정되었을 것으로 추정됩니다 만약 해당 이슈가 또 발생하면 여기에 코멘트 남겨주세요

dev36

[2022-07-18 09:50] #1488 closed, assigned to surplus-dev

[2022-07-18 14:59] cuprevenge commented on #1036
*  openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

모나코 에디터 사용 시 미리보기에서 [math()] 문법의 내용이 katex로 바뀌지 않는 것 같습니다.

[2022-07-18 15:38] surplus-dev commented on #1036
수정 예정 및 모나코 에디터 코드를 JS로 이동하는 작업 예정

[2022-07-19 02:21] dorincop opened #1489 "기타 도구, 관리 도구 접속 오류"
## Environment (환경)
* OS : Linux 우분투
* Python version : 3.7 => 3.10
* openNAMU version :최신버전/dev 브랜치
* Skin : 기본 스킨
* Skin version :

## Explanation (설명)
기타 도구, 관리 도구에 들어가면 500 Internal Server Error가 뜹니다.
# 커멘드  오류 내용
ERROR:app:Exception on /manager [GET]
Traceback (most recent call last):
  File "/root/.local/lib/python3.7/site-packages/flask/app.py", line 2073, in wsgi_app
    response = self.fu

[2022-07-19 05:26] dorincop commented on #1489
@surplus-dev

[2022-07-19 06:36] surplus-dev commented on #1489
수리했습니다 dev37

[2022-07-19 06:36] #1489 closed, assigned to surplus-dev

[2022-07-24 09:55] cuprevenge opened #1490 "토론 숨기기/삭제"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

체크박스 등을 통해 2개 이상의 토론을 한 번에 숨기거나 삭제할 수 있으면 좋을 것 같습니다.

[2022-07-26 12:33] cuprevenge commented on #1224
가입자 정보 수집 끄기 설정에서 가입자 정보의 정의가 무엇인지 궁금합니다.

user agent 같은 것들이 포함되어 있나요?

[2022-07-26 13:55] surplus-dev commented on #1224
네 UA를 지칭하는 말 입니다

[2022-07-27 09:02] cuprevenge opened #1491 "리스트 간격"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

![image](https://user-images.githubusercontent.com/52319594/181207230-fd7ff058-7a7b-4b5b-8e22-a08883d0cdab.png)

리스트 간 간격이 좁아서 긴 글을 입력할 경우 답답해 보이는 느낌이 있습니다.

간격을 조금 늘렸으면 합니다.

[2022-07-27 09:22] cuprevenge commented on #1298
[[외부:]] 문법에 동영상(.mp4)을 추가해서 지원하는 건 어떨까요?

[2022-07-27 09:24] surplus-dev commented on #1298
나쁘지 않은 아이디어 같습니다 고려해보겠습니다

[2022-07-27 09:25] surplus-dev commented on #1491
개인적으로도 모바일에서 쓰면서 좀 좁은 것 같다는 느낌이 들긴 했습니다

적극 반영하겠습니다

[2022-07-31 07:02] cuprevenge opened #1492 "인용문 범위"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

[code]

![image](https://user-images.githubusercontent.com/52319594/182014196-c0288d32-589b-4266-b2ad-e0a8d29c4d28.png)

G는 인용문 문법 범위가 아님에도 인용문에 포함됩니다.

[2022-08-01 13:29] cuprevenge opened #1493 "괄호 속 대문자"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

[code]
![image](https://user-images.githubusercontent.com/52319594/182158726-dea85841-2e5a-426d-b716-d25a2b8d3fa8.png)

괄호 속에 대문자를 적어도 미리보기 시 소문자로 표시됩니다.

[2022-08-01 14:40] surplus-dev commented on #1493
이건 좀 특이한 버그네요 긁적긁적

[2022-08-02 07:50] surplus-dev commented on #1486
수리 완료

[2022-08-02 07:50] #1486 closed, assigned to surplus-dev

[2022-08-02 08:41] surplus-dev commented on #1483
전 날 기록과 전 날과 비교가 추가 되었습니다

[2022-08-02 12:18] surplus-dev commented on #1440
임시로 dev로 올려놨습니다

[2022-08-02 12:18] #1440 closed, assigned to surplus-dev

[2022-08-02 12:51] surplus-dev opened #1494 "구형 렌더러 임시조치"
1. 렌더러가 일부 문서에서 터지는 현상 방지 필요'
2. 자잘한 버그 수정 필요

[2022-08-05 09:24] surplus-dev commented on #1491
그러고보니 저번 패치에서 개선했었습니다

[2022-08-05 09:24] #1491 closed, assigned to surplus-dev

[2022-08-05 09:30] surplus-dev commented on #1472
- [ ] [아마존 S3](https://docs.aws.amazon.com/ko_kr/AmazonS3/latest/userguide/upload-objects.html)
 - [ ] 내부 이미지 경로 변경 기능
 - [ ] 외부 이미지를 내부 이미지 사용하듯이 변환

[2022-08-05 09:33] surplus-dev commented on #1282
멀티프로세싱에 대해서는 좀 더 오래 고민해볼 필요가 있을 듯

DB상에서 충돌이 일어날 가능성도 있다고 판단 중

[2022-08-05 09:33] #1282 closed, assigned to surplus-dev

[2022-08-05 09:34] #1469 closed, assigned to surplus-dev

[2022-08-07 10:34] surplus-dev commented on #1318
`/guide/<name>`으로 아마도 만들지 않을까라고 생각

[2022-08-08 08:14] surplus-dev commented on #1276
~~오늘 진행 예정~~이였으나 실패

[2022-08-08 08:19] surplus-dev commented on #1473
문서명에 대해서 금일 중 고려해볼 예정

[2022-08-08 14:52] surplus-dev commented on #1473
user
category에 대해서 내부적으로 문서명은 유지하되 한국어 설정의 경우 문서 접속시 한국어로 표시되게 설정할 예정

검색에서도 반영 예정 하지만 나머지 기능에 대해서는 그대로 유지로 결정했습니다

[2022-08-09 04:02] wlqowk opened #1495 "문단 편집을 누르면 전체 편집으로 넘어갑니다"
그러니까 문단 옆에 연필 아이콘이 있잖아요? 그걸 누르면 그 문단만 편집할수 있어야하는데
전체 편집으로 넘어갑니다
확인 부탁드립니다

[2022-08-09 07:51] Gwangtori opened #1496 "ACL 관련"
## Explanation (설명)
- 문서 이동, 삭제 ACL이 따로 존재했으면 좋겠습니다

[2022-08-09 14:49] wlqowk opened #1497 "사이트맵 관련 건의"
사이트맵에 이미지주소는 뺄수있도록 하면 어떨런지요

https://도메인/w/ **file**

로 시작하는 이미지만 있는 주소 있잖아요
그런 이미지주소는 빼고 글주소만 사이트맵에 있었으면 좋을거같아서 건의드립니다

[2022-08-10 04:35] surplus-dev opened #1498 "사이트맵 기능 개편 예정"
현재는 API 처럼 구성되어 있으나 앞으로는 정규 기능으로 이전 예정

아마 설정 안에 위치하게 될 듯

[2022-08-10 04:57] wlqowk opened #1499 "사이트맵 관련 건의 2"
사이트맵이 지금 **sitemap.xml 만들거나 갱신하기** 를 눌러야 갱신되는걸로 알고있는데
갱신되는 시간을 설정할수 있도록 해서 시간이 되면 자동갱신되게 했으면 좋겠어서 건의드립니다
예를들면
1일로 설정해놓으면 24시간에 한번씩 사이트맵을 갱신하는거죠
백업 주기랑 비슷하게 주기적으로

[2022-08-10 12:37] surplus-dev commented on #1497
완료 dev42

[2022-08-10 12:37] #1497 closed, assigned to surplus-dev

[2022-08-10 12:37] surplus-dev commented on #1498
완료 dev42

[2022-08-10 12:37] #1498 closed, assigned to surplus-dev

[2022-08-12 17:53] surplus-dev commented on #1473
좀 뜬금 없는 결말이지만 그냥 `분류:`나 `파일:`이나 `사용자:`가 처음에 들어간 검색의 경우에는 바로 해당 문서 검색으로 접근할 수 있도록 해놨습니다

뭔가 처음에는 위에 이야기한 것처럼 좀 더 진행해보려고 했는 데 결국에는 뭔가 헷갈릴 것 같아서 (예를 들면 실제 문서명은 `category:`지만 표시는 `분류:`로 되니 `category:` 문서가 아니라 `분류:` 문서를 작성한다던지...) 그냥 바로 넘어갈 수 있는 경로를 만드는 선에서 끝내려고 합니다

[2022-08-13 11:27] surplus-dev commented on #1495
확인 결과 저번에 렌더링 방식 변경을 위해서 일부로 꺼놓은 게 지속되서 그런 것 같습니다

[2022-08-13 12:49] surplus-dev commented on #1496
dev44

[2022-08-13 12:49] #1496 closed, assigned to surplus-dev

[2022-08-13 12:51] surplus-dev opened #1500 "ACL 만료 일자 설정"
및 acl 테이블을 data_set으로 통합

[2022-08-13 12:59] surplus-dev commented on #1473
dev43

[2022-08-13 12:59] #1473 closed, assigned to surplus-dev

[2022-08-13 13:20] surplus-dev commented on #1390
곧 나머지 두개 전부 진행 예정입니다

[2022-08-14 14:46] surplus-dev opened #1501 "end 문법 추가 예정"
https://feedback.theseed.io/posts/492/dongyeongsang-munbeob-maegaebyeonsue-end-cuga

[2022-08-15 03:24] cuprevenge opened #1502 "분류 제목"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

새로운 분류 제목에 Q&A를 넣고 생기는 링크(not_thing id)가 Q`&amp;`A로 깨지는 현상이 있습니다.

![image](https://user-images.githubusercontent.com/52319594/184571963-85cb1711-a5b8-40d0-8621-ca91f22e6c57.png)

[2022-08-15 10:00] surplus-dev commented on #1390
구버전 경고문 추가 했습니다 설정에서 직접 입력할 수 있습니다

[2022-08-19 10:24] surplus-dev opened #1504 "기여 논의"
## 설명
[편집 요청](https://github.com/openNAMU/openNAMU/issues/933)을 대체하는 기능

그냥 게시글 형식으로 서로 추가 원하는 내용을 쓸 수 있도록 할 예정, 추천 기능 넣을 예정

## 왜 편집 요청 대신에 이런 기능인가?
과거 오픈나무 편집 요청 기능은 최신판의 경우에만 적용할 수 있었음

= 즉 편집 요청을 올려도 누가 이미 편집해버렸다면 그 편집 요청은 파쇄됨

-> 이걸 개선하려면 자동 병합 기능이 필요함

근데 자동 병합을 어떻게 구현해야할 지 솔직히 모르겠음(...) ~~좋은 아이디어 있는 사람은 의견 수렴 바랍니다~~

[2022-08-20 06:37] Gwangtori opened #1505 "<br>가 2개 생기는 문제"
## {{{, }}}를 사용할 때
![image](https://user-images.githubusercontent.com/64156915/185731811-0c6ed086-a783-422a-a0a0-a08ed47927f1.png)

## include를 사용할 때
![image](https://user-images.githubusercontent.com/64156915/185732509-d4fd14b3-428b-413d-bc0b-5b0d021bcc1a.png)

## 설명
예전에 해결됐던 거 같은데 또 발생해서 이슈 넣습니다

[2022-08-24 15:55] surplus-dev opened #1506 "또 다시 신형 렌더러 제작"
## 목표
~~이번 주중 완성이 목표~~ ~~너무 날림 아닌가?~~

계속 미뤄지는 중

결국 2달이나 걸렸다고 한다 ~~와 2달 밖에 안 걸렸네~~

2달이 넘어버렸다고 한다(...)

## 진행 상황
 - [x] Math 문법
 - [x] Slash 문법
 - [x] 일반 텍스트 문법
 - [x] 매크로 문법
 - [x] 링크 문법
 - [x] 문단 문법
 - [x] 리스트, 인용문 문법
 - [x] 자잘한 리스트 보정치
 - [x] 중괄호 문법
 - [x] 표 문법
 - [x] 틀 문법
 - [x] 심화 중괄호 문법
 - [x] 각주 문법
 - [x] DB 연동 (읽기)
 - [x] DB 연동 (역링크)
 - [x] 스킨 설정
 - [x] 문단 폴딩 (빼먹음)
 - [x] a 링크 title 속성 (빼

[2022-08-29 14:49] surplus-dev opened #1507 "[수렴] 다크모드 자동 보정 기능"
## 서론
최근 렌더러를 [다시 개발하면서](https://github.com/openNAMU/openNAMU/issues/1506) 렌더러 상에서 다크모드를 좀 제대로 고려 해볼까 합니다

## 본론
가끔 문서 중에 표 배경색을 다크모드 글자색(=화이트)으로 지정한 경우가 있습니다 이런 경우에는 자동으로 보정해서 표 배경색을 날려버리던가 글자색을 바꾸던가 할까 싶은 데 의견을 수렴하고자 합니다

추. 참고로 반대의 경우에도 보정할까 싶습니다

[2022-08-29 15:00] cuprevenge commented on #1507
다크모드를 거의 쓰지 않아서 잘 모르겠지만 자동 보정되면 편할 것 같긴 합니다.

[2022-09-02 11:52] chani105 opened #1508 "python app.py를 적으니까 오류가 나요."
## Environment (환경)
* OS : window 10
* Python version : 3.10
* openNAMU version : 3.4.5
* Skin :
* Skin version :

## Explanation (설명)
pythonanwhere에서 python app.py를 적으니까 이런 오류가 납니다.

[code]
## Screenshot (스크린샷)

[2022-09-02 13:46] surplus-dev commented on #1508
모듈이 없어서 그렇습니다 콘솔에서 `pip3 install -r requirements.txt`를 입력해주세요

[2022-09-03 01:30] chani105 commented on #1508
감사합니다! 덕분에 해결했어요.

[2022-09-03 13:11] #1508 closed, assigned to surplus-dev

[2022-09-04 11:18] surplus-dev opened #1509 "모니위키에서 마이그레이션"
## 본론
사실 오픈나무는 구조 상으로든 계보 상으로든 [모니위키](https://github.com/wkpark/moniwiki)의 연장선과 비슷한 느낌이 없잖아 있으니 그냥 모니위키 개발도 딱히 이루어지지 않는 것 같은데 모니위키에서 마이그레이션 하는 기능을 지원하는 게 어떨까하는 발상... 일단 의견을 한번 구해보고 진행해볼 예정

## 여담
더불어서 언젠간 나무위키 JSON 덤프 이식기를 [좀 수리해볼까 했으나...](https://github.com/openNAMU/openNAMU-Tool-Namu_JSON/issues/12) 거의 근 1년간 [나무위키 DB가 올라온 적도 없고](https://namu.wiki/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4:%EB%8D%B0%

[2022-09-04 11:38] surplus-dev opened #1510 "여러 문서 이동 기능"
## 본론
특정 문자열이 포함된 문서, 하위 문서 포함해서 동시에 이동하는 기능 만들 예정

## 동작 방식
예시 (하위 문서 포함)
오픈나무
오픈나무/서버
오픈나무/개발일지

변경 예시 1 (오픈나무 -> 고픈나무)
고픈나무
고픈나무/서버
고픈나무/개발일지

변경 예시 2 (오픈나무 -> 닫힌오픈나무)
닫힌오픈나무
닫힌오픈나무/서버
닫힌오픈나무/개발일지

예시 2 (특정 문자열이 포함된 문서)
나무위키
오리위키
리브레위키

변경 예시 (위키 -> 아래키)
나무아래키
오리아래키
리브레아래키

[2022-09-06 17:54] cuprevenge opened #1511 "분류 문서 개수"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

미디어위키나 the seed처럼 각 분류 문서에 현재 분류되어 있는 문서의 개수가 표시되면 좋을 것 같습니다.

[2022-09-06 19:14] Gwangtori commented on #1507
고의로 화이트, 블랙 계열 색상으로 편집할 때도 있는데, 이때는 자동 보정이 되면 안될 거 같다는 생각이 듭니다...

이런 식의 문법으로 다크모드 자동 보정을 피해 갈(?) 수 있으면 좋을 것 같아요.

[2022-09-07 15:32] surplus-dev commented on #1507
@Gwangtori 그래서 아마 해당 보정 기능은 표 색과 글자 색이 같은 때만 작동하게 하도록 할 것 같습니다

[2022-09-08 12:30] surplus-dev opened #1512 "토론 개선안"
## 따봉 기능 도입
스레드에 따봉 기능을 도입할까 하는 데 의견을 듣고자 합니다

## 토론 투표 연계 기능 (고민중)
토론에 투표를 연계하는 기능을 도입할까 하는데 의견을 듣고자 합니다

## 스레드 인용 OR 이 스레드를 인용한 스레드 (완료)
## 토론 승인 기능
## 연속 토론 시간 제한 (완료)
## 토론 발제 취소 도입 예정
## [문서 문구 기능 토론도 지원 예정](https://github.com/openNAMU/openNAMU/issues/1587) (이미 있었음)

[2022-09-08 12:42] #1507 closed, assigned to surplus-dev

[2022-09-08 12:45] surplus-dev opened #1513 "다크모드 관련 스킨 옵션 추가 예정"
- [ ] [다크모드 자동 보정](https://github.com/openNAMU/openNAMU/issues/1507)
 - [x] 나는 눈뽕이 싫어요 (강제로 모든 표 투명하게 만들기 & 글자 흰색 고정)

[2022-09-09 01:35] Gwangtori commented on #1512
깃허브 이슈처럼 답장 기능은 생각 없으신가요?

[2022-09-09 04:58] surplus-dev commented on #1512
@Gwangtori 이런 거 말씀이신가요? 그건 이미 있습니다

[2022-09-09 05:23] Gwangtori commented on #1512
이것을 말합니다 ( ... → Quote reply)
이미 있다는 것은 멘션 기능이 있다는 말씀이신가요?

[2022-09-09 07:51] surplus-dev commented on #1512
@Gwangtori 아 한번 고심해보겠습니다만 `#숫자`가 있어서 꼭 필요할지는 잘 모르겠습니다

멘션 기능은 현재 지원하고 있습니다

[2022-09-09 08:32] cuprevenge opened #1514 "링크 문법 취소선"
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)

url에 -가 여럿 있을 때 링크 2개를 연달아 쓰면 취소선 문법(-- --)이 작동하면서 링크가 제대로 걸리지 않습니다.

`[[https://scp-wiki.wdfiles.com/local--files/scp-002/800px-SCP002-new.jpg]] [[https://scp-wiki.wdfiles.com/local--files/scp-002/800px-SCP002-new.jpg]]`

![image](https://user-images.githubusercontent.com/52319594/189307438-16abb64a-7df2-42c7-b05b-299cf111180d.png)

링크의 -에다 {

[2022-09-09 09:18] surplus-dev commented on #1514
신형 렌더러 제작에 반영하겠습니다

[2022-09-11 08:42] nawega commented on #1512
[여기](https://feedback.theseed.io/posts/507/toron-dabjang-gineung)서 언급된 것 처럼 굳이 찾아 올라가기 불편합니다. 개발되면 편리할 것 같습니다.

[2022-09-11 13:49] surplus-dev commented on #1512
522가 떠서 내용은 잘 모르겠지만 뒤로 돌아가기와 인용 둘 중 하나를 도입하겠습니다

[2022-09-13 05:30] surplus-dev commented on #1512
렌더러 완성 전에 진행 예정

[2022-09-14 09:41] Lwnlcks opened #1515 "토론 승인 기능"
## Explanation (설명)
오픈나무에서 토론을 관리자가 승인해야 다른 사용자에게 표시 되는 기능이 있었으면합니다.
(이용자가 토론을 발제하면 관리자가 별도의 관리페이지에서 승인해야만 다른 사용자가 볼 수 있도록 하는 기능)

## why?
최근 오픈나무를 사용하고 있는 위키는 물론이고 타 엔진을 사용하고 있는 위키에도 토론을 이용한 도배로 서버가 터지는 일이 종종 생기고 있습니다.

## Screenshot (스크린샷)
![fdfgsd](https://user-images.githubusercontent.com/72176091/190119253-2777db58-6261-41ac-b65c-bbffd4fe2299.PNG)

[2022-09-14 09:46] surplus-dev commented on #1515
토론도 시간 제한 거는 기능을 도입할 계획 입니다

토론 승인도 괜찮은 것 같네요 곧 추가하겠습니다

[2022-09-14 12:17] surplus-dev commented on #1515
https://github.com/openNAMU/openNAMU/issues/1512 병합

[2022-09-14 12:17] #1515 closed, assigned to surplus-dev

[2022-09-14 14:41] Gwangtori opened #1516 "이메일 입력 페이지에서 Internal Server Error 발생"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev 최신
* Skin :
* Skin version :

## Explanation (설명)
(회원가입을 하려고 할 때) 이메일을 입력하는 페이지 (./register/email)로 이동했을 때 Internal Server Error가 발생해요.

## Screenshot (스크린샷)

[2022-09-14 16:32] surplus-dev commented on #1516
수정했습니다 dev50

[2022-09-14 16:32] #1516 closed, assigned to surplus-dev

[2022-09-15 01:12] Gwangtori opened #1517 "차단됐을 때 토론이 보이지 않는 것에 관해"
## Explanation (설명)
차단됐을 때 토론 스레드가 아예 보이지 않고, 차단되었다는 메시지가 나옵니다 (로그인 허용해도 그렇습니다)
토론 스레드까지는 볼 수 있게 완화하는 것을 제안합니다. 토론 발제만 막아도 충분하다고 생각합니다

[2022-09-15 08:56] surplus-dev commented on #1517
놀랍지만 일부로 막은 게 아니라 버그 입니다

[2022-09-15 09:37] surplus-dev commented on #1517
수정 완료 dev51

[2022-09-15 09:37] #1517 closed, assigned to surplus-dev

[2022-09-15 14:24] Gwangtori opened #1518 "알림 링크 오류"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev 최신버전
* Skin :
* Skin version :

## Explanation (설명)
알림(./alarm)의 링크를 누르면 토론이 아닌 "user:Gwangtori | 통피 정규식 차단 요청 | #2" 문서로 이동됩니다

Gwangtori | [user:Gwangtori | 통피 정규식 차단 요청 | #2](https://onemindwiki.kr/w/user%3AGwangtori%20%7C%20%ED%86%B5%ED%94%BC%20%EC%A0%95%EA%B7%9C%EC%8B%9D%20%EC%B0%A8%EB%8B%A8%20%EC%9A%94%EC%B2%AD%20%7C%20%23

[2022-09-15 15:03] surplus-dev commented on #1518
수정 했슴다 dev52

[2022-09-15 15:03] #1518 closed, assigned to surplus-dev

[2022-09-18 17:18] surplus-dev commented on #1265
어느정도 완료, dev 빌드부터 기본으로 적용 완료

렌더러 작업 완료 이후 사이드바 기능 추가 예정

[2022-09-18 17:18] #1265 closed, assigned to surplus-dev

[2022-09-18 17:20] surplus-dev commented on #1494
취소 후 차기 렌더러에 적극 적용 중

[2022-09-18 17:20] #1494 closed, assigned to surplus-dev

[2022-09-20 09:57] surplus-dev commented on #1480
취소...지만 일부는 계속 반영 예정

[2022-09-20 09:57] #1480 closed, assigned to surplus-dev

[2022-09-20 09:59] #1456 closed, assigned to surplus-dev

[2022-09-24 02:20] ghost opened #1519 "구글 웹마스터 관련 질문 드립니다."
## Environment (환경)
* OS : Window
* Python version : 3.10
* openNAMU version : v3.4.5 (stable1) (beta3) (dev14)
* Skin : Liberty
* Skin version : v1.1.10.2-o (v1.1.10.2-o)

## Explanation (설명)
안녕하세요. 구글 웹 마스터 에 색인 요청을 하면 아래 스크린샷 같이 오류가 나서 문의 드립니다.

## Screenshot (스크린샷)

https://user-images.githubusercontent.com/114271599/192075960-8a90f1e4-87d6-40c9-a399-ab43afaa4511.PNG

[2022-09-24 03:56] surplus-dev commented on #1519
![image](https://user-images.githubusercontent.com/13796545/192079048-6011a0f4-69c2-4fea-99df-b5d3e6f2a4db.png)
예시

URL 색인 요청은 sitemap.xml이 아니라 예시처럼 상위 경로로 해야하는 것 같습니다 (sitemap.xml은 [robots.txt 기본값](https://2du.pythonanywhere.com/robots.txt)에는 접근이 막혀있도록 설정해놨습니다) (이거는 다음 패치에 sitemap.xml이 있는 경우 허용하도록 설정하겠습니다)

sitemap.xml은 아래 메뉴에 색인 -> sitemap.xml 을 이용해서 등록하셔야 하는 것 같습니다

[2022-09-24 04:04] surplus-dev opened #1520 "애드센스 옵션 추가 예정"
## 서론
현재 오픈나무는 본문 상단 HTML과 메인 HEAD를 통해서 애드센스를 간접적으로 지원하고 있으나 이는 접근성이 떨어진다고 판단

## 본론
그래서 외부 API 필요 설정에 기능을 추가 예정, 특정 문서나 특정 문서가 틀로 포함된 문서는 애드센스를 제외하는 설정을 포함 예정

## 기타
나중에 이 옵션 만든 뒤에 애드포스트 옵션도 추가 예정

[2022-09-24 04:50] surplus-dev opened #1521 "mysql, mariadb 설정 분리 예정"

[2022-09-24 16:22] surplus-dev commented on #1519
robots.txt 기본값으로 설정시 sitemap도 같이 올려놓게 설정 했습니다

[2022-09-24 16:22] #1519 closed, assigned to surplus-dev

[2022-09-25 13:48] ghost opened #1522 "BSD의 정확한 의미"
BSD3라이센스라는데 정확한 의미를 알고싶습니다.

[2022-09-25 13:59] surplus-dev commented on #1522
https://www.olis.or.kr/license/Detailselect.do?lId=1092
https://namu.wiki/w/BSD%20%EB%9D%BC%EC%9D%B4%EC%84%A0%EC%8A%A4

라이선스 이름 입니다 자세한 내용은 이 두 링크를 참조하시면 될 것 같습니다

저작권자 표시만 하시면 일반적인 대부분 이용에서는 문제가 없는 그런 라이센스 입니다

[2022-09-25 17:27] surplus-dev commented on #1318
가이드 새로 쓰기 프로젝트 진행에 따라서 취소

[2022-09-25 17:27] #1318 closed, assigned to surplus-dev

[2022-09-26 12:07] Gwangtori commented on #1520
리브레 위키의 '분류:애드센스 제외 문서'처럼 분류도 지원하면 좋을 것 같아요.

[2022-09-26 14:08] surplus-dev commented on #1520
@Gwangtori 제작할 때 같이 만들겠습니다

[2022-09-26 14:15] Gwangtori opened #1523 "/w/ 접속시 Internal Server Error 발생"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev 최신
* Skin :
* Skin version :

## Explanation (설명)
도메인/w/~ 접속시 Internal Server Error가 발생해요.

## Screenshot (스크린샷)

[2022-09-26 14:23] Gwangtori opened #1524 "이메일 전송 실패 관련"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev 최신
* Skin :
* Skin version :

## Explanation (설명)
이메일 전송하는데 실패했다는 오류가 발생해요. 엔진의 문제인지, 제가 설정을 잘못한 것인지 궁금해요.

## Screenshot (스크린샷)

[2022-09-27 08:13] cuprevenge commented on #1520
애드포스트는 일반적으론 네이버 플랫폼에만 달 수 있는 것으로 알고 있어서 좀 더 범용성이 높은 애드핏이나 데이블, 클릭몬 등 다른 광고 플랫폼 쪽이 좋을듯합니다.

[2022-09-27 08:49] surplus-dev commented on #1520
@cuprevenge 확인 해봤는 데 확실히 그렇길래 보류 했습니다 다른 것도 검토하겠습니다

[2022-09-27 12:04] surplus-dev commented on #1523
잘못 눌렀네요

금일 중에 바로 해결하겠습니다

[2022-09-27 12:06] surplus-dev commented on #1523
dev56

[2022-09-27 12:06] #1523 closed, assigned to surplus-dev

[2022-09-27 12:06] surplus-dev commented on #1524
명령창에서 어떤 오류가 발생하나요?

[2022-09-27 12:43] surplus-dev opened #1525 "없는 문서 문구 수정 가능하도록"

[2022-09-27 15:29] Gwangtori commented on #1524
`
Error : email send error
[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:997)
`
라고 나와요

[2022-09-28 01:54] surplus-dev commented on #1524
파이썬 버전은 몇인가요?

[2022-09-28 02:26] Lwnlcks commented on #1525
이미 문구 설정에서 '존재하지 않는 문서 문구'로 있지 않나요?

[2022-09-28 02:42] surplus-dev commented on #1525
![image](https://user-images.githubusercontent.com/13796545/192675573-6bbecec1-55d0-448f-8dc4-6a21608458ca.png)

그러네요 이미 있네요

[2022-09-28 02:42] #1525 closed, assigned to surplus-dev

[2022-09-28 04:05] Gwangtori commented on #1524
3.10.4 사용 중이며, 우분투 22.04 사용 중이에요

[2022-09-28 12:11] surplus-dev commented on #1524
원래는 문제가 없었나요? 아니면 이번에 처음 설정하셨나요

[2022-09-28 14:17] Gwangtori commented on #1524
꺼놓고 있다가 dev50 쯤에 다시 켰어요

[2022-09-28 16:26] MrKimSangDeok opened #1526 "오픈나무 서버 배포 관련 문의드립니다..!"
## Environment (환경)
* OS : Windows 10
* Python version : 3.9.9
* openNAMU version : v3.4.5
* Skin :
* Skin version :

## Explanation (설명)

저는 업무 메뉴얼을 기록하기 위한 목적으로 openNAMU 위키를 배포하려고
openNAMU 개발자님이 만드신 메뉴얼을 보고 시도를 해보았습니다.
https://2du.pythonanywhere.com/w/%EC%84%A4%EC%B9%98%EB%B2%95%2FPythonanywhere

하지만 이 방법대로 해보아도 설명이 약간 누락되서인지 제가 놓친부분이 있는지 몰라도 Python anywhere는 계속 호스팅이 되질 않아
Heroku로도 시도 해보았으나 역시 되

[2022-09-28 23:47] surplus-dev commented on #1526
어 파일이 짤려서 그런 것 같은 데 [사진 1](https://2du.pythonanywhere.com/w/file%3A%EC%84%A4%EC%A0%95%201.png)과 [사진 2](https://2du.pythonanywhere.com/w/file%3A%EC%84%A4%EC%A0%95%202.png)을 참고하시면 좀 더 쉬우실 것 같습니다

그냥 콘솔상에서 한번 켜보신 뒤에 잘 작동한다면 설정 1과 설정 2로 설정하시고 리스타트 하시면 됩니다 그거 말고는 따로 설정은 없습니다 (SQLite만 지원합니다)

[2022-09-28 23:48] surplus-dev commented on #1524
으음... 당장은 감이 안 잡혀서 일단 확인해보겠습니다

[2022-09-28 23:49] surplus-dev commented on #1506
사진이랑 분류 링크 file: category: 로 변환 해줘야함

[2022-09-28 23:54] #1522 closed, assigned to surplus-dev

[2022-09-29 06:06] MrKimSangDeok commented on #1526
사진 재첨부 정말 감사합니다!

계속 사이트를 열면 Error code: Unhandled Exception 이게 뜹니다
bash 콘솔창에선 vscode에서 실행했던 것처럼 잘 작동 되지만
사이트만 열면 이러네요 ㅠㅠ

[2022-09-29 06:48] surplus-dev commented on #1526
pythonanywhere_com_wsgi.py 내용을 좀 봐도 될까요?

[2022-09-29 07:06] MrKimSangDeok commented on #1526
![캡처](https://user-images.githubusercontent.com/112893802/192963042-1bfde0c7-4b05-4076-b2ff-f52de6fb5988.PNG)
![캡처1](https://user-images.githubusercontent.com/112893802/192963056-4df465b0-1dc9-48fe-bbb8-3b886045a81a.PNG)

넵! 혹시 몰라 에러로그도 첨부했습니다

[2022-09-29 08:12] surplus-dev commented on #1526
아 이건 라이브러리가 설치 안되서 그런 거네요

[2022-09-29 08:13] surplus-dev commented on #1526
오픈나무 디렉토리에서 콘솔에다가 pip3 install -r requirements.txt 한 뒤에 실행하면 될 지도 모릅니다

[2022-09-29 08:34] MrKimSangDeok commented on #1526
지금 제가 해결한 방법은 가상환경을 설정해주고
가상환경 안에 다시 말씀해주신대로 라이브러리 설치하니까 제대로 구동이 되네요
가상환경 안에 또 설치해줘야하는게 해결 방법 인거 같았어요

긴 질문에 정성스럽게 답해주셔 정말 감사드립니다 개발자님!!

[2022-09-29 08:56] surplus-dev commented on #1526
넵 해결되서 다행이네요

[2022-09-29 08:56] #1526 closed, assigned to surplus-dev

[2022-09-29 11:46] Lwnlcks commented on #1524
dev56(현재 dev 최신 버전)에서 설정해서 테스트했을때 잘 됩니다.
혹시 SMTP 비밀번호에 기기용 앱 비밀번호 재발급해서 넣어보셨나요?

[2022-09-29 13:36] Gwangtori commented on #1524
다시 시도해봐도 안되네요...

[2022-09-29 13:38] surplus-dev commented on #1524
`[SSL: WRONG_VERSION_NUMBER] wrong version number` 라고 뜨는 걸 봐선 ssl 버전 문제인 것 같은데 정확하게 감은 안 오네요

일단 파이썬이랑 openssl 업그레이드 해보시고 파이썬 콘솔에다가 `ssl.OPENSSL_VERSION` 입력하셔서 알려주시면 감사하겠습니다

[2022-09-29 13:40] Gwangtori commented on #1524
아 해결했어요.
보안 프로토콜 관련 문제였던 것 같아요.... 신경 써 주셔서 감사합니다 😅

[2022-09-29 13:40] #1524 closed, assigned to surplus-dev

[2022-09-29 13:40] surplus-dev commented on #1524
해결되었으면 다행이네요

[2022-09-30 02:16] surplus-dev opened #1527 "사용자 HEAD도 스킨 별 적용 가능하도록"
그리고 긴급 상황일 때 초기화 시키는 곳도

[2022-10-01 16:55] surplus-dev commented on #1527
내일 제작 예정

[2022-10-03 09:50] Gwangtori opened #1528 "모나코 에디터 관련"
## Explanation (설명)
현재 오픈나무에서 모나코 에디터를 사용하려면 기본 스킨 설정에서 활성화하는 방식인데, PC 환경에서는 모나코 에디터가 편하지만 모바일에서는 부분 선택하기 어려움 등 불편할 때가 많아요.

편집 페이지에서 빠르게 에디터를 바꿀 수 있거나, 모바일에서는 활성화되지 않는 옵션이 있으면 좋을 것 같습니다

[2022-10-03 10:49] surplus-dev commented on #1528
오늘 안에 제작하도록 하겠습니다

[2022-10-03 11:18] surplus-dev commented on #1528
dev58

[2022-10-03 11:18] #1528 closed, assigned to surplus-dev

[2022-10-03 12:16] surplus-dev commented on #1527
완성

[2022-10-03 12:16] #1527 closed, assigned to surplus-dev

[2022-10-03 12:47] Gwangtori opened #1529 "Internal Server Error 발생"
## Environment (환경)
* OS :
* Python version :
* openNAMU version : dev 최신버전
* Skin :
* Skin version :

## Explanation (설명)
업데이트 후 Internal Server Error가 발생합니다

## Screenshot (스크린샷)

[2022-10-03 15:36] surplus-dev commented on #1529
어떤 부분에서 발생하나요?

[2022-10-03 17:50] surplus-dev opened #1530 "리캡차 인증 유지 기능"
리캡차 한번 인증하면 한동안 안해도 되도록

[2022-10-04 00:51] surplus-dev commented on #1495
금일 중 수정 예정

[2022-10-04 02:05] Gwangtori commented on #1529
어느 링크만 그런 것이 아닌 모든 링크에서 오류가 발생해요.

----
ERROR:app:Exception on /w/광토리위키:대문 [GET]
Traceback (most recent call last):
  File "/root/.local/lib/python3.10/site-packages/flask/app.py", line 2525, in wsgi_app
    response = self.full_dispatch_request()
  File "/root/.local/lib/python3.10/site-packages/flask/app.py", line 1822, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/roo

[2022-10-04 02:58] surplus-dev commented on #1529
버그로 의심되는 부분을 수정했습니다 dev60

[2022-10-04 06:05] Gwangtori commented on #1529
업데이트해도 또 발생해요. 로그아웃을 하면 잘 되네요...

[2022-10-04 06:49] surplus-dev commented on #1529
아 버그 발생 요인이 하나 더 있네요 것도 고쳤습니다

[2022-10-04 06:49] #1529 closed, assigned to surplus-dev

[2022-10-04 09:45] ghost opened #1531 "비로그인 상태 오픈나무 엔진 업데이트 관련 질문"
## Environment (환경)
* OS :
* Python version :
* openNAMU version :
* Skin :
* Skin version :

## Explanation (설명)
지금 로그인 을 하면 오류 코드가 떠서 비로그인 상태로 해야 하는 데 비로그인 상태로 업데이트 어떻게 하나요? 호스팅 사이트는 pythonanywhere 입니다.
## Screenshot (스크린샷)

[2022-10-04 09:59] surplus-dev commented on #1531
콘솔에서 오픈나무 폴더로 들어가신 뒤
<pre>
git remote rm origin
git remote add origin https://github.com/2du/opennamu.git
git fetch origin 브랜치_이름
git reset --hard origin/브랜치_이름</pre>
하시면 됩니다

이머전시 툴에 강제 업데이트 기능 넣어놓겠습니다

[2022-10-04 10:14] angelmini commented on #1531
브랜치 이름을 어떻게 확인 하고 정확히 브랜치 이름이 무엇인가요?

[2022-10-04 11:20] surplus-dev commented on #1511
오늘 추가 예정

[2022-10-04 17:18] surplus-dev commented on #1495
다시 추가 완료

[2022-10-04 17:18] #1495 closed, assigned to surplus-dev

[2022-10-04 17:27] surplus-dev commented on #1511
추가 했습니다

[2022-10-04 17:27] #1511 closed, assigned to surplus-dev

[2022-10-05 14:32] #1531 closed, assigned to surplus-dev

[2022-10-05 15:27] surplus-dev commented on #1509
https://github.com/wkpark/moniwiki/issues/138

[2022-10-05 17:00] surplus-dev opened #1534 "문단 편집 문제"
문단이 붙어 있으면 아래 문단이 딸려옴

[2022-10-06 03:55] surplus-dev commented on #1490
오늘 진행 예정

[2022-10-06 03:59] surplus-dev opened #1535 "BBS 기능"
- [x] 게시판 메인
 - [x] 게시판 설정 (형식, ACL)
 - [x] 게시판 생성
 - [x] 게시판 글 작성
 - [x] 게시판 글 수정
 - [x] 게시판 댓글
 - [x] 게시판 대댓글

[2022-10-06 11:29] surplus-dev opened #1536 "[알림] Docker 갱신 일지"
* [공식 홈](https://hub.docker.com/repository/docker/opennamu/opennamu)
## dev
 * 22/08/00
 * 22/10/06
 * 22/12/11
 * 23/03/18
 * 23/03/21
 * 23/06/13
 * 23/06/15
 * 23/08/29
 * 24/01/26
 * 24/03/22

[2022-10-06 17:20] Gwangtori opened #1537 "IP 주소 숨기기 관련"
## 오류 내용 (Error contents)
IP 주소 숨기기를 활성화해도 권한 사용 목록(/admin_log)에는 차단된 IP가 공개돼요. 의도한 부분인가요?

[2022-10-06 18:08] surplus-dev commented on #1537
의도된 부분은 아닙니다

[2022-10-07 04:40] surplus-dev commented on #1537
~~금일 중 수리해서 beta로 올려버릴 예정~~

beta 업로드 계획이 뒤로 밀림 beta 올릴 때 같이 수정할 예정

[2022-10-07 10:11] surplus-dev opened #1538 "GIT 이슈"
GIT의 보안 사고로 인해서 세이프 디렉토리에서만 GIT 작동하게 변경된 듯?

[2022-10-07 18:33] surplus-dev opened #1539 "야밤에 자동 로그인 구현에 대한 고심"
## 생각나는 가장 단순한 방법
쿠키에다가 비밀번호를 저장

로그인 안되어 있으면 JS 이용해서 자동으로 로그인 하게 하면 되지 않을까

### 문제점
쿠키가 털리면 박살난다 -> 기각

## 좀 더 심도 깊은 방법
bot key 기능이랑 연계해서 비밀번호가 아니라 bot key를 저장한다

사용자가 bot key를 발급, 재발급, 삭제가 가능하다

### 문제점
좀 더 안전하긴 하지만 이것도 쿠키가 털리면 박살난다 -> 기각

## 그래서 생각한 더 심도 깊은 방법
사용자 비밀번호에다가 사용자가 마지막으로 로그인한 시간을 salt 값으로 암호화해서 넣는다

### 문제점?
이건 괜찮겠지?

[2022-10-07 18:38] surplus-dev commented on #1539
걍 지금 당장 구현해버려야겠다

[2022-10-07 19:03] surplus-dev commented on #1539
하다가 이상한 옵션을 발견해서 그거 적용

[2022-10-07 19:38] surplus-dev commented on #1539
고민해본 결과 심각한 문제가 있는 것 같아서 중단

[2022-10-08 04:30] #1539 closed, assigned to surplus-dev

[2022-10-08 04:37] surplus-dev opened #1540 "새로운 로그인 방식"
## 구조
1. 세션 만료 시간을 5분으로 설정
2. Httponly 쿠키(opennamu_login_set 쿠키)에다가 사용자 정보를 저장
3. 세션이 만료되면 자동으로 opennamu_login_set 쿠키가 있는 지 확인하고 있으면 재로그인

## 왜 이렇게 하나요
1. CSRF 예방적 차원
2. 자동로그인 구현

## 기타
 * 장기적으로는 Security Token 도입 필요성 있음
 * Referer 검증부터 도입 예정
 * 주요 기능(토론 삭제처럼 아예 DB에서 날려버리는 기능)에는 캡차 인증 후 삭제 도입 예정

[2022-10-09 14:27] surplus-dev commented on #1514
신형 렌더러에 반영 완료

[2022-10-09 14:27] #1514 closed, assigned to surplus-dev

[2022-10-09 14:27] surplus-dev commented on #1502
신형 렌더러에 반영 완료

[2022-10-09 14:27] #1502 closed, assigned to surplus-dev

[2022-10-09 14:27] surplus-dev commented on #1493
신형 렌더러에 반영 완료

[2022-10-09 14:27] #1493 closed, assigned to surplus-dev

[2022-10-09 14:27] surplus-dev commented on #1452
신형 렌더러에 반영 완료

[2022-10-09 14:27] #1452 closed, assigned to surplus-dev

[2022-10-09 14:28] surplus-dev commented on #694
신형 렌더러에 반영 완료

[2022-10-09 14:28] #694 closed

[2022-10-09 14:28] surplus-dev commented on #1377
신형 렌더러에 반영 완료

[2022-10-09 14:28] #1377 closed, assigned to surplus-dev

[2022-10-09 14:28] surplus-dev commented on #1501
신형 렌더러에 반영 완료

[2022-10-09 14:28] #1501 closed, assigned to surplus-dev

[2022-10-09 14:28] surplus-dev commented on #1476
신형 렌더러에 반영 완료

[2022-10-09 14:28] #1476 closed, assigned to surplus-dev

[2022-10-09 14:28] surplus-dev commented on #1478
신형 렌더러에 반영 완료

[2022-10-09 14:28] #1478 closed, assigned to surplus-dev

[2022-10-09 14:29] surplus-dev commented on #1505
신형 렌더러에 반영 완료

[2022-10-09 14:29] #1505 closed, assigned to surplus-dev

[2022-10-09 14:29] surplus-dev commented on #1241
이거는 생각해봤는 데 분류:ABC로 링크 건 게 맞고 분류:ABC 문서가 없다면 필요한 문서에 있는 게 맞는 것 같습니다

[2022-10-09 14:29] #1241 closed, assigned to surplus-dev

[2022-10-09 15:57] surplus-dev opened #1541 "[현황] 신형 렌더러 진행 상황"
[렌더러 결과](https://user-images.githubusercontent.com/13796545/194766591-cee2a594-88fb-4ec8-9663-bdba76c6cbda.png) (주의 : 용량 아주 큼) <- [나무위키:문법 도움말](https://namu.wiki/w/%EB%82%98%EB%AC%B4%EC%9C%84%ED%82%A4:%EB%AC%B8%EB%B2%95%20%EB%8F%84%EC%9B%80%EB%A7%90)

현재까지 만든 렌더러 중에서는 가장 완벽하고 이제 거의 완성 단계에 온 것 같아서 곧 공개할 것 같습니다만...

좀 자잘자잘한 내용은 선공개 후조치 식으로 진행하지 않을까 싶습니다

조만간에 Beta 빌드로 업로드 예정 입니다

이번 렌더러 완성 후에는 아마 BB

[2022-10-09 16:29] surplus-dev opened #1542 "마크다운 렌더러 추가 예정"
3트째긴 한데 이번엔 그냥 라이브러리 쓸 예정

[2022-10-09 16:31] surplus-dev opened #1543 "프로필 사진 기능"
프로필 사진을 등록 가능하게 하고

프로필 사진을 토론이랑 사문에서 볼 수 있게 하면 어떨까요

더불어서 차후 개발될 BBS 기능에도 쓰일 예정 입니다

[2022-10-09 16:32] surplus-dev commented on #1535
https://github.com/openNAMU/openNAMU/issues/1398

[2022-10-09 16:35] surplus-dev opened #1544 "나무위키 표 호환 모드(...)"
## 문제점
현재 오픈나무는 표준으로 8px 10px의 표 간격을 사용하고 있음

근데 나무위키는 5px 10px를 쓰고 있어서 wiki 중괄호 문법 적용하니 삐걱삐걱거림

## 그래서
메인 설정에서 호환 모드를 제공할까 생각 중

이걸 켜면 본문에만 5px 10px 표 간격으로 제공됨

[2022-10-09 16:36] Gwangtori commented on #1543
지정 안했을 때는 그라바타가 나오게 하는 것도 괜찮을 것 같아요.

[2022-10-09 16:39] surplus-dev commented on #1453
역링크에다가 추가 예정

[2022-10-09 16:39] Gwangtori commented on #1544
리버티 스킨에는 또 크기가 다른 걸로 알고 있어요. 설정하게 되면 우선 적용될 수 있으면 좋겠습니다

[2022-10-09 16:40] surplus-dev commented on #1544
@Gwangtori 그거는 본문에 한해서 **어떤 스킨이든 강제로 무조건 적용**으로 할 예정 입니다

[2022-10-09 17:00] surplus-dev commented on #1544
테스트로 제작 완료

[2022-10-09 17:00] #1544 closed, assigned to surplus-dev

[2022-10-10 11:51] surplus-dev opened #1547 "CSV or JSON으로 데이터 빼기, 넣기 기능"
지원 예정

[2022-10-10 12:05] surplus-dev opened #1548 "편집 요약에 링크 사용 가능하도록"

[2022-10-11 06:30] surplus-dev commented on #1520
보류 결정

사유 : 오픈테섭으로는 허가가 안 나와서 테스트를 못 함(...)

[2022-10-11 07:57] zinpoi opened #1549 "덤프 기능이 있었으면 좋겠습니다."
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) :
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
위키에 데이터를 덤프로 추출하는 기능이 있었으면 좋겠습니다.
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)

[2022-10-11 08:48] surplus-dev commented on #1549
https://github.com/openNAMU/openNAMU/issues/1547

계획 상에 있습니다

[2022-10-11 09:28] surplus-dev opened #1550 "API 종합 스레드"
렌더러 완성 후에 여유가 생기면?

근데 봇 키부터 만들어야 할 듯

## 본론
 - [x] https://github.com/openNAMU/openNAMU/issues/2051
 - [ ] https://github.com/openNAMU/openNAMU/issues/1979

[2022-10-11 13:25] surplus-dev opened #1551 "완전 익명 투표 도입 예정"
적용시 아예 DB에 사용자 이름이 sha3-256 + salt로 암호화되서 저장됨

[2022-10-11 13:42] surplus-dev opened #1552 "토론 발제 취소 도입 예정"
아무도 토론 작성하기 전에면 연 사람이 닫을 수 있도록 할 예정

[2022-10-12 08:15] surplus-dev commented on #1549
통합

[2022-10-12 08:15] #1549 closed, assigned to surplus-dev

[2022-10-12 11:36] surplus-dev commented on #1552
https://github.com/openNAMU/openNAMU/issues/1512

[2022-10-12 11:36] #1552 closed, assigned to surplus-dev

[2022-10-12 19:11] surplus-dev opened #1553 "테섭 MySQL로 이전 예정"

[2022-10-13 06:48] surplus-dev commented on #1541
아마 다음주 쯔음 완성 예정

[2022-10-13 15:48] surplus-dev commented on #1509
어쩌다보니 모니위키 개발을 촉진하는 결과를 만든 듯(...) 의도치 않았는 데 아무튼 메데타시 메데타시

[2022-10-16 05:35] cuprevenge opened #1554 "미리보기 하위문서 링크"
* 오픈나무 버전 (openNAMU version) : v3.4.5 (stable2) (beta4) (dev66)

[[/하위문서]] 식으로 링크하면 미리보기에서 현재 문서 제목과 무관하게 [[Test/하위문서]]로 링크가 걸립니다.

저장시에는 정상적으로 표시됩니다.

[2022-10-16 09:49] ghost opened #1555 "문서 넘겨주기 버그"
## 환경 (Environment)
* 운영체제 (OS) : pythonanywhere.com
* 파이썬 버전 (Python version) : 3.10
* 오픈나무 버전 (openNAMU version) : v3.4.5 (stable2) (beta4) (dev66)
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) : Liberty
* 스킨 버전 (Skin version) : v1.1.10.2-o (v1.1.10.4-o)

## 설명 (Explanation)
넘겨주기 를 하면 아래 영상 처럼 대문 에서 넘겨주기 한것 으로 인식 합니다.
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)
![넘겨주기](https://user-images.g

[2022-10-17 08:27] surplus-dev commented on #1555
해당 버그는 아마 신형 렌더러에서 고쳐졌을 것으로 판단하고 있으나 한번 다시 확인해보겠습니다

[2022-10-19 07:17] surplus-dev commented on #1554
미리보기 개편 적용하면서 같이 진행하겠습니다

[2022-10-20 09:37] ghost opened #1556 "DB이전관련"
## 환경 (Environment)
* 운영체제 (OS) :우분투
* 파이썬 버전 (Python version) :3.9
* 오픈나무 버전 (openNAMU version) :
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) : liberty
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
미디어위키에서 db이전이 가능하나요? 된다면 어떻게하나요?
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)

[2022-10-20 12:10] surplus-dev commented on #1556
현 상태에선 따로 툴 만들어놓은 게 없기 때문에 불가능합니다

게다 이전을 한다고 해도 문법이 맞지 않기 때문에 해당 툴은 아직 개발 계획에 없습니다

필요하시다면 고려는 해보겠습니다

[2022-10-22 14:46] cuprevenge opened #1557 "문서 링크에 ruby 적용"
* 오픈나무 버전 (openNAMU version) : v3.4.5 (stable2) (beta4) (dev66)

`[[A|[ruby(A, ruby=알파벳)]]]`
![image](https://user-images.githubusercontent.com/52319594/197345395-09bc4f65-6cb0-403c-a052-f47aa7d42803.png)
![image](https://user-images.githubusercontent.com/52319594/197345409-a87d12ac-eb76-4f10-a602-97869dad384b.png)

the seed처럼 문서 링크에 ruby를 적용할 수 있었으면 합니다.

[2022-10-22 16:25] surplus-dev opened #1558 "문서 최대 길이 제한 도입 예정"
혹시 모르니까

[2022-10-24 07:51] surplus-dev opened #1559 "robots.txt 기본값 수정 예정"

[2022-10-25 14:27] surplus-dev commented on #1559
beta4-67

[2022-10-25 14:28] #1559 closed, assigned to surplus-dev

[2022-10-25 14:52] surplus-dev commented on #1534
beta4-67

[2022-10-25 14:52] #1534 closed, assigned to surplus-dev

[2022-10-25 16:20] surplus-dev commented on #1557
신형 렌더러에서도 해결이 되지 않은 관계로 상향

[2022-10-25 16:20] #1556 closed, assigned to surplus-dev

[2022-10-26 07:35] surplus-dev commented on #1554
beta4-68

[2022-10-26 07:35] #1554 closed, assigned to surplus-dev

[2022-10-26 07:36] surplus-dev commented on #1548
아무 의견 없으니 사용 가능하게 하는걸로

[2022-10-28 13:03] surplus-dev commented on #1537
저번 beta 올릴 때 깜박해서(...) 그 다음 베타 올릴 때 진행 예정

[2022-10-28 13:03] #1541 closed, assigned to surplus-dev

[2022-10-28 13:03] surplus-dev opened #1561 "SQLite와 MySQL 간의 마이그레이션 툴"
- https://github.com/openNAMU/openNAMU/issues/1553

사실 SQL 뽑아서 해도 되는데 요구사항도 많고 하니 개발해볼 예정

 - https://github.com/openNAMU/openNAMU/issues/1117
 - https://github.com/openNAMU/openNAMU/issues/1094

[2022-10-29 14:33] Gwangtori opened #1562 "다크모드 관련"
## 설명 (Explanation)
현재 openNAMU에서는 시스템에서 다크 모드를 사용해도 스킨 설정에서 꼭 활성화 해줘야만 다크 모드를 사용할 수 있어요.

따라서 시스템 설정에 따라 다크 모드, 라이트 모드가 자동으로 바뀌었으면 좋을 것 같아요. 만약 생긴다면 시스템 설정을 불러오지 않고 다크 모드, 라이트 모드 전환하는 기능도 있으면 좋을 것 같아요.

[2022-10-29 14:49] Gwangtori opened #1563 "다크모드 깜빡임 관련"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : dev 최신
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) : 리버티
* 스킨 버전 (Skin version) : 1.1.10 수정 버전

## 설명 (Explanation)
다크 모드를 활성화하면 로딩이 다 될 때까지 라이트 모드에 있다가 다크 모드로 다시 돌아오는 문제를 해결해 주셨으면 해요. ~~눈뽕이 심해요...~~

[2022-10-29 18:44] surplus-dev commented on #1563
메인 스킨에 적용되어 있는 새로운 다크모드 시스템을 다른 스킨에도 적용하겠습니다

[2022-10-30 04:57] Gwangtori opened #1564 "나무마크 디자인 호환 모드 활성화 시 알 수 없는 공백 발생"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : dev 최
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
메인 설정에서 '나무마크 디자인 호환 모드'를 활성화했을 때 include한 부분에 알 수 없는 공백이 발생해요.
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)
![image](https://user-images.githubusercontent.com/64156915/198863232-959772fe-7d13-4f2a-8dfd-

[2022-10-30 07:56] surplus-dev commented on #1564
호환모드 키지 않았을 때는 생기지 않나요?

[2022-10-30 08:23] Gwangtori commented on #1564
네, 활성화하지 않을 때는 안 생겨요.

[2022-10-30 15:26] surplus-dev commented on #1555
신형 렌더러 상에선 수정된 걸로 확인되었습니다

[2022-10-30 15:28] #1385 closed, assigned to surplus-dev

[2022-10-30 15:28] #1557 closed, assigned to surplus-dev

[2022-10-30 15:28] #1555 closed, assigned to surplus-dev

[2022-11-02 15:05] surplus-dev commented on #1563
## 현재 적용 완료
 - tenshi
 - liberty

## 예정
 - acme
 - sl_open
 - buma

[2022-11-02 15:10] surplus-dev commented on #1562
메모
 - https://blog.jim-nielsen.com/2019/conditional-syntax-highlighting-in-dark-mode-with-css-imports/
 - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2022-11-02 15:39] surplus-dev commented on #1537
- alarm 파트에서 생기는 문제 (해결)
 - admin_log 파트에서 생기는 문제 (해결... 중)

[2022-11-03 02:00] surplus-dev opened #1565 "0.5px 문제 (in 사파리)"
아마 border-width 설정해주면 될 듯?

문제는 테스트 가능한 환경이 없다

[2022-11-03 07:34] surplus-dev opened #1566 "[중요] openSSL 보안 취약점 문제"
## 개요
 * [참고 링크](https://github.com/NCSC-NL/OpenSSL-2022)

openSSL 3.0.0-3.0.6 사이의 버전에서 보안 취약점이 발견되었습니다

따로 SSL을 지원하지 않는 오픈나무와는 직접적인 상관은 없으나 nginx나 apache 등을 이용해서 SSL을 지원하는 위키의 경우 해당 소프트웨어의 업데이트와 openSSL 라이브러리 업데이트를 강력히 권장해드립니다

또한 ~~솔직히 오픈나무는 털려도 반달 좀 올라오고 마는 반면에~~ 중요한 개인 정보를 담고 있는 프로그램이 openSSL을 사용하고 있는 지 확인하기 바랍니다

[2022-11-03 09:33] cuprevenge commented on #1193
- openNAMU version : v3.4.5-unstable (stable2) (beta5-68)

동일 이슈

[2022-11-03 15:33] surplus-dev commented on #1565
아마도 고쳐지지 않았을까?

[2022-11-04 04:58] surplus-dev commented on #1193
어떤 경우에서 작동하지 않나요?

[2022-11-04 09:49] ghost opened #1567 "Internal Server Error"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) :
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
## 오류 내용 (Error contents)
오픈나무 를 v3.4.5-unstable (stable2) (beta5-71) 로 업데이트 하고 나서 Internal Server Error 가 뜹니다.
## 스크린샷 (Screenshot)

[2022-11-04 12:31] cuprevenge commented on #1193
기존에 추가해놓은 편집도구를 클릭해도 아무런 반응이 없습니다.

콘솔에는 다음과 같은 오류가 나타납니다.

[code]

[2022-11-05 01:49] Gwangtori commented on #1565
beta5-71에서 고쳐졌나요? beta5-70에서는 해결되지 않았네요...

----
아이패드에서는 멀쩡한데 아이폰에서만 문제 발생해서 바로 몰랐네요,,,

[2022-11-06 05:32] surplus-dev commented on #1567
beta5-72

[2022-11-06 05:32] #1567 closed, assigned to surplus-dev

[2022-11-06 13:33] surplus-dev opened #1568 "파이썬 3.11 대응"
아주 빠르다던 데 아주 기대 중

[2022-11-06 14:37] surplus-dev commented on #1568
돌려봤는 데 문제가 없음

[2022-11-06 14:37] #1568 closed, assigned to surplus-dev

[2022-11-06 15:00] surplus-dev commented on #1193
beta5-73

[2022-11-06 15:00] #1193 closed, assigned to surplus-dev

[2022-11-06 15:00] surplus-dev commented on #1565
beta5-73 사파리 전용 CSS 적용으로 방향 전환

[2022-11-07 01:44] Gwangtori commented on #1565
![C6A7AD05-E192-435F-B781-DF0BF7D9EB34](https://user-images.githubusercontent.com/64156915/200209741-474d8793-8e1b-4f8c-821f-5643517fd596.png)

beta5-73에서도 똑같습니다...

[2022-11-07 11:00] surplus-dev commented on #1565
전제가 잘못된 것 같네요... 전방위적으로 원인을 검토해보겠습니다

[2022-11-08 05:26] surplus-dev commented on #1565
아마도 해결...? beta5-74

[2022-11-08 05:26] #1565 closed, assigned to surplus-dev

[2022-11-08 08:43] alvinbank1 commented on #763
헤로쿠 지우셔야 할듯
헤로쿠 이제 무료 없엔데요
![image](https://user-images.githubusercontent.com/61926776/200516885-d7da09dd-e7b1-47ae-ab14-4ec0b3a5cf13.png)

[2022-11-08 08:46] alvinbank1 opened #1569 "PythonAnywhere Unhandled Exception 에러"
![image](https://user-images.githubusercontent.com/61926776/200517504-790fb129-43c5-42d7-bf56-ebfc67e90551.png)
이거 어떻게 해결하나요?

(로그)
![image](https://user-images.githubusercontent.com/61926776/200517605-39cd1108-575c-45af-b706-465985b53482.png)

[2022-11-08 09:20] surplus-dev commented on #763
@alvinbank1 반영했습니다

[2022-11-08 09:22] surplus-dev commented on #1569
모듈이 깔리지 않아서 그런 것 같습니다

콘솔에서 오픈나무 폴더로 들어가신 뒤

pip3 install -r req(중략).txt 실행한 뒤에 다시 해보세요

[2022-11-08 23:20] Gwangtori opened #1570 "하이퍼링크 관련 오류"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : dev 최신
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
1. 없는 문서도 파란색으로 표시돼요.
2. include한 문서 위에 링크가 표시돼요.

## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)
![6444F993-D063-4D24-9B8E-14C128C9AE54](https://user-images.githubusercontent.com/64156915/200696997-ee5b3

[2022-11-09 03:44] surplus-dev commented on #1570
이는 반 쯤은(?) 현재 의도된 사안입니다

이 다음 패치부터 렌더러 전환될 예정이기 때문에 레거시 CSS를 제거했습니다

[2022-11-09 05:39] surplus-dev commented on #1434
내부 개발판에서 완성

[2022-11-09 05:39] #1434 closed, assigned to surplus-dev

[2022-11-09 05:44] surplus-dev commented on #1383
![image](https://user-images.githubusercontent.com/13796545/200748520-51196254-c7c0-472b-8747-3e1bd205c730.png)
내부 개발판에서 해결 완료

[2022-11-09 05:44] #1383 closed, assigned to surplus-dev

[2022-11-09 05:45] surplus-dev commented on #1229
![image](https://user-images.githubusercontent.com/13796545/200748702-ffa83cd7-caea-4938-a60a-9bd0fd4be5b1.png)
2번 내부 개발판에서 진행 완료 1번도 진행 예정

[2022-11-09 06:22] surplus-dev commented on #1439
![image](https://user-images.githubusercontent.com/13796545/200754660-91793f11-cfdb-4f15-9d6c-e5f179180673.png)
내부적으로 수정 완료

[2022-11-09 06:22] #1439 closed, assigned to surplus-dev

[2022-11-09 06:22] surplus-dev commented on #1492
![image](https://user-images.githubusercontent.com/13796545/200754756-441fa57c-fc3a-4a8f-adc4-7694c5f1c4f8.png)
내부적으로 수정 완료

[2022-11-09 06:22] #1492 closed, assigned to surplus-dev

[2022-11-09 06:27] surplus-dev commented on #1383
![image](https://user-images.githubusercontent.com/13796545/200755479-081e270a-1f42-4e11-96cb-157d27010a8a.png)
그냥 1번 형태도 사용 가능하도록 수정

[2022-11-09 06:27] surplus-dev commented on #1466
![image](https://user-images.githubusercontent.com/13796545/200755542-206b63b2-ab97-4f50-890c-4cef935fbb24.png)
내부 개발판에서 수정 완료

[2022-11-09 06:27] #1466 closed, assigned to surplus-dev

[2022-11-09 07:08] #1569 closed, assigned to surplus-dev

[2022-11-09 07:09] surplus-dev commented on #1506
beta6-75부로 신형 렌더러 적용

남은 사안들은 차차 수정 예정

[2022-11-09 07:11] surplus-dev commented on #1570
beta6-75부로 신형 렌더러 적용 완료

[2022-11-09 07:11] #1570 closed, assigned to surplus-dev

[2022-11-09 13:36] Gwangtori opened #1571 "신형 렌더러 오류 모음"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : beta6-75
* 사용하는 브랜치 (Branch that you use) : dev
* 스킨 (Skin) : Liberty
* 스킨 버전 (Skin version) : 1.1.12 일부 수정

## 설명 (Explanation)
이미 아실 수도 있지만 올려봅니다

### bgcolor보다 colbgcolor가 우선되는 오류
![image](https://user-images.githubusercontent.com/64156915/200841492-befbb518-beb5-4878-9184-7009bc0d4ea7.png)
![image](htt

[2022-11-09 16:47] surplus-dev commented on #1571
1. 수정 하겠습니다
2. 이건 고민 중 입니다
3. 이건 의도적인 사안 입니다
4. 이건 고민 중 입니다
5. 이것도 의도된 사안 입니다

[2022-11-10 07:21] ghost opened #1572 "토론 오류"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : v3.4.5-unstable (stable2) (beta6-75)
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) : Liberty
* 스킨 버전 (Skin version) : v1.1.10.4-o (v1.1.12.1-o)

## 설명 (Explanation)
업데이트 이후 토론에 들어가면 내용들이 보이지 않습니다.
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)
![토론1](https://user-images.githubusercontent.com/114271599/20

[2022-11-10 13:53] surplus-dev opened #1573 "신형 렌더러 적용 하루 만에 새로운 문법 생김"
- https://feedback.theseed.io/posts/124/raiteu-modeuwa-dakeu-modeueseo-seoro-dareun-geurim-pyosihagi

추가 필요

더불어서
[code]
이 케이스도 검토 필요

[2022-11-10 14:52] surplus-dev commented on #1572
beta6-76

[2022-11-10 14:52] #1572 closed, assigned to surplus-dev

[2022-11-10 15:46] surplus-dev commented on #1571
1번 버그는 수정했습니다 나머지는 이슈 통합 이전한 뒤 천천히 생각해보겠습니다

[2022-11-10 15:47] surplus-dev commented on #1573
뒤 케이스 2번 수정 완료

[2022-11-10 15:47] #1573 closed, assigned to surplus-dev

[2022-11-11 09:38] ghost opened #1574 "추가 설명 문법 관련"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) :
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
스크린샷 처럼 [* 내용] 치면 바로 밑에 그 내용이 떠서 본 문법을 사용하는 의미가 없어집니다.
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)
![추가 설명 문법](https://user-images.githubusercontent.com/114271599/201311826-09cf0d1f-6078-4685-8de5-b76be4eb41b

[2022-11-11 13:56] surplus-dev commented on #1574
메모
include 처리 방식을 func.py단이 아니라 namumark 상에서 완성한 뒤 적용만 func에서

음... 그 뒤에 각주만 따로 빼야할 듯?

[2022-11-13 01:23] Gwangtori opened #1575 "colcolor 오류"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : dev 최신
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
- <|2> 문법을 사용한 부분부터 colcolor가 적용되지 않아요.
- ~~질문: 넘겨주기 속도가 너무 느려진 것 같은데 개선할 예정인가요...?~~

## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)
### the seed
![Screenshots_2022-11-13-10-19-44](https://user-images.gi

[2022-11-13 14:50] surplus-dev commented on #1575
넘겨주기 속도에 대해서는 개선 방법을 찾아보도록 하겠습니다

[2022-11-13 16:04] surplus-dev commented on #1575
beta6-78

[2022-11-13 16:04] #1575 closed, assigned to surplus-dev

[2022-11-13 16:09] surplus-dev opened #1576 "ip_pas 파트 IPv6 좀 더 고민해봐야함"
::1 같은 케이스도 있기 때문에

[2022-11-14 07:28] surplus-dev commented on #1547
렌더러 어느정도 완성으로 여유가 생겼으므로 진행 예정

[2022-11-14 09:19] surplus-dev commented on #1564
혹시 최근에 렌더러 교체 이후에도 생기나요?

[2022-11-14 09:25] Gwangtori commented on #1564
오... 마법같이 사라졌어요

[2022-11-14 09:25] #1564 closed, assigned to surplus-dev

[2022-11-15 04:30] surplus-dev opened #1577 "렌더러 버그"
[code]

추정하건데 include_default가 문제일 듯

[2022-11-15 04:41] surplus-dev opened #1578 "Hotcat 같은 기능"
~~뜨거운 고양이~~

[2022-11-15 04:46] surplus-dev opened #1579 "표에 class와 투명도 조절 기능 추가"
예정

사유 : 이전부터 지원 했었음

[2022-11-15 11:52] surplus-dev commented on #1577
수정 완료

[2022-11-15 11:52] #1577 closed, assigned to surplus-dev

[2022-11-16 02:01] Gwangtori opened #1580 "목차 관련 렌더러 오류"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : dev 최신
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
[목차]를 넣지 않을 경우 모든 문단 위에 목차가 생기는 오류가 발생합니다

## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)
![Screenshot_20221116-110012_Whale~2](https://user-images.githubusercontent.com/64156915/202065182-3b2b0c51-fbf3-4

[2022-11-16 02:34] surplus-dev commented on #1580
수정 완료

[2022-11-16 02:34] #1580 closed, assigned to surplus-dev

[2022-11-17 09:18] ghost opened #1581 "ACLGroup 만드실 생각 없으신가요?"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) :
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
지금 오픈나무 는 ACL 이라고 하면 문서 ACL 뿐이라고 할수있습니다. 그리고 사용자 징계 관련 기능은 차단 뿐이조 the seed의 경우 ACLGroup 이라는게 있습니다. 이 처럼 ACLGroup 이 있으면 차단 뿐만 아니라 경고 등을 할때 사용할 수 있어서 있으면 어떨까 합니다.
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)

[2022-11-17 11:47] surplus-dev commented on #1581
계획 상에 있지만 구현이 지지부진한 상황 입니다

[2022-11-18 11:57] ghost commented on #1581
https://namu.wiki/aclgroup UI 는 이거 참고 하시면 될거 같아요!

[2022-11-19 21:08] Lwnlcks commented on #1578
~~반대로 Hotdog 도~~

[2022-11-21 08:51] surplus-dev opened #1582 "문서 로드 페이지에 템플릿 문서 표시되도록"
등록제로 하면 좋을 듯?

[2022-11-21 14:40] surplus-dev opened #1583 "사용자 알림 역할 강화"
- [ ] 관리자 -> 사용자 알림 발송 기능
 - [x] 가입 신청 알림
 - [x] Auth 권한 변경 알림
 - [ ] 특정 문서 기여자에게 알림 발송 기능
 - [ ] 그 외 생각나는 것들 추가 예정
 - [ ] https://github.com/openNAMU/openNAMU/issues/1932

[2022-11-21 15:01] surplus-dev commented on #1576
처리 완료

[2022-11-21 15:01] #1576 closed, assigned to surplus-dev

[2022-11-21 16:30] Gwangtori commented on #1530
문서 삭제, 이동에서는 끌 수 있게 하는 등 설정이 다양하면 좋을 것 같아요.

[2022-11-21 16:35] surplus-dev opened #1584 "절대 터지지 않는 렌더러에 대해서 매우 깊은 고민"
타임아웃을 도입하면 어느정도 해결됨... 근데 그게 어렵네...

 - [ ] 동적계획법 어느정도 도입
 - [x] 타임아웃? 가능할진 모르겠지만
 - [ ] https://github.com/openNAMU/openNAMU/issues/1558 (한 10만 정도 생각 중...)
 - [ ] https://github.com/openNAMU/openNAMU/issues/1353 (한 10 정도 생각 중...)

확실히 렌더러 최적화 수준의 차이와 언어의 차이의 장벽이 아주 크구나를 매일매일 느끼는 중

무한 반복으로 터지지는 않는데 엄청 길어지면 엄청 느리네...

[2022-11-21 16:47] surplus-dev commented on #1583
~~내가 쓰는 데 불편하므로 v3.4.6 1번째으로 진행 예정~~

[2022-11-21 16:48] surplus-dev opened #1585 "주시 문서 개편"
* 주시 토론
 * 주시 게시글
 * [주시 목록에 등록한 문서만 따로 볼 수 있는 옵션이 있어도 괜찮을 것 같네요.](https://github.com/openNAMU/openNAMU/issues/1252)

[2022-11-21 17:07] surplus-dev opened #1586 "임시 저장 도입하기"
~~예전에 도입한다고 했던 것 같은 데~~

[2022-11-21 17:14] surplus-dev opened #1587 "문서 문구 기능 토론도 지원하도록"
의외로 없었네?

[2022-11-21 17:24] #1587 closed, assigned to surplus-dev

[2022-11-21 17:24] surplus-dev commented on #1512
렌더러 전에 지원하려 했으나 렌더러가 생각보다 늘어지는 바람에 v3.4.5를 먼저 올리고 진행 예정

[2022-11-21 22:43] Lwnlcks commented on #1584
인클루드 제한 하니까 떠오른건데요.. 현재 최신버전에서 틀 속에 틀을 인클루드하면 표시 되는지 모르겠는데.. 만약 표시된다면 그거 막는 설정은 어때요?

더시드는 틀 속에 틀은 인클루드해도 표시가 안되는 걸로 알아요

[2022-11-21 22:57] Lwnlcks commented on #1583
(오픈나무 대다수 스킨이 메인화면에서 알림이 왔는지 확인할 수 없다...  imp[2][8]를 메인에서 확인할 수 있는 스킨이 많아지는 날이 오기를....)

[2022-11-21 23:53] surplus-dev commented on #1584
@Lwnlcks 틀 속의 틀은 현재 막혀있습니다

[2022-11-22 04:45] surplus-dev commented on #1583
- [ ] imp[2][8] 지원 안하는 스킨에서도 효과적으로 알림 줄 방법을 궁리하기

[2022-11-22 12:49] ghost opened #1588 "오픈나무 설치 관련"
## 환경 (Environment)
* 운영체제 (OS) : Ubuntu 20.04
* 파이썬 버전 (Python version) : 3.8
* 오픈나무 버전 (openNAMU version) :
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
카페24 가상서버에 ONTS에 작성 되어있는되로 설치하고 심지어 정상적으로 엔진은 커졌음에도 위키 접속이 불가능 합니다. 해결 방법 아신다면 알려주실수있나요?
## 오류 내용 (Error contents)

## 스크린샷 (Screenshot)

[2022-11-22 13:48] Gwangtori commented on #1588
방화벽 문제 같아보이네요. 포트를 열어보세요

[2022-11-22 23:17] Gwangtori opened #1589 "스레드 오류"
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) : dev 최신
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
소유자 계정으로만 스레드들이 보이고 일반 사용자는 스레드가 보이지 않는 오류가 생긴 것 같습니다

## 오류 내용 (Error contents)
[보이지 않는 스레드 링크](https://onemindwiki.kr/thread/1)
## 스크린샷 (Screenshot)

[2022-11-23 01:04] surplus-dev commented on #1588
방화벽 혹은 포트 포워딩 문제 같습니다

포트가 제대로 설정되어 있나요?

[2022-11-23 01:05] surplus-dev commented on #1589
서버 로그엔 뭐라고 나오나요?

[2022-11-23 01:08] surplus-dev commented on #1589
느낌이 렌더러 문제 같아서 상향

[2022-11-23 01:20] Gwangtori commented on #1589
@surplus-dev
이렇게 나오네요
![](https://media.discordapp.net/attachments/697806512164176022/1044784478524022846/IMG_0083.png)

[2022-11-23 01:33] surplus-dev commented on #1589
아 이번에 IPv6 패치 때문이였네요 ~~휴~~

[2022-11-23 01:41] surplus-dev commented on #1589
beta6-88

[2022-11-23 01:41] #1589 closed, assigned to surplus-dev

[2022-11-23 02:01] surplus-dev commented on #1229
1번 문단 접었을 때는 투명도 0.5 정도 줘서 희미하게 만드는 효과 넣을 예정

[2022-11-23 02:05] surplus-dev opened #1590 "렌더러 다듬기"
* https://github.com/openNAMU/openNAMU/issues/1571
 - [ ] 표 사이 간격이 불편하다
 - [ ] 나머지는 고민 중...
 * https://github.com/openNAMU/openNAMU/issues/1472
 - [ ] 아마존 S3 지원 해달라 ~~근데 나도 테스트 환경이 없어서...~~
 * https://github.com/openNAMU/openNAMU/issues/1507
 - [ ] 이거 방법 고민 중...

[2022-11-23 02:06] #1579 closed, assigned to surplus-dev

[2022-11-23 02:21] surplus-dev opened #1591 "계정 탈퇴 기능"
- [ ] https://github.com/openNAMU/openNAMU/issues/1031

설정에서 ON-OFF 가능하도록

아마 재가입은 가능하게 할 듯?

원래 편집 기여본은 기여 포기서 동의 후 전부 Tool:unnamed 기여로 넘어가게 할 계획

반달하고 튀는 행위 방지를 위해서 탈퇴 전 1달 이내 기여가 전혀 없어야함

[2022-11-23 02:28] surplus-dev opened #1592 "오래된 UA 일괄 삭제"
이상하다 UA 관련 이슈를 예전에 올려놨던 것 같았는 데...

[2022-11-23 02:55] surplus-dev commented on #1512
역멘션 대신 임시로 스레드 바로가기 추가

[2022-11-23 03:32] Gwangtori commented on #1592
#1224 이거랑 관련 있나요?

[2022-11-23 05:41] surplus-dev commented on #1592
@Gwangtori 아 맞네요

[2022-11-23 06:54] ghost commented on #1588
![로컬호스트](https://user-images.githubusercontent.com/114271599/203487441-f444bbc2-116f-4d65-85fc-021586b12fb6.PNG)
이런식으로 완료 되고 난 다음 방화벽을 꺼도
![연결 오류](https://user-images.githubusercontent.com/114271599/203487572-9633b771-1cc8-492b-98ca-ce1daf8fc4a7.PNG)
이런식으로 연결이 되지 않습니다..

[2022-11-23 06:56] ghost commented on #1588
연결을 거부 했다고도 뜨기도 하네요

[2022-11-23 07:07] ghost commented on #1588
![포트 세팅](https://user-images.githubusercontent.com/114271599/203489322-282b243c-7559-46a1-8c54-05fb0548eb31.PNG)
포트 세팅의 경우에는 이런식으로 되어 있어요

[2022-11-23 07:34] Gwangtori commented on #1588
OS 방화벽 열으셨나요?

[2022-11-23 07:47] ghost commented on #1588
열어도 안됩니다 :)....

[2022-11-23 08:51] surplus-dev commented on #1588
오픈나무는 3000번 포트로 여셨는데 포트 세팅엔 3000번 포트가 없네요 이머전시 툴에서 80 포트로 변경 바랍니다

[2022-11-23 09:04] surplus-dev commented on #1588
지금보니 인바운드 정책이 ssh 말고 아무것도 없네요 그냥 3000 포트 추가하시는 게 더 빠를 것 같아요

[2022-11-23 09:05] surplus-dev commented on #1588
더불어서 ssh는 인바운드에 추가 해놓는 것은 비권장 드립니다 해킹 시도가 많습니다

[2022-11-23 10:51] ghost commented on #1588
정상 작동 되네요! 감사합니다.

[2022-11-23 10:57] surplus-dev commented on #1588
넵 좋은 하루 되세요

[2022-11-23 10:57] #1588 closed, assigned to surplus-dev

[2022-11-24 09:06] surplus-dev commented on #1558
이거 이런식으로 땜방한다고 해결 안될 것 같음 v3.4.6으로 이전

[2022-11-25 04:47] surplus-dev opened #1593 "dev 빌드 개명 예정"
dev 빌드라는 말이 이 빌드의 역할을 제대로 설명하지 못한다고 생각하여 개정 예정

[2022-11-26 08:29] Lwnlcks opened #1594 "세로 셀 합치는 문법 미작동"
## 환경 (Environment)
* 오픈나무 버전 (openNAMU version) : v3.4.5-unstable (stable2) (beta6-90)

## 설명 (Explanation)
표 세로 합치기 문법이 작동되지 않습니다.
해당 문법을 사용한 문서를 조회할 경우 에러가 발생하며, 서버가 꺼집니다.

## 스크린샷 (Screenshot)
![295f487db81c3a67f543747d677ee1ef16175a095807ec18bc066384](https://user-images.githubusercontent.com/72176091/204079764-992f0cf8-200f-4357-bd2a-4792b6d0bf4f.PNG)

[2022-11-26 08:39] Lwnlcks commented on #1594
다시 확인해본 결과 오픈테섭에서는 발생하지 않는 버그입니다.
환경에 문제가 있는 건가 싶습니다. 일단 이슈 닫겠습니다.

[2022-11-26 08:49] surplus-dev commented on #1594
그래도 한번 점검 해보겠습니다

[2022-11-27 03:49] ghost opened #1595 "사이트맵 관련"
## 환경 (Environment)
* 운영체제 (OS) : Ubuntu 18.04
* 파이썬 버전 (Python version) : 13
* 오픈나무 버전 (openNAMU version) : v3.4.5-unstable (stable2) (beta5-68)
* 사용하는 브랜치 (Branch that you use) : dev
* 스킨 (Skin) : Liberty
* 스킨 버전 (Skin version) : v1.1.14.0-o (v1.1.14.0-o)

## 설명 (Explanation)

## 오류 내용 (Error contents)
사이트맵이 존재 하지 않다고 떠요. 파일을 뜯어보니 실제로 사이트맵은 첨부 되어 있지 않아요.

## 스크린샷 (Screenshot)
![사이트맵 오류](https://

[2022-11-27 04:52] surplus-dev commented on #1595
![image](https://user-images.githubusercontent.com/13796545/204119807-a559ac4c-ddb3-4de4-8701-658283cccb98.png)

사이트맵은 설정 -> 사이트맵 관리에서 생성하셔야 생성됩니다

[2022-11-27 04:57] ghost commented on #1595
아 그렇쿤요 감사합니다.

[2022-11-27 04:57] #1595 closed, assigned to surplus-dev

[2022-11-27 12:59] surplus-dev opened #1596 "참고할만한 문서"
* 리버티 엔진 개발 문서
 * [#](https://librewiki.net/wiki/%EB%A6%AC%EB%B8%8C%EB%A0%88_%EC%9C%84%ED%82%A4:LibertyEngine/%EB%A6%AC%EB%B2%84%ED%8B%B0_%EC%97%94%EC%A7%84_%EC%9A%94%EA%B5%AC%EC%82%AC%ED%95%AD)
 *  프로젝트 이십명공필
 * [#](http://www.rigvedawiki.net/w/%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%E4%BA%8C%E5%8D%81%E6%98%8E%E5%85%B1%E7%AD%86?action=show&redirect=%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8%EC%9D%B4%EC%8B

[2022-11-27 13:03] surplus-dev commented on #1594
놀랍게도 해당 부분에 진짜 버그가 존재하는 걸로 판명되서 수정했습니다

[2022-11-27 13:03] #1594 closed, assigned to surplus-dev

[2022-11-27 13:16] surplus-dev opened #1597 "저장시 자동 문자 변환 기능 지원 예정"
~~근데 이슈가 처리는 안되고 늘어만 나네~~

[2022-11-27 13:19] surplus-dev opened #1598 "분류 문서 이동시 자동 재분류"
근데 서버에 무리를 줄 것 같은데 가능하려나?

[2022-11-27 13:20] surplus-dev opened #1599 "인터위키 옵션 추가 예정"
위키 엔진 별 공백 처리가 다르기 때문에

[2022-11-28 08:14] surplus-dev commented on #1537
수정 완료

[2022-11-28 08:14] #1537 closed, assigned to surplus-dev

[2022-11-28 08:19] surplus-dev opened #1601 "미리보기 개편 후에 생기는 문제"

[2022-11-28 13:10] ghost opened #1602 "PuTTy 닫을시 위키 엔진이 꺼져요."
## 환경 (Environment)
* 운영체제 (OS) :
* 파이썬 버전 (Python version) :
* 오픈나무 버전 (openNAMU version) :
* 사용하는 브랜치 (Branch that you use) :
* 스킨 (Skin) :
* 스킨 버전 (Skin version) :

## 설명 (Explanation)
현재 카페24 가상서버 호스팅을 사용 중이에요. (네임서버는 클라우드플레어로 설명 되어 있어요.) 그리고 위키를 PuTTy로 킨 후에 PuTTy를 끄면 엔진이 종료 되어서 호스팅 업체 쓰는 의미가 사라져요. 그래서 혹시 PuTTy를 종료 해도 위키 엔진 꺼지지 않게 하는 세팅 같은거 있나요..? 번거롭게 계속 질문드려서 죄송합니다.
## 오류 내용 (Error contents)

[2022-11-28 13:18] ghost commented on #1602
아 해결 했어요

[2022-11-28 13:18] #1602 closed, assigned to surplus-dev

[2022-11-29 09:48] cuprevenge opened #1603 "대소문자 구분 문제"
* 오픈나무 버전 (openNAMU version) : v3.4.5-unstable (stable2) (beta6-92)

업데이트 후 틀 include가 작동하지 않습니다.

[2022-11-29 09:53] cuprevenge opened #1604 "인용문 문법"
* 오픈나무 버전 (openNAMU version) : v3.4.5-unstable (stable2) (beta6-92)

[code]
![image](https://user-images.githubusercontent.com/52319594/204496993-e3bdb649-f87d-4a6d-bed1-6e4f3482e6fb.png)

인용문 문법이 깨집니다.

[2022-11-30 03:23] surplus-dev commented on #1604
내용이 없는 경우 렌더링을 빼먹었네요 수리하겠습니다

[2022-11-30 03:24] surplus-dev commented on #1603
어떤 경우에서 그런가요?

[2022-11-30 05:18] surplus-dev commented on #1604
완료

[2022-11-30 05:18] #1604 closed, assigned to surplus-dev

[2022-11-30 08:09] cuprevenge commented on #1603
업데이트 하고 틀을 사용하던 모든 문서가 그렇습니다. [PageCount] 같은 매크로도 작동이 안 되고 그냥 [PageCount]로 표시되네요.

[2022-11-30 08:43] surplus-dev commented on #1603
@cuprevenge 아 대문자 지원을 빼먹었네요

[2022-11-30 11:33] cuprevenge opened #1605 "인터위키"
* 오픈나무 버전 (openNAMU version) : v3.4.5-unstable (stable2) (beta6-92)

인터위키 문법 사용시 아이콘만 표시되던 이전과는 달리 inter:위키이름이 그대로 표시됩니다.

[2022-11-30 14:56] surplus-dev commented on #1605
오늘 낮에 수정했습니다 곧 beta로 올라갈 예정 입니다

[2022-11-30 14:56] #1605 closed, assigned to surplus-dev

[2022-11-30 15:26] surplus-dev commented on #1603
대소문자 지원 추가

[2022-11-30 15:26] #1603 closed, assigned to surplus-dev

[2022-11-30 17:07] cuprevenge commented on #1465
최신 버전에서 분류가 각주 위에 표시되던데 의도된 것인가요? 기존 오픈나무를 비롯해 대부분의 위키엔진에선 분류가 최하단에 표시되어서요.

[2022-11-30 17:48] surplus-dev commented on #1465
@cuprevenge 네 의도된 사안 입니다 각주 아래에 놓으면 접근성이 너무 떨어진다고 생각해서요